[2021-03-22 16:28] PizzaCrust opened #7006 "`unwrap` is not included as an auto complete suggestion"
## Environment

* **IntelliJ Rust plugin version:** 0.3.144.3748-203-nightly
* **Rust toolchain version:** 1.53.0-nightly (f82664191 2021-03-21) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2020.3.3 Community Edition (IC-203.7717.56)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
`unwrap` is no

[2021-03-22 19:14] #5753 closed

[2021-03-22 23:13] #6043 closed

[2021-03-23 10:35] #6749 closed

[2021-03-23 11:54] ilyavenner commented on #7006
Debug trait derives for `Error` only if `T` is also `Debug`. Method [unwrap](https://doc.rust-lang.org/stable/std/result/enum.Result.html#method.unwrap) is not include because it defined in `impl` block which requires `E: Debug`. When you implements `Debug` for `Error` manually, you provides Debug for any `T` (with non `Debug` `T` too).

[2021-03-23 12:03] PizzaCrust commented on #7006
@ilyavenner `TestResult<(), Error<()>` is the exact same as `TestResult<()>`. Having `unwrap()` on `TestResult<()>` compiles.
[Playground here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fca0305a5f7af2e02a415a4fcbd35d17)

[2021-03-23 12:35] PizzaCrust commented on #7006
(I tested in rust analyzer, and it works as expected there)

[2021-03-23 12:37] ilyavenner commented on #7006
Ok, I understood. I specified the default parameter `E` in `a` signature and method `unwrap` appeared.

[2021-03-23 18:31] #6964 closed

[2021-03-23 18:41] Undin opened #7009 "Type inference fails to infer type of index operator for arrays"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3750-211-nightly
* **Rust toolchain version:** 1.50.0 (cb75ad5db 2021-02-10) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1 Beta Ultimate Edition (IU-211.6556.6)
* **Operating system:** macOS 10.15.6
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
![image](https://user-imag

[2021-03-23 20:21] Nerixyz opened #7010 "New Name Resolution Not Working With The Windows Crate"
## Environment

* **IntelliJ Rust plugin version:** 0.3.143.3737-203
* **Rust toolchain version:** 1.50.0 (cb75ad5db 2021-02-10) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2020.3.2 (CL-203.7148.70)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

With the new name resolution turned on, the resolution

[2021-03-23 20:51] #4144 closed

[2021-03-24 05:56] RJK0 opened #7011 "Using arrow keys in project window scrolls content of editor window at first."
## Environment

* **IntelliJ Rust plugin version:** 0.3.143.3737-211
* **Rust toolchain version:** 1.51.0-nightly (0e63af5da 2021-01-31) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1 (CL-211.6556.10)
* **Operating system:** Linux 5.4.104
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description
Using arrow keys in project window scrolls content

[2021-03-24 17:17] ortem opened #7016 "Wrong control flow of break/continue expanded from a macro"
## Environment

* **IntelliJ Rust plugin version:** 0.3.144.3748-211-nightly
* **Rust toolchain version:** 1.51.0-nightly (04caa632d 2021-01-30) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1 Beta Ultimate Edition (IU-211.6556.6)
* **Operating system:** macOS 11.1
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Control-flow analysis

[2021-03-24 18:44] MauriceKayser opened #7017 "Debugging unit tests fails for proc-macro crates"
## Problem description

Debugging unit tests in proc-macro crates fails, the left part of the debugger's "Console" view shows `Test framework quit unexpectedly`, while the right part shows `process launch failed: unknown error. Process finished with exit code 0`.

## Steps to reproduce

1. Create a normal library project with the IDE (`File` -> `New Project` -> `Rust` -> `Library`)
2. Debug the de

[2021-03-24 21:09] #6942 closed

[2021-03-24 23:00] #7009 closed

[2021-03-25 10:36] #7016 closed

[2021-03-25 10:41] vlad20012 commented on #6772
I guess I've improved parsing a bit in #7019

[2021-03-25 16:56] xNxExOx opened #7020 "`match` with all possible values still suggest to add remaining patters."
## Environment

* **IntelliJ Rust plugin version:** 0.3.143.3737-203
* **Rust toolchain version:** 1.52.0-nightly (f5f33ec0e 2021-03-19) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2020.3.3 Community Edition (IC-203.7717.56)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description
`match` with all possi

[2021-03-25 17:17] Undin commented on #7020
Duplicate of #4311

[2021-03-25 17:17] #7020 closed

[2021-03-25 18:09] memoryallocator opened #7021 "Strange reformatting of comments inside an enum"
## Problem description
If there is a line such as `EnumVariant  // a comment` inside an enum's "body" (between curly brackets) then it will be reformatted to
[code]
This behavior is not expected.
It does not matter if the `File | Settings | Editor | Code Style | Rust  -> Wrapping and Braces -> Keep when reformatting -> Line breaks` checkbox is checked or not.

## Steps to reproduce
[code]
Click `C

[2021-03-25 18:43] HarmoGlace commented on #6614
I have the same issue

[2021-03-26 03:02] #6449 closed

[2021-03-26 07:48] Undin commented on #6920
@lancelote I suppose we can close it, don't I?

[2021-03-26 08:31] Undin opened #7024 "Grazie doesn't take into account sequential line comments as continuous text in Rust files"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3754-211-nightly
* **Rust toolchain version:** 1.52.0-nightly (3a5d45f68 2021-03-09) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1 Beta Ultimate Edition (IU-211.6693.14)
* **Operating system:** macOS 10.15.6
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
![image](https://

[2021-03-26 12:40] #6920 closed

[2021-03-26 18:43] ramosbugs commented on #6783
are there any workarounds for this issue? I've been running into constant StackOverflowErrors since upgrading the plugin to 0.3.143.3737-203 (on rustc 1.50.0).

I'm not 100% sure that it's due to the upgrade and not recent changes to my code, but I can confirm that increasing the stack space to `-Xss8192k` didn't help, so this may be an infinite recursion bug.

[2021-03-26 19:05] ramosbugs commented on #6783
update: the issue reproed even after downgrading the plugin to 0.3.140.3644-203

[2021-03-26 23:27] SaarYogev commented on #2748
@Gisleburt Checked and it does open in the right place 😅 :
![image](https://user-images.githubusercontent.com/10786057/112701484-d1764500-8ea1-11eb-9a53-93d453a571ca.png).
I commented on this issue as one that addresses problems with debugging STM boards, and tried every solution that was offered.

Unfortunately it still doesn't stop for debug breakpoints, only running the program.
Also, it's stil

[2021-03-27 14:43] darksv opened #7028 "Support inline const expressions and patterns"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3758-203-nightly
* **Rust toolchain version:** 1.52.0-nightly (8f349be27 2021-03-08) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2020.3.3 (CL-203.7717.62)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Inline `const` expressions are not suppo

[2021-03-27 17:00] Undin opened #7029 "Pretty printers for `BTreeMap` and `BTreeSet` don't work with gdb since 1.50"
## Environment

* **IntelliJ Rust plugin version:** 0.3.143.3737-203
* **Rust toolchain version:** 1.50.0 (cb75ad5db 2021-02-10) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2020.3.3 (CL-203.7717.62)
* **Operating system:** Linux 4.15.0-135-generic
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description
Pretty printers for `BTreeMap` and `BTreeSet`

[2021-03-27 22:43] ShagonRU opened #7030 "Strange expanding of function-like macro"
## Environment

* **IntelliJ Rust plugin version:** 0.3.143.3737-203
* **Rust toolchain version:** 1.53.0-nightly (07e0e2ec2 2021-03-24) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2020.3.3 (CL-203.7717.62)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Experimental features also enabled:
org.rust.car

[2021-03-27 23:11] mehcode commented on #2231
cc @vlad20012 @ryanbrainard

Has there been any more progress on this? Is there an example of an auto-injection somewhere? I don't mind trying to send a PR for this.

[2021-03-28 09:42] Undin commented on #7030
@ShagonRU is `org.rust.macros.proc` enabled as well?
Works for me
![image](https://user-images.githubusercontent.com/2539310/112748223-0e862880-8fc3-11eb-937e-991d1e7668c6.png)

[2021-03-28 10:10] ShagonRU commented on #7030
Sure.
![image](https://user-images.githubusercontent.com/28485306/112748795-f0bac280-8fc6-11eb-970d-004c90bc6135.png)

[2021-03-29 08:16] ortem commented on #6994
Fixed in https://github.com/intellij-rust/intellij-rust/pull/7007

[2021-03-29 08:16] #6994 closed

[2021-03-29 11:43] TheMushrr00m commented on #1171
+1

[2021-03-30 16:20] ratijas opened #7037 "Nested struct field's pattern matching"
## Environment

* **IntelliJ Rust plugin version:** 0.3.143.3737-203
* **Rust toolchain version:** 1.50.0 (cb75ad5db 2021-02-10) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2020.3.3 (CL-203.7717.62)
* **Operating system:** Linux 5.11.10-arch1-1
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description

Pattern matching on nested struct's field is re

[2021-03-31 07:41] ratijas commented on #7037
Actually, just encountered this bug in a normal pattern matching without nested destructuring. This happened in a scratch file, so naturally semantic analysis is quite limited. Still, I didn't expect this to happen at all.

![`None` variant highlights as an unused binding](https://user-images.githubusercontent.com/6737986/113108165-5bf5d600-920d-11eb-9f0c-ba3337f20a80.png)
![PsiViewer of a match t

[2021-03-31 13:59] dima74 commented on #7021
Duplicate of #3657

[2021-03-31 13:59] #7021 closed

[2021-03-31 16:16] Gisleburt commented on #2748
@SaarYogev I'm afraid I know very little about these tools, certainly not enough to work out how to debug the debugger.

Some other observations though, I didn't create an additional GDB Server task, hitting the debug button on `OpenOCD Download & Run` is enough for me. Additionally (and perhaps relatedly) I'm using the Bundled GDB (multiarch) which comes with IntelliJ, selected in the drop down o

[2021-03-31 17:38] AlyoshaVasilieva commented on #7010
The `windows` crate `simple` example v0.6 is broken (no highlighting/navigation) for me as well on current nightly plugin.

However:

1. v0.7 works fine (with some code changes, obviously)
2. Replacing `::windows::include_bindings!();` with `::std::include!(::std::concat!(::std::env!("OUT_DIR"), "/windows.rs"));`, which is what it expands to, also fixes it.

Some weird macro interaction?

[2021-04-01 01:16] PizzaCrust opened #7039 "Adding and removing crate level cfg breaks macro expansion"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3769-203-nightly
* **Rust toolchain version:** 1.53.0-nightly (07e0e2ec2 2021-03-24) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2020.3.3 Community Edition (IC-203.7717.56)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Adding and rem

[2021-04-01 07:07] Liyixin95 opened #7040 "Missing inlay type hints in multi-package project"
## Environment

* **IntelliJ Rust plugin version:** 0.3.144.3766-211
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-pc-windows-gnu
* **IDE name and version:** CLion 2021.1 Beta (CL-211.6693.7)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description
The Inlay Type Hints after **await** and **?** in the *

[2021-04-01 10:32] weaming commented on #3637
Same issue, but don't the root reason.

I found some solutions, feedbacks are welcome:
- https://github.com/intellij-rust/intellij-rust/issues/6603

[2021-04-01 19:34] ortem commented on #6949
Looks like this problem was fixed in #6818. Although IJ Rust 0.3.142 already contains this fix, the problem can persist until the crates index is rebuilt. I think this issue can be closed now.

@ralfbiedert Please let us know if the caches invalidation does not help.

[2021-04-01 19:34] #6949 closed

[2021-04-01 22:58] afetisov opened #7041 ""Promote module to directory" incorrectly handles root modules"
## Environment

* **IntelliJ Rust plugin version:** 0.3.144.3766-203
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2020.3.3 (CL-203.7717.62)
* **Operating system:** Linux 5.4.0-66-generic
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

"Promote module to directory" refactoring does

[2021-04-02 06:41] Undin commented on #7011
@RJK0 thanks for the report!
Looks like the issue is not related to the plugin and it should be reproducible for any type of project.
Could you check if my assumption is true for you, please? If so, create an issue in the platform [issue tracker](https://youtrack.jetbrains.com/newIssue?project=IDEA), please

[2021-04-02 09:17] qiujiangkun opened #7044 "This feature is only available in edition 2018 for async/await syntax in README.md"
## Environment

* **IntelliJ Rust plugin version:** 0.3.144.3766-203
* **IDE name and version:** CLion 2020.3.3
* **Operating system:** MacOS

## Steps to reproduce
Have a README.md
[code]
![image](https://user-images.githubusercontent.com/33482468/113401993-ea698380-93d6-11eb-9722-564b68e7dd00.png)

[2021-04-02 10:49] #7029 closed

[2021-04-02 10:58] Undin opened #7045 "Debugger doesn't show `HashMap` and `HashSet` values on nightly"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3754-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (07e0e2ec2 2021-03-24) x86_64-apple-darwin
* **IDE name and version:** CLion 2021.1 (CL-211.6693.66)
* **Operating system:** macOS 10.15.6
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

| 1.51.0 | 1.53.0-nightly |
| - | - |
| ![](ht

[2021-04-03 05:07] Zymlex opened #7047 "Deleted projects in sync"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3776-203-nightly
* **Rust toolchain version:** rustc 1.53.0-nightly (07e0e2ec2 2021-03-24)
* **IDE name and version:** CLion 2020.3.3
* **Operating system:** Windows Server 2019

## Problem description
- Deleted projects in sync:

![image](https://user-images.githubusercontent.com/25817412/113469008-8cba5300-9439-11eb-9721-3a8f786a84ee.pn

[2021-04-03 09:43] qiujiangkun opened #7048 "How to run bin/examples as root?"
I'm developing something with dpdk and pnet, which require running as root. How can I run my bin/examples as root in intellij-rust, instead of manually `sudo target/examples/xxx`?

[2021-04-03 10:20] Kobzol commented on #1698
For me it would be nice if there was a way to talk about "meta" stuff with the maintainers outside of issues/PRs. There is the gitter site, but it seems to me that it's not very active. Maybe something like https://docs.github.com/en/discussions could be used?

[2021-04-03 17:10] chamoretto opened #7049 "Error expanding functional-like macros if the body contains floating point numbers"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3776-203-nightly
* **Rust toolchain version:** 1.53.0-nightly (74874a690 2021-03-30) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2020.3.3 (CL-203.7717.62)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

![image](https://user-images.githubusercontent.com/28485306/113

[2021-04-04 07:14] auduchinok opened #7050 "Place caret after extracted expression when finishing Introduce Variable"
During invoking Introduce Variable refactoring, when pressing Enter to finish editing the name, please place the caret after the extracted expression, like it's done in Kotlin support (and likely other languages too, we do the same in Rider for C#/F#).
It's a great place for the caret due pressing Enter one more time will place the caret on a new line below the new binding, so it's easy to use the

[2021-04-04 21:17] ShagonRU commented on #7030
This issue related to wrong project creation (in some cases, i don't know why and how).

If someone face this issue, just remove all your projects from `Cargo` sidepanel and attach them back manually on the `Cargo` panel or use suggested action about missing project. It worked for me and repo at the start topic.

[2021-04-04 21:17] #7030 closed

[2021-04-05 09:35] lockieluke commented on #4302
Make sure you need to use one of the functions declared in that file, the error will go away magically.

[2021-04-05 10:25] dima74 opened #7054 "Items from `std` resolve even when `#![no_std]` attribute is present"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3780-203-nightly
* **Rust toolchain version:** 1.48.0 (7eac88abb 2020-11-16) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2020.3.2 (CL-203.7148.70)
* **Operating system:** Linux 5.11.10-arch1-1
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Items from `std` resolve even when `#![n

[2021-04-05 10:34] Undin opened #7055 "Wrong name resolution of `build` method in vulkano-rs/vulkano"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3771-211-nightly
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1 Beta Ultimate Edition (IU-211.6693.14)
* **Operating system:** macOS 10.15.6
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
For some reason, `build`

[2021-04-05 11:28] Eliah-Lakhin commented on #7055
@Undin Thank you very much for reporting!

We proceed with merging of the PR. The issue can be also reproduced from the recent `master` too branch(https://github.com/vulkano-rs/vulkano/commit/3b06879511b9ce576855129ddf3dfb3690e4aa8c)

[2021-04-05 12:37] Dentrax opened #7056 "Rust plugin won't be able to load on IDEA 2020.2.2"
## Environment

* **IntelliJ Rust plugin version:** `0.3.140.3644-202`
* **Rust toolchain version:** `rustc 1.49.0 (e1884a8e3 2020-12-29)`
* **IDE name and version:** `CLion 2020.2.2`
* **Operating system:** `macOS BigSur 11.0.1`

## Problem description

<img width="231" alt="Screen Shot 2021-04-05 at 15 36 26" src="https://user-images.githubusercontent.com/16493751/113574400-b08dbc80-9624-11eb-9c

[2021-04-05 23:56] PizzaCrust commented on #7039
I forgot to add how to trigger the bug 🤦

[2021-04-06 10:29] matklad opened #7058 ""Fold method bodies by default" doesn't work with Rust?"
![image](https://user-images.githubusercontent.com/1711539/113697566-05d8d500-96dc-11eb-8088-0aee581ade79.png)

https://users.rust-lang.org/t/intellij-fold-open-struct-enum-fold-close-impl/57942/5

[2021-04-06 16:15] #7045 closed

[2021-04-07 08:39] Undin opened #7061 "Derive proc macro is not resolved with `extern crate` and `macro_use`"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.SNAPSHOT-211-dev
* **Rust toolchain version:** 1.53.0-nightly (07e0e2ec2 2021-03-24) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1 Ultimate Edition (IU-211.6693.103)
* **Operating system:** macOS 10.15.6
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
I just tried to repro

[2021-04-07 08:41] Undin commented on #7061
Note, it's resolved as expected if I use `use` to import `Builder`
[code]

[2021-04-07 08:49] Undin opened #7062 "Derive proc macro is not suggested in completion"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.SNAPSHOT-211-dev
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1 Ultimate Edition (IU-211.6693.103)
* **Operating system:** macOS 10.15.6
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Related to #7061

When I try

[2021-04-07 08:50] Undin commented on #7062
@dima74 I've assigned it to you because it looks related to #7061

[2021-04-07 12:04] Zymlex opened #7064 "Add "Workspace" button to create workspace for crates"
Add "Workspace" button to create workspace for crates:
![image](https://user-images.githubusercontent.com/25817412/113863121-cc19d400-9798-11eb-839b-1e6f0c1cb11f.png)

[2021-04-07 12:34] dima74 commented on #7062
This is because `Builder` has [`#[doc(hidden)]` attribute](https://github.com/colin-kiegel/rust-derive-builder/blob/9d2ee6ffb7864401e5299b6104721db7a742223b/derive_builder_macro/src/lib.rs#L13), and we [filter out](https://github.com/intellij-rust/intellij-rust/blob/949953d45967f76038aed6c8a23e4351f5290be2/src/main/kotlin/org/rust/lang/core/resolve/Processors.kt#L284) such hidden items in completi

[2021-04-07 14:54] Undin commented on #7062
@dima74 I think it's better just to update our code in case of derive proc macros because:
- it's not only one crate that with `doc(hidden)` attribute on proc macro function. For example, all derive macros in `derive_more` crate also have [this attribute](https://github.com/JelteF/derive_more/blob/master/src/lib.rs#L280)
- in case of derive macro, we don't import proc macro function directly but o

[2021-04-08 09:16] ortem commented on #7056
@Dentrax Please try the following steps:
1. [Uninstall](https://www.jetbrains.com/help/idea/managing-plugins.html#remove-plugin) the Rust plugin and the Toml plugin
2. [Install](https://www.jetbrains.com/help/idea/managing-plugins.html#install_plugin_from_repo) the Rust plugin again. IDE will suggest installing the required Toml plugin automatically

[2021-04-08 09:26] Dentrax commented on #7056
This fixed the issue. 👍

[2021-04-08 09:32] #7056 closed

[2021-04-08 09:46] ortem commented on #7048
@qiujiangkun Running/debugging as root is not yet implemented in IntelliJ Rust.

Note, it is already implemented in CLion since CLion 2020.3 ([issue](https://youtrack.jetbrains.com/issue/CPP-7224), [documentation](https://www.jetbrains.com/help/clion/debug-as-root.html)), but does not natively support Rust for now. However, I suppose running Rust code as root in CLion can be done the following way

[2021-04-08 09:52] ortem commented on #7044
@qiujiangkun Please try specifying `edition = "2018"` in your `Cargo.toml` file. The corresponding Rust [documentation](https://doc.rust-lang.org/edition-guide/editions/creating-a-new-project.html) might be helpful.

[2021-04-08 09:57] qiujiangkun commented on #7044
It does not work
[project.zip](https://github.com/intellij-rust/intellij-rust/files/6277759/project.zip)

[2021-04-08 09:58] qiujiangkun commented on #7048
Thanks, it worked, though a bit inconvenient

[2021-04-08 10:01] ortem commented on #7048
@qiujiangkun Great! I hope we will implement running/debugging as root for Rust in the near future. For now, let's leave this issue open.

[2021-04-08 15:33] dima74 commented on #6999
@HydrogenC could you please specify plugin version?

I can't reproduce with:

* **IntelliJ Rust plugin version:** 0.3.146.3786-203-nightly
* **Rust toolchain version:** 1.53.0-nightly (07e0e2ec2 2021-03-24) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2020.3.2 (CL-203.7148.70)
* **Operating system:** Linux 5.11.11-arch1-1
* **Macro expansion engine:** new
* **Name resolution engine:*

[2021-04-08 16:28] Stzx commented on #7044
@orium I think I've had enough free time lately to fix this, can you assign it to me?

[2021-04-08 18:02] Kobzol opened #7069 "Allow using quick fixes hinted by Build view"
## Environment

* **IntelliJ Rust plugin version:** 0.3.144.3766-211
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** Linux 5.4.0-48-generic
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
The build output window shows compiler errors, w

[2021-04-08 18:22] orium commented on #7044
I think you mean @ortem :slightly_smiling_face:

[2021-04-09 01:14] Stzx commented on #7044
Oh, Sorry. 😂

[2021-04-09 06:57] #7044 closed

[2021-04-09 12:13] Undin opened #7073 "Add "How to enable experimental feature" item in FAQ"
We quite often do something under experimental feature. And when we write about it (in changelogs, on issues about fixing some bug, etc.), we have to write a way how to enable it. It's quite inconvenient to write it each time.
Also, IntelliJ help doesn't contain info about experimental features, there is only an article about YouTrack's experimental features. As a result, users sometimes [ask](htt

[2021-04-09 13:57] ortem commented on #5522
This would be useful for embedded projects on Rust: https://youtrack.jetbrains.com/issue/CPP-18738

[2021-04-09 14:07] #6812 closed

[2021-04-09 14:24] qiujiangkun opened #7074 "Floating documentation window shows pub for pub(self)/pub(crate) functions"
[code]
![image](https://user-images.githubusercontent.com/33482468/114194552-3346ac80-9982-11eb-87d6-9fc008fa2046.png)

[2021-04-09 14:25] HydrogenC commented on #6999
It could have been a occasional parse lag. I would close this.

[2021-04-09 14:25] #6999 closed

[2021-04-09 15:27] lancelote opened #7075 "Adding visibility modifier via "Change Signature" adds it to the function attribute"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3786-211-nightly
* **Rust toolchain version:** 1.52.0-nightly (b3e19a221 2021-03-12) x86_64-apple-darwin
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** macOS 10.15.6
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

Visibility modifier is added to the function

[2021-04-09 15:57] lancelote opened #7077 "Wild "use std::alloc::Global" is added when I change function return type with "Change Signature""
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3786-211-nightly
* **Rust toolchain version:** 1.52.0-nightly (b3e19a221 2021-03-12) x86_64-apple-darwin
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** macOS 10.15.6
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

The plugin inserts `use std::alloc::Global;`

[2021-04-09 17:20] krojew opened #7078 "Adding parameter when changing signature ignores impl"
## Environment

* **IntelliJ Rust plugin version:** 0.3.144.3766-211
* **Rust toolchain version:** 1.53.0-nightly (07e0e2ec2 2021-03-24) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

After adding a parameter using "change signature

[2021-04-09 18:05] Kobzol commented on #7078
Hi, I could not reproduce it. Could you please post a code snippet where this happens? Thank you.

[2021-04-09 18:14] krojew commented on #7078
Unfortunately, I can't since it's both complex and proprietary. I can give more detailed steps of what exactly happened in my case:

1. A struct was added in crate A.
2. Crate B, which depends on A, had a trait with some fn.
3. **Without importing the new struct**, I used "change signature" on the fn and added a parameter of that struct type.
4. CLion complained the fn will cease being visible and

[2021-04-09 18:18] Kobzol commented on #7078
I see. If you click on the green arrow in the left column next to the method that you have refactored inside the trait in crate B (it should invoke find implementations), does it find the method impl that was missed by the refactoring?

[2021-04-09 18:23] krojew commented on #7078
Yes, it jumps to the impl without problems.

[2021-04-09 18:32] Kobzol commented on #7078
I tried a few situations where the impl was in another file and I added an unresolved type from a different crate, but so far I couldn't reproduce it.

I wonder where that error about the function ceasing to be visible came from, that might be the source of the problem. So it might be related to visibility conflict detection.

Another reason might be that if the impl had a wrong signature before t

[2021-04-09 18:34] Kobzol commented on #7077
I think that this is the same situation as in https://github.com/intellij-rust/intellij-rust/issues/6186, since the allocator is now a generic parameter of `Vec`. I'll try to use the same approach as in https://github.com/intellij-rust/intellij-rust/pull/6896 to fix it.

[2021-04-09 18:38] krojew commented on #7078
That's unfortunate. I am able to reproduce it 100% of times.

![image](https://user-images.githubusercontent.com/1268573/114226139-7fd6bb80-9973-11eb-8dcd-83464116595a.png)

[2021-04-09 19:11] Kobzol commented on #6463
It would be great if versions were also auto-completed inside the complex dependency specification:
[code]

[2021-04-09 19:21] lancelote opened #7082 ""Change Signature" doesn't add lifetime declaration to the function"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3786-211-nightly
* **Rust toolchain version:** 1.52.0-nightly (b3e19a221 2021-03-12) x86_64-apple-darwin
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** macOS 10.15.6
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

If I add a new parameter with a lifetime, "ch

[2021-04-09 19:30] lancelote commented on #7082
Actually, I think there are more relevant problems with lifetimes, e.g.

- Lifetime declarations are not removed once unused (for example, I remove the parameter using a lifetime)
- Declarations are not updated after renaming a lifetime

P.S. Sorry for the spam of the "change signature" tickets. The feature is awesome 👍

[2021-04-09 19:45] ShagonRU opened #7083 "Broken imports at 'Rust LLDB' debug panel."
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3786-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (0b417ab5c 2021-04-03) x86_64-pc-windows-msvc
* **IDE name and version:** PyCharm 2021.1 Professional Edition (PY-211.6693.115)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Rust LLDB panel re

[2021-04-09 19:47] Kobzol commented on #7082
Right. So I actually considered changing lifetimes and (especially) generic parameters to be out of scope, because the user can write pretty much arbitrary things into the parameter/return types and it would be difficult to distinguish and consolidate generic types from unknown types.

But I suppose that we could do better at least w.r.t. lifetimes.

I wonder if we should do this automatically or

[2021-04-09 20:00] lancelote commented on #7082
As a lazy person, I would prefer it to be automatic :3 Though it makes it harder to implement indeed :(

[2021-04-09 20:16] Kobzol commented on #7082
I guess that removing unused lifetimes should be relatively easy to handle.

Detecting lifetime renames is quite harder, because it's difficult to recognize if a lifetime was introduced, renamed or moved to a new location. The same thing is also true for new lifetimes.

[2021-04-09 22:21] fctorial opened #7084 "Cargo run configuration doesn't support command line arguments"
## Environment

* **IntelliJ Rust plugin version:** 0.3.144
* **Rust toolchain version:** 1.51.0
* **IDE name and version:** 2020.3.3
* **Operating system:** linux/nixos

## Problem description

Cargo run configuration doesn't allow you to add command line arguments for the executable.

[2021-04-09 23:43] emailnjv commented on #4024
This is especially an issue when using nightly builds that don't have rustfmt on the latest toolchain yet.

[2021-04-10 00:15] #7075 closed

[2021-04-10 00:32] cherryleafroad opened #7085 "`#![cfg(target_os="android")]` breaks type hints"
## Environment

* **IntelliJ Rust plugin version:** 0.3.144.3766-211
* **Rust toolchain version:** 1.53.0-nightly (07e0e2ec2 2021-03-24) x86_64-pc-windows-msvc
* **IDE name and version:** PyCharm 2021.1 Professional Edition (PY-211.6693.115)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description
If you put `#![cfg(target_

[2021-04-10 00:37] mehcode opened #7086 "[Feature] Render directory.rs files as the directory in the project view"
## Environment

* **IntelliJ Rust plugin version:** 0.3.144.3766-211
* **Rust toolchain version:** 1.51.0
* **IDE name and version:** Clion 2021.1
* **Operating system:** Linux, Pop! OS

## Feature description

With rust 2018 edition module structure, users may do this:

[code]

Or this:

[code]

My proposal is to unify and improve the rendering of both variants in the project window. Instead of s

[2021-04-10 00:41] abonander commented on #7086
:+1: My biggest peeve with the "new" module style and why I insist on using `mod.rs` for directory modules in my projects is because the module root file isn't visually grouped with its submodules. This isn't IJR's fault, of course, that's just how basically every file explorer (GUI or TUI) sorts files and folders.

Not every user may want this and it may be confusing for users who expect files to

[2021-04-10 02:33] #3684 closed

[2021-04-10 07:41] #7077 closed

[2021-04-10 07:55] Undin commented on #7084
You should add them into `command` field after `--` in the exactly [same way](https://doc.rust-lang.org/cargo/commands/cargo-run.html#description) as you do it for cargo.
Also, see https://plugins.jetbrains.com/plugin/8182-rust/docs/cargo-command-configuration.html#cargo-command-config

[2021-04-10 12:25] qiujiangkun opened #7087 "Used variables in macros declared in function body are marked as never used"
[code]
![image](https://user-images.githubusercontent.com/33482468/114269645-d3600c80-9a3a-11eb-9357-9657b416ee14.png)

**Output**
[code]

[2021-04-10 18:29] #7084 closed

[2021-04-11 12:27] lancelote opened #7088 "Auto-close parentheses in type annotation"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3792-211-nightly
* **Rust toolchain version:** 1.52.0-nightly (b3e19a221 2021-03-12) x86_64-apple-darwin
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** macOS 10.15.7
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

I want a list of lists of `(usize, String)` t

[2021-04-11 15:35] benoitdevos opened #7090 "Unresolved reference / trait bound not satisfied error"
## Environment

* **IntelliJ Rust plugin version:** 0.3.144.3766-211
* **Rust toolchain version:** cargo 1.51.0 (43b129a20 2021-03-16)
* **IDE name and version:** IntelliJ IDEA 2021.1 (Ultimate Edition) Build #IU-211.6693.111, built on April 6, 2021
* **Operating system:** Ubuntu 20.04.2 LTS

## Problem description
On project [substrate-node-template](https://github.com/substrate-developer-hub/sub

[2021-04-11 15:35] PizzaCrust opened #7091 "Incorrect generic parameter info with lifetimes"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3792-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (07e0e2ec2 2021-03-24) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2021.1 Community Edition (IC-211.6693.111)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Doesn't show li

[2021-04-11 17:17] rkarp commented on #6579
Another datapoint here: I cannot reproduce this on Windows 10, Plugin version 0.3.144.3766-211. This is when using the `windows-rs` library with `windows::include_bindings!();`.
It works even without the new name resolution engine, though not everything gets resolved in that case.

[2021-04-11 18:40] #7010 closed

[2021-04-12 07:41] PizzaCrust opened #7092 "Incorrect elide lifetimes suggestion"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3792-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (07e0e2ec2 2021-03-24) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2021.1 Community Edition (IC-211.6693.111)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
The IDE suggest

[2021-04-12 08:02] Undin commented on #6736
@PizzaCrust Could you re-check it with the latest plugin version, please? I cannot reproduce it

[2021-04-12 08:05] PizzaCrust commented on #6736
@Undin Yep, its still bugged
![image](https://user-images.githubusercontent.com/15954148/114361566-754d3980-9ba0-11eb-8793-6916f2aaafff.png)

[2021-04-12 08:23] Undin commented on #6736
@PizzaCrust Hm, sorry for disturbing. I've re-checked it myself once again with the latest stable, beta and nightly plugin versions and reproduced the bug each time. Interesting...

[2021-04-12 08:56] PizzaCrust opened #7095 "Incorrect trait bound is not satisfied error"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3792-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (07e0e2ec2 2021-03-24) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2021.1 Community Edition (IC-211.6693.111)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
![image](https:

[2021-04-12 09:59] Undin commented on #7085
@cherryleafroad Thanks for the report!
I suppose your issue consists of two different ones:
- a bug with addition/removing file-level cfg attributes. It's already reported in #7039.
- absence of some code insight features for `cfg(target_os="android")` - currently, the plugin evaluates cfg attributes based only on cfg options of your host system (that's why everything works with `#![cfg(target_os=

[2021-04-12 09:59] #7085 closed

[2021-04-12 12:36] Undin opened #7096 "Detect unknown cfg predicates E0537"
`cfg` attribute may have only `not`, `all` or `any` predicates according to [reference](https://doc.rust-lang.org/reference/conditional-compilation.html). Other ones are treated as [E0537](https://doc.rust-lang.org/error-index.html#E0537) errors by the compiler.

Currently, the plugin doesn't detect such errors, so you can easily write `non` instead of `not` and get quite weird behavior of the plu

[2021-04-12 12:51] maxim-banaev opened #7097 "PluginClassLoader: Rust references via parent Toml that must be unloaded"
## Environment

* **IntelliJ Rust plugin version:** 0.3.142.3705-211
* **Rust toolchain version:**
* **IDE name and version:** CLion 2021.1
* **Operating system:** OS Mac OS X(x86_64) v11.2.3

## Problem description

A lot of java.lang.Throwable: PluginClassLoader exceptions. Unfortunately there is no repro.
[code]
## Steps to reproduce

[2021-04-12 19:44] #5282 closed

[2021-04-12 21:10] psiwray opened #7103 "Run tab isn't focused on binary launch."
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3797-211
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** Linux 5.8.0-48-generic
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description
The run tab that's usually in focus while the pr

[2021-04-13 07:43] Undin opened #7104 "Extract method refactoring doesn't work for expression in println macro"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3786-211-nightly
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1 Ultimate Edition (IU-211.6693.111)
* **Operating system:** macOS 10.15.6
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
I want to apply `Extract meth

[2021-04-13 10:01] lancelote opened #7106 "prettyPrinters Python stubs bugs"
Found few suspicious places while inspecting prettyPrinters stubs

# First

https://github.com/intellij-rust/intellij-rust/blob/63adef2b7dad27d043288db38f3ac34c5f1b97cf/prettyPrinters/gdb_providers.py#L83

`variant_field` is `Optional[Field]` here so theoretically you cannot access `name` attribute with full confidence of not raising `AttributeError`. I don't have the domain knowledge so perhaps i

[2021-04-13 10:43] lancelote opened #7107 "Debugger hangs on "Step Over" on macOS"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3798-211-nightly
* **Rust toolchain version:** 1.52.0-nightly (b3e19a221 2021-03-12) x86_64-apple-darwin
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** macOS 10.15.7
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

The debugger hangs permanently when I click S

[2021-04-13 10:48] matklad commented on #7086
I miss `mod.rs` too :(

I guess an 80% soln here is to implement a custom sorting. We already sort `mod.rs` to the top. I think it makes sense to do something like

[code]

that is, for the sorting purposes, treat directory-ownint files as directories.

Fully custom rendering makes sense as well, but feels like a lot of work for sorting UX issues. LIke, the "rename" command become ambigious.

[2021-04-14 01:09] hkmix opened #7109 "Support & operator separately for syntax colouring"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3797-211
* **Rust toolchain version:** 1.53.0-nightly (07e0e2ec2 2021-03-24) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description

Currently we have something like this in the opt

[2021-04-14 10:55] p0lunin opened #7110 "Feature request: hiding `where` clauses"
Sometimes `where` clauses with generics may take a lot of space, as you can see at the image below:

![image](https://user-images.githubusercontent.com/48922415/114698743-1f0b0280-9d28-11eb-8ca2-7ffaaf95e25b.png)

There is currently no way to hide this, which can be annoying when the user wants to quickly scroll up|down.
I think it can be solved in one of the following ways:
1. Button for hiding `

[2021-04-14 11:00] vlad20012 commented on #7110
Sounds like a simple `RsFoldingBuilder` improvement

[2021-04-14 13:09] krojew commented on #7078
Seems like I can replicate the problem also with primitive parameters, and in various places. In fact, each time I use "change signature" I get this error. This makes even more confusing why you can't replicate it.

[2021-04-14 15:04] Kobzol commented on #7078
Do you see any IDE errors when you run the refactoring? (a red exclamation mark at the bottom right corner).

It would be great if you could find a minimal reproducible example that would demonstrate the error.

[2021-04-14 15:08] krojew commented on #7078
I don't see a red exclamation mark, but I found something interesting - after I open the refactoring window, **change nothing** and click preview, I get the visibility problems error. Maybe there are some logs I can attach?

[2021-04-14 16:56] RiseAndCry commented on #4924
I've noticed that this only happens if i use the proposed "Fast compille times" from the bevy installation instructions (https://bevyengine.org/learn/book/getting-started/setup/)

the `cargo run --features bevy/dynamic` part to be more precise. I i don't use dynamic linking, debugging works fine.

[2021-04-14 21:19] #5183 closed

[2021-04-15 07:25] Undin commented on #5183
@JakubKoralewski
FYI now the plugin takes Cargo config into account to evaluate `cfg` options. So you need to add the following code into your config
[code]

to fix the issue.
Note, the feature is available in [nightly](https://plugins.jetbrains.com/plugin/8182-rust/docs/rust-quick-start.html#install-nightly) builds for now and will be landed in the next stable plugin version. Also, it requires at

[2021-04-15 07:35] Undin commented on #5188
FYI now the plugin takes Cargo config into account to evaluate `cfg` options. So if you want to use custom cfg options, just use custom [target](https://doc.rust-lang.org/cargo/reference/config.html#buildtarget) or [rustcflags](https://doc.rust-lang.org/cargo/reference/config.html#buildrustflags) in [Cargo config](https://doc.rust-lang.org/cargo/reference/config.html).
Yeah, it doesn't allow chang

[2021-04-15 13:03] lancelote opened #7117 "println postfix complection inserts an extra line in an unfinished match"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3802-211-nightly
* **Rust toolchain version:** 1.52.0-nightly (b3e19a221 2021-03-12) x86_64-apple-darwin
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** macOS 10.15.7
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

`println` postfix completion inserts an extra

[2021-04-15 21:41] ailisp opened #7122 "Cannot go to an obvious definition"
## Environment

* **IntelliJ Rust plugin version:**
0.2.123.3132-193
* **Rust toolchain version:**
rustc 1.51.0 (2fd73fabe 2021-03-23)
* **IDE name and version:**
CLION 2019.3.1
* **Operating system:**
Mac 10.14.6 (18G103)

## Problem description
Cannot goto obvious definition

## Steps to reproduce

Clone this repo: https://github.com/near/nearcore, In this file: https://github.com/near/nearcore/

[2021-04-16 00:03] reesmanp commented on #6926
@Undin the code is basically the same as I pasted here. The only file I didn't add was modB which is literally
[code]

I can confirm that it compiles and runs correctly.

[2021-04-16 06:12] vlad20012 commented on #6926
I can't reproduce. The minimal setup described in this issue works as expected and doesn't lead to detached modules

[2021-04-16 08:54] qiujiangkun opened #7123 "Unresolved reference for macro in tracing crate"
Macros like `info` and `debug` in `log` crate are correctly highlighted.
[code]
But not in `tracing`, where these macros are marked red in rather large projects, unless I explicitly `use tracing::debug`
[code]
![image](https://user-images.githubusercontent.com/33482468/114998534-a47ee600-9ed3-11eb-9b66-31f5c0d12687.png)

[2021-04-16 12:34] lockieluke opened #7124 "IntelliJ Rust falsely reports that the error_chain module is private but it compiles and works"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3797-211
* **Rust toolchain version:** null
* **IDE name and version:** IntelliJ IDEA 2021.1 Community Edition (IC-211.6693.111)
* **Operating system:** macOS 10.14.6
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description
So as the title says, the error_chain module is reported that it is private, but

[2021-04-16 12:36] lockieluke commented on #7124
I changed to the experimental name resolution engine and it didn't fix it too.

[2021-04-16 13:54] Undin commented on #7122
@ailisp I cannot reproduce the issue with the latest plugin version.
Could you re-check your code with the latest plugin build? Note, you use a quite old IDE (2019.3). Currently, the plugin doesn't support IDEs older than 2020.3

[2021-04-16 15:59] #7092 closed

[2021-04-16 16:40] reesmanp commented on #6926
Interesting, especially since I upgraded to latest yesterday and it is still happening for me.

- main.rs
  - util/
    - mod.rs
    - macro.rs
  - formulas/
    - mod.rs
    - functions/
      - mod.rs
      - avg.rs

In main.rs we have this at the top:
[code]

util/mod.rs is literally just
[code]

util/macros.rs is entirely (I modularized it a bit since original post):
[code]

formulas/mod.rs co

[2021-04-16 17:43] ailisp commented on #7122
Thanks! Probably due to my IDE is too old, plugin is a Apr 2021 version,
which is probably auto updated by IDE.

On Fri, Apr 16, 2021 at 6:54 AM Arseniy Pendryak ***@***.***>
wrote:

[2021-04-16 18:06] ailisp commented on #7122
Yeah it works perfectly in IDE 2021.1

[2021-04-16 18:06] #7122 closed

[2021-04-16 19:19] #7110 closed

[2021-04-16 19:30] Undin commented on #7122
@ailisp Great!

[2021-04-16 21:27] ShagonRU opened #7126 "Add detailed view for crate version at Cargo.toml"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3800-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (16bf626a3 2021-04-14) x86_64-pc-windows-msvc
* **IDE name and version:** PyCharm 2021.1 Professional Edition (PY-211.6693.115)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
1) I want to see t

[2021-04-16 21:55] chamoretto opened #7127 "Confusing display of primitive arithmetic types at debugger"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3804-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (16bf626a3 2021-04-14) x86_64-pc-windows-msvc
* **IDE name and version:** PyCharm 2021.1 Professional Edition (PY-211.6693.115)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
When i use debugge

[2021-04-16 22:07] #4401 closed

[2021-04-16 22:07] #7058 closed

[2021-04-16 22:52] chamoretto opened #7128 "Strange behavior of auto-completion of crate versions in Cargo.toml"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3804-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (16bf626a3 2021-04-14) x86_64-pc-windows-msvc
* **IDE name and version:** PyCharm 2021.1 Professional Edition (PY-211.6693.115)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new
* **Experimental feature** `ort.rust.crate

[2021-04-17 04:26] sum-elier opened #7129 "Cut releases every week possible?"
If rust-analyzer cuts out a release every week, would it be possible to do the same in this project?
Cutting a release with whatever is considered stable at the moment every week, no matter how small.
This would have the benefit of delivering to the wider public more frequently allowing for faster feedback to detect bugs or issues, and at the same time providing value for the users faster. I equat

[2021-04-17 08:20] Undin commented on #7129
@sum-elier Thank you for your desire to make the plugin better!

But I don't think it would be efficient for us, at least currently. Each release requires some resources from the team and weekly releases increase the required effort and, at the same time, decrease resources for development.
Yeah, feedback is very important but we get quite enough feedback from two-week releases.

Note, we also pub

[2021-04-17 08:23] PizzaCrust opened #7130 "Won't show unresolved reference if you have two same name definitions"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3806-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (07e0e2ec2 2021-03-24) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2021.1 Community Edition (IC-211.6693.111)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
If you have two

[2021-04-17 14:12] qiujiangkun opened #7133 "Incorrect error "Module xxx is private" with include!("../../examples/xxx/mod.rs") in integration tests"
I have a project like this
[code]
some_example.rs
[code]
![image](https://user-images.githubusercontent.com/33482468/115116008-fbff7d80-9fc9-11eb-8860-ab4ad310c4da.png)

[example.zip](https://github.com/intellij-rust/intellij-rust/files/6329376/example.zip)

[2021-04-17 15:03] sum-elier commented on #7129
Thanks for the explanation, I am totally unaware of the inner workings of the development process done here so excuse my ignorance. I don't know how I missed out the nightly builds, but they look to fulfill what I had in mind. Would you say that nightly releases are good enough for everyday use?

[2021-04-17 21:24] #2576 closed

[2021-04-18 00:40] #6978 closed

[2021-04-18 07:46] #7024 closed

[2021-04-18 12:27] vlad20012 commented on #7117
This works almost as expected. The template is designed to work in the case when `match` is an expression with a meaningful return value, for example:
[code]
If you apply the postfix template to this example, it preserves the correctness of assignment `b` to `a`:
[code]

This may look incorrect in the case where the `match` value is not used:
[code]
... but I'm not sure that we should overcomplica

[2021-04-18 12:55] Stzx commented on #7117
It seems to me that identifying and providing a return value should not be useful in most cases. Unless it is made smarter to recognize return values, this will complicate the template.

[2021-04-18 13:53] nazar-pc opened #7136 "Handle `cfg(doc)` and `cfg(not(doc))` on modules"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3802-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (07e0e2ec2 2021-03-24) x86_64-unknown-linux-gnu
* **IDE name and version:** IntelliJ IDEA 2021.1 Ultimate Edition (IU-211.6693.111)
* **Operating system:** Linux 5.11.15
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Originally repor

[2021-04-18 15:05] vlad20012 commented on #6926
I just repeated your setup and I can confirm that I can't reproduce the issue: the module is correctly liked to the module tree and everything works as expected:
https://user-images.githubusercontent.com/3221931/115150134-c1e8b700-a06f-11eb-9197-0843978861c6.mp4

Maybe you setup is a bit more complex

Please, check that the new macro expansion engine is enabled in `File | Settings | Languages & Fr

[2021-04-18 15:08] vlad20012 commented on #2846
FYI now the plugin takes Cargo config into account to evaluate `cfg` options. So you need to add the following code into your `.cargo/config`
[code]

to fix the issue.

Note, the feature is available in [nightly](https://plugins.jetbrains.com/plugin/8182-rust/docs/rust-quick-start.html#install-nightly) builds for now and will be landed in the next ([v146](https://github.com/intellij-rust/intellij-

[2021-04-18 15:08] #2846 closed

[2021-04-18 15:29] ancwrd1 commented on #2846
Thank you very much for your great work on Rust plugin, highly appreciated!

[2021-04-18 16:04] vlad20012 commented on #7136
@nazar-pc thanks for the report!

Do I understand correctly that autoimport prefers the full path `router::consumer` instead of just `consumer`?

I think it's not related to `cfg(doc)` at all because autoimport should just always prefer a shorter path.

But, well, when I see these `#[cfg(not(doc))]` and `#[cfg(doc)]` I suspect that you are doing things wrong.
You could make the module `router` pri

[2021-04-18 18:07] vlad20012 commented on #7117
Also try
[code]

[2021-04-18 18:17] lancelote commented on #7117
Honestly, I would prefer it to be less smart, but I see the point. Let me close the ticket for now and thank you for the clarification.

[2021-04-18 18:17] #7117 closed

[2021-04-18 18:58] nazar-pc commented on #7136
Yes, one problem is that it imports longer path automatically, that is true.

As to the suggestion on re-export I'll take another look at it, don't remember why I didn't use it like that before, thanks!

[2021-04-19 02:11] davyzhu opened #7138 "Test result hide successful result, only show failed result"
## Environment

* **IntelliJ Rust plugin version:**
03.145.3797.211
* **Rust toolchain version:**
1.51.0
* **IDE name and version:**
Pycharm 2021.1 Community
* **Operating system:**
Win 10

## Problem description
Test result hide successful result, only show failed result.
![image](https://user-images.githubusercontent.com/149704/115171973-d9b74e00-a0f6-11eb-8eed-1601ca5ecc4a.png)

![image](https:

[2021-04-19 06:31] nazar-pc commented on #7136
OK, I have refactored it and now indeed the only issue I see is that autoimport prefers the full path.

[2021-04-19 06:56] qiujiangkun opened #7139 "Debugger does not show content of &str"
Currently, debugger only shows length and ptr of a &str. It would be nice if debugger also shows the content of it.
![image](https://user-images.githubusercontent.com/33482468/115193985-68d85c00-a11f-11eb-8016-686cfd6e8e52.png)

[2021-04-19 07:10] Undin commented on #7139
@qiujiangkun could you provide your environment, please?
I suppose you use Windows with msvc toolchain

[2021-04-19 07:14] Undin commented on #7138
@davyzhu it's expected behavior. Successful tests are not shown by default. To see them, enable `Show Passed` option
![image](https://user-images.githubusercontent.com/2539310/115195864-f1430680-a0f7-11eb-832c-a0691029f9c2.png)
![image](https://user-images.githubusercontent.com/2539310/115195932-0324a980-a0f8-11eb-8e0e-62a0a90ac4bb.png)

[2021-04-19 07:14] #7138 closed

[2021-04-19 07:20] Undin commented on #7129
They are not so well tested, so we can't guarantee that they don't contain critical bugs (actually, almost nobody can do it 😄) but some major issues appear quite rare.

[2021-04-19 07:33] qiujiangkun commented on #7139
[code]

[2021-04-19 08:40] Undin commented on #6737
I suppose this issue can be closed now. We fixed all usages of "scheduled for removal" API in [203 builds](https://plugins.jetbrains.com/plugin/8182-rust/versions/nightly/117467). All remaining warnings are not actually related to plugin source. They are because of a combination of `@ApiStatus.ScheduledForRemoval` annotation and kotlin interface method with default implementation without `@JvmDefa

[2021-04-19 08:40] #6737 closed

[2021-04-19 11:10] davyzhu commented on #7138
Thank you!!!

[2021-04-19 11:10] davyzhu commented on #7138
@Undin Thank you!!!

[2021-04-19 14:39] Undin opened #7143 "Name resolution caches are not invalidated properly"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3798-211-nightly
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1 Ultimate Edition (IU-211.6693.111)
* **Operating system:** macOS 10.15.6
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Name resolution works unexpec

[2021-04-19 16:07] #4481 closed

[2021-04-19 16:15] Undin commented on #7126
@ShagonRU
1. I suppose it will be implemented (at least partially) in #6801
2. You can click on the icon in the gutter of Cargo.toml file near to dependency declaration
![image](https://user-images.githubusercontent.com/2539310/115269011-8cad9900-a143-11eb-8eef-28a4f4bc01dd.png)

[2021-04-19 16:19] Undin commented on #7127
@ShagonRU Thanks for the report!
It's a known issue of msvc lldb. See #5632
Current workarounds are:
- use gnu toolchain. Requires CLion
- use unix OS

[2021-04-19 16:31] hb16 opened #7145 "Spurious unresolved reference errors"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3797-211
* **Rust toolchain version:** 1.51.0 (43b129a20 2021-03-16)
* **IDE name and version:** IntelliJ IDEA Community 2021.1 (Flatpak)
* **Operating system:** Debian bullseye (5.10.0-6-amd64)

## Problem description
Spurious unresolved reference errors about len() and is_empty() methods on an indexmap::set::IndexSet reference are shown

[2021-04-19 16:42] Undin commented on #7128
@ShagonRU Thanks for the report!

@avrong
2. It looks like we don't support such patterns at all
3. I suppose we can use local index not only for key-value dependencies but also for all other cases.
See `CratesIoCargoTomlSpecificDependencyHeaderCompletionProvider` and `CratesIoCargoTomlSpecificDependencyVersionCompletionProvider`

[2021-04-19 17:08] reesmanp commented on #6926
The `expand declarative macros` was on with the new engine. I tried the method mentioned above using both the old and new engines and neither worked. When attempting to `show recursively expanded macro` an error appears saying `failed to expand the macro` above the `use_mod_impl_enum` usage. I see in your video that the items within the usage are clickable and you can navigate to the item it is re

[2021-04-19 17:30] avrong commented on #7128
@Undin partially implemented in #7068

[2021-04-19 18:05] Kobzol commented on #7126
@avrong I have prepared an inspection (based on https://github.com/intellij-rust/intellij-rust/pull/6801), which checks if there's a new crate version available, inspired by https://github.com/mibac138/intellij-rust/commit/c8960b23adeb70deac77aab3d5b6a4edbb7fa700.

I noticed that you are assigned to this issue, should I send a PR with the inspection or are you already working on it?

[2021-04-19 18:57] avrong commented on #7126
@Kobzol I didn't start work on that. Feel free to open PR :)

[2021-04-19 19:01] zhongzc opened #7147 "`include!` mod declaration not working"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3797-211
* **Rust toolchain version:** 1.53.0-nightly (5a4ab2645 2021-04-18) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** Linux 5.8.0-49-generic
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

Included an rs file with module declara

[2021-04-19 21:52] #7129 closed

[2021-04-20 08:27] zhongzc opened #7149 "`use TraitX as TraitY` breaks implementation resolving"
## Environment

* **IntelliJ Rust plugin version:** 0.3.147.3812-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (5a4ab2645 2021-04-18) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** Linux 5.8.0-50-generic
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

[code]

![Screenshot from 2021-

[2021-04-20 11:57] Undin commented on #7139
@qiujiangkun Oh, Linux, interesting

It would be great to know the following info:
- IDE, name and version
- IntelliJ Rust plugin version
- State of `Preferences | Build, Execution, Deployment | Debugger | Data Views | Rust` settings
- If it's CLion, state of default toolchain in `Preferences | Build, Execution, Deployment | Toolchains` settings

Note, the plugin provides `Help | Create New Issue`

[2021-04-20 13:39] Undin commented on #7073
The corresponding item can be found here: https://plugins.jetbrains.com/plugin/8182-rust/docs/rust-faq.html#experimental-features
@MarinaKalashina thank you!

[2021-04-20 13:39] #7073 closed

[2021-04-20 14:04] zhongzc commented on #7147
@Undin I'd like to fix this issue because it can improve my daily development hugely. But I really need your help since I am very new to this repo. Any guides?

[2021-04-20 15:29] krojew opened #7151 "Changing return type imports unused types"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3797-211
* **Rust toolchain version:** 1.53.0-nightly (16bf626a3 2021-04-14) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

When changing return type of a fn with the "chan

[2021-04-20 16:49] Kobzol commented on #7151
This has already been fixed, the fix will be available in the next release (next week). You can use the nightly version if you want to test it out right now.

Closing as a duplicate of https://github.com/intellij-rust/intellij-rust/issues/7077.

[2021-04-20 16:49] #7151 closed

[2021-04-21 07:42] lunaryorn commented on #6789
I've got the same issue with CLion.  Incidentally the button works with the Rust plugin in IDEA CE.

[2021-04-21 16:51] Undin opened #7153 "Unexpected navigation bar items in Rust files"
## Environment

* **IntelliJ Rust plugin version:** 0.3.147.3812-211-nightly
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1 Ultimate Edition (IU-211.6693.111)
* **Operating system:** macOS 10.15.6
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description
<img width="562" alt="Screen

[2021-04-21 17:06] PizzaCrust opened #7155 "Incorrect elide lifetimes suggestion for enums"
## Environment

* **IntelliJ Rust plugin version:** 0.3.147.3812-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (6df26f897 2021-04-20) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2021.1 Community Edition (IC-211.6693.111)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Incorrect elide

[2021-04-21 17:47] Kobzol commented on #7153
Oops. Since I reused the breadcrumbs implementation, I kind of assumed that its tests would cover all needed situations. But it is obviously not the case. I'll send a PR with tests right away.

[2021-04-21 18:32] Kobzol commented on #7153
Hmm, when `StructureAwareNavBarModelExtension::getPresentableText` returns null, it renders it with `toString`. That is unfortunate :disappointed: Should I add support for the missing cases (things like named field decl) only to the navbar or also to the breadcrumbs? Or do we actually want to disable the breadcrumbs in favor of the navbar, as is done e.g. by Kotlin?

[2021-04-21 18:49] PizzaCrust commented on #7095
Another case:
[code]
So I guess the problem lies within array/reference bounds

[2021-04-21 20:29] varomix opened #7158 "Missing methods introspection for fltk-rs"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3797-211
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Hi
I've been using fltk-rs and seems like I'm missing a l

[2021-04-21 20:39] varomix commented on #7158
I enabled every feature I found on the settings

[2021-04-22 03:39] TinBryn opened #7159 ""sel" sometimes autocompletes to "slice_end_index_len_fail" which is private from the stdlib"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3797-211
* **Rust toolchain version:** 1.51.0
* **IDE name and version:** CLion 2021.1 Build #CL-211.6693.114, built on April 6, 2021
* **Operating system:** Ubuntu 20.04

## Problem description
Rust programming heavily uses the `self` keyword and just for piece of mind I like to autocomplete even small words like `self`. However this pri

[2021-04-22 15:44] ralfbiedert opened #7161 "Toml [dependency] context action: convert to long form + auto completion"
## Feature Request

Quite often I find myself having to repeat the same tedious action; in a `Cargo.toml` looking like this:

[code]

I want to transform a dependency into that:

[code]

It would be nice if

- I could Alt-Enter over the `3.6.1` string and get a context action "Convert to long form" (name TBD) that transforms ` "3.6.1"` into `{ version = "3.6.1" }`
- I then type `fe...` and press `

[2021-04-22 15:48] Kobzol commented on #7161
You're in luck, the first suggestion has been recently implemented (https://github.com/intellij-rust/intellij-rust/pull/6960) and it will be available in the next release :)

There is already an issue for the second suggestion - https://github.com/intellij-rust/intellij-rust/issues/4455 (actually multiple issues probably), so I'm going to close this issue as a duplicate.

[2021-04-22 15:48] #7161 closed

[2021-04-22 18:49] stanciuadrian opened #7163 "Mutable type inference and styling"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3797-211
* **Rust toolchain version:** 1.53.0-nightly (b84932674 2021-04-21) x86_64-pc-windows-msvc
* **IDE name and version:** JetBrains Rider 2021.1.1 (RD-211.6693.127)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description

The type of a mutable is not inferre

[2021-04-23 02:21] akaylh opened #7164 "Set a large value to the string variable, resulting in slower debugging"
## Environment

* **IntelliJ Rust plugin version:**  0.3.145.3797-203
* **Rust toolchain version:** 1.50
* **IDE name and version:** Clion 2020.3.3
* **Operating system:** MacOS Mojave 10.14.6

## Problem description

I use reqwest(v0.11.0) blocking mode request a big json  file(1.4m), read response text to var,  execute this code , debugging becomes very slow， can't not  `Step Over` or `Step in`.

[2021-04-23 07:29] qiujiangkun commented on #7139
IDE:
[code]
Rust plugin: 0.3.145.3797-211
![image](https://user-images.githubusercontent.com/33482468/115835169-91769380-a448-11eb-962c-8018eabc88b6.png)
![image](https://user-images.githubusercontent.com/33482468/115835215-9fc4af80-a448-11eb-87d0-1f2089f5af9a.png)

[2021-04-23 07:43] qiujiangkun commented on #6340
This is still annoying, especially when I have multiple kinds of Result. Any plan to fix this?

[2021-04-23 11:35] fctorial opened #7166 "Type deductions do not use the import name"
## Environment

* **IntelliJ Rust plugin version:**
* 0.3.145.3797-203
* **Rust toolchain version:**
* 1.51.1
* **IDE name and version:**
* Intellij ultimate 2020.3
* **Operating system:**
* linux

## Problem description

![2021-04-23-170201_771x105_scrot](https://user-images.githubusercontent.com/58381615/115865398-e076f580-a455-11eb-8d96-e367815e966c.png)

The type of `std_listener` is marked to

[2021-04-23 11:44] fctorial commented on #7166
The variable quickdoc messages would be more helpful if they showed the fully qualified name of the variable type:

![tokio](https://user-images.githubusercontent.com/58381615/115866451-4dd75600-a457-11eb-935b-bbf4abe0d121.png)

[2021-04-23 12:52] #7096 closed

[2021-04-23 14:55] alexlapa commented on #2846
It seems that this feature does not work correctly when there are multiple crates in workspace.
Changing top-level crate's `.cargo/config` changes intellisense behaviour in all workspace members, but changing `.cargo/config` in workspace member has no effect.

[2021-04-23 17:40] dima74 commented on #7158
Root cause is that derive proc macro for `WidgetBase` is unresolved because we don't currently support `#[macro_use] extern crate ...` for proc macros

[2021-04-23 17:42] varomix commented on #7158
I guess is something is planned to support later, right?

thanks

[2021-04-23 17:52] dima74 commented on #7158
Yes, sure. As far as I know @vlad20012 has some initial implementation of `#[macro_use] extern crate ...` support for proc macros

[2021-04-23 22:52] rez23 opened #7169 "False positive errors with traits."
Hi, I noticed that the analysis not care of default derived traits (both with derive() macro and with preimplemented traits, for example, for primitive types).  This issue is similar to #6831, that is marked as closed by #6791 that should fixed the issues but, because:
1 the issue isn't solved for me
2 (mostly) I noticed that the issues is more wider with respect to what is described in the aforem

[2021-04-24 12:21] guillaume-be commented on #2748
Hello,

After a few attempts I managed to have a working setup on my Windows machine. I am sharing below my configuration in case it helps anyone. The steps are mostly similar to those shared by @Gisleburt , I am adding a few additional details that were unclear to me in the first place. Note that this assumes the target MCU is a STM32F3:

## 1. Ensure OpenOCD is installed and recognized by CLion

[2021-04-24 17:46] allways-technology opened #7170 "Cannot find declaration to go to - mod link macro param"
Hello,
rust plugins do not link macro params
Code:
https://rocket.rs/v0.4/guide/overview/#namespacing

Idea:
![image](https://user-images.githubusercontent.com/83119405/115967945-9a915e80-a535-11eb-8a87-9e85b4831233.png)

![image](https://user-images.githubusercontent.com/83119405/115967825-0b844680-a535-11eb-9337-3b40855c54a0.png)

VS Code:
![image](https://user-images.githubusercontent.com/83119

[2021-04-24 18:29] x4m3 commented on #6856
the error message seems to be the plugin attempting to search `"crate-name"` instead of `crate-name`. You can test it by clicking on the docs.rs icon in the left of the line of the crate:

![image](https://user-images.githubusercontent.com/8809909/115969033-37a2c600-a53b-11eb-80cd-e09c3d979fba.png)

in my case it's going to the url https://docs.rs/%22mongodb%22/%5E2.0.0-alpha.1 which gives a 404.

[2021-04-24 18:49] Undin commented on #7170
`routes` macro relies on the output of `rocket::get` attribute proc macro. And currently, the plugin doesn't support them but we are working on it. See [tracking issue](https://github.com/intellij-rust/intellij-rust/issues/6908) about attribute macro support

[2021-04-25 10:56] zxeoc opened #7172 "Conflicts with Arend plugin"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3797-211
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-unknown-linux-gnu
* **IDE name and version:** IntelliJ IDEA 2021.1 Ultimate Edition (IU-211.6693.111)
* **Operating system:** Linux 5.11.14-1-manjaro
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description
When Arend plugin acti

[2021-04-25 14:20] auduchinok commented on #6994
I'm using `0.3.145.3797-211`, and now there's a different false positive on the same code:
<img width="701" alt="Screenshot 2021-04-25 at 17 18 15" src="https://user-images.githubusercontent.com/3923587/115997077-6d52b800-a5ea-11eb-8ad7-303dc8d777bb.png">

@ortem Should I file another issue or reopen this one?

[2021-04-25 14:34] auduchinok opened #7173 "Add keyword completion"
When trying to type in [this example](https://doc.rust-lang.org/book/ch02-00-guessing-game-tutorial.html#handling-invalid-input), there's no lookup items for keywords, so `continue` has to be typed in manually.

<img width="675" alt="Screenshot 2021-04-25 at 17 32 06" src="https://user-images.githubusercontent.com/3923587/115997590-44cbbd80-a5ec-11eb-9ff7-c1406328a269.png">

## Environment

* **In

[2021-04-25 17:22] Undin opened #7175 "Take into account cargo config in each workspace member"
It seems that [this feature](https://github.com/intellij-rust/intellij-rust/pull/7093) does not work correctly when there are multiple crates in workspace.
Changing top-level crate's `.cargo/config` changes intellisense behaviour in all workspace members, but changing `.cargo/config` in workspace member has no effect.

_Originally posted by @alexlapa in https://github.com/intellij-rust/intellij-ru

[2021-04-25 17:23] Undin commented on #2846
@alexlapa I've created a separate issue with this use case - #7175

[2021-04-26 05:28] SaarYogev commented on #2748
Works for me @guillaume-be, great guide!

[2021-04-26 05:59] Kobzol commented on #7173
Closing as a duplicate of https://github.com/intellij-rust/intellij-rust/issues/6524 (a PR is already in works).

[2021-04-26 05:59] #7173 closed

[2021-04-26 07:37] Undin commented on #7172
Thanks for the report!
It's an Arend plugin bug. I've filed the corresponding [issue](https://github.com/JetBrains/intellij-arend/issues/266) in their issue tracker

[2021-04-26 07:37] #7172 closed

[2021-04-26 08:28] PizzaCrust opened #7179 "Feature request: Error for out of bounds access on a sized array"
## Environment

* **IntelliJ Rust plugin version:** 0.3.147.3820-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (6df26f897 2021-04-20) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2021.1 Community Edition (IC-211.6693.111)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
It would be rea

[2021-04-26 08:30] avrong opened #7180 "TOML code insight & JSON schemas"
The current issue contains ideas of improvements to the TOML plugin code insight, many of them becoming available with JSON schemas support.

### Intentions
- [ ] Expand inline table
- [ ] Shrink full table into inline
- [ ] Move key segment into table header (?)
- [ ] Escape key
- [ ] Unescape key (if possible?)
- [ ] Rename key with auto-escaping

### Completion
- [ ] Key completion
- [ ] Correc

[2021-04-26 08:44] lunaryorn commented on #6789
I found out that the hammer icon becomes enabled as soon as I ran the binary or the tests from CLion; apparently this icon always builds the current "target".  A bit non-obvious, but it's working for me now.

[2021-04-26 10:25] Undin commented on #7179
@ortem I think it can be an initial step of our data flow analysis for array/vec indexing

[2021-04-26 13:47] rez23 commented on #7169
After "clean" reinstall of last nightly plugin version seems that problem has fixed. Maybe my last update not installed well...
Problem fixed now for me too :)

[2021-04-26 13:47] #7169 closed

[2021-04-26 14:47] #7143 closed

[2021-04-27 08:47] qiujiangkun opened #7182 "Handle compile_fail code highlight in doctest"
## Environment

* **IntelliJ Rust plugin version:** 0.3.145.3797-211
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** Linux 5.10.26-1-manjaro
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description
I have the following code
[code]
But IntellijRu

[2021-04-27 11:26] vlad20012 commented on #7182
This is done intentionally:

https://github.com/intellij-rust/intellij-rust/blob/0b4629cb096e48e8d09ddd1b026129ce2106549a/src/main/kotlin/org/rust/ide/injected/RsDoctestLanguageInjector.kt#L42

because `compile_fail` expresses that this doctest can contain compilation error, so IDE would show these errors otherwise.

But ideally, `compile_fail` doctest should be highlighted without errors (errors

[2021-04-27 13:01] qiujiangkun opened #7183 "Cannot display non ascii characters properly in code block inside rustdoc in floating document panel"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3826-211
* **Rust toolchain version:** 1.53.0-nightly (5a4ab2645 2021-04-18) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** Linux 5.10.26-1-manjaro
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description
[code]
![image](https://user-images.gi

[2021-04-27 16:28] jonhoo opened #7185 "Only invoke cargo metadata for current target"
## Environment

* **IntelliJ Rust plugin version:** latest
* **Rust toolchain version:** 1.51
* **Operating system:** Linux

## Problem description

IntelliJ Rust uses `cargo metadata` to gather meta information about the current project. Unfortunately, unlike most other cargo tools, `cargo metadata` counter-intuitively defaults to including _all_ targets. This means that with the current logic, `

[2021-04-27 20:01] marksiano commented on #4907
Still an issue, how do I re-open this?

[2021-04-27 21:42] cherryleafroad opened #7186 "White console colors maps to black on dark themes"
From best I can tell, white ANSI colors are mapped to black in order to prevent White on White text on the light theme. Clearly this is needed. However, when you're on the black theme, this causes black on black which is the same issue in reverse

Could this previous fix be fixed to detect what theme you're on and auto-adjust (or allow user to adjust)? If you're using a black theme (or darkish the

[2021-04-28 00:33] mehcode commented on #7086
The custom sorting makes sense for Rust projects in the interim.

I would expect a "rename" to rename both the file and the directory. In other words, rename the "module". But I can see the spiral of little nits like this that will need to be resolved with the rendering.. though it would be awesome. 🔥

[2021-04-28 00:40] #7155 closed

[2021-04-28 12:27] #4093 closed

[2021-04-28 12:27] #4811 closed

[2021-04-28 12:27] #4887 closed

[2021-04-28 12:27] #5007 closed

[2021-04-28 12:27] #5146 closed

[2021-04-28 12:27] #6236 closed

[2021-04-28 12:27] #6243 closed

[2021-04-28 12:27] #6270 closed

[2021-04-28 12:27] #6302 closed

[2021-04-28 12:27] #6355 closed

[2021-04-28 12:27] #6452 closed

[2021-04-28 12:27] #6486 closed

[2021-04-28 12:27] #6863 closed

[2021-04-28 21:29] jonhoo commented on #7185
See also https://github.com/rust-lang/cargo/issues/9423

[2021-04-29 18:34] Nightloewe opened #7190 "Code Completion does not work?"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3826-211
* **Rust toolchain version:** 1.53.0-nightly (b84932674 2021-04-21) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2021.1 Ultimate Edition (IU-211.6693.111)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description
The plugin does not prop

[2021-04-29 20:01] #4283 closed

[2021-04-30 00:58] pfesenmeier commented on #2748
@guillaume-be thank you! Two hang-ups I got pass, for others:
1. Openocd, when downloaded from an archive, like discovery manual links to, and put in a folder not suggested by the xpack project, would give me errors for sending a -script argument. Downloading openocd through xpm as suggested in README ridded me of the error.
2. When you run the debugger after the second time, must hit the reset bu

[2021-04-30 07:29] Undin commented on #7190
@Nightloewe Thanks for the report!
I suppose there are several problems here:
- `diesel` derive proc macros like `derive(Queryable)`. The plugin has only initial support for custom derive macros and it's disabled by default for now. See #6908 to know how to enable this feature and for other details.
- type inference problem. `diesel` methods uses complex conditions with associated type bounds and

[2021-04-30 09:20] PiDelport commented on #3152
Related (or duplicate): https://github.com/intellij-rust/intellij-rust/issues/1926

[2021-04-30 10:32] hameerabbasi commented on #4651
Hello. I do a lot of remote development. My workflow typically includes connecting to and debugging/developing on a remote machine completely, without needing to clone/build locally at all, perhaps because of a low-powered machine or one lacking certain hardware features.

One way I can do this easily and in a language-agnostic manner is with VSCode. I do believe CLion/Jetbrains are the superior I

[2021-04-30 13:58] deimosfr opened #7193 "Rust plugin not fully functional"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3826-211
* **Rust toolchain version:** 1.51.0 x86_64-unknown-linux-gnu
* **IDE name and version:** IntelliJ IDEA 2021.1 Ultimate Edition (IU-211.6693.111)
* **Operating system:** Linux 5.11.16-arch1-1
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description

I'm having a strange behavior since the last r

[2021-04-30 17:31] deimosfr commented on #7193
I finally deleted everything and reinstalled Intellij, it now works following this https://intellij-support.jetbrains.com/hc/en-us/articles/206544519

[2021-04-30 17:31] #7193 closed

[2021-04-30 21:32] mchernyavsky opened #7195 "Setup tests for WSL toolchains on CI"
Relates to https://github.com/intellij-rust/intellij-rust/pull/6456.

[2021-04-30 21:51] mchernyavsky opened #7196 "Extend toolchain path field to have an opportunity to choose a suggested path"
Something similar to `Detected SDKs` from the SDK field:

<img width="1274" alt="Screenshot 2021-05-01 at 00 49 54" src="https://user-images.githubusercontent.com/6079006/116757692-3da31600-aa17-11eb-8471-a207ccff6e2b.png">

[2021-04-30 21:55] mchernyavsky opened #7197 "Debugger doesn't apply the pretty printers if a WSL toolchain is used"
I suppose it's because we provide the wrong paths in the case of WSL.

Relates to https://github.com/intellij-rust/intellij-rust/pull/6456.

[2021-05-01 15:51] Juici opened #7198 "Assembly view panel"
I believe an assembly view panel similar to that of https://godbolt.org/, could be a nice addition to the plugin.

It could be toggled on and would show assembly relevant to the currently open file.

[2021-05-01 16:21] Kobzol commented on #7198
I think that this issue is more relevant generally for CLion. There's actually a long standing CLion issue exactly for this [here](https://youtrack.jetbrains.com/issue/CPP-1742). As a workaround, you can try [this plugin](https://plugins.jetbrains.com/plugin/11064-compiler-explorer).

[2021-05-01 18:27] chamoretto opened #7199 "[Feature request] Suggest more variants for import"
## Environment

* **IntelliJ Rust plugin version:** 0.3.147.3833-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (42816d61e 2021-04-24) x86_64-pc-windows-msvc
* **IDE name and version:** PyCharm 2021.1.1 Professional Edition (PY-211.7142.13)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

Is is possible t

[2021-05-04 10:30] lancelote opened #7201 "Cannot access debugger in Rider for Unreal Engine 2021.1.1"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3826-211
* **Rust toolchain version:** 1.52.0-nightly (b3e19a221 2021-03-12) x86_64-apple-darwin
* **IDE name and version:** Rider for Unreal Engine 2021.1.1 (RDCPPP-211.6693.148)
* **Operating system:** macOS 10.15.7
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description

One cannot set a breakpoint o

[2021-05-04 14:10] BanqiJane opened #7202 "Can not create rust project and open rust settings"
## Environment

* **IntelliJ Rust plugin version: 0.3.146.3826-211**
* **Rust toolchain version: 1.51.0 (2fd73fabe 2021-03-23) x86_64-pc-windows-gnu**
* **IDE name and version:  CLion 2021.1.1  Build #CL-211.7142.21**
* **Operating system: Windows 10**
* **Macro expansion engine: new**
* **Name resolution engine: old**

## Problem description
Can not create rust project and open rust settings
![im

[2021-05-04 14:43] lancelote commented on #6760
Hi @sabbyX, with #6456 in place you can install the nightly plugin version and try the newly implemented support. Just don't forget to enable `org.rust.wsl` experimental feature.

[2021-05-04 14:43] #6760 closed

[2021-05-04 14:57] lancelote opened #7203 "Auto-select WSL based toolchain when opening a project inside"
## Environment

* **IntelliJ Rust plugin version:** 0.3.147.3837-211-nightly
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

When I open a project which is located direct

[2021-05-04 15:16] lancelote opened #7204 "WSL toolchain is reset to Windows toolchain while creating a new project"
## Environment

* **IntelliJ Rust plugin version:** 0.3.147.3837-211-nightly
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

When creating a new project in Windows FS usi

[2021-05-04 19:27] mchernyavsky commented on #7202
Hi! Can you please show your `PATH` variable?

[code]

[2021-05-05 02:05] BanqiJane commented on #7202
[code]

[2021-05-05 02:19] BanqiJane commented on #7202
Thanks you！ I found the problem. This comes from the users jre path error.

[2021-05-05 02:19] #7202 closed

[2021-05-05 06:36] tigerneil commented on #5315
Try `rustup-init` to reinstall all necessary stuffs. Then your IntelliJ Rust can work.

[2021-05-05 06:59] Gaurav6982 commented on #1570
Should .idea be deleted or not?

[2021-05-05 08:59] Undin commented on #1570
@Gaurav6982 if you want to share project settings then you should add .idea directory to your vcs except some files with user data. See https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems for more details

[2021-05-05 13:59] Zymlex opened #7208 "Don't turn off rustfmt if rustfmt.exe is not found"
Don't turn off rustfmt if rustfmt.exe is not found:
![image](https://user-images.githubusercontent.com/25817412/117152934-041d3280-adaa-11eb-9b2c-a72286015d68.png)

[2021-05-06 01:56] gs0221 opened #7209 "When click some links in rust doc, it will open a dialog to open crate link"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3826-211
* **Rust toolchain version:**  rustc 1.51.0 (2fd73fabe 2021-03-23)
* **IDE name and version:** IDEA
* **Operating system:** Windos10 Enterprise 19041.928

## Problem description
When click some link in rust doc, it will open a dialog to open crate link
![anim](https://user-images.githubusercontent.com/50853821/117231124-25852980-

[2021-05-06 19:58] lancelote opened #7210 "Syntax errors are still shown if the highlighting level is None"
## Environment

* **IntelliJ Rust plugin version:** 0.3.147.3820-211-nightly
* **Rust toolchain version:** 1.52.0-nightly (b3e19a221 2021-03-12) x86_64-apple-darwin
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** macOS 10.15.7
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

If the file contains syntax errors and I set

[2021-05-07 07:16] ngn999 commented on #5975
same issue in uu_coreutils repo: https://github.com/uutils/coreutils.

[2021-05-07 10:11] ralfbiedert opened #7212 "Broken org.rust.cargo.fetch.actual.stdlib.metadata since 1.52"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3826-211
* **Rust toolchain version:** null
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

I updated to Rust 1.52 yesterday night. This morning when opening my project at least "dot"-autocomplet

[2021-05-08 02:18] HTG-YT opened #7213 "Code Analysis Inevitably Gets Into an "Analyzing Loop" with the Use of the "asm" Macro"
## Environment

* **IntelliJ Rust plugin version:** 0.3.147.3845-211-nightly
* **Rust toolchain version:** 1.54.0-nightly (676ee1472 2021-05-06) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2021.1.1 Community Edition (IC-211.7142.45)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

The code anal

[2021-05-08 02:41] Sherlock-Holo commented on #1171
even enable the org.rust.wsl feature, use the `\\wsl$\Archlinux2\usr\bin` can detect the std library path but when click OK, it will report invalid toolchain  location: can't find Cargo in \\wsl$\Archlinux2\usr\bin

[2021-05-08 19:27] Luiz-Monad commented on #3608
Why doesn't the persons at IntelliJ release the LLDBFrontend source ? its just a protobuf driver on top of the lldb executable anyway.

[2021-05-08 23:32] chippers opened #7214 "False-positive "async is reserved keyword in Edition 2018" when the identifier is a part of an attribute macro"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3826-211
* **Rust toolchain version:** 1.52.0 (88f19c6da 2021-05-03) x86_64-unknown-linux-gnu
* **IDE name and version:** IntelliJ IDEA 2021.1 Ultimate Edition (IU-211.6693.111)
* **Operating system:** Linux 5.12.1-arch1-1
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
When using `async` in the

[2021-05-09 03:18] anatawa12 opened #7215 "Can't resulve actix_http::http::HeaderMap correctly with new resolution engine"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3826-211
* **Rust toolchain version:** 1.51.0-nightly (2987785df 2020-12-28) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1.1 Ultimate Edition (IU-211.7142.45)
* **Operating system:** macOS 11.2.1
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

With `Use experimental name

[2021-05-09 18:33] Nightloewe commented on #7190
@Undin It did not help, instead it changed to `Use new engine` and then all code completion vanished.

[2021-05-11 08:57] Eliah-Lakhin opened #7218 "Wrong tuple field selection throught autoderef"
## Environment

* **IntelliJ Rust plugin version:** 0.3.148.3855-211-nightly
* **Rust toolchain version:** 1.51.0
* **IDE name and version:** IntelliJ IDEA 2021.1.1 (Community Edition) built on April 30, 2021
* **Operating system:** Ubuntu 18.04.5 LTS

## Problem description

Wrong type-inference when desugaring of the tuple-like structures in pattern matching:

![Screenshot from 2021-05-11 15-49-

[2021-05-11 13:27] shocoman opened #7219 "File system completion for string literals should suggest paths relative to project root"
## Environment

* **IntelliJ Rust plugin version:** 0.3.147.SNAPSHOT-211-dev
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2021.1 Ultimate Edition (IU-211.6693.111)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Right now file system co

[2021-05-11 14:08] vlad20012 commented on #7218
Can be simplified to
[code]

[2021-05-11 14:28] ortem commented on #7212
@ralfbiedert Could you please check the toolchain and standard library paths in `Preferences | Languages & Frameworks | Rust` settings? Are they specified and valid?

[2021-05-11 14:35] ortem commented on #7208
If `rustfmt` is not installed, IDE will show a suggestion to install it on the first reformatting.
<img width="345" alt="Screenshot 2021-05-11 at 16 30 47" src="https://user-images.githubusercontent.com/4854600/117833205-6d071d80-b276-11eb-84bd-412c13cec64d.png">

@Zymlex Please describe the problem in more details.

[2021-05-11 14:39] Zymlex commented on #7208
The message did not appear, the setting was disabled several times.

[2021-05-11 16:02] ortem commented on #7212
@ralfbiedert Thank you, paths look fine indeed.

Could you please attach your `idea.log` using `Help | Show Log in Explorer` action? (see [this instruction](https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files) for more information)

[2021-05-11 18:19] ralfbiedert commented on #7212
Ah, I can see an exception in that log:

[code]

[**Full idea.log**](https://github.com/intellij-rust/intellij-rust/files/6461206/idea.log)

[2021-05-12 12:15] ortem commented on #7212
@ralfbiedert Thank you!

I've only managed to get this exception after manually removing `...\vendor\rustc-std-workspace-core` folder before `Refresh Cargo Projects`. Could you please check if this directory exists on your machine? Also, you can try to manually remove the `..\CLion2021.1\intellij-rust\stdlib` folder and invoke `Refresh Cargo Projects` again (the new `stdlib` folder will be created

[2021-05-12 12:56] ralfbiedert commented on #7212
Ok, so right now I've been running with `...fetch.actual.stdlib.metadata` disabled. I checked the folder `C:\Users\rb\AppData\Local\JetBrains\CLion2020.1\intellij-rust`, which happens to contain only:

![image](https://user-images.githubusercontent.com/301288/117977208-dea3a200-b330-11eb-9569-77ed436102cd.png)

I've then re-enabled the option, restarted CLion, and still got the same IDE error, but

[2021-05-12 13:23] AllenPocketGamer commented on #1171
+1

[2021-05-13 12:54] afetisov opened #7220 "Incorrect operator precedence in mutable assignments"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3826-211
* **Rust toolchain version:** 1.54.0-nightly (bacf770f2 2021-05-05) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** Linux 5.4.0-72-generic
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

In mutable assignments, expressions whi

[2021-05-13 13:28] afetisov opened #7221 "Anonymous constants should not be included in the Structure View"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3826-211
* **Rust toolchain version:** 1.54.0-nightly (bacf770f2 2021-05-05) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** Linux 5.4.0-72-generic
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

Currently anonymous constants (i.e. of

[2021-05-13 22:04] d0nut-grapl opened #7222 "Opening a project inside a workspace results in CLion being unable to attach the Cargo project."
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3826-211
* **Rust toolchain version:** 1.52.1 (9bc8c42bb 2021-05-09) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** Linux 5.4.99-12983-g8b7876ab9f5e
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description

When opening a project that is insid

[2021-05-14 12:48] BratSinot commented on #1171
Hello there!

Where I can find `org.rust.wsl`? No such option:
![image](https://user-images.githubusercontent.com/3810015/118272824-da5fbc00-b4cb-11eb-9c85-36db66a03acd.png)

[2021-05-14 23:06] punkeel opened #7223 "IntelliJ Projector can't open semver docs.rs/.../^..."
## Environment

* **IntelliJ Rust plugin version:** master 4e2c22f399e0431c9cf30bfc24d6dd1b2a1256e6
* **Rust toolchain version:** N/A
* **IDE name and version:** CLion
* **Operating system:** Ubuntu 21.04

## Problem description
IntelliJ Projector runs an IDE (CLion in my case) locally, and allows a remote machine to control it via a web browser.

[Full logs](https://gist.github.com/punkeel/67d306

[2021-05-16 01:33] khaledh commented on #1171
The feature is not released yet. It seems that it will be released in a few days as part of v147: https://github.com/intellij-rust/intellij-rust/milestone/55?closed=1

[2021-05-17 07:51] Undin commented on #7190
@Nightloewe Thanks!
As I mentioned, I think it's a type inference problem. We will look closer at it

[2021-05-17 08:02] Undin commented on #7219
@Kobzol would you like to handle it since you implemented the corresponding functionality?
If so, I suppose we need to provide proper context in `org.rust.lang.core.resolve.ref.RsLiteralFileReferenceSet#getDefaultContexts` when we resolve/complete relative paths for `pathValueLiteral` pattern

[2021-05-17 09:05] Undin commented on #7222
@d0nut-grapl Thanks for the report!
Opening of a single workspace crate is not supposed to work at all because we use Cargo to retrieve data about project structure and Cargo checks the corresponding manifest files in parent directories and, if it exists, Cargo analyzes the whole workspace.
So, actually, the plugin should explicitly say something user-friendly in such cases to inform about unsuppo

[2021-05-17 09:06] Undin commented on #7222
Related to #6844

[2021-05-17 11:08] Kobzol commented on #7219
Sure, I'll implement this. I'm just now sure how it should work yet.

Making a distinction between `"path"` and `"./path"` doesn't seem right to me, I think that it's people just use these interchangeably and I don't think that we should distinguish between these.

Regarding the context directory, should it always be project root? We could also look at the current active Run target and try to take

[2021-05-17 11:08] Undin commented on #1171
@mchernyavsky could you take a look?

[2021-05-17 11:24] Undin commented on #7219
Agree

I think the behavior should be consistent with default working dir created for the Cargo run configuration. Also, it may be useful to check default implementation of `com.intellij.psi.impl.source.resolve.reference.impl.providers.FileReferenceSet#getDefaultContexts`

We can, but it looks rather non-obvious (at least to me) so I think it's better just to implement a simple solution and adjust

[2021-05-17 11:28] Kobzol commented on #7219
OK, it would probably be "too magic". I'll check `getDefaultContexts` and send a PR.

[2021-05-17 13:01] Kobzol commented on #7219
I checked `org/rust/ide/newProject/Utils.kt`, which generates the default `Run` configurations. It uses `project.basePath` as the default working directory, which seems to be deprecated to me (it should correspond to `project.baseDir()`, which is marked as deprecated)..

When creating a run configuration from the editor, it seems to use this (at least for binary targets):
[code]
So, should I use t

[2021-05-17 13:17] mikevoronov opened #7226 "Treating all variables and arguments as invalid"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3826-211
* **Rust toolchain version:** 1.54.0-nightly (8cf990c9b 2021-05-15) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1.1 Ultimate Edition (IU-211.7142.45)
* **Operating system:** macOS 10.15.7
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description

In all Rust projects all va

[2021-05-17 16:35] d0nut-grapl commented on #7222
Oh that's odd. It's a regression in behavior as opening a crate within a workspace used to work fine. I'm assuming that was an unintended "feature"? :P

[2021-05-17 16:39] Allen-Webb commented on #6844
I ran into similar symptoms by having a project that included proc-macro2. I was able to work around the problem in my case by disabling the experimental feature "org.rust.cargo.evaluate.build_scripts"

[2021-05-18 07:28] krojew opened #7232 "Extract method fails on some expressions"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3826-211
* **Rust toolchain version:** 1.54.0-nightly (5c0292654 2021-05-11) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

When some expressions are to be extracted as a

[2021-05-18 09:30] AndWass opened #7233 "New engine fails to resolve type"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** 1.52.1,  target thumbv7em-none-eabihf
* **IDE name and version:** CLion 2021.1.1
* **Operating system:** OpenSuse Tumbleweed

## Problem description
The new engine fails to resolve some types that the old engine managed.

## Steps to reproduce

  * Clone from https://github.com/AndWass/intellij-rust-

[2021-05-18 18:26] ifsheldon commented on #6653
Not fixed yet at Rust plugin 0.4.147.3871-211. Any progress?

[2021-05-18 18:52] Kobzol commented on #6653
cc @Undin

[2021-05-19 08:03] Undin commented on #3358
Work with new macro expansion engine.
Fixed by #5716
See #3628 for more details

[2021-05-19 08:03] #3358 closed

[2021-05-19 08:18] Undin opened #7235 "Project model is not updated after crate directory deletion"
## Environment

* **IntelliJ Rust plugin version:** 0.4.148.3872-211-nightly
* **Rust toolchain version:** 1.52.1 (9bc8c42bb 2021-05-09) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1.1 Ultimate Edition (IU-211.7142.45)
* **Operating system:** macOS 10.15.6
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
https://user-images.githubus

[2021-05-19 12:04] Undin commented on #7222
I don't consider it as "an unintended "feature"". From Cargo point of view, workspace member is a workspace part even if you  run commands inside member directory. I think it's possible to implement such behavior and open a workspace members as an independent cargo project in the plugin, but it will require some non-obvious work that we don't plan to do, at least in the nearest future, only user-f

[2021-05-19 12:07] Undin commented on #7219
@Kobzol yep, looks like `pkg.workspace.contentRoot` is enough here but I haven't checked all possible cases (workspace with different crates, examples, additional binaries in `bin` dir, etc.

[2021-05-20 13:00] ortem opened #7238 "Duplicate completion variants for methods"
## Environment

* **IntelliJ Rust plugin version:** 0.3.148.3855-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (b0c818c5e 2021-04-16) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1.1 Ultimate Edition (IU-211.7142.45)
* **Operating system:** macOS 11.2.3
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
When using the **new

[2021-05-20 21:39] #6524 closed

[2021-05-21 06:02] jmcelwain commented on #1171
Same issue on Arch as noted above. Here's the tail from the logs:

[code]

[2021-05-21 06:48] #6644 closed

[2021-05-21 10:21] BratSinot commented on #4627
Still not working (Clion 2021.1.1, Rust plugin 0.4.147.3871-211):
![image](https://user-images.githubusercontent.com/3810015/119122508-4051c380-ba37-11eb-876c-edaab9d9071a.png)

[2021-05-21 10:30] ralfbiedert opened #7241 ""Import all" context action / quick fix"
## Feature Request

When refactoring I often find myself cut & paste code between files. It would be nice to get an **Import all** context action / quick fix, available on _any_ missing item that imports all unambiguous items.

![image](https://user-images.githubusercontent.com/301288/119123029-725f2780-ba2f-11eb-95d2-e5ae520fc200.png)

[2021-05-21 10:31] BratSinot opened #7242 "Syntax highlighting and autocompletion don't work inside macro (like async_stream, lazy_static and etc)"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** nightly-x86_64-pc-windows-msvc
* **IDE name and version:** Clion 2021.1.1
* **Operating system:** Windows 10

## Problem description
Syntax highlighting and autocompletion not work inside macros.

## Steps to reproduce
[code]
[code]
![image](https://user-images.githubusercontent.com/3810015/119123977

[2021-05-21 11:15] Undin commented on #7241
Not sure that we actually need this quick fix. Looks like the proper way to solve the described problem is to import all necessary stuff after `Paste` action, as other languages do

[2021-05-21 11:43] ralfbiedert commented on #7241
No strong opinion. The annoying part is having to fix 10+ imports the plugin already knows about. I've used "Import all" in other tools (Resharper?, can't recall) and liked the workflow, but yes, import-on-paste could be even better.

[2021-05-21 11:49] Undin commented on #7242
Thanks for the report!
Yep, the completion in macros is quite restricted for now. But I see two different problems here:
- usage of procedural macros by `async_stream::stream` under the hood. By default, the plugin can't expand proc macros. As a result, you don't have highlighting, navigation and completion. You may try to enable our experimental proc macro expansion support. See #6908 for details

[2021-05-21 12:00] #7242 closed

[2021-05-21 12:51] Kobzol commented on #7241
If someone wants to implement this, it should be possible using `CopyPastePostProcessor`. You can take a look how Kotlin implements it [here](https://github.com/JetBrains/kotlin/blob/master/idea/src/org/jetbrains/kotlin/idea/codeInsight/KotlinCopyPasteReferenceProcessor.kt).

[2021-05-22 03:12] zeyugao opened #7245 "using WSL toolchains got unknown type for Arc"
## Environment

* **IntelliJ Rust plugin version:**: 0.4.148.3878-211-nightly with org.rust.wsl enabled
* **Rust toolchain version:**: 1.51
* **IDE name and version:**: Clion 2021.1
* **Operating system:**: Windows 10 19043 and WSL ArchLinux

## Problem description
wsl support cannot corrently get the type for Arc::new()

## Steps to reproduce
[code]

When using toolchains on windows, it works cor

[2021-05-22 12:56] TobiasNienhaus commented on #4311
I've run into a similar problem and tested a bit and it seems that it only happens with u8, u16 and u32, so not with u64 and u128. I tested it using one single inclusive range spanning the whole range of the type and apparently it is also only reporting when using the literal for the max value, so using 0xFF would be reported but u8::MAX would not be. I will attach the code that I wrote to test th

[2021-05-22 14:51] jcornaz opened #7246 "Incorrect "Use of moved value" error"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** rustup 1.24.2 / rustc 1.52.1
* **IDE name and version:** IntelliJ IDEA 2021.1.1 (Ultimate Edition)
* **Operating system:** Linux

## Problem description

The rust plugins reports "use of move value" for types that implements the `Copy` trait.

![image](https://user-images.githubusercontent.com/253517

[2021-05-23 01:44] anatawa12 opened #7249 "Please do not show auto-completing (of existing identifiers) for identifier declaration"
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3826-211
* **Rust toolchain version:** 1.52.1 (9bc8c42bb 2021-05-09) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1.1 Ultimate Edition (IU-211.7142.45)
* **Operating system:** macOS 11.2.1
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description

When I declare some identifier, the

[2021-05-24 06:47] qiujiangkun opened #7251 "Auto import based on context (macros, functions, variables, etc)"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** 1.54.0-nightly (4e3e6db01 2021-05-18) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** Linux 5.10.36-2-manjaro
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
I'm using `tracing`.
[code]
Produces
[

[2021-05-24 06:56] qiujiangkun opened #7252 "Error detecting for private field in workspace"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** 1.54.0-nightly (4e3e6db01 2021-05-18) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** Linux 5.10.36-2-manjaro
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
I hope I could use auto importing for

[2021-05-24 16:07] Undin commented on #7221
According to the [documentation](https://doc.rust-lang.org/reference/items/constant-items.html#unnamed-constant), I can put other items (including `impl`) into const initialization block. For example, the following code works:
[code]
And I suppose, the Structure View should show such items as well as we already do for items inside function blocks.
So, I think we can show only such unnamed constant

[2021-05-24 17:26] afetisov commented on #7221
I disagree that such items should be listed in the Structure View. I seriously doubt that such information would be useful.

Firstly, why would anyone normally put it there in the first place? Structs and traits which are defined within function/const blocks are invisible to the outside world, and can only be accessed via the containing function/const block itself. The common example is to return

[2021-05-24 17:29] afetisov commented on #7221
In the above comment I'm talking about the code of the form

[code]

I'm certain that none of these items should be included. The code in your comment is less clear-cut.

[2021-05-25 01:38] Stzx commented on #7221
I support most of  afetisov points.

But for some users they may want to see the structure or features in the constant block. Maybe we should provide a button like `Sort Alphabetically` to provide an optional display.

[code]

For purely anonymous constants still filter them.

[2021-05-26 09:10] #6630 closed

[2021-05-26 09:10] #4727 closed

[2021-05-26 10:59] Yuri6037 commented on #6061
If you are on Linux, there is a workarround:

[code]

[2021-05-26 14:26] qiujiangkun opened #7257 "test framework exit unexpectedly when a test is behind a feature"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** 1.54.0-nightly (4e3e6db01 2021-05-18) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** Linux 5.10.36-2-manjaro
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
[code]

## Steps to reproduce
Click ru

[2021-05-26 16:00] ortem opened #7258 "LLDB does not stop at breakpoints on Fedora"
This issue is related to the ticket from Zendesk Support.

## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** 1.52.0 x86_64-unknown-linux-gnu
* **IDE name and version:** IntelliJ IDEA 2021.1 (IU-211.7142.45)
* **Operating system:** Fedora 34 (Linux 5.12.6-300.fc34.x86_64, amd64)
* **Native debugging support plugin:** 211.7142.13

## Problem descripti

[2021-05-26 17:38] FelixStridsberg opened #7260 "Wrong return type for macros named `error`"
## Environment

* **IntelliJ Rust plugin version: 0.4.147.3871-211**
* **Rust toolchain version: 1.52.1 stable-x86_64-unknown-linux-gnu**
* **IDE name and version: CLion 2021.1.1**
* **Operating system: Ubuntu 20.04.2 LTS**

## Problem description
Naming a macro `error` causes the return type of that macro to be incorrectly inferred as `()`.
The program compiles correctly with a macro named `error

[2021-05-26 19:09] lancelote opened #7261 "Plugin expands macros in all opened projects when creating a new one"
## Environment

* **IntelliJ Rust plugin version:** 0.3.147.3820-211-nightly
* **Rust toolchain version:** 1.52.0-nightly (b3e19a221 2021-03-12) x86_64-apple-darwin
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** macOS 10.15.7
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

The plugin unnecessary triggers indexing and

[2021-05-26 19:24] #6819 closed

[2021-05-26 19:24] #7212 closed

[2021-05-26 19:24] #7219 closed

[2021-05-26 20:56] Kobzol commented on #7260
The plugin parses `error`, `warn`, `info` etc. macro calls as logging macros, and type inference hard-codes their return type as `()`, without actually resolving them.

@vlad20012 Would it be OK to resolve the macros first in `inferMacroExprType0` (`TypeInferenceWalker:1187`) to see if they are indeed from `log` and if not just treat them as normal macros?

[2021-05-27 07:48] ImSingee opened #7262 "macros are not expanded correctly when using wasm"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:**  1.52.1 (9bc8c42bb 2021-05-09)
* **IDE name and version:** CLion 2021.1.1 Build #CL-211.7142.21, built on April 22, 2021
* **Operating system:** macOS 11.3

## Problem description

When I use reqwest, almost all autocompletes do not work.

When I read its code, I found that its module references are

[2021-05-27 09:04] vlad20012 commented on #7260
Yes, sure.

[2021-05-27 09:21] vlad20012 commented on #7262
As a workaround, you can create `.cargo/config.toml` file in the project root and write there
[code]

![image](https://user-images.githubusercontent.com/3221931/119800719-b649a500-bee5-11eb-9a90-7b606a17f8b3.png)

[2021-05-27 09:34] ImSingee commented on #7262
It works! Thanks!!

[2021-05-27 09:37] ImSingee commented on #7262
Workaround works perfect, thanks!

Is it possible to do some kind of detection to set the target automatically (or at least have the target setting in the plugin?)?

[2021-05-27 15:54] mySeraphine opened #7263 "There is a problem that I cannot create a"
## Environment

* **IntelliJ Rust plugin version:**
* **Rust toolchain version:**
* **IDE name and version:**
* **Operating system:**

## Problem description

## Steps to reproduce

[2021-05-27 16:07] mySeraphine opened #7264 "There is a problem that I cannot create a Rust Project with newer Rust plugin in Clion."
## Environment

* **IntelliJ Rust plugin version**: 0.4.147.3871-211
* **Rust toolchain version**: 1.52.1
* **IDE name and version**: CL-211.7142.21
* **Operating system**: Windows 10

## Problem description
when I want to create a rust project with Rust-plugin in Clion (I had also tried Idea and the same problem comes), The page will not show up the toolchain setting window and it also happens in

[2021-05-27 16:17] Kobzol commented on #7263
Duplicate of https://github.com/intellij-rust/intellij-rust/issues/7263.

[2021-05-27 16:17] #7263 closed

[2021-05-27 16:38] vlad20012 commented on #7221
@afetisov all your points can be applied to items inside function bodies, but we show them in the `Structure View`. Java's and Kotlin's `Structure View` does the same. I don't think that the fact that some macros use such constants extensively is a good reason for hiding them. We should make more generic and consistent solutions

[2021-05-27 16:55] qiujiangkun opened #7266 "Moving mod.rs to parent folder shows 'Directory parent/current_folder already exists'"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** 1.54.0-nightly (4e3e6db01 2021-05-18) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** Linux 5.10.36-2-manjaro
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
[code]
Moving mod.rs to parent folder

[2021-05-27 17:42] afetisov commented on #7221
Solutions should be usable foremost, and generic only if it doesn't inhibit usability. Generic and consistent are mostly a benefit for the implementors, but as a user hundreds of useless entries in the Structure View make it unusable, plain and simple. And a hundred of static assertions in a file are nothing unheard of, especially for autogenerated files.

The situation with functions is also diff

[2021-05-27 18:15] jmcelwain commented on #1171
Did a little digging on problem with Arch. Not sure how rustup works on other distros, but in arch, `/usr/bin/rustc` is a symlink to `/usr/bin/rustup`, and when we check whether the toolchain path is valid, there's a check to ensure that `/usr/bin/rustc` is a file. This eventually delegates to `sun.nio.fs.AbstractFileSystem#isRegularFile`, which throws and swallows a `java.nio.file.NoSuchFileExcep

[2021-05-28 07:50] mchernyavsky commented on #1171
@jmcelwain Thanks for the detailed explanation! It should fix the problem - https://github.com/intellij-rust/intellij-rust/pull/7268.

[2021-05-28 09:17] artemmukhin opened #7269 "New file should be deleted when cancelling or undoing the move refactroring"
## Environment

* **IntelliJ Rust plugin version:** 0.3.148
* **Rust toolchain version:** 1.52.1 (9bc8c42bb 2021-05-09) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.2 EAP Ultimate Edition (IU-212.3457)
* **Operating system:** macOS 11.2.3
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
After #6957, `Move` refactoring is able to crea

[2021-05-28 11:45] #5576 closed

[2021-05-28 11:45] #6584 closed

[2021-05-28 14:11] dima74 commented on #7266
Thanks for report! Do I understand correctly that you have files `src/parent.rs` and `src/parent/current/mod.rs` and want to move `src/parent/current/mod.rs` to `src/parent/mod.rs`? In this case `src/parent.rs` and `src/parent/mod.rs` will conflict with each other, so we can't correct references to moved mod in other files. Do you want simple file move without any references changes?

[2021-05-28 14:40] jmcelwain commented on #1171
@mchernyavsky  Way easier than I thought! Thanks so much for the patch.

[2021-05-28 17:07] dima74 commented on #7266
Sorry, but do you have `src/parent.rs` or not?

[2021-05-28 17:33] qiujiangkun commented on #7266
No, I don't have `src/parent.rs`

[2021-05-28 17:41] SvetlinZarev opened #7270 "Incorrect lifetime elision suggestion/fix"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** 1.52.1 (9bc8c42bb 2021-05-09) x86_64-apple-darwin
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** macOS 11.3.1
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
The IDE suggests that the lifetimes can be elided, but after a

[2021-05-28 19:26] jmcelwain commented on #1171
Unfortunately, I don't think delegating to `java.io.File` works. Just tested on master and this is still broken:
![image](https://user-images.githubusercontent.com/10366310/120031784-de590700-bfbe-11eb-9433-db495c502268.png)

I did a little more digging and discovered https://github.com/microsoft/WSL/issues/4868, which I believe is a related upstream issue. Unfortunately I'm very unfamiliar with W

[2021-05-28 19:45] mchernyavsky commented on #1171
@jmcelwain Very strange. It works for me:

<img width="1218" alt="Screenshot 2021-05-28 at 22 42 48" src="https://user-images.githubusercontent.com/6079006/120034732-29e2d380-c006-11eb-9e2a-54f1ff4ca0cd.png">

[2021-05-28 19:51] jmcelwain commented on #1171
@mchernyavsky Oh great, what a mystery. I'm on build `21390.1`, which is pretty fresh. Let me do a clean build / sanity check again.

[2021-05-28 22:03] Undin commented on #7264
@mySeraphine Looks like your `PATH` variable contains invalid path `"D:\Programmer\Rust\Msys2\msys2_files\bin`. Try to remove `"` from it

[2021-05-29 00:51] #7264 closed

[2021-05-29 12:36] anud12 opened #7272 "Intelij On build finished focus issue"
Hello, I've got an issue where when the build is finished the focus moves to search input for the build tool window. This behavior didn't exist on a previous version and its aggravated due to using "build on save" option.

I've attached a video to showcase the issue.
In the video i edited a variable to "typing" then i forgot that i had to add "focus moves here", but when i do that the build comple

[2021-05-30 01:23] #7214 closed

[2021-05-30 03:09] #6747 closed

[2021-05-30 04:37] qiujiangkun opened #7275 "False positive trait bound T: Clone is not satisfied"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** 1.54.0-nightly (4e3e6db01 2021-05-18) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** Linux 5.10.36-2-manjaro
* **Macro expansion engine:** new
* **Name resolution engine:** new

[code]
![image](https://user-images.githubusercontent.com/334

[2021-05-30 08:17] #7103 closed

[2021-05-30 12:00] XyLyXyRR opened #7276 "`use anyhow::Context as _` will cause `Unresolved reference`"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** rustc 1.52.1 (9bc8c42bb 2021-05-09)
* **IDE name and version:** intellij-idea-community-edition 4:2021.1.1-1
* **Operating system:** arch linux

## Problem description

Hi, there.

In idea, the plugin will complain that `Unresolved reference: context`, but it can actually be compiled.

If change line

[2021-05-30 16:06] AlyoshaVasilieva opened #7277 "Dependency autocomplete suggests pre-release crate version"
## Environment

* **IntelliJ Rust plugin version:** 0.4.148.3892-211-nightly
* **Rust toolchain version:** 1.52.1 (9bc8c42bb 2021-05-09) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2021.1.1 Ultimate Edition (IU-211.7142.45)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Dependency autocomplete

[2021-05-31 03:17] mchernyavsky commented on #7245
@zeyugao Can you please check it on 1.54.0-nightly?

Don't forget to refresh Cargo projects:

<img width="270" alt="Screenshot 2021-05-31 at 06 12 14" src="https://user-images.githubusercontent.com/6079006/120134875-bb556f80-c1d7-11eb-8ed4-86f84b3ef61e.png">

[2021-05-31 08:22] darkprokoba commented on #7258
FYI
`[andrew@andrew debug]$ readelf --debug-dump=info censored | grep Version: | sort | uniq
   Version:       2
   Version:       4
`
i.e. according to readelf's output, the vast majority of my compilation units use dwarf version 4, with some statically-linked legacy dependencies apparently using dwarf version 2.

[2021-05-31 11:15] zeyugao commented on #7245
@mchernyavsky Well, it works charmingly.

[2021-05-31 12:39] aleksandr-shevchenko opened #7280 "run/debug not worked on 2021.2 EAP"
The program does not start for execution or debugging on 2021.2 EAP.
"waiting for the current build to finish..." appears in the status bar and that's it.

[2021-05-31 13:42] slvrtrn opened #7281 "Nalgebra-glm autocomplete issues"
## Environment

* **IntelliJ Rust plugin version:**
[code]
* **Rust toolchain version:**
[code]
* **IDE name and version:**
[code]
* **Operating system:** Ubuntu 21.04

## Problem description

There is no autocomplete available for the defined vector fields for `nalgebra-glm` crate.

## Steps to reproduce

**Cargo.toml**
[code]

**main.rs**
[code]

Having `v` defined, I expect that when I type `v.

[2021-05-31 14:02] Undin commented on #7280
@aleksandr-shevchenko Could you provide plugin version, IDE version, rust toolchain version, OS, please?
`Help | Create New Issue` action can help you.
Also, it would be great to get logs. You can find log file via `Help | Show Log in` actions. See https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files for more details

[2021-05-31 15:50] ortem opened #7282 "Liveness analysis ignores functions with built-in macro calls"
## Environment

* **IntelliJ Rust plugin version:** 0.4.148.3892-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (b0c818c5e 2021-04-16) x86_64-apple-darwin
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** macOS 11.2.3
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Liveness analysis does not analyze functions c

[2021-05-31 16:02] Undin opened #7283 "Document `Attach Cargo Project` action"
Currently, the plugin documentation contains info only about opening existing project via `Open` action. Although it's the most common case how to get a configured project model for Rust project in our IDEs, there are cases when a project is more complex and Rust crate is only part of such project.
The plugin provides `Attach Cargo Project` action to add almost any project directory as a separate

[2021-05-31 19:23] aleksandr-shevchenko commented on #7280
CLion 2021.2 EAP
Build #CL-212.3116.34, built on May 27, 2021
CLion EAP User
Expiration date: June 26, 2021
Runtime version: 11.0.11+9-b1460.1 amd64
VM: Dynamic Code Evolution 64-Bit Server VM by JetBrains s.r.o.
Windows 10 10.0
GC: G1 Young Generation, G1 Old Generation
Memory: 2000M
Cores: 8
Registry: run.processes.with.pty=TRUE
Non-Bundled Plugins: org.toml.lang (0.2.147.3871-211), org.rust.lan

[2021-05-31 20:07] Undin commented on #7280
@aleksandr-shevchenko Thanks!
The issue was fixed in #7259
The fix will be available in tomorrow [nightly build](https://plugins.jetbrains.com/plugin/8182-rust/docs/rust-quick-start.html#install-nightly) and in next stable build next week

[2021-05-31 20:07] #7280 closed

[2021-05-31 23:53] #7245 closed

[2021-06-01 02:27] timchenxiaoyu opened #7286 "mac clion rust can not into unix package"
![image](https://user-images.githubusercontent.com/9782796/120257973-cf769b00-c2c3-11eb-8918-3528b38dfddc.png)

[2021-06-01 08:33] Undin commented on #7286
Duplicate of #3957

Try to enable `org.rust.cargo.fetch.actual.stdlib.metadata` [experimental feature](https://plugins.jetbrains.com/plugin/8182-rust/docs/rust-faq.html#experimental-features) to make it work

[2021-06-01 08:33] #7286 closed

[2021-06-01 11:33] vlad20012 opened #7289 "Markdown code blocks should be considered as doctests"
## Environment

* **IntelliJ Rust plugin version:** 0.4.148.3892-211-nightly
* **Rust toolchain version:** 1.52.1 (9bc8c42bb 2021-05-09) x86_64-unknown-linux-gnu
* **IDE name and version:** IntelliJ IDEA 2021.1.1 Ultimate Edition (IU-211.7142.45)
* **Operating system:** Linux 5.8.0-53-generic
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description
There is no la

[2021-06-01 12:49] lem0nify opened #7290 "The external linter is always called with `--all-targets` flag, contrary to the appropriate setting"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** 1.54.0-nightly
* **IDE name and version:** IntelliJ IDEA Community 2021.1.1
* **Operating system:** Windows 10 x64

## Problem description

I'm not actually sure it isn't intentional but it looks like the external linter is always called with `--all-targets` flag even if checkbox **"Compile all proje

[2021-06-01 14:14] vlad20012 commented on #7290
Hmm, we run an external linter with `--tests` flag, not `--all-targets`. Just add `#[cfg(not(test))]` to the `#[panic_handler]`, this should help

[2021-06-01 15:48] trivigy commented on #2259
@Undin do you happen to know what is the state of this issue? Anyway to control this ordering via some configurations?

[2021-06-01 16:31] lem0nify commented on #7290
Okay, but still, maybe it's better to add some options for this to make it more explicit? If I do not use and do not intend to use tests in my project, why **always** call the linter with this flag? Do you plan to extend plugin configuration in future?

[2021-06-01 17:19] afetisov opened #7291 "Links to the online documentation are malformed for union types"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** 1.52.0 (88f19c6da 2021-05-03) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** Linux 5.4.0-72-generic
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

Using Quick Documentation on a type or its meth

[2021-06-01 18:01] afetisov opened #7292 "Wrong web links to Clippy lint online documentation"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** 1.52.0 (88f19c6da 2021-05-03) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1 (CL-211.6693.114)
* **Operating system:** Linux 5.4.0-72-generic
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

When a Clippy lint files, the lint description

[2021-06-02 11:07] Undin opened #7295 "Rust REPL doesn't work with recent evcxr_repl v0.10.0"
## Environment

* **IntelliJ Rust plugin version:** 0.4.148.3892-211-nightly
* **Rust toolchain version:** 1.53.0-nightly (42816d61e 2021-04-24) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1.2 RC Ultimate Edition (IU-211.7442.27)
* **Operating system:** macOS 10.15.6
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
I can pass only o

[2021-06-02 12:58] pfesenmeier opened #7297 "Configuration does not execute when 'cargo build' run in 'Before launch'"
## Environment

* **IntelliJ Rust plugin version:**
* 0.4.147.3871-211
* **Rust toolchain version:**
* rustc 1.52.1
* **IDE name and version:**
* Clion 2021.1.2
* **Operating system:**
* Windows 10 Pro Build 21390.1

## Problem description
I've included a 'cargo build' command in the 'Before launch' of my OpenOCD Download and Run configuration.
The cargo build command builds the project in WSL suc

[2021-06-02 16:48] Undin commented on #2084
Similar to #3692
Fixed in #3732

[2021-06-02 16:48] #2084 closed

[2021-06-02 17:07] RazgrizHsu commented on #6505
Can i set the `--nocapture` to the default option?

[2021-06-02 17:53] #7291 closed

[2021-06-02 20:47] #4709 closed

[2021-06-02 20:47] #5030 closed

[2021-06-02 20:47] #7204 closed

[2021-06-03 14:12] ortem commented on #4277
This seems to be fixed

[2021-06-03 14:12] #4277 closed

[2021-06-03 14:16] ortem commented on #5738
Could not reproduce. Probably, [cache invalidation](https://www.jetbrains.com/help/idea/invalidate-caches.html) will fix this problem. Please reopen if the problem persists.

[2021-06-03 14:16] #5738 closed

[2021-06-03 14:29] ortem opened #7302 "Type inference does not work properly with associated types"
## Environment

* **IntelliJ Rust plugin version:** 0.4.149.3898-212-nightly
* **Rust toolchain version:** 1.52.1 (9bc8c42bb 2021-05-09) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.2 EAP Ultimate Edition (IU-212.3724)
* **Operating system:** macOS 11.2.3
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

[code]

Related issue (probab

[2021-06-03 16:06] euri10 opened #7304 "errror with PyCharm debugger: /usr/bin/ld: cannot find -lpython3.9"
## Environment

* **IntelliJ Rust plugin version:**
`0.4.124.3871-211`
* **Rust toolchain version:**
`rustc 1.52.1 (9bc8c42bb 2021-05-09)`
* **IDE name and version:**
[code]
* **Operating system:**
`Linux 5.10.0-6-amd64`

## Problem description

while in Pycharm terminal this works:
[code]

note that the ` -L native=/home/lotso/.asdf/installs/python/3.9.4/lib` is automatically discovered

however

[2021-06-03 16:19] jonhoo commented on #7185
This issue ends up hitting a decent number of developers in environments where access to packages is restricted, and so packages for other targets may not be available at all, breaking IntelliJ's Rust integration completely. Can I give any more information to help fix this?

[2021-06-03 16:37] euri10 commented on #7304
ok I solved it passing `RUSTFLAGS=-L native=/home/lotso/.asdf/installs/python/3.9.4/lib` as an env variable, this was not that obvious, surely that is something that could be improved :)

[2021-06-03 16:57] #7238 closed

[2021-06-03 17:31] webern commented on #6908
Does this mean that a subset of derive macro code is currently considered (e.g. for code completion and missing-symbol highlighting?

For example, the Snafu derive macro produces structs which intellij-rust seems to be unaware of.

Would a minimal use case example of this and tracking issue be of any benefit?

[2021-06-03 18:12] lancelote opened #7305 ""Inspect Code" reports "Detached file" from excluded "target" directory"
## Environment

* **IntelliJ Rust plugin version:** 0.4.149.3901-212-nightly
* **Rust toolchain version:** 1.52.0-nightly (b3e19a221 2021-03-12) x86_64-apple-darwin
* **IDE name and version:** CLion 2021.2 EAP (CL-212.3888)
* **Operating system:** macOS 10.15.7
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

"Inspect Code" on the whole project reports "

[2021-06-03 18:32] lancelote opened #7306 ""Crate not found" after cache invalidation with local crates index enabled"
## Environment

* **IntelliJ Rust plugin version:** 0.4.149.3901-212-nightly
* **Rust toolchain version:** 1.52.0-nightly (b3e19a221 2021-03-12) x86_64-apple-darwin
* **IDE name and version:** CLion 2021.2 EAP (CL-212.3888)
* **Operating system:** macOS 10.15.7
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

After cache invalidation, I stuck with "Crate

[2021-06-04 11:40] Undin commented on #6908
@webern

Yep. Currently, the plugin takes into account only impl blocks generated by derive proc macro

I don't think that we need additional tracking issue only for that case because the current issue already contains a similar item: "take into account all items generated by custom derive macros". But an additional use-case can be useful indeed to check it during the corresponding implementation

[2021-06-04 12:48] QuarticCat opened #7309 "Can we make the settings of Rust shared across all project (editor-wide)"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** 1.52.1
* **IDE name and version:** CLion 2021.1.2-1
* **Operating system:** Arch Linux

## Problem description

I want to set `Rustfmt - Use rustfmt instead of built-in formatter` for all of my projects.

## Steps to reproduce

- Select `Rustfmt - Use rustfmt instead of built-in formatter`
- Create a

[2021-06-04 13:35] Undin commented on #7309
@QuarticCat you can set up default settings via settings opened from Welcome screen or via `File | New Project Settings | Preferences for New Projects`

[2021-06-04 13:38] QuarticCat commented on #7309
@Undin Thanks. That helps.

[2021-06-04 13:38] #7309 closed

[2021-06-04 18:49] Agrailag opened #7311 ""Invalid toolchain" error with WSL2"
## Environment

* **IntelliJ Rust plugin version:** 0.4.147.3871-211
* **Rust toolchain version:** 1.54.0-nightly (1c6868aa2 2021-05-27) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.2
* **Operating system:** Windows 10 10.0

## Problem description

I select cargo location, it show correct version, but also it show error about invalid toolchain location. So i can't create new p

[2021-06-04 19:04] Agrailag commented on #7311
Ok, i find out that i forgot to select experimental feature, but it would be nice to have more helpful error for this one.

[2021-06-05 07:30] jatin-cbs opened #7312 "No Rider "new solution" support"
## Environment

* **IntelliJ Rust plugin version: 0.4.147.3871-211**
* **IDE name and version: Rider 2021.1.3**
* **Operating system: Fedora/Arch Linux**

## Problem description

After installing the rust plugin, we have to create projects from cargo and then open it in Rider. There should be a Rust selection when hitting "New Solution" button in Rider. It should be similar to CLion so that it cre

[2021-06-05 10:08] Undin commented on #7311
Thanks for the report!
The issue will be automatically resolved when we turn on the corresponding feature by default.
Don't think we should add additional user-friendly messages for experimental features

[2021-06-05 11:34] aschmolck commented on #4631
I've had no luck getting IndexMap to work even after switching on the experimental `org.rust.cargo.evaluate.build.scripts` option mentioned above and invalidating the caches. As the indexmap author indicates, this appears to be a intellij-rust specific problem (https://github.com/bluss/indexmap/issues/148), vscode with rust-analyzer works fine. I have experienced similar issues with at least one o

[2021-06-05 17:35] wonbyte commented on #7295
I also am experiencing this problem.

[2021-06-06 11:03] vtimonin opened #7313 "Type inference doesn't work if function return type depends on impl Fn parameter type."
## Environment

* **IntelliJ Rust plugin version:** 0.4.148.3900-211-beta
* **Rust toolchain version:** 1.52.1
* **IDE name and version:** CLion 2021.1.2
* **Operating system:** Ubuntu 20.04.2 LTS

## Problem description
Type inference doesn't work if function return type depends on impl Fn parameter type.

## Steps to reproduce

The plugin can't infer type for s2 in the following code snippet:
[c

[2021-06-06 18:49] dima74 opened #7314 "Absolute imports with use group doesn't work in new resolve"
## Environment

* **IntelliJ Rust plugin version:** 0.4.149.3903-211-nightly
* **Rust toolchain version:** 1.51.0 (2fd73fabe 2021-03-23) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Linux 5.12.5-arch1-1
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
![image](https://user-images.githubuserco

[2021-06-06 20:29] mikevoronov commented on #7226
Any updates or workarounds? I tried to reinstall Idea, but the situation is still the same.

[2021-06-07 13:01] ralfbiedert commented on #7212
Just updated to `0.4.148.3911-211`; can confirm, this seems to be fixed. Thanks!

[2021-06-07 18:14] Undin commented on #4631
@aschmolck Could you provide code where the plugin doesn't work, please?

I've tried something very simple like
[code]

and it works, i.e. types are inferred and methods are suggested
![image](https://user-images.githubusercontent.com/2539310/121068581-22c17f80-c7d5-11eb-8a02-f7cf45cc1e32.png)

[2021-06-07 18:23] Undin commented on #7226
@mikevoronov could you provide logs from your instance of IntelliJ IDEA Ultimate, please? You can find them via `Help | Show log in Finder` action. See more about logs [here](https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files)

[2021-06-07 21:12] aschmolck commented on #4631
@Undin thanks, so it appears something in addition to plain indexmap usage is needed to trigger the problem -- I will try to boil it down to a small self-contained example where completion breaks. Is the above with the default IDE config, or did you enable `org.rust.cargo.evaluate.build.scripts`?

[2021-06-08 05:37] Undin commented on #4631
I enabled `org.rust.cargo.evaluate.build.scripts`. Otherwise, the plugin sees two definitions of `IndexMap` that breaks the analysis

[2021-06-08 08:05] MintBee opened #7319 "Auto indent insertion for struct is not working properly"
## Environment

* **IntelliJ Rust plugin version:** 0.4.148.3911-211
* **Rust toolchain version:** 1.52.1 (9bc8c42bb 2021-05-09) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
![Oh no](https://user-images.githubusercontent.com/60168

[2021-06-08 08:28] ortem opened #7320 ""Run/Debug as root" does not work with `cargo test` or without Build tool window"
## Environment

* **IntelliJ Rust plugin version:** 0.4.149

## Problem description
Currently, "Run as root" (introduced in #7113) is disabled in two scenarios:
* Executing `cargo test` (regardless Build tool window)
* Executing any Cargo command when Build tool window is disabled

These cases require error stream redirection which is not yet supported in `ElevationService`.
The corresponding issu

[2021-06-08 08:43] Undin commented on #6922
Fixed in latest IntelliJ IDEA 2021.2 EAP (212.3724.25)

[2021-06-08 08:43] #6922 closed

[2021-06-08 09:14] #7128 closed

[2021-06-08 15:32] PizzaCrust opened #7322 "Failure to expand `matches!`"
## Environment

* **IntelliJ Rust plugin version:** 0.4.149.3912-211-nightly
* **Rust toolchain version:** 1.54.0-nightly (35fff69d0 2021-06-06) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2021.1.2 Community Edition (IC-211.7442.40)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
Unable to expa

[2021-06-08 18:48] PizzaCrust commented on #7322
It seems to work on stable but it doesn't work on nightly for some reason

[2021-06-08 18:55] singalen opened #7323 "Support "Call hierarchy" function"
The "Call hierarchy" function in CLion is rarely heard of, but is super-useful when analyzing a complicated code.

Looks like the plugin already has everything that is needed, because "Find usages" for a function works already, and it is able to distinguish trait method and impl calls.

Thank you for the excellent plugin, btw.

[2021-06-09 07:54] #7295 closed

[2021-06-09 14:05] MintBee opened #7325 "Bad completion recommendation for `else` statement"
## Environment

* **IntelliJ Rust plugin version:** 0.4.148.3911-211
* **Rust toolchain version:** 1.52.1 (9bc8c42bb 2021-05-09) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.1.1 (CL-211.7142.21)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

I actually have no idea about what most Rustaceans are

[2021-06-09 15:26] #3582 closed

[2021-06-09 17:08] TheDutchMC opened #7327 "pub(crate) seen as private when used on modules within the same crate."
## Environment

* **IntelliJ Rust plugin version:** 0.3.146.3826-211
* **Rust toolchain version:** 1.52.1 (9bc8c42bb 2021-05-09) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2021.1 Community Edition (IC-211.6693.111)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** old

## Problem description
Modules annotated with `pub(cra

[2021-06-09 20:59] Undin commented on #7327
@TheDutchMC I can't reproduce the issue with the latest plugin version.
Could you update the plugin to the latest version, ensure that you use new name resolution engine (`Use new name resolution engine` option in `Preferences | Languages & Frameworks | Rust` settings) and check again, please?

[2021-06-09 21:21] TheDutchMC commented on #7327
Hey, thanks for your response.

I've since updated to the latest version of the Rust plugin (`0.4.148.3911-211`). The new name resolution engine was already enabled:
![image](https://user-images.githubusercontent.com/28569170/121431255-71a81a00-c979-11eb-8f4c-2764507c13ce.png)

Issue remains, though.

[2021-06-10 04:13] CAD97 commented on #7325
The general solution here is probably to prefer keyword suggestions when in a location said keyword is valid, and the suggestion is a "good match" (for some value of good match).

There are interesting edge cases, of course: a function in scope called `el`, if you type `ee` how much does that favor `else` as a completion over other functions, etc.

But in this _specific_ case, it's pretty clear th

[2021-06-10 05:46] MSxDOS commented on #4631
No change since then, still broken for `winapi`.

[2021-06-10 12:54] ortem commented on #5781
Oh, I forgot to update this ticket. The bug was fixed in CLion 2020.2 (almost a year ago) 😅
So now CLion renders C-style enums properly.

[2021-06-10 12:54] #5781 closed

[2021-06-10 13:34] JarvisCraft opened #7329 "TOML multi-line array false positive error"
## Environment

* **Toml/Rust plugin version:** 0.4.148.3911-211
* **Rust toolchain version:**  1.54.0-nightly
* **IDE name and version:** CLion 2021.1.2 Build #CL-211.7442.42
* **Operating system:** Ubuntu 21.04 x86_64

## Problem description

Toml permits breaking arrays over multiple lines which also includes array inside of inline tables.

However Toml plugin reports array breaking in dictiona

[2021-06-10 18:35] Lipen commented on #6340
Just wanted to submit the feature request, but this issue already exists.
Would be nice if "Implement Members" imported the necessary types up until their modules. For example, just `use std::fmt;` instead of `use std::fmt::{Display, Formatter, Result};`. The generated code would look like:
[code]
This would resolved all the problems with "already existing Result in the scope" and would unified th

[2021-06-11 06:30] krojew opened #7331 "Debug &str printing is non-deterministic on Windows"
## Environment

* **IntelliJ Rust plugin version:** 0.4.148.3911-211
* **Rust toolchain version:** 1.54.0-nightly (dbe459ded 2021-06-02) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

When trying to print &str variables, the result

[2021-06-11 07:29] Undin commented on #7331
@krojew Thanks for the report!
Unfortunately, at this moment msvc lldb doesn't know about Rust types, as a result, some pretty printers don't work as expected.
Specifically for this issue, we have a [hack](https://github.com/intellij-rust/intellij-rust/pull/7065) to make `str` rendering work.
Also, we are working on a proper fix on lldb side but it's a more complicated task, so no ETA. See #5632 a

[2021-06-11 07:33] izhangzhihao commented on #6100
Well, it seems that the code :

[code]

are shown as:

[code]

[2021-06-11 07:35] izhangzhihao commented on #6100
The release version:

![image](https://user-images.githubusercontent.com/23321756/92714397-d55ad380-f364-11ea-8aed-d386dce283af.png)

The nightly version:

![image](https://user-images.githubusercontent.com/12044174/121648855-87792480-caca-11eb-8fd2-507be0974775.png)

The code highlight are missing

[2021-06-11 07:38] izhangzhihao commented on #6100
As I see, the `PsiElement(<DOC_DATA>)` just as `PsiComment(<INNER_EOL_DOC_COMMENT>)`, is not structured, I could not analyze unstructured element and highlighting them.

[2021-06-11 07:45] izhangzhihao commented on #6100
But just for the issue https://github.com/izhangzhihao/intellij-rainbow-brackets/issues/483, the height issue got fixed(if the way we fix it is removing it), yes.

[2021-06-11 08:04] vlad20012 commented on #6100
@izhangzhihao hello!
I see you are not too familiar with Rust. The first screenshot is from the issue, but the second is your attempt to reproduce it. I guess you're doing it a bit wrong, and this is the reason you don't see the highlighting. Let me explain.

In Rust, there is a thing called `rustdoc`. It's a kind of documentation for rust code parts (functions, structs, modules, etc).
[code]

The

[2021-06-11 08:05] vlad20012 commented on #6100
@izhangzhihao
Could you please clarify your issue a little (https://github.com/izhangzhihao/intellij-rainbow-brackets/issues/483)?

[2021-06-11 08:40] izhangzhihao commented on #6100
Thanks for your tips!

After I set up the cargo environment, it still does not work, am I missing something?

Cargo.toml:

[code]

The sample code under `src/lib.rs`.

[code]

The project attached as a cargo project by Intellij:

[code]

And by the way, I tried the language injection:

![image](https://user-images.githubusercontent.com/12044174/121658187-a9c37000-cad3-11eb-88a4-943c9cfcc0c2.png)

[2021-06-11 08:46] vlad20012 commented on #6100
Yes, `crate-type = ["staticlib"]` line in `Cargo.toml` also disabled doctests. It will work if you just remove it

[2021-06-11 08:46] izhangzhihao commented on #6100
![image](https://user-images.githubusercontent.com/12044174/121659135-9369e400-cad4-11eb-91cb-97b42ea1241c.png)

[2021-06-11 08:50] izhangzhihao commented on #6100
I don't know if I understand it right, every line of code is a `PsiElement(<DOC_DATA>)`?

![image](https://user-images.githubusercontent.com/12044174/121659515-f3608a80-cad4-11eb-9504-0f0657a5cf86.png)

[2021-06-11 08:51] izhangzhihao commented on #6100
I still couldn't know how the internal `DOC_DATA`  highlighted...

[2021-06-11 08:53] vlad20012 commented on #6100
Yes, `PsiElement(<DOC_DATA>)`. Rust highlighting inside it is a [`language injection`](https://www.jetbrains.com/help/idea/using-language-injections.html) (via `RsDoctestLanguageInjector`).

[2021-06-11 08:56] izhangzhihao commented on #6100
Do you have no idea why the first element of the rust doc will be highlighted wrongly?

[2021-06-11 09:02] vlad20012 commented on #6100
Well, I see some weird highlighting on your [screenshot](https://github.com/intellij-rust/intellij-rust/issues/6100#issuecomment-859396621) (in 3 places), but I have no idea what is it. I mean, I know nothing about your plugin, I don't know what it highlights and how it highlights. If you can tell me more about this, I think I can answer the question :)

[2021-06-11 09:10] izhangzhihao commented on #6100
By default(the Rust case), we will get matched brace pair [PairedBraceMatcher](https://github.com/izhangzhihao/intellij-rainbow-brackets/blob/2020.3/src/main/kotlin/com/github/izhangzhihao/rainbow/brackets/BracePairs.kt#L25)

And using the default visitor to highlighting the brackets [DefaultRainbowVisitor](https://github.com/izhangzhihao/intellij-rainbow-brackets/blob/2020.3/src/main/kotlin/com/g

[2021-06-11 09:13] izhangzhihao commented on #6100
I guess what the screenshot says is: the first element of the code snippet and the last element were wrongly recognized as a pair. That could explain why the first element and the last was yellow because the first level of brackets are yellow by default.

[2021-06-11 09:32] #7196 closed

[2021-06-11 09:44] izhangzhihao commented on #6100
After debugging the sample code:

[code]

I see some keyword  and brackets appeared, might related to some string manipulation

https://github.com/intellij-rust/intellij-rust/blob/2cdcc5f27d68a9c3d92f035265ce96a1b2e4adcc/src/main/kotlin/org/rust/ide/injected/RsDoctestLanguageInjector.kt#L138-L140

https://github.com/intellij-rust/intellij-rust/blob/2cdcc5f27d68a9c3d92f035265ce96a1b2e4adcc/src/main

[2021-06-11 10:15] vlad20012 commented on #6100
Well, yes, the injected code is preprocessed a bit and there are invisible parts. You can see the full text using `Edit Rust Fragment` intention action in alt+enter menu:
![image](https://user-images.githubusercontent.com/3221931/121671274-04020800-cab7-11eb-8edb-5cc97a5caf48.png)

The bug may be related to these invisible braces somehow

[2021-06-11 10:33] vlad20012 commented on #6100
@izhangzhihao I think I found the truth!

I tried to highlight left and right braces by myself. Here is the result:
![image](https://user-images.githubusercontent.com/3221931/121673202-53493800-cab9-11eb-906a-14b31f6c01b9.png)

Haha!

I think the bug is not in your plugin. It's either in our plugin or in the IntelliJ platform.

[2021-06-11 11:11] aleksandr-shevchenko commented on #7280
GoLand 2021.2 EAP
Build #GO-212.4037.52, built on June 9, 2021
GoLand EAP User
Expiration date: July 9, 2021
Runtime version: 11.0.11+9-b1481.1 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
Windows 10 10.0
GC: G1 Young Generation, G1 Old Generation
Memory: 2028M
Cores: 12
Registry: ide.completion.variant.limit=500, debugger.watches.in.variables=false, suggest.all.run.configurations.from.c

[2021-06-11 11:43] Undin commented on #7280
@aleksandr-shevchenko JFTR debugging in GoLand is available only with https://plugins.jetbrains.com/plugin/12775-native-debugging-support plugin.
But thanks for the exception, I will take a look

[2021-06-11 11:48] josem435 opened #7332 "Wrong no named argument error highlighting with `format_args_capture` feature"
## Environment

* **IntelliJ Rust plugin version:** `0.4.148.3911-211`
* **Rust toolchain version:** `1.54.0-nightly-2021-05-11-x86_64-pc-windows-msvc`
* **IDE name and version:** `PyCharm 2021.1.2 (Community Edition) (PC-211.7442.45)`
* **Operating system:** `Windows 10 10.0.19042 Build 19042`
* **Macro expansion engine:** `new`
* **Name expansion engine:** `new`

## Problem description

`format_

[2021-06-11 11:53] aleksandr-shevchenko commented on #7280
Yes, my mistake, after some times install/deinstall goland eap/night...

[2021-06-11 12:03] vlad20012 commented on #6100
The fix looks very trivial, so I fixed this is #7333. But I believe it is a bug in the platform. For example, I guess the same could be reproduced for Java (with your `rainbow-brackets` plugin:
[code]

Or even for Java without any extra plugins:

[code]

[2021-06-11 15:03] xenoterracide opened #7336 "plugin getting definition from wrong source"
## Problem Description

When I added `dialoguer::Term` to my imports it now things that `Validator` is coming from `dialoguer`

![ide screenshot of problem](https://user-images.githubusercontent.com/5517/121706694-7c5ad000-ca9b-11eb-8a9d-c33aa45968b7.png)

## Steps to reproduce

https://github.com/xenoterracide/brix-rust/blob/315f835/crates/brix_commands/src/copy_command.rs

## Environment

* **In

[2021-06-11 15:48] izhangzhihao commented on #6100
So true, Great minimization.

[2021-06-11 16:25] Undin opened #7338 "Support implicit named arguments in formatting macros"
RFC: https://rust-lang.github.io/rfcs/2795-format-args-implicit-identifiers.html

Small example:
[code]

Note, `format_args_capture` is current feature name in rustc 1.54.0-nightly

* [ ] don't produce false-positives for name arguments #7332
* [ ] name resolution
* [ ] completion
* [ ] take into account in analysis (unused variables, for example)

[2021-06-11 16:57] webern commented on #4651
There are two things that keep making me think I should switch to VSCode.

1) Full support for remote development like C++ in CLion.
2) Derive/proc-macro expansion.

derive/proc-macro expansion appears to be getting very, very close. It would be nice to know where remote development lands on the roadmap.

[2021-06-11 19:16] #7048 closed

[2021-06-11 19:16] #7331 closed

[2021-06-11 19:16] #7203 closed

[2021-06-11 19:56] Kobzol commented on #7338
I started working on name resolution, I'll send a PR soon.

[2021-06-11 21:41] Kobzol commented on #7338
@Undin I wanted to provide a reference provider that would resolve named arguments:
[code]
I started by refactoring the code from the format macro annotator, which basically parses the formatting string with a regex and then applies highlighting to it. But now that I see all of the things that could be supported (name resolution, completion, dataflow analysis, unresolved reference etc.), I wonder

[2021-06-12 08:05] tmuntaner commented on #6208
@ortem I'm currently also experiencing the same issue:

![Screenshot from 2021-06-12 09-59-41](https://user-images.githubusercontent.com/318856/121769662-2eaa9a00-cb65-11eb-9c82-cf474bdac454.png)

Here is my log: [idea.log](https://github.com/intellij-rust/intellij-rust/files/6641861/idea.log)

Thanks

[2021-06-12 12:26] Kobzol commented on #3296
Works in the latest version of the plugin.

[2021-06-12 12:26] #3296 closed

[2021-06-12 12:30] Kobzol commented on #3208
Works in the latest version of the plugin.

[2021-06-12 12:30] #3208 closed

[2021-06-12 12:30] Kobzol commented on #3207
Works in the latest version of the plugin.

[2021-06-12 12:30] #3207 closed

[2021-06-12 12:32] Kobzol commented on #3170
Works in the latest version of the plugin.

[2021-06-12 12:32] #3170 closed

[2021-06-12 12:33] Kobzol commented on #3165
`libc::msghdr` is auto-completed and resolved in the latest version of the plugin.

[2021-06-12 12:33] #3165 closed

[2021-06-12 12:43] Kobzol commented on #2595
The type is correct in the latest version of the plugin.

[2021-06-12 12:47] Kobzol commented on #3721
Works in the latest version of the plugin.

[2021-06-12 12:47] #3721 closed

[2021-06-12 15:56] Diego7167 commented on #6208
Oh wow I completely forgot about this issue. I don't have the original project anymore so I created a basic wasm project and It compiles fine. I know the rust plugin has gone through some updates since then, so one of them may have fixed it. Besides that I don't know how I can help.

[2021-06-13 13:50] HTG-YT opened #7340 "Code Insight does not Work with Re-exports Depending on a `#[cfg(...)]` Attribute"
## Environment

* **IntelliJ Rust plugin version:** 0.4.149.3914-212-nightly
* **Rust toolchain version:** 1.55.0-nightly (24bdc6d73 2021-06-12) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.2 EAP (CL-212.3724.2)
* **Operating system:** Windows 10 21H1
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

Code insight does not work when two mo

[2021-06-13 13:51] HTG-YT commented on #7340
Possible suggestion: Probably we can have some sort of an "environment" for a project, specifying some `#[cfg(...)]` values so that they can be checked in analysis?

[2021-06-13 18:25] shravanshetty1 opened #7342 "Generate stubs for trait implementation"
https://www.jetbrains.com/go/guide/tips/implement-an-interface/

[2021-06-13 22:41] Shadowblitz16 opened #7343 "Disable tests"
## Environment

* **IntelliJ Rust plugin version:** 0.4.148.3911-211
* **Rust toolchain version:** rustc 1.52.1 (9bc8c42bb 2021-05-09)
* **IDE name and version:** idea comunity
* **Operating system:** kubuntu 20.04

## Problem description
I am getting..
[code]

when trying to follow this...
https://os.phil-opp.com/freestanding-rust-binary/

## Steps to reproduce

- create a new project
- add these

[2021-06-14 04:29] HTG-YT opened #7344 "`java.lang.NoSuchMethodError` when attempting to update the plugin in 2021.2 EAP"
## Environment

* **IntelliJ Rust plugin version:** 0.4.149.3920-212-nightly
* **Rust toolchain version:** 1.55.0-nightly (f586d79d1 2021-06-13) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.2 EAP (CL-212.4037.2)
* **Operating system:** Windows 10 21H1
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

A `java.lang.NoSuchMethodError` is thr

[2021-06-14 08:44] Kobzol commented on #7342
Would something like this work for you? https://github.com/intellij-rust/intellij-rust/pull/5339#issuecomment-727628728

[2021-06-14 09:55] ortem commented on #4924
I cannot reproduce this issue anymore on CLion 2021.1. Probably, it was fixed by some of the recent CLion's LLDB updates. So now stepping into stdlib code or setting breakpoints in stdlib sources should work fine with LLDB, on both macOS and Linux.

@RiseAndCry That's interesting. I've tried to debug a very simple `dylib` crate, and stepping into stdlib worked as expected. Could you please open a

[2021-06-14 09:55] #4924 closed

[2021-06-14 10:25] shravanshetty1 commented on #7342
Yes exactly, this saves alot of time and i find this feature highly useful while using intellij to code other languages.

[2021-06-14 10:26] Kobzol commented on #7342
@vlad20012 Could you please take another look at the mentioned PR? Thanks.

[2021-06-14 12:34] ortem commented on #6208
@tmuntaner Thank you for providing the log. The problem is still not clear to me. It would be helpful to know some additional things:

1. Did you install `wasm-pack` using `$ cargo install wasm-pack`? Could you please provide the output of `$ ls -l /home/tmuntaner/.cargo/bin/wasm-pack` and `$ file /home/tmuntaner/.cargo/bin/wasm-pack`?
2. Please check if the problem occurs on a fresh WebAssembly p

[2021-06-14 12:45] HTG-YT commented on #7344
Looks like it is related to this line in the source code:
https://github.com/intellij-rust/intellij-rust/blob/master/src/main/kotlin/org/rust/ide/dynamic/RsDynamicPluginListener.kt#L16

[2021-06-14 14:09] maxammann commented on #6228
This is another way which works fine with this plugin: https://rust-lang.github.io/rustup/overrides.html#the-toolchain-file

[2021-06-14 19:03] webern commented on #6908
Here is the use-case:

Cargo.toml:

[code]

main.rs

[code]

Problem:

![image](https://user-images.githubusercontent.com/6260372/121945000-20e14a00-cd08-11eb-8249-a0e6c728b0e3.png)

Desired behavior: code completion should be available for the struct `AlwaysError`:

![image](https://user-images.githubusercontent.com/6260372/121945213-60a83180-cd08-11eb-9413-077c12de7f80.png)

Desired behavior: co

[2021-06-15 08:04] mikevoronov commented on #7226
[code]

[2021-06-15 08:17] Undin commented on #7226
@mikevoronov let's try to disable all non bundled plugins except Rust and Toml, especially, `PowerShell` plugin that throws exception according to your logs

[2021-06-15 08:33] mikevoronov commented on #7226
@Undin thank you, the problem was in the [daedalus](https://plugins.jetbrains.com/plugin/9287-daedalus-support) plugin.

[2021-06-15 08:33] #7226 closed

[2021-06-15 08:40] Undin commented on #7226
Glad we found the cause of the problem

Yeah, it's the cost of IntelliJ architecture. On the one hand, it allows plugins to interact with each other. On the other hand, each plugin can break another one and sometimes it's not obvious how exactly

[2021-06-15 08:43] mikevoronov commented on #7226
I see, thank you for elaboration about this.

[2021-06-15 11:34] Zokol commented on #7311
I ran into this issue after updating rustup and cargo on WSL2.

[code]

![image](https://user-images.githubusercontent.com/1899518/122044387-1c3e9380-cde5-11eb-90da-a9cc7b01c8cc.png)

[2021-06-15 18:16] thechubbypanda commented on #6547
Issue still prevalent, can also be seen in [breakout.rs](https://github.com/bevyengine/bevy/blob/main/examples/game/breakout.rs) in Bevy.

[2021-06-15 21:02] thechubbypanda commented on #3987
This issue still exists prevalently, is it being looked into at all?
[code]
with
`rustc 1.52.1 (9bc8c42bb 2021-05-09)`

[2021-06-16 01:50] davyzhu opened #7350 "Box<[T]> and Box<[T; N]> mismatched types"
## Environment

* **IntelliJ Rust plugin version:**
*  0.4.151.3973-211-nightly
* **Rust toolchain version:**
* Rust 1.52
* **IDE name and version:**
* Pycharm 2021.1.2
* **Operating system:**
* Win 10

## Problem description
Copy source from https://doc.rust-lang.org/stable/std/primitive.slice.html#examples-87
[code]
Compile success, but Pycharm editor will show an error, is it a bug?
![image](ht

[2021-06-16 04:47] #7292 closed

[2021-06-16 08:05] Kobzol commented on #5032
@Undin PSA: or_patterns will be stabilized in Rust [1.53](https://github.com/rust-lang/rust/blob/master/RELEASES.md#version-1530-2021-06-17), next stable release that will be out tomorrow.

[2021-06-16 08:11] Undin commented on #5032
@Kobzol Thanks!

@ortem I suppose the remaining part of the support is related to your subsystems

[2021-06-16 11:55] Redfire75369 opened #7354 "Poor Intellisense on Large Modules"
## Environment

- IntelliJ Rust Plugin Version: `0.4.148.3911-211`
- Rust Toolchain Version: `rustc 1.51.0 (2fd73fabe 2021-03-23)`
- IDE Name and Version: CLion 2021.1.2
- Operating system: Windows 10

## Problem Description
When using large modules, little to no intellisense is provided for those modules. This makes it difficult to import the correct functions, enums, constants, or structs (Colle

[2021-06-16 12:31] Undin commented on #7344
@HTG-YT thanks for the report!
Looks like it's a platform issue. I will take a look

[2021-06-16 12:35] Undin commented on #7311
@Zokol Is `org.rust.wsl` [experimental feature](https://plugins.jetbrains.com/plugin/8182-rust/docs/rust-faq.html#experimental-features) enabled?

[2021-06-16 12:37] Zokol commented on #7311
Thanks, this resolved the issue!

[2021-06-16 13:29] #3181 closed

[2021-06-16 14:01] Kobzol commented on #2538
Works in the latest version of the plugin. Specify Type Explicitly correctly inserts `PlainDecorator<Stdout>`.

[2021-06-16 14:07] Kobzol commented on #3654
Works with the latest version of the plugin.

[2021-06-16 14:07] #3654 closed

[2021-06-16 15:01] Kobzol commented on #6517
I wonder if the current rename conflict detector behaviour makes sense in Rust.
Right now, the detector searches for clashes between variables and parameters together, and it considers binding clashes to be errors:
[code]

Instead, I think that it makes sense to perform two types of checks:
1) Check duplicated bindings (in patterns, but primarily parameter lists)
[code]
2) Check that there is no o

[2021-06-16 16:29] #6303 closed

[2021-06-17 10:38] afetisov commented on #7354
It's not an issue with performance, it's an issue with name resolution and macro handling. Specifically, the relevant module has the following structure:

[code]

You can see that it's a number of imports from `mozjs_sys::jsapi`. Ok, let's look how that module is defined.

[code]

So the imports that you're after are included at build time from an autogenerated bindings file. In fact, that file do

[2021-06-17 11:54] afetisov commented on #7343
You're getting the error from rustc, which means that there is an error in your project. I cannot tell you which error is that, since the supposedly minimal example that you provided doesn't actually reproduce your error (but it does produce a linker error since you didn't define an entry point). However, the most likely reason is that one of your dependencies (probably even your library crate) de

[2021-06-17 12:05] vlad20012 commented on #7290
@lem0nify, yes, I think it's reasonable

[2021-06-17 12:19] afetisov commented on #7249
There could be a destructuring pattern in the binding, and an IDE should provide autocompletion for that, so the popup kind of makes sense, but it shouldn't fire as soon. The full autocompletion prompt should only appear once the binding is definitely more complex than an identifier, or if explicitly called for.

[2021-06-17 15:06] jwilson8767 commented on #7311
I am also getting this message in IntelliJ IDEA, and I have enabled `org.rust.wsl`.

IntelliJ IDEA 2021.1.2 (Ultimate Edition)
Build #IU-211.7442.40, built on May 31, 2021
Runtime version: 11.0.11+9-b1341.57 amd64
VM: Dynamic Code Evolution 64-Bit Server VM by JetBrains s.r.o.
Windows 10 10.0
GC: ParNew, ConcurrentMarkSweep
Memory: 4933M
Cores: 8
Registry: terminal.buffer.max.lines.count=50000
Non

[2021-06-17 17:41] #5815 closed

[2021-06-17 17:41] #7213 closed

[2021-06-17 17:41] #6937 closed

[2021-06-17 18:34] Shadowblitz16 commented on #7343
there is not error I can compile it fine through the terminal

[2021-06-17 19:51] afetisov commented on #7343
CLion doesn't perform any tests when you Build the project. It directly calls `cargo build` with some extra command-line arguments specified by the run configuration. The error that you posted also looks exactly like a compiler error, CLion lints errors are provided exclusively within the editor.

The minimal example that you provided also doesn't trigger the error you specified on a clean CLion p

[2021-06-17 23:07] davyzhu opened #7359 "Click std::iter::Iterator's find method jump to core::slice::iter's find"
## Environment

* **IntelliJ Rust plugin version:**
* Latest
* **Rust toolchain version:**
* Rust 1.52
* **IDE name and version:**
* Pycharm 2021.1.2
* **Operating system:**
* Win 10

## Problem description
Copy source from https://doc.rust-lang.org/stable/std/iter/trait.Iterator.html#examples-13
[code]
Hold Ctrl and left click "find", it will jump to  wrong source code(core::slice::iter's find),

[2021-06-18 07:38] ta32 opened #7361 "Clion Rust false positive compile error type placeholder `_` is not allowed"
## Environment
* **IntelliJ Rust plugin version:** 0.4.148.3911-211
* **Rust toolchain version:** 1.53.0 (53cb7b09b 2021-06-17) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
False positive compile error

## Steps to reproduce
examp

[2021-06-18 10:15] aleksandr-shevchenko opened #7363 "download the debugger when code is not open but pressed Shift-F9"
I noticed this feature in GoLand EAP.
If a rust-project is open in the environment, and a file with a breakpoint is open, then pressing Shift-F9 will start debugging.

If you stop debugging, close the opened file and the project tree, i.e. to have a "bare" GoLand window.
Close GoLand.
Run GoLand and open the project (or run "goland ." it in the rust-project directory)
Then, with the "bare" environ

[2021-06-18 11:42] afetisov commented on #7325
Looks like a non-issue to me. Typing out `else` is barely more work than `el` + completion. The basic problem is that it's unclear what rules could be used to distinguish your intention from a perfectly valid if-block followed by a statement. Considering that most Rust statements can also be used as expressions, prioritizing keywords would mean that any identifier which has a common prefix with "i

[2021-06-18 18:46] JarvisCraft commented on #2231
Actually, this approach seems to work for literals themselves:

![image](https://user-images.githubusercontent.com/7693005/122604386-8e7dd500-d07e-11eb-9591-05c3825d4364.png)

[2021-06-18 20:11] Undin opened #7365 "Support items generated by snafu derive macro"
Here is the use-case:

Cargo.toml:

[code]

main.rs

[code]

Problem:

![image](https://user-images.githubusercontent.com/6260372/121945000-20e14a00-cd08-11eb-8249-a0e6c728b0e3.png)

Desired behavior: code completion should be available for the struct `AlwaysError`:

![image](https://user-images.githubusercontent.com/6260372/121945213-60a83180-cd08-11eb-9413-077c12de7f80.png)

Desired behavior: co

[2021-06-18 20:12] Undin commented on #6908
@webern Thank you for your example. I've filed a separate issue #7365 with it

[2021-06-19 08:27] yipinliu opened #7367 "CLion failed to sync project after cargo home and rustup home changed"
## Environment

* **IntelliJ Rust plugin version:** 0.4.148.3911-211
* **Rust toolchain version:** stable-x86_64-pc-windows-msvc / rustc 1.53.0
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
After moving the cargo home and rustup home from the default dir

[2021-06-19 16:40] Kobzol commented on #5608
@Undin I started implementing this inspection, but I'm not sure how to properly check if a (sub-)path resolves to something. For example, if I have a path `a::b::c`, I need to check whether `c` resolves to the same thing as `a::b::c`. However, it's actually not so simple to resolve only the path `c` (at least to my knowledge), since the resolve engine will always take its qualifiers into account.

[2021-06-19 17:37] sum-elier opened #7370 "Duplicate test functions aren't marked as duplicates"
## Environment

* **IntelliJ Rust plugin version:** 0.4.150.3932-211-nightly
* **Rust toolchain version:** 1.55.0-nightly (ce1d5611a 2021-06-18) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

Duplicate test functions aren't marked

[2021-06-19 18:02] webern commented on #7365
Thank you for transferring this to an issue!

[2021-06-19 18:19] sum-elier opened #7371 "Intermediate chained `await` aren't highlighted when caret over `async`/`await`"
## Environment

* **IntelliJ Rust plugin version:** 0.4.150.3932-211-nightly
* **Rust toolchain version:** 1.55.0-nightly (ce1d5611a 2021-06-18) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

Positioning the caret over the `async`

[2021-06-19 18:45] erikbg7 commented on #6722
Updating IDE to 2021 version and Rust plugin to the last version solved the issue.

[2021-06-19 23:15] sum-elier opened #7372 "Pattern in `matches!` and `assert_matches!` isn't semantically highlighted"
## Environment

* **IntelliJ Rust plugin version:** 0.4.150.3935-211-nightly
* **Rust toolchain version:** 1.55.0-nightly (ce1d5611a 2021-06-18) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

Pattern in `matches!` and `assert_match

[2021-06-20 11:43] #1323 closed

[2021-06-20 11:49] anatawa12 opened #7375 "Running specified test failed with 'There are multiple `clap` packages in your project' project"
## Environment

* **IntelliJ Rust plugin version:** 0.4.148.3911-212
* **Rust toolchain version:** 1.52.1 (9bc8c42bb 2021-05-09) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.2 EAP Ultimate Edition (IU-212.4037.9)
* **Operating system:** macOS 11.4
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

If there's some libraries with same v

[2021-06-20 13:05] #7371 closed

[2021-06-20 14:21] sum-elier opened #7376 ""Move Statement Up/Down" doesn't work for statements inside a block expression as parameter"
## Environment

* **IntelliJ Rust plugin version:** 0.4.150.3936-211-nightly
* **Rust toolchain version:** 1.55.0-nightly (ce1d5611a 2021-06-18) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

Trying to move statements inside an exp

[2021-06-21 00:19] Sixmorphugus commented on #6226
Same for me. Invalidating the caches and restarting CLion hasn't worked.

[2021-06-21 10:01] iamwwc commented on #7203
`To turn it on, enable org.rust.wsl experimental feature`, Where I can enable this feature :) @lancelote

[2021-06-21 10:03] Undin commented on #7203
@iamwwc https://plugins.jetbrains.com/plugin/8182-rust/docs/rust-faq.html#experimental-features

[2021-06-21 10:37] MintBee opened #7380 "Can't infer the type of value when retrieve value from 2d vec (Vec<Vec<T>>)"
## Environment

* **IntelliJ Rust plugin version:** 0.4.148.3911-211
* **Rust toolchain version:** 1.53.0 (53cb7b09b 2021-06-17) x86_64-pc-windows-msvc
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
I'm working with a simple struct that has 2d vector as

[2021-06-21 10:57] #7372 closed

[2021-06-21 13:06] #5397 closed

[2021-06-21 14:32] afetisov opened #7382 "Convert impl Trait to type parameter works incorrectly with const generics"
## Environment

* **IntelliJ Rust plugin version:** 0.4.149.3939-211
* **Rust toolchain version:** 1.53.0 (53cb7b09b 2021-06-17) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Linux 5.4.0-74-generic
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

If a function has const generic parameters and

[2021-06-21 17:58] #6823 closed

[2021-06-22 00:22] #7359 closed

[2021-06-22 00:23] davyzhu commented on #7359
my mistake,
![image](https://user-images.githubusercontent.com/149704/122843926-1e4ba980-d333-11eb-8f9b-622efe3ed905.png)
The macro does expand to "find" function.

[2021-06-22 08:27] rustbomb opened #7385 "Toggle feature checkbox response is slow"
## Environment

* **IntelliJ Rust plugin version:**   0.4.149.3939-211
* **Rust toolchain version:** 1.53
* **IDE name and version:** CLion 2021.1.2
* **Operating system:**  macOS Mojave 10.14.6

## Problem description

Toggle  feature checkbox response is slow.
![2021-06-22 16 12 04](https://user-images.githubusercontent.com/437330/122890509-51635c80-d376-11eb-9206-992872ddafd0.gif)

## Steps to

[2021-06-22 08:56] vlad20012 commented on #7385
This is a known problem. Unfortunately, we can't fix this in the plugin due to the IntelliJ platform limitations... The only possible solution is to move this UI (with checkboxes) to a separate window.

There is a workaround - you can change "Autoreparse delay" option in `File | Settings | Editor | Code Editing` to some lower value, for example, 100ms. This fixes slow checkbox response, but this a

[2021-06-22 10:38] afetisov opened #7386 "Incorrect formatting of free-floating comments in inline modules"
## Environment

* **IntelliJ Rust plugin version:** 0.4.149.3939-211
* **Rust toolchain version:** 1.53.0 (53cb7b09b 2021-06-17) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Linux 5.4.0-74-generic
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

Consider the following code 1.

[code]

Callin

[2021-06-22 10:58] ihciah opened #7387 "Run test in failure when module name is rust keyword"
## Environment

* **IntelliJ Rust plugin version:** 0.4.148.3911-211
* **Rust toolchain version:** v1.53.0 stable
* **IDE name and version:** CLion 211.7442.42
* **Operating system:** MacOS 11.2.3 (20D91)

## Problem description
Clink run icon on test will result in failure if file name is rust keywords(like struct.rs, enum.rs or type.rs)

## Steps to reproduce

Create a file named struct.rs and w

[2021-06-22 12:34] harutyundr commented on #5422
Is there any reason Debugging is not supported in other Pro IDEs? I own PhpStorm license and would like to develop my CLI tools using Rust.

[2021-06-22 17:03] Kobzol commented on #7387
What error are you getting?
I tried it locally and it seems to work for me:
[code]
The IDE invokes
[code]
and the test works.

[2021-06-22 17:21] Kobzol commented on #2551
Works in the latest version of the plugin (with new name resolution).

[2021-06-22 17:21] #2551 closed

[2021-06-22 17:22] Kobzol commented on #4945
Works in the latest version of the plugin.

[2021-06-22 17:22] #4945 closed

[2021-06-22 17:27] Kobzol commented on #5839
Works in the latest version of the plugin.

[2021-06-22 17:27] #5839 closed

[2021-06-22 18:33] vlad20012 commented on #7380
Work for me, on a simple example:
![image](https://user-images.githubusercontent.com/3221931/122980410-43770100-d3a1-11eb-98ae-3df7dc44fb9b.png)

Could you please write a minimal reproducible example based on a hello-world project?

[2021-06-22 18:38] vlad20012 commented on #7367
In the `Sync` tool window you see the command that IntelliJ Rust plugin tries to execute. Could you please try to execute this command (`E:/caches/.cargo/bin/cargo.exe metadata --verbose .........`) in the terminal manually?

[2021-06-22 18:42] vlad20012 commented on #7322
Fixed by #7373

[2021-06-23 02:43] yipinliu commented on #7367
@vlad20012 This command executes successfully in the terminal.

[2021-06-23 05:18] #7322 closed

[2021-06-23 07:17] Kobzol commented on #4092
@avrong I wanted to add a quick fix that would add a crate to `Cargo.toml` from an unresolved `use` import or `extern crate` declaration. However, to access the local crate index from `RsUnresolvedReferenceInspection`, I would need access to the `toml` crate. Should this quick fix instead be in the `toml` crate?

[2021-06-23 09:18] ortem commented on #2561
This issue was fixed by #4537

[2021-06-23 09:18] #2561 closed

[2021-06-23 09:22] ihciah commented on #7387
In my case the module name is the same as the file name which is a keyword.
(I'm sorry and I should describe the problem as "module name is rust keyword" instead of "file name is rust keyword")

The command executed is(some project names are hidden):
[code]

If I execute the command manually, it matches nothing, which maybe the cause of IDE showing error(The error is "Test framework quit unexpecte

[2021-06-23 10:18] ortem opened #7389 "Unresolved methods from STM32 crates"
## Environment

* **IntelliJ Rust plugin version:** 0.4.149.3903-211-nightly
* **Rust toolchain version:** 1.52.1 (9bc8c42bb 2021-05-09) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1.2 Ultimate Edition (IU-211.7442.40)
* **Operating system:** macOS 11.2.3
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

Original issue: https://yout

[2021-06-23 12:05] Kobzol commented on #7387
Oh, I didn't realize that you're using raw identifiers, and I was wondering how the heck are you able to include such files :D
I created a [PR](https://github.com/intellij-rust/intellij-rust/pull/7390) that tried to fix this.

[2021-06-23 12:09] Kobzol commented on #4763
@ortem It would be nice if these commands could be added automatically by the plugin. If you agree, I try to can send a PR.

[2021-06-23 13:47] Kobzol commented on #7376
It's not actually caused by `async` blocks, but by the block being inside an argument list. It also doesn't work here:
[code]

[2021-06-23 13:49] sum-elier commented on #7376
I'll update the issue title to be accurate and include your example.

[2021-06-23 14:33] bss03arg commented on #7389
HI

I have done with following:

Enable org.rust.cargo.evaluate.build.scripts option in Help | Find Action | Experimental Features dialog
Invoke Refresh Cargo Projects action from Cargo tool window

but 'split' method is always unresolved..

:-(

thanks!

[2021-06-23 14:59] qiujiangkun opened #7394 "Cannot handle auto-import when crate name has the same name as module name"
## Environment

* **IntelliJ Rust plugin version:** 0.4.149.3939-211
* **Rust toolchain version:** 1.55.0-nightly (a85f584ae 2021-06-16) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Linux 5.10.42-1-manjaro
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
When I auto-import `futures::AsyncWrit

[2021-06-23 15:12] kumbayo commented on #7260
I think this should be solved with the changes made by @Kobzol in #7358.
I could not reproduce the error with the current source code from Git.

[2021-06-23 15:14] Kobzol commented on #7260
Oh, right, this was actually fixed even sooner in https://github.com/intellij-rust/intellij-rust/pull/7267, but I forgot to mark this issue :sweat_smile: Thanks for reminding me!

[2021-06-23 15:14] #7260 closed

[2021-06-23 15:34] ortem commented on #7389
@bss03arg Please check that `Use new engine` is selected in `File | Settings | Languages & Frameworks | Rust | Expand declarative macros` (as it should be by default)

[2021-06-23 17:21] afetisov opened #7396 "Incorrect results of "Flatten use statements""
## Environment

* **IntelliJ Rust plugin version:** 0.4.149.3939-211
* **Rust toolchain version:** 1.53.0 (53cb7b09b 2021-06-17) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Linux 5.4.0-74-generic
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

Calling "Flatten use statements" on nested imp

[2021-06-23 18:21] kumbayo commented on #6686
This is an interaction between automatic dereferencing and 2 fields having the same name while one is not accessible.
Intellij rust resolves to both of the `value` fields while rustc ignores the inaccessible of the two.
Simplified code:
[code]
![image](https://user-images.githubusercontent.com/1041267/123147569-7d0e4180-d45f-11eb-8f43-5cf66779d4fe.png)

![image](https://user-images.githubuserconte

[2021-06-23 20:46] kumbayo commented on #6587
Hello @MSxDOS
Is the problem still happening for you?
I just tried with the latest version from Git (4144226728bd88c701be90dcf2dbfe964668a898 rust-build-number-3941) with Rust 1.55 nightly
and the types of `test1` and `test2` seem to be inferred correctly for me.

![image](https://user-images.githubusercontent.com/1041267/123165383-73430900-d474-11eb-9290-daae28e02428.png)

[2021-06-23 20:54] MSxDOS commented on #6587
Hello,
Seems to be fine here too now.

[2021-06-23 20:54] #6587 closed

[2021-06-23 21:02] kumbayo commented on #6686
This is likely a similar issue as in #6139

[2021-06-23 23:35] ledyba commented on #7246
It is reproduce also for local variables:

![image](https://user-images.githubusercontent.com/391964/123180547-74048b00-d4c6-11eb-80b5-8c4be24243bf.png)

Also for f64, u32:

![image](https://user-images.githubusercontent.com/391964/123180654-a0b8a280-d4c6-11eb-93bb-92b6eb65574c.png)

![image](https://user-images.githubusercontent.com/391964/123180699-c04fcb00-d4c6-11eb-8e13-6edc81984599.png)

But

[2021-06-23 23:52] bss03arg commented on #7389
HI

my configuration of rust plugin in CLion is:

![image](https://user-images.githubusercontent.com/39295782/123181370-c1c9c500-d4bf-11eb-8049-5efd77e5e6e3.png)

the method, which can not be found is
in stm32f3xx-hal/src/gpio.rs
GpioExt::split()
[code]

[2021-06-24 09:57] ortem opened #7398 "Unable to run WSL debugger when the project is already built"
## Environment

* **IntelliJ Rust plugin version:** 0.4.150.SNAPSHOT-211-dev
* **Rust toolchain version:** 1.53.0 (53cb7b09b 2021-06-17) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Windows 10 10.0 with WSL 1
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
When I run the debugger for the fir

[2021-06-24 10:27] afetisov commented on #7220
@vlad20012
Just FYI, I have looked at that bug and tracked it down to the "StmtModeExprOff" rule in the parser. It is defined via an external function, but participates in a Pratt parser for expressions, which means that the code is generated incorrectly: instead of properly recursing in the RHS of binary operators, the Pratt parser stops, calls StmtModeExprOff and then starts anew.

However, the

[2021-06-24 10:38] ortem commented on #7389
@bss03arg Could you please also try to [invalidate caches](https://www.jetbrains.com/help/clion/invalidate-caches.html)?

[2021-06-24 11:38] vlad20012 commented on #7220
Yeah, I just investigated it to the same point. But I see that `StmtModeExprOff` isn't used at all, there are exactly zero calls to it in the generated parser

[2021-06-24 11:58] afetisov commented on #7220
Indeed, because of the rather unintuitive behaviour of GrammarKit's Pratt parser generator. If your rule inherits from Expr, then instead of calling it the Expr parser is called, with no warnings about dropped rules.

Considering the block parsing rule mentioned above, I believe the real edge case looks like the following:

[code]

Without the block parsing special cases, this would parse as `(for

[2021-06-24 12:11] ortem commented on #7246
Thank you for reporting the issue.
Please try executing `Re-Expand All Rust Macros` action, and then [`Invalidate Caches`](https://www.jetbrains.com/help/idea/invalidate-caches.html) action if the first one doesn't help. Both actions can be invoked via `Ctrl`+`Shift`+`A` menu.

[2021-06-24 12:54] jcornaz commented on #7246
@ortem, that doesn't help.

However, I noticed something that may help.

I created a new empty rust project (`cargo new --lib issue-reproducer`) and wrote the following in `src/lib.rs`:

[code]

So far, so good. It works as expected. No warning.

![image](https://user-images.githubusercontent.com/2535178/123263988-dc209480-d4f9-11eb-8818-71ff8ab2af6f.png)

Now, if write in `Cargo.toml`:
[code]

An

[2021-06-24 13:04] Undin commented on #7246
Because it's quite resource-consuming especially on large codebase. But this feature is also implemented and you can turn it on via `Run external linter to analyze code on the fly` in `Preferences | Languages & Frameworks | Rust | Cargo` settings

[2021-06-24 14:28] afetisov opened #7400 "Inline variable fails to take operator precedence into account"
## Environment

* **IntelliJ Rust plugin version:** 0.4.149.3939-211
* **Rust toolchain version:** 1.53.0 (53cb7b09b 2021-06-17) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Linux 5.4.0-74-generic
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

Code:

[code]

Inline variable `a`:

[code]

E

[2021-06-24 14:33] Kobzol commented on #7246
I can also reproduce it locally with `bevy` consistently. I looked into this briefly and it seems that if `bevy` (or probably some other libraries) is imported, the trait resolution engine find two implementations of `Copy` for basic integer/float types, which causes problems.

In `ImplLookup::selectCandidate`, one candidate is found for `f32` without `bevy`, while two candidates are found for `f3

[2021-06-24 14:57] bss03arg commented on #7389
@ortem still there...:-(

[2021-06-24 15:37] jcornaz commented on #7246
Thanks @Kobzol for the investiguation.

Searching into the dependencies of bevy I found that it is introduced by (at least) the crate [spirv-std-macros](https://crates.io/crates/spirv-std-macros/0.4.0-alpha.10)`. So a minmal repreduction of the problem would be:
[code]

And it looks like the problem is introduced by `spirv-std-macros` specifically. Because I don't see the problem if I use its dire

[2021-06-24 16:35] Undin opened #7402 "False-positive `Can't resolve` warnings in Cargo.toml"
## Environment

* **IntelliJ Rust plugin version:** 0.4.149.3939-211
* **Rust toolchain version:** 1.53.0 (53cb7b09b 2021-06-17) x86_64-apple-darwin
* **IDE name and version:** IntelliJ IDEA 2021.1.1 Ultimate Edition (IU-211.7142.45)
* **Operating system:** macOS 10.15.6
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
If you try to use patterns in `[work

[2021-06-24 18:30] Kobzol commented on #7402
@Undin In theory, we could expand the glob in the inspection, but I worry about possible edge cases and DDOS attacks :D If the glob was nasty. So I propose to just disable the inspection if the path contains a wildcard `*`?

[2021-06-24 20:55] AlyoshaVasilieva opened #7404 "Plugin suggests Live Templates while writing documentation"
## Environment

* **IntelliJ Rust plugin version:** 0.4.150.3940-211-nightly
* **Rust toolchain version:** 1.53.0 (53cb7b09b 2021-06-17) x86_64-pc-windows-msvc
* **IDE name and version:** IntelliJ IDEA 2021.1.2 Ultimate Edition (IU-211.7442.40)
* **Operating system:** Windows 10 10.0
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description
When writing documentat

[2021-06-25 00:01] #7387 closed

[2021-06-25 01:05] #7396 closed

[2021-06-25 03:16] pfesenmeier commented on #7297
My current workaround is to turn the terminal command outputted by the cargo build configuration into an external build tool as follows:
![image](https://user-images.githubusercontent.com/50887639/123364255-1dd52d80-d542-11eb-9850-832acc371303.png)

[2021-06-25 05:29] #7223 closed

[2021-06-25 07:13] #7197 closed

[2021-06-25 09:15] ortem commented on #7389
@bss03arg I'm not sure what exactly causes the problem on your machine. There might be a problem with a specific Rust toolchain. At least, I've managed to reproduce the issue with `org.rust.cargo.evaluate.build.scripts` enabled with Rust 1.41.0. So you can try using another Rust toolchain.

@Undin Maybe you have any suggestions?

[2021-06-25 09:41] Defman21 opened #7406 "Plugin could not detect the return type of a function pointer type"
## Environment

* **IntelliJ Rust plugin version:** `0.4.149.3939-211`
* **Rust toolchain version:** `stable-x86_64-apple-darwin (default); rustc 1.53.0 (53cb7b09b 2021-06-17)`
* **IDE name and version:** CLion 2021.1.2
* **Operating system:** MacOS 10.15

## Problem description

The plugin could not detect the return type of a function pointer type:
[code]

## Steps to reproduce

[code]

I expect

[2021-06-25 10:47] avrong opened #7408 "Improve turbofish code insight"
It could be useful to add have more turbofish-related features:

1. Suggest turbofish in completion: `let a = "42".parse<caret>();`
2. Inspect the function calls without type parameters when they are required
[code]
   - Suggest turbofish quick-fix
3. Intention to move turbofish into variable declaration
   `let a = "42".parse::<u32>();` into `let a: u32 = "42".parse();`

[2021-06-25 10:48] avrong opened #7409 "Suggest `match to if-let` intention in more cases"
The current intention behavior: convert match with a single non-empty arm to if let.

The situations below can also be handled:

### 1. One empty arm

[code]

[code]

### 2. Two exhaustive arms

[code]

[code]

#### For example, `if let to match` intention behaves this way, but the opposite can't be applied:

[code]

[code]

[2021-06-25 10:56] mleonhard commented on #4968
The fix was to update `grcov`:
[code]

[2021-06-25 18:06] #7400 closed

[2021-06-25 19:26] #4967 closed

[2021-06-25 19:26] #5044 closed

[2021-06-25 19:26] #2982 closed

[2021-06-25 19:26] #4979 closed

[2021-06-25 19:26] #5592 closed

[2021-06-25 19:26] #6340 closed

[2021-06-25 19:26] #6085 closed

[2021-06-25 21:44] Kobzol commented on #7409
I suppose that this can be done fully general now with irrefutable patterns. Something like
[code]
I'll send a PR next week.

[2021-06-26 08:33] anatawa12 commented on #7375
I've added a small example project to reproduce this issue.

[2021-06-26 09:53] vlad20012 commented on #7220
You better not know how I fixed it (#7414). I think it's the most awful hack I have ever done.

[2021-06-26 15:30] fctorial opened #7416 "Exact match should be listed first in cargo.toml dependency completion"
## Environment

* **IntelliJ Rust plugin version:**
* 0.4.148.3911-211
* **Rust toolchain version:**
* 1.51.0
* **IDE name and version:**
* latest stable clion
* **Operating system:**
* nixos

## Problem description

An exact match for crate dependency is not listed first in the cargo.toml dependency completion

## Steps to reproduce

https://user-images.githubusercontent.com/58381615/123517974-83

[2021-06-26 18:50] avrong commented on #7416
Duplicate of https://github.com/intellij-rust/intellij-rust/issues/5908

You can try [Crates Local Index](https://github.com/intellij-rust/intellij-rust/issues/6463) feature to have better expirience with dependency competion. Note, it is still experimental and you might run into issues sometimes

[2021-06-26 18:51] #7416 closed

[2021-06-27 16:48] lancelote opened #7419 ""Create struct" intention generates a struct in another struct impl block"
## Environment

* **IntelliJ Rust plugin version:** 0.4.150.3950-212-nightly
* **Rust toolchain version:** 1.52.0-nightly (b3e19a221 2021-03-12) x86_64-apple-darwin
* **IDE name and version:** CLion 2021.3 EAP (CL-213.516)
* **Operating system:** macOS 10.15.7
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

"Create struct" intention from #6837 generates

[2021-06-27 20:46] the-a-man-006 commented on #7190
Any updates???

The problem seems to be for methods that take ownership of `self`, in which case the plugin seems to be unable to infer the return type. However, type inference doesn't fail for methods that take `&self`. Pretty weird a behaviour...

[2021-06-28 09:01] afetisov commented on #7220
That's disappointing :( I'd rather try and fix the grammar.

[2021-06-28 09:11] vlad20012 commented on #7220
The only possible alternative is to bring changes to Grammar-Kit itself. I tried to contribute to it a few years ago, but GK code quality is so bad that it's easier to rewrite it completely... which I also tried once, but stopped halfway.

[2021-06-28 12:01] afetisov commented on #7220
I don't believe we need to change Grammar-Kit. If I understand the problem correctly, the only ambiguous situation is where a statement starts with a block expression (while, loop, async, simple block etc). If it's true, then the rules should be the following:

* Expr is split into two parts, BlockLikeExpr (listed above) and SimpleExpr (all subrules of Expr other than the blocklike ones). `Expr ::

[2021-06-28 12:49] afetisov opened #7420 "Incorrect constraints on const generic parameters"
## Environment

* **IntelliJ Rust plugin version:** 0.4.149.3939-211
* **Rust toolchain version:** 1.53.0 (53cb7b09b 2021-06-17) x86_64-unknown-linux-gnu
* **IDE name and version:** CLion 2021.1.2 (CL-211.7442.42)
* **Operating system:** Linux 5.4.0-74-generic
* **Macro expansion engine:** new
* **Name resolution engine:** new

## Problem description

The constraints on const generic parameters ar

[2021-06-28 12:52] vlad20012 commented on #7220
To be honest, I don't understand your plan. Perhaps we could speak with a voice? You can call me on Telegram (the contact is in the github profile)

[2021-06-28 13:32] ozkriff opened #7421 "cargo-deny integration"
https://github.com/EmbarkStudios/cargo-deny is a cargo plugin that lets you lint your project's dependency graph to ensure all your dependencies conform to your expectations and requirements. It'd be cool to have it integrated into IntelliJ-Rust in some form.

[2021-06-28 14:04] xpe opened #7422 "Support `cargo +nightly fmt`. Improve rustfmt warning/error visibility"
## Environment

* macOS 11.4
* CLion 2021.1.2
* IntelliJ Rust plugin version: 0.4.149.3939-211
* cargo 1.52.0 (69767412a 2021-04-21)
* rustup 1.24.3 (ce5817a94 2021-05-31)

[code]

## Problem description

Invoking rustfmt via CLion silently fails when rustfmt.toml contains nightly-only configuration settings; e.g. `wrap_comments`.

## Steps to reproduce

1. Use this `rustfmt.toml`:

[code]

2. Use

[2021-06-28 14:08] HydrogenC commented on #7215
I'm working with an actix project.
Besides this issue, it can't recognize some yarte macros such as "ywrite_html!", either.

[2021-06-28 14:16] ozkriff opened #7423 "Improved support for RTL Unicode identifiers"
Rust 1.53 introduced [Unicode identifiers](https://blog.rust-lang.org/2021/06/17/Rust-1.53.0.html#unicode-identifiers). Among other tricky things, Unicode includes right-to-left text. While such identifiers [work fine in the editor itself](https://www.jetbrains.com/help/idea/text-direction.html):

![image](https://user-images.githubusercontent.com/662976/123651385-18bef980-d834-11eb-9023-73e8e52c8