[2017-05-31 09:21] vasily-kirichenko opened #1303 "#![feature(test)] is not supported"
![image](https://cloud.githubusercontent.com/assets/873919/26625024/8a4059e8-45fb-11e7-8636-a7782bc8b197.png)

![image](https://cloud.githubusercontent.com/assets/873919/26625044/98a46e66-45fb-11e7-918a-6df48e84e648.png)

(the above code is compiled).

[2017-05-31 11:33] vasily-kirichenko opened #1304 "Static vars are considered the same as local vars"
![1](https://cloud.githubusercontent.com/assets/873919/26630100/0627c700-460e-11e7-9ec7-464dd1dda76b.gif)

[2017-05-31 16:56] owmywrists commented on #1277
I've tried the above and yet I still have an unexecutable project.

[2017-06-01 03:26] alygin commented on #1303
Do you have the standard library correctly configured in "Preferences -> Lang & Frameworks -> Rust" and downloaded? Is there `libtest` library among dependencies in your project (Project -> External Libraries -> Rust -> libtest)?

<img width="264" alt="screen shot 2017-06-01 at 06 24 31" src="https://cloud.githubusercontent.com/assets/2101250/26663412/2411ded8-4693-11e7-91c5-39156e58fa0e.png">

[2017-06-01 07:06] vasily-kirichenko commented on #1303
Looks like there is no libtest anywhere:

![image](https://cloud.githubusercontent.com/assets/873919/26668234/6df5692a-46b1-11e7-97b5-6ff109952154.png)

![image](https://cloud.githubusercontent.com/assets/873919/26668240/763c7952-46b1-11e7-90f6-5b20ae6b874b.png)

![image](https://cloud.githubusercontent.com/assets/873919/26668280/a850ac2e-46b1-11e7-92d8-6505fc08a130.png)

But the project is compil

[2017-06-01 07:29] alygin commented on #1303
Hm, that's strange, `libterm` and `libtest` are missing in your sources. Could you check if there's the `libtest-*` library in toolchains/nightly-.../lib? Since the project compiles, it should be there.

Is your toolchain up to date? If no, could you update it and check if the missing sources have downloaded?

[2017-06-01 07:42] vasily-kirichenko commented on #1303
`rustup update` has fixed the problem, everything is fine now, thanks!

[2017-06-01 07:42] #1303 closed

[2017-06-01 07:46] Gedweb commented on #1277
@owmywrists for running library you need create example binary internally in library.
By the `[[bin]]` section, you can find example in any popular crate.

[2017-06-01 08:23] vasily-kirichenko opened #1308 ""Implement methods" action does not take actual type info account"
![1](https://cloud.githubusercontent.com/assets/873919/26671002/a49c75b2-46bc-11e7-97fa-cbc4c0dfde82.gif)

[2017-06-01 17:21] francislavoie opened #1309 "Add .tml extension for TOML"
I use the `.tml` extension for my TOML files, would be nice if it defaulted to those as well.

[2017-06-01 17:31] farodin91 commented on #1275
@matklad I added an `getVariants` to RsMacroReferenceImpl but i didn't get any completion. What i have to do?

[2017-06-01 19:28] farodin91 commented on #1275
I will change macro invocation as an extension RsPath.

[2017-06-01 20:04] concatime commented on #1171
I fooled IntelliJ Idea for using git. In fact, I set the path of git as /git.bat. And in the file c:\git.bat, i made this:

Maybe we could do something like this as a hack for rust, pending for a real solution.

[2017-06-01 20:32] alygin commented on #1171
Unfortunately, such trick won't be enough to make the plugin work with WSL because it heavily relies on metadata obtained from various cargo commands. Such metadata include paths to source code of external libraries and paths to components of your own project. These paths must be somehow mapped automatically between Win and Linux. Other point of concern is environment variables that also play role

[2017-06-02 00:50] dragostis commented on #535
Sorry for popping in like this, but how does Android Studio's native debugger work? Wouldn't it be possible to do the same with IntelliJ?

[2017-06-02 09:09] matklad commented on #1309
Looks like the spec says it should be `.toml`: https://github.com/toml-lang/toml#filename-extension, so I don't think we should add `.tml` as a default to the plugin.

You can configure `.tml` as an addition extension for TOML in the IDE settings: `Settings > Editor > File Types`.

[2017-06-02 09:09] #1309 closed

[2017-06-02 12:37] vasily-kirichenko opened #1311 "proc_macro crate is not recognized in editor"
![image](https://cloud.githubusercontent.com/assets/873919/26725892/4f3d731c-47a9-11e7-94d4-406535da4e22.png)

However, the project compiles.

[2017-06-02 14:25] alygin commented on #1311
Do you see it in External Libraries -> Cargo? If no, try to run the "Refresh cargo project" action.

[2017-06-02 14:45] alygin commented on #1311
Oh, my bad, it's `proc_macro`, we should add it as an stdlib root.

[2017-06-02 16:58] #1311 closed

[2017-06-02 17:28] xpe opened #1313 "NPE at org.rust.lang.core.resolve.LangItemsKt.getLangAttribute(LangItems.kt:65)"
IntelliJ reported this error:

[code]

[2017-06-03 08:45] matklad commented on #1275
@farodin91 I am not actually sure how to implement completion for macros properly.

The problem is, macros use name resolution algorithm different from anything else in Rust, and this algorithm is IDE-hostile. rustc thinks that `macro` is defined if it was defined before, in the parsing order, but there is no such thing as parsing order in the IDE.

As a first step, I think we can implement comple

[2017-06-03 09:15] farodin91 commented on #1275
@matklad #1314

[2017-06-03 09:34] #1313 closed

[2017-06-03 09:41] matklad commented on #1304
Hm, this is sort-of how Rust actually works :) The left hand side of `let` is a pattern, `x` in the pattern can mean either of two things:

1. If there's a constant named `x` in scope, than `x` will match with that constant.

2. If there's no such constant, then `x` introduces a new name

[code]

This somewhat unexpected context-sensitive rules are necessary to make it possible to write

[code]

Y

[2017-06-03 10:46] farodin91 commented on #1275
Handling of macro_export would be cool to handle this with annotators or?

[2017-06-03 12:59] IvankoB opened #1318 "Stopping debbugger (^F2) doesn't clear the debug lock"
The below file has to be deleted manually to proceed with debugging:

c:\Users\<USER>\.cargo\my_projects\rawprintservice\target\debug\.cargo.lock

[2017-06-05 05:41] IvankoB commented on #1318
On Win10:
- deleting the file is also needed after finishing debug session in the normal (non-interrupted) way
- debug related "cargo" processes have to be killed manually as well

[2017-06-05 20:23] #1250 closed

[2017-06-05 20:44] #1217 closed

[2017-06-07 09:05] #640 closed

[2017-06-08 03:11] SamuelYvon opened #1321 "Wrong rust clippy inspection?"
Hello!

I was writing a little rust to learn it and I came about this:

![image](https://user-images.githubusercontent.com/12652003/26910651-28099c5e-4bd6-11e7-9cfb-d05281ae6e1a.png)

The plugin warns me that method starting with is_* is usually taking a reference to itself, but it is ignoring that a &mut self is a reference to self.

I am unsure this is an issue, maybe this is on purpose but it s

[2017-06-08 04:34] d9n commented on #1090
What are some example before and afters here? Are we talking about any expression, e.g.

`let x = 5<enter>`
`println!("Missing semicolon")<enter>`
`val += 10<enter>`

or some subset?

[2017-06-08 05:23] farodin91 commented on #1321
I'm not sure but this should annotate. Your code doesn't need to be mutable.

Are implementing a trait?

[2017-06-08 13:19] seeekr opened #1322 "Exception / Fatal Error"
Just reporting this in here real quick in case it is helpful. Not sure what other info to add. (Latest plugin version.)

[code]

[2017-06-08 13:34] johnthagen commented on #1068
Here is the GitHub project for the site: https://github.com/contradictioned/areweideyet

[2017-06-08 13:41] johnthagen commented on #1068
Opened issue: https://github.com/contradictioned/areweideyet/issues/49

[2017-06-08 14:11] farodin91 commented on #1322
I'm working on lambda expr. Could you give a code sample?

[2017-06-08 15:00] SamuelYvon commented on #1321
I know it doesn't need to be mutable, my point is the inspection doesn't tell me that it doesn't have to be, but rather that I am not passing self into a method with a name starting with is_*, which I am.

[2017-06-08 15:07] farodin91 commented on #1321
I look into the inspection https://github.com/intellij-rust/intellij-rust/blob/master/src/main/kotlin/org/rust/ide/inspections/RsSelfConventionInspection.kt. It seems like normal behavior. The text could be a bit better. A function starting with is_* should be mutable. Or something else?

[2017-06-08 15:18] SamuelYvon commented on #1321
I think the text is fine, IMO the code should be
`SelfConvention("is_", listOf(SelfType.REF_SELF, SelfType.REF_MUT_SELF))`
and not
 `SelfConvention("is_", listOf(SelfType.REF_SELF, SelfType.NO_SELF)),`

I fail to see why NO_SELF would be appropriate for a is_* impl method, maybe a function, so if this also checks for functions it seem ok.

I don't see any use case where you would need a mutable re

[2017-06-08 16:13] farodin91 commented on #1321
Same as Clippy see https://github.com/Manishearth/rust-clippy/wiki#wrong_self_convention

[2017-06-08 16:27] farodin91 opened #1323 "Extend SelfConvention"
* with_ for builders take no ref
* get_ take ref
* set_ take mut ref

[2017-06-08 17:39] oliverlars opened #1324 "Support for compiler colours in output"
Currently when compiling, warnings and errors are all printed in red. However, in the command prompt the colours are varied, which is a bit easier on the eyes.

Would be nice to have this support.

[2017-06-08 21:06] farodin91 commented on #1324
Duplicated #1261

[2017-06-09 03:10] d9n commented on #1091
What should happen here post-join?

[code]
A:
[code]
B:
[code]

or none of the above / one of the above with a different final caret position?

[2017-06-09 06:17] mkaput commented on #1091
A

[2017-06-09 07:09] vasily-kirichenko opened #1325 "Add parameter name and type hints"
![image](https://user-images.githubusercontent.com/873919/26964746-9f53077a-4cfb-11e7-86d5-1cee9198ec1f.png)

![image](https://user-images.githubusercontent.com/873919/26964768-b60122ae-4cfb-11e7-92f1-6241a250d361.png)

[2017-06-09 11:01] farodin91 commented on #1325
Duplicated #1141

[2017-06-09 11:43] farodin91 commented on #1141
I'll grab it.

[2017-06-10 11:08] gilescope commented on #733
--package arg works a treat - perfect 🥇

[2017-06-10 17:43] matklad opened #1330 "Bring back tests for parsing rustc own tests"
We used to parse all rustc tests as a part of our own test suite, but we no longer do this, because rustup no longer ships test with rustc source code. We need to review these tests by manually cloning rustc reposotiry during tests.

[2017-06-11 06:45] farodin91 commented on #1330
https://github.com/rust-lang-nursery/rustup.rs/blob/master/README.md#can-rustup-download-the-rust-source-code

[2017-06-11 07:35] matklad commented on #1330
Yeah, this is exactly how we used to do those tests, but as of recently rustup downloads the sources only of standard library, and does not download sources of the compiler or it's tests.

And it s the tests we are most interested in.

[2017-06-11 20:38] d9n commented on #1091
So could this bug be simplified to "comma followed by right-brace on the next line should delete comma on line joining"? Or should I only delete the comma if we're inside a struct?

[2017-06-12 04:17] d9n commented on #1091
OK I implemented a solution by being willing to delete commas before right brackets in any contexts, not just within structs, but feel free to push back on the CL if that approach is too broad. Especially, if you can point out a case where I shouldn't be removing a comma before a right bracket, let me know, and I'll add a test for that case as well. Thanks!

[2017-06-12 09:51] caizixian opened #1335 "Go to Declaration doesn't seem to work between files"
Go to Declaration works fine when jumping to some functions/variables defined in the same file, but it doesn't works when trying to jump to defined in other files, which are imported using `use` instructions.

[2017-06-12 17:59] kumbayo commented on #915
This should be fixed by https://github.com/intellij-rust/intellij-rust/commit/f85c599e851a11ed48eaa709d1c42603ff34d453 but this issue was not marked as closed...

[2017-06-12 18:56] jrmuizel opened #1336 "Add the ability to move a set of fields into a sub struct"
e.g.

[code]

moves x and y into a sub struct and becomes:

[code]

This is a very handy refactoring for rust code because of the ability/restriction of borrowing subfields. i.e. you can't borrow mutably borrow 'A' twice, but you could mutably borrow 'position' and 'name' at the same time.

[2017-06-12 19:19] CAD97 commented on #1087
Here's a quick idea that could potentially make using rustfmt easier:

If `rustfmt.toml`/`.rustfmt.toml` exists, when running the action `Reformat File` across the whole file, call into `rustfmt`. In any case, once `rustfmt`'s rules and configuration stabilize, we should definitely make sure to use the configuration in that file. Or at the very least offer an automated way to sync that file and th

[2017-06-13 02:04] alexander-irbis commented on #1335
I can't confirm this issue with current nightly plugin, Go to Declaration works fine for me, if declaration files (modules) and in other crates. Perhaps there are some additional circumstances.

[2017-06-13 02:24] alexander-irbis commented on #1299
If there is unfinished expression
[code]
but after ";" cursor should be placed as usual.
[code]
(sorry for "captaincy" :-))

[2017-06-13 07:25] alexbool opened #1337 "Nightly release channel is broken"
One picture worth a thousand words
<img width="948" alt="screen shot 2017-06-13 at 10 23 29" src="https://user-images.githubusercontent.com/1283792/27070640-8a4e2dbc-5022-11e7-97e1-90b9bd6e4047.png">

[2017-06-13 16:05] burjui commented on #1322
Got this error when typing "r" at the end of a lambda:
[code]
It's the whole test case, nothing else in the file except this function.

[2017-06-13 19:48] gertux commented on #1109
I don't know it this is still relevant, but if I'm not mistaken you can download and use the EAP version of CLion without a license https://blog.jetbrains.com/clion/2017/05/clion-2017-2-eap-code-analysis-fixes/

I'm using a licensed version of CLion because I have an  'All Products Pack '

[2017-06-13 20:58] seeekr commented on #1322
(Forgot to comment, but I couldn't find the code in question any more, so I don't have another sample to add, sorry. Will come back if I find another issue here.)

[2017-06-13 21:43] BatmanAoD commented on #1109
@gertux Thanks! I had a pre-1.0 EAP build installed a few years ago but for some reason thought they discontinued the program after 1.0 was released. Re-installing the latest EAP now :smile:

[2017-06-14 07:35] farodin91 opened #1341 "Cargo check annotation NPE"
[code]

[2017-06-14 20:49] gngeorgiev opened #1342 "Dot autocompletion stops working at random"
Hey guys, I like the plugin but I have a weird issue.

At random(seemingly) times the dot autocompletion stops working. All I get is the `lambda, let, match, not, par` items in the dropdown. The `::` autocompletion works fine. The only way to fix this, that I found is to delete the `.idea` folder and `Restart and clean cache`. If you help me to debug this I would maybe be able to provide more deta

[2017-06-15 03:23] CAD97 opened #1343 "Support use of rustfmt-nightly"
[rust-lang announcement](https://users.rust-lang.org/t/rustfmt-releases/11357)

This plugin exposes the action `Reformat file with rustfmt`. As far as I can tell, this works by running `cargo fmt -- --write-mode=overwrite --skip-children`.

If you have both stable and nightly compilers installed, you can install `rustfmt-nightly` with `cargo +nightly install rustfmt-nightly` and run it with `cargo

[2017-06-15 07:29] seeekr opened #1344 "NPE in CargoTopMessage$Companion.fromJson()"
Stack trace below. Had just started up the (just updated version of the Intellij) IDE, not done anything with it yet. (Also wondering why it showed what looks to be the same stack trace twice.)

[code]

[2017-06-15 07:35] Undin commented on #1344
Looks like duplicate #1341

[2017-06-15 16:52] jrmuizel opened #1346 "Trying to "Go To Declaration" of webrender::RendererOptions fails"
The declaration is here: https://github.com/servo/webrender/blob/568c727b7375961d08f0d979bd5e78b88ecde72f/wrench/src/wrench.rs#L168

Any tips for how to debug this kind of problem would be helpful too.

[2017-06-15 21:00] la10736 opened #1347 "False positive in immutable inspection"
Follow code yield a false immutable error:
[code]

[2017-06-15 21:05] la10736 commented on #1347
Both with 5 June and nightly release.

[2017-06-15 22:19] matklad commented on #1344
Should be worked around by https://github.com/intellij-rust/intellij-rust/pull/1345 and fixed by https://github.com/intellij-rust/intellij-rust/pull/1348.

Thanks for the report!

[2017-06-15 22:19] #1344 closed

[2017-06-15 22:19] matklad commented on #1341
Should be worked around by https://github.com/intellij-rust/intellij-rust/pull/1345 and fixed by https://github.com/intellij-rust/intellij-rust/pull/1348.

Thanks for the report!

[2017-06-15 22:19] #1341 closed

[2017-06-16 04:45] stellarator commented on #1335
I can confirm. Interestingly it is working OK when project is opened for the first time (when **intellij-rust**'s badge is opened for the moment in the lower-right corner).

But all of the following attempts to open the project produce the same result.

OS: **Linux**
cargo: **cargo 0.19.0**
rustc: **rustc 1.18.0**
IDE: **CLion 2017.2** (tried in CLion 2017.1)
intellij-rust: **0.1.0.2058**

[2017-06-16 11:37] #1091 closed

[2017-06-16 12:32] matklad commented on #915
Indeed!

[2017-06-16 12:32] #915 closed

[2017-06-17 15:54] matklad commented on #1337
;(

Now that we have bors, I've loosened the prepublising testing on TeamCity, and moved more checks to Travis instead. Hopefully, this is the last instance of failed nightliy.  Thanks for the report!

[2017-06-17 15:54] #1337 closed

[2017-06-17 17:08] #1322 closed

[2017-06-18 08:17] matklad commented on #1342
Okey, so there were some similar issues reported, where completion basically stops working, **in CLion**. I have absolutely no idea what might be the culprit, will try to use plugin with CLion instead of IDEA for some time...

[2017-06-19 21:00] xpe opened #1357 "java.lang.IllegalStateException: No trait ref"
IntelliJ gave me a pop-up error about the Rust plugin:

[code]

IntelliJ version:

[code]

[2017-06-20 07:36] matklad commented on #1357
Thanks for the report!

[2017-06-20 08:56] #1357 closed

[2017-06-20 11:27] johnthagen opened #1360 "Latest plugin release not in plugins.jetbrains.com?"
I read the recent release notes: https://intellij-rust.github.io/2017/06/17/changelog-44.html

But it doesn't look like the release was pushed up to plugins.jetbrains.com and as such I wasn't prompted to update to the latest version. Was this intentional?

[2017-06-20 11:31] matklad commented on #1360
Excellent catch! Looks like I've messed-up build numbers: https://plugins.jetbrains.com/plugin/8182-rust

[2017-06-20 11:36] matklad commented on #1360
Okey, the alpha with the correct buld number should be up soon: https://teamcity.jetbrains.com/viewLog.html?buildId=1095727&tab=buildResultsDiv&buildTypeId=IntellijIdeaPlugins_Rust_UploadAlphaRust

[2017-06-20 11:45] matklad commented on #1360
Okey, @johnthagen , alpha is up. Could you verify that everything works?

[2017-06-20 14:34] stepancheg opened #1361 "Is it meant to work with CLion 2017?"
Because I couldn't find how to configure a rust project. CLion does not have modules and new/open project dialogs do not mention Rust:

<img width="808" alt="2017-06-20_1729" src="https://user-images.githubusercontent.com/28969/27338664-7fe15716-55de-11e7-9bb3-7b40caf26fc8.png">
<img width="691" alt="2017-06-20_1730" src="https://user-images.githubusercontent.com/28969/27338669-82323756-55de-11e7-

[2017-06-20 14:37] matklad commented on #1361
There's **import from sources** action in CLion which somewhat works, but in general development with CLion is not super convenient at the moment, because it really assumes that you use CMake :(

[2017-06-20 14:40] stepancheg commented on #1361
In that case intellij-rust page should probably not recomment using "any" IDE and do not mention CLion.
<img width="991" alt="2017-06-20_1738" src="https://user-images.githubusercontent.com/28969/27339068-70714be6-55df-11e7-93a5-e5a40ffb178b.png">

[2017-06-20 15:21] johnthagen commented on #1360
@matklad Everything is now working. PyCharm prompted me to to update the Rust plugin and the versions and dates look good.

[2017-06-20 15:21] #1360 closed

[2017-06-20 15:28] johnthagen commented on #1361
Also should say 2016.2 and newer, not 2016.1 and newer I think.

[2017-06-21 08:09] gilescope opened #1362 "Quick fixes on type mismatch"
&str and String are part of the fun of Rust. It would be great to alt-enter on "Hello World" and to pick String::from("Hello World").

What would be super awesome would be structual search and replace that Resharper as then we could add these things in as we find them, but that's probably still a pipe dream for now!

Loving the cargo check functionallity btw - most awesome!

[2017-06-21 08:13] matklad commented on #1362
@gilescope hm, actually that's something I'd love to use as well :)

However, I am not sure what's the most rustic way to get from `str` to `String` ...

There are

* `"hello".to_owned()`
* `"hello".to_string()`
* `"String::from("hello")"`
* `format!("hello")`

Is there an "official" guideline for this?

[2017-06-21 08:14] matklad commented on #1362
It's @vasily-kirichenko's awesome work :)

[2017-06-21 08:26] vasily-kirichenko commented on #1362
I was just too annoyed to compile all the time to see the errors :)

[2017-06-21 09:34] mkaput commented on #1362
Hmm, I have quite different idea for this (but much more work to do):

What about adding annotator & quick-fix which would:
1. find usages of instances of type `A` in places where type `B` is expected and highlight them
2. determine whether `impl From<A> for B` is available
3. propose quick-fix to automatically insert `B::from(...)`

This way it would be much more intelligent behaviour

[2017-06-21 14:18] johnthagen opened #1363 "Exception switching projects"
On Mac OSX, PyCharm 2017.1.4 with `intellij-rust` 0.1.0.2060.

Switching from an open Rust project (`rust-belt`) to another caused an exception:

[code]

[2017-06-21 15:08] #1363 closed

[2017-06-22 06:16] kasrasadeghi opened #1365 "Massive Memory Leak for rustc process on 64-bit linux"
I have no idea why, but I open the project and there's a rustc process in the background that makes my entire computer grind to a halt. I think it's a memory leak or something, but rustc runs about 14 GB of memory and my computer only has 16. This is on rust nightly (1.20). I'm going to try and switch to stable.

[2017-06-22 07:24] matklad commented on #1365
Hm, that's definitely not how things are supposed to work!

It is only a single `rustc` process, right? If it is the case, then most likely the root of the issue lies somewhere in `rustc`, and not in IntelliJ Rust per se. Could you share a full command with arguments for this process (`ps -aux | grep rustc` should probably show it)?

There's only one place where we are invoking `rustc` automatical

[2017-06-22 17:13] msjyoo opened #1366 "Autoimport of missing use"
Is it possible to have autoimport of missing 'use' statements with Alt-Enter?

Right now it gives the suggestion in the error message but doesn't seem to have the auto fix option.

[2017-06-22 19:44] kasrasadeghi commented on #1365
It seems to be fine on rust 1.18. I'll go reinstall 1.20 and give the command output.

[2017-06-22 19:48] kasrasadeghi commented on #1365
The issue does not appear to be reoccuring. I'll open this up if it happens again.

[2017-06-22 19:48] #1365 closed

[2017-06-22 20:39] eddy-geek opened #1368 ""Import project" not available in pycharm"
[Quickstart](https://intellij-rust.github.io/docs/quick-start.html) says:
![image](https://user-images.githubusercontent.com/2772505/27454704-1edb0142-579b-11e7-8627-45b70d0309a6.png)

But I have:
![image](https://user-images.githubusercontent.com/2772505/27454714-29f6f914-579b-11e7-91b7-e0ba490b50d3.png)

The tutorial should explicitely disallow pycharm or provide an alternative (use "Open"? manu

[2017-06-23 07:24] matklad commented on #1368
Yeah, for PyCharm, `Open` should work. And totally agree that quick start guide could have a rewrite: it was written like a year ago, a lot of things have changed since then...

[2017-06-23 09:10] Undin commented on #1346
What version of plugin do you use?
I've just checked this case with the latest version of plugin (0.1.0.2104-nightly) and "Go To Declaration" works for me.

[2017-06-23 13:01] jrmuizel commented on #1346
Webrender has a workspace with a couple of subcrates. If I open the root webrender directory it works but if I instead open the wrench subdirectory/crate it does not.

[2017-06-24 09:20] gilescope commented on #1362
Yes, really like this idea!

[2017-06-24 09:57] gilescope commented on #535
Just switched to a 'fresh' OSX install and lldb debugging is now working well with CLion. :-)

But like all good things, I want / need more. Specifically:

Really need String / &str to be viewable in the debugger as their contents rather than implementation. Same for vecs and hash maps. In Visual Studio you could create debugging visualisers and I can see it's possible to do so in llvm. In fact it

[2017-06-24 12:27] seeekr opened #1370 "KotlinNullPointerException at refactoring.RsConvertToNamedFieldsAction"
Tried to execute "convert to named fields" action on a namespace/use item (not sure what the refactoring is supposed to do).

[code]

[2017-06-24 12:42] matklad commented on #1370
It should work like this: https://zippy.gfycat.com/SpiritedRealArieltoucan.webm when invoked on a tuple-like struct/enum variant.

Thanks a lot for the bug report! I've actually have totally forgotten that we already have this feature...

[2017-06-24 13:54] #1370 closed

[2017-06-25 02:24] mcarlin commented on #1095
Cool if I grab this one?

[2017-06-25 06:30] gilescope commented on #535
Still tinkering but this for example seems to nicely format Strings:
type summary add --summary-string "${var.vec.buf.ptr.pointer.__0}" alloc::string::String

(from the excellent docs at https://lldb.llvm.org/varformats.html )

[2017-06-25 14:51] matklad commented on #1095
@mcarlin sure!

[2017-06-26 08:48] lilianmoraru commented on #535
@gilescope You should have the `rust-gdb` and `rust-lldb` binaries in your toolchain.
These binaries load `gdb`/`lldb` with the appropriate formatters.

[2017-06-26 10:55] #1297 closed

[2017-06-26 15:01] henryborchers commented on #535
@lilianmoraru , I figured rust-gdb and rust-lldb would be installed by default by rustup. How do I check that I have these binaries?

[2017-06-26 15:51] henryborchers commented on #535
Oh snap! I just tried it agin. it's actually working now. Awesome!

[2017-06-27 05:49] farodin91 opened #1376 "Inference of a return type using parameter type (by the return type of an lambda expr)"
[code]

[2017-06-27 13:56] Lakier15 opened #1380 ""Use cargo check to analyze code" and File Watchers plugin conflict"
Hello!

I have been having a very annoying problem.
I use File Watchers to run shell scripts on save. It is set to watch *.rs files.
Problem is that when the option "Use cargo check to analyze code" that continuously trigger the scripts as I type code. Of course that triggers the scripts many times and also, because of what the scripts do, it triggers a constant file cache conflict dialog.

Disabl

[2017-06-27 15:49] #1380 closed

[2017-06-28 08:17] gilescope opened #1383 "Support Widen Selection"
Widen selection (Ctrl-W intellij keybinding) is one of my all time favorites. From the current selection or cursor it will extend the selection left and right to enclose the next logical grouping.

For example if the cursor was at <I> as you repeatly press Ctrl-W it will select the brackets (), then select the function call Client::new(), then the statement client = Client::new(), then the if and

[2017-06-28 08:22] matklad commented on #1383
@gilescope that's super strange, `ctrl+w` worked basically from the day one of the plugin, and it definitely works for me now.

[2017-06-28 08:30] matklad commented on #1383
So, for me it looks like this: https://zippy.gfycat.com/AdoredEagerCoral.webm

[2017-06-28 08:42] gilescope commented on #1383
My bad - CLion has some dodgy defaults. When I reset the keybindings back to "Intellij Classic" it works again. (YAY!)

This is great news!

[2017-06-28 08:42] #1383 closed

[2017-06-28 10:00] matklad commented on #1366
Nope, autoimport is a planned feature, but it is not implemented yet.

[2017-06-28 10:00] matklad commented on #1366
Nope, autoimport is a planned feature, but it is not implemented yet :(

[2017-06-28 10:24] matklad commented on #1347
Closed by #1289!

[2017-06-28 10:24] #1347 closed

[2017-06-28 10:31] matklad opened #1385 "Contributor License Agreement"
To everyone who has contributed code to IntelliJ Rust: we want to make this plugin officially supported by Jet Brains, but to do so, we need contributor license agreements signed by anyone who had added code to the plugin. If you do not wish to sign such a CLA form, let me know so that I can find a way to back out any changes you may have made.

To sign the CLA, please follow instructions at https

[2017-06-28 11:02] mkaput commented on #1385
done

[2017-06-28 11:05] farodin91 commented on #1385
done

[2017-06-28 11:07] sirgl commented on #1385
done

[2017-06-28 11:09] Undin commented on #1385
done

[2017-06-28 11:09] farodin91 opened #1386 "Adding a details button in PR tests for bors."

[2017-06-28 11:09] greg-kargin commented on #1385
done

[2017-06-28 11:17] andruhon commented on #1385
done

[2017-06-28 11:23] daschl commented on #1385
done

[2017-06-28 11:32] jonas-schievink commented on #1385
done

[2017-06-28 11:35] contradictioned commented on #1385
done

[2017-06-28 12:32] mitchhentges commented on #1385
done

[2017-06-28 12:34] chriskrycho commented on #1385
Done, and a hearty huzzah to this!

[2017-06-28 12:47] KalitaAlexey commented on #1385
@matklad,
I remember I did something, but I couldn't find any commits made by me.

[2017-06-28 12:48] LiamClark commented on #1385
Done!

[2017-06-28 12:50] Keats commented on #1385
done!

[2017-06-28 12:55] vasily-kirichenko commented on #1385
done.

[2017-06-28 12:56] CGavrila commented on #1385
done

[2017-06-28 13:01] matklad commented on #1385
@KalitaAlexey it was a small fix to the docs: https://github.com/intellij-rust/intellij-rust/commits?author=KalitaAlexey, so you don't need to sign the CLA then!

[2017-06-28 13:06] ThoseGrapefruits commented on #1385
done

[2017-06-28 13:07] slavam2605 commented on #1385
done

[2017-06-28 13:20] Turbo87 commented on #1385
done

[2017-06-28 13:34] jeremy-w commented on #1385
I'm not a contributor, but this was brought to my attention by a contributor. As I read it, [the CLA](http://www.jetbrains.org/download/attachments/983565/JB_ContributorLicenseAgreement.pdf) governs only "present and future Contributions", not past Contributions.

It seems like patches going forward should be collected alongside (present) or after (future) signed CLAs, but **owners of past contrib

[2017-06-28 13:42] matklad commented on #1385
@jeremy-w thanks for bringing this up! I am a Jet Brains employee, and so yes, Jet Brains are A-OK with this. I am not a lawyer, but looks like section five covers past contributions:

[2017-06-28 13:47] friedroman commented on #1385
My change was a small doc update, so I guess you can take me off the list. https://github.com/intellij-rust/intellij-rust/commit/ee963c7107aa59b96bd9f0abe2caa5943e4c0e59

[2017-06-28 14:00] matklad commented on #1346
Yep, that's definitely a bug! Although I would recommend opening the root of the workspace in IntelliJ, the IDE is better to be aware of the main Cargo.toml to handle everything correctly.

[2017-06-28 14:20] matklad commented on #1346
Hm, now I think it would actually be better if we just suggest to open the whole workspace, instead of trying to fix working with a partially opened workspace.

@jrmuizel is there any significant reason why you prefer to open a specific member of the workspace?

[2017-06-28 14:24] jeremy-w commented on #1385
@matklad Thanks for calling that out. It looks like similar CLA text is used all over the place, so I appreciate your help to understand this common boilerplate. It covers past contributions made to JetBrains, which they weren't made to at the time, but coupled with the retconning aspect and the transfer of ownership, that sounds like enough wiggle room to work without any problem between willing

[2017-06-28 14:48] mcarlin commented on #1385
done

[2017-06-28 15:38] #1346 closed

[2017-06-28 16:13] farodin91 commented on #1385
@matklad This didn't change in near future the issue managing or?

[2017-06-28 16:15] jrmuizel commented on #1346
I believe when I was using vscode it worked better to open the sub crate than the whole workspace.

[2017-06-28 17:00] matklad commented on #1385
@farodin91 could you reformulate your question? I am afraid I don't understand it :(

[2017-06-28 17:06] vasily-kirichenko commented on #1385
I think he asked if issues will be managed on github or will move to youtrack.

[2017-06-28 17:07] matklad commented on #1385
All issue & PR management will go through GitHub, as usual :)

[2017-06-28 20:33] farodin91 commented on #1385
@matklad Sorry for my bad sentence. You answered my question.

[2017-06-28 20:36] himikof commented on #1385
done

[2017-06-28 20:58] oistein commented on #1385
done

[2017-06-28 21:03] winger commented on #1385
done

[2017-06-28 22:21] bmsantos opened #1390 "Allow for src or cargo project directory setup"
Some projects (e.g. [neon](https://www.neon-bindings.com/)) setup their cargo project file .toml and src directory in a subdirectory. In such cases, it would be useful to be able to do one of the following:

1. Allow users to set src directory
1. Allow for the setup of cargo project directory (the one with .toml) and assume that src exists in it
1. Have the plugin automatically look for the .toml

[2017-06-28 23:13] ashleysommer commented on #1385
Signed!

[2017-06-29 00:02] mrhota commented on #1385
@matklad I ran this
[code]
and didn't get any output. I think whatever code I wrote is now rewritten, refactored, or deleted. I think you can remove me from the list.

[2017-06-29 05:27] Falkenfighter commented on #1385
Done

[2017-06-29 06:10] farodin91 commented on #1385
@mrhota Here is your code refactored. https://github.com/intellij-rust/intellij-rust/commit/5ef4812704f44a266fffb3ef2702157c07729847

[2017-06-29 06:41] framlog commented on #1385
done

[2017-06-29 07:03] pavel-v-chernykh commented on #1385
done

[2017-06-29 07:11] farodin91 opened #1391 "Closing intellij during cargo check is running"
[code]

[2017-06-29 09:09] alexpana commented on #1385
done

[2017-06-29 09:16] matklad opened #1393 "Switch internal data structures to `Path`s from `String`s"
We used to have `String`s everywhere, because we used to be compatible with Java 6. However, now we can and should use `Path` instead. Some candidates for refactoring are `RustToolchain` and `CargoWorkspace`.

[2017-06-29 09:17] Undin commented on #1294
Apparently, it's closed by #1387

[2017-06-29 09:18] matklad commented on #1294
Yep!

[2017-06-29 09:18] #1294 closed

[2017-06-29 09:41] #1391 closed

[2017-06-29 09:45] madisp commented on #1385
done

[2017-06-29 10:08] anton-okolelov commented on #1090
Not any expression. For example, there are multi line strings
[code]

[2017-06-29 10:21] matklad commented on #1090
Sorry, I the original issue title was confusing. The `;` should be added after the `return` statement, as is

[code]
 ->

[code]

There's one special case though: `;` should not be added in match arms, like

[code]

Note that adding `;` to complete any statement is handled by **Complete Current Statement** action which is bound to `Ctrl+Shift+Enter` by default.

[2017-06-29 10:49] anton-okolelov commented on #1090
I can try to implement this feature but i'm not sure how fast. Is there a deadline for that?

[2017-06-29 10:49] matklad commented on #1090
No, there's no deadline :) Feel free to ask questions if you get stuck somewhere!

[2017-06-29 11:28] Undin commented on #1277
I think there are two main options:
* Add checkbox into new project panel to create binary application or not. But in this case settings panel would contain this checkbox too (because it's same panel).
* Create two different items for binary and library projects. As I understand two different `RsModuleTypeBase` should be created instead of `RsModuleType` to do it.

@matklad What option do you like

[2017-06-29 12:27] ninjabear commented on #1385
done

[2017-06-30 08:43] matklad commented on #1390
Yeah, we definitely need something like this, though it is not obvious, how to implement it in a cross-ide way :(

For IDEA, the current workaround is to open the root project in the IDE, and then add a subdirectory as a module (`cltr+alt+shift+s`, modules, **+** button, import module).

[2017-06-30 10:12] LooMaclin opened #1402 "org.rust.lang.core.psi.impl.RsMacroExprImpl cannot be cast to org.rust.lang.core.psi.RsPathExpr"
org.rust.lang.core.psi.impl.RsMacroExprImpl cannot be cast to org.rust.lang.core.psi.RsPathExpr
java.lang.ClassCastException: org.rust.lang.core.psi.impl.RsMacroExprImpl cannot be cast to org.rust.lang.core.psi.RsPathExpr
	at org.rust.ide.inspections.RsWrongTypeParametersNumberInspection.checkMethod(RsWrongTypeParametersNumberInspection.kt:35)
	at org.rust.ide.inspections.RsWrongTypeParametersNumb

[2017-06-30 10:13] matklad commented on #1402
Fixed by https://github.com/intellij-rust/intellij-rust/pull/1400!

I'll kick a nightly build though!

[2017-06-30 10:13] #1402 closed

[2017-06-30 10:23] matklad commented on #1402
Ok, nightly is up, so you should be able to update now!

[2017-06-30 11:05] matklad commented on #1386
@farodin91 could you expand a bit what do you want to add here? I don't quite get it now :)

[2017-06-30 11:08] matklad commented on #1321
Yeah, I agree that this suggestion is a true positive! In Rust, `&T` is usually called just "reference", while "&mut T", which is used much more rarely, is called "mutable reference".

[2017-06-30 11:08] #1321 closed

[2017-06-30 13:29] #1393 closed

[2017-06-30 15:09] LooMaclin commented on #1402
@matklad thanks! =)

[2017-06-30 15:59] bmsantos commented on #1390
Yes, that a solution for IntelliJ IDEA. Unfortunately, I'm using JetBrains's CLion with Rust since it offer native debugger that works with Rust..

[2017-06-30 17:46] gilescope opened #1409 "Mutability can aid auto-completion"
I'm in two minds on this one.

If you have a non-mutable variable, then the methods that are auto-completed should be subset to only show methods that take a non mutable self.

Alternatively one could show the mutable versions, but if a mutable method was selected one could change the var definition to be a 'mut'. This would be more 'flow', I worry the former may be a gotcha.

Thoughts?

[2017-06-30 17:56] mkaput commented on #1409
I think instead of hiding we could apply some colouring to mutable methods in immutable context

[2017-07-01 11:30] kryptan opened #1410 "Display crate name for lib.rs in multi-crate workspace"
When I open mod.rs there is always a name of the module displayed. However, if I open lib.rs/main.rs/Cargo.toml then name of the crate is displayed only if I open multiple files with the same name.

![image](https://user-images.githubusercontent.com/11528855/27761671-6f3c2128-5e69-11e7-9933-219d30cea2ea.png)

[2017-07-02 03:53] bgourlie commented on #1385
done :)

[2017-07-02 04:02] HybridEidolon commented on #1385
Done!

[2017-07-02 08:19] kumbayo commented on #1385
done

[2017-07-02 21:29] la10736 commented on #1385
done

2017-07-02 10:19 GMT+02:00 Peter Oberndorfer <notifications@github.com>:

[2017-07-03 06:52] farodin91 commented on #1386
![screenshot from 2017-07-03 08-50-13](https://user-images.githubusercontent.com/1159212/27781122-dab536b0-5fcc-11e7-82e5-9236df5d8ed6.png)
But bors doesn't have a details button.

[2017-07-03 15:58] Dr-Emann commented on #1304
Or, more directly equivalent to the example in the issue:

[code]

[code]

https://is.gd/90khT1

[2017-07-03 16:18] johnthagen commented on #1385
Done.

[2017-07-03 18:14] matklad commented on #1304
I'm going to close the issue because there isn't something we can really fix here. We probably can create a more targeted inspection, warning, but I would say it would have only a rather niche use case.

Thanks for the more succinct example @Dr-Emann !

[2017-07-03 18:14] #1304 closed

[2017-07-03 18:37] jrmuizel opened #1413 "Hovering to show variable type doesn't work"
Even though this feature was added, it doesn't seem to work for me in Intellij 2017.1.4

[2017-07-03 19:52] anton-okolelov commented on #1090
Could you please clarify this issue. When I start typing 'return' (for example 4 letters 'retu') I can press Enter and that's what I get:  return;  (with semicolon). It already works.
I'm a little bit confused, because I don't understand what the issue is about :)
Should I add semicolon when user doesn't use "Complete Current Statement" and presses Enter at the end of  line?
return<enter>  => retu

[2017-07-04 03:00] mrhota commented on #1385
done

[2017-07-04 06:34] matklad commented on #1413
![hover](https://user-images.githubusercontent.com/1711539/27817872-e92c55e6-609b-11e7-8019-ae5835098583.png)

Seems to work here. Do you hold `ctrl` key when hovering?

[2017-07-04 06:42] matklad commented on #1090
@anton-okolelov yep, we already handle inserting `;` or ` ` depending on the function type in autocompletion. However, our code formatter does not clean up semicolons.

If you type

[code]

and then use **reformat code** action (`ctrl+alt+l`), you get the same code back, while you should ideally see

[code]

That is, we should insert `;` during code formatting. We do something similar with commas

[2017-07-04 06:58] anton-okolelov commented on #1090
@matklad thank you!

[2017-07-04 07:17] abonander opened #1415 "Dead-code lint: don't underline the entire item's text"
I love the new `cargo check` integration, but the highlighting for `dead_code` goes a little overboard:
![dead-code lint overzealous highlighting](https://user-images.githubusercontent.com/3198595/27819176-d2c8918c-604d-11e7-9521-0ec6d93f3972.PNG)

If it's possible to grey-out and underline the item name like the built-in "Unused declaration" inspection, that'd be most helpful.

[2017-07-04 09:12] #1277 closed

[2017-07-04 09:59] anton-okolelov commented on #1090
Okay :)

It seems I managed to find 'return expression' element, but I don't know how to add semicolon after it.
[code]
How to create PsiElement properly? Could you give me a clue?
Is there a factory for that or something?

[2017-07-04 10:20] matklad commented on #1090
@anton-okolelov take a look at `RsPsiFactory` and its usages.

[2017-07-04 10:20] matklad commented on #1090
Spot on! :)

[2017-07-04 11:27] matklad commented on #1090
Oh, @anton-okolelov, we now require a CLA for PRs, see #1385 for details.

[2017-07-04 11:29] mkaput commented on #1090
@matklad I think you could set up some CLA bot, for example https://www.clahub.com/

[2017-07-04 11:34] matklad commented on #1090
Yeah, there's something like this being developed in JetBrains for community repository, but I would probably want to write our own thing, because I want something like @rust-highfive as well :)

I am afraid clahub won't work as is for us, becuase we need the specific docu-sign CLA.

[2017-07-04 11:48] anton-okolelov commented on #1090
I've signed agreement

[2017-07-04 13:42] jrmuizel commented on #1413
Ah, if I hold down Command on OS X I get types. I didn't know that you had to hold down a key.

[2017-07-04 13:44] matklad commented on #1413
Glad that it works for you now! Closing the issue then!

[2017-07-04 13:44] #1413 closed

[2017-07-04 15:15] jrmuizel opened #1419 "Type for the r is unknown when hovering"
For the following code:

[code]
I get 'value parameter r: <unknown>' when hovering over 'r'

[2017-07-04 21:19] jrmuizel opened #1420 "Result of indexing a vec given wrong type"
Given the following code:
[code]
the type of a should be u32. Intellij gives &u32.

[2017-07-04 21:32] Undin commented on #1420
No, it's not true.
Index operation returns reference at inner object because it's only borrowed without copying.
Implementation of the index operation for `Vec` in rust 1.18 stdlib is presented below:
[code]

[2017-07-04 22:17] Undin commented on #1420
Indeed:)

[2017-07-05 11:26] LooMaclin opened #1423 "java.lang.NumberFormatException: For input string: "1departure_code""
[code]

[2017-07-05 11:38] Undin commented on #1423
@matklad I'll fix it

[2017-07-05 11:57] #1420 closed

[2017-07-05 12:15] farodin91 opened #1425 "IOOBE: RsCargoCheckAnnotator"
[code]

[2017-07-05 12:42] #1423 closed

[2017-07-05 13:47] matklad commented on #1425
Thanks for the report! closed by #1426

[2017-07-05 13:56] #1425 closed

[2017-07-05 17:57] jrmuizel opened #1430 "Reference in 'for in' loop erases types"
In the following code e is resolved as (&K, &V) instead of (&u32, &u32)

[code]

However, if we drop the reference on 'h', e is properly resolved to (u32, u32)
[code]

[2017-07-06 09:54] orium opened #1433 "Errors in tests are not shown"
The new `cargo check` feature does not show errors in tests (under the attributes `#[cfg(test)]`/`#[test]`).

[2017-07-06 11:01] matklad commented on #1433
This is waiting for https://github.com/rust-lang/cargo/pull/4039 on Cargo's side of things.

[2017-07-06 11:15] matklad commented on #1415
Yeah, the right approach here I think is to make `rustc` to return a smaller span here, but short term I think we should remap it in IntelliJ.

[2017-07-06 21:19] Joshua-F opened #1441 "Error when using 0.# in TOML file"
I have something defined like below, but the plugin seems to be displaying an error at the period. It only gives this error when starting the double with a 0.

[code]

![Error picture](http://i.imgur.com/QA43Noy.png)

Might be somewhat related to intellij-rust/intellij-toml#13

Unrelated, but I also noticed a lack of syntax highlighting, if this is a bug I'll open up a separate issue.

[2017-07-07 07:58] alexeykudinkin commented on #1385
Adding my 2 cents: i don't think JetBrains CLA should be here.

JetBrains w/o a doubt is one of the major contributors to this project (through sponsorship of one of its developers), though this project never was officially affiliated with a company, and i can hardly see why every contributor should grant those rights to anyone except the community behind it.

As an alternative, i'd like to bring

[2017-07-07 11:45] johnthagen commented on #1385
Maybe JetBrains will provide complimentary licenses to the contributors for the eventual Rust IDE product 😄

[2017-07-07 13:57] anton-okolelov commented on #1021
Could I grab it?

[2017-07-07 13:59] matklad commented on #1021
@anton-okolelov sure, the only problem is that I don't know how to test this properly. If you have a proxy setup and can verify that this solution actually works, that'd be super great!

[2017-07-07 14:08] lilianmoraru commented on #1021
I forgot to mention, this works now...

[2017-07-07 14:08] anton-okolelov commented on #1021
Yes, I can setup proxy, no problem with it

[2017-07-07 14:12] matklad commented on #1021
@lilianmoraru hm, nobody has fixed it as far as I know... @anton-okolelov could you then check if it is indeed still an issue then?

[2017-07-07 14:17] lilianmoraru commented on #1021
@matklad I think you fixed it a few months ago.
I vaguely remember a refactoring Pull Request from you that fixed the issue.

[2017-07-07 14:24] anton-okolelov commented on #1021
Okay, I'll check whether it is fixed :)

[2017-07-07 15:24] #1415 closed

[2017-07-07 19:38] kryptan opened #1445 "Detect html in doc coments"
Currently code blocks within doc comments are detected and correctly formatted. However, if there is embedded HTML in doc comments it is not detected and is rendered like the rest of the comment.

![image](https://user-images.githubusercontent.com/11528855/27973934-7e0990fa-6364-11e7-9c19-e364795886a5.png)

[2017-07-08 01:20] paul-tcell opened #1446 "Exception: Wrong line: x. Available lines count: y"
This exception happened after I cut (ctrl-x) a function from the end of a rust file and pasted it (ctrl-v) somewhere in the middle of the file.

[code]

[2017-07-08 04:57] PaulBGD commented on #1446
Same issue, with same reproduction. I'm also using the vim plugin, if that helps.

[2017-07-08 09:12] torkleyy opened #1447 "Cargo check lints always use stable"
I'd like to work on a nightly project, is there some way I can make the lints work with nightly?

[2017-07-08 10:07] gilescope opened #1448 "Really highlight lifetimes somehow"
It seems PR #49 allowed lifetime specifiers to be highlighted in its own colour.

Being able to understand how wide a variables life lives for is key for understanding how Rust works.

It would be excellent if somehow we could highlight the start and end locations of the current variable's lifespan. Whether this is done via a different background colour or maybe in the margin - I don't know what's

[2017-07-08 10:58] matklad commented on #1447
If you are using rustup, doing something like `rustup default nightly` or (in the project directory) `rustup override add nightly` should do the trick: we use whichever toolchain version rustup itself uses.

[2017-07-08 11:08] torkleyy commented on #1447
Ah right, makes sense. Didn't come to my mind. Thank you!

[2017-07-08 11:08] #1447 closed

[2017-07-08 17:20] dobkeratops opened #1450 "display function-parameter-hints automatically"
At the moment you can get function-parameter information with CMD-P(mac), could an option be added for this to appear automatically on typing an open-parentheses after an alphanumeric ;

it might even be useful to display this in the modelling (or tooltips?) when browsing code as this will give you a lot of insight into whatever you're looking at.

I understand there might be issues with precision

[2017-07-08 17:27] dobkeratops opened #1451 "chroma coding: parameter vs type, display differently by default?"
at the moment in the default colour schemes (I see a light and dark theme option out of the box), the Rust environment shows the parameters and types the same colour; especially with the ':' character this can make signatures hard to read (which is especially difficult in Rust because the signtures can be quite busy);

IMO it would be a great help if the default schemes distinguished these, even i

[2017-07-08 18:01] matklad commented on #1451
Hello @dobkeratops !

You can configure coloring for parameters via settings (`ctrl+alt+s` > Editor > Colors & Fonts > Rust):
![parameters](https://user-images.githubusercontent.com/1711539/27987973-d61fc636-641f-11e7-84fd-fd6da4cc8bd9.png).

For default colors, we just inherit values from the platform, and they use the same color for function parameters and names of types.

Unlike Emacs, in Intel

[2017-07-08 18:22] matklad commented on #1450
You can configure IDEA to automatically show Parameter Info after a certain (possibly zero) delay. Quite confusingly, the relevant checkbox is buried in the code completion settings:
![param_hits](https://user-images.githubusercontent.com/1711539/27988124-23f532a8-6423-11e7-8958-9684a08e73b0.png) :)

There's a bug though that we don't automatically show parameter info after `()` are inserted in co

[2017-07-08 18:32] torkleyy opened #1453 "Refactoring module name removes `.rs` extension"
Using latest plugin release, `0.1.0.2061`, IntelliJ IDEA `2017.1.5`.

So I renamed the module declaration in my `main.rs` file from `mod foo;` to `mod bar;`. This refactoring renamed `foo.rs` to `bar` (without extension).

[2017-07-09 20:46] Litarvan commented on #1385
done ^^

[2017-07-09 22:08] allengeorge commented on #1385
Done

________________________________
From: Adrien Navratil <notifications@github.com>
Sent: Sunday, July 9, 2017 4:46:45 PM
To: intellij-rust/intellij-rust
Cc: Allen George; Mention
Subject: Re: [intellij-rust/intellij-rust] Contributor License Agreement (#1385)

done ^^

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/intel

[2017-07-09 23:12] alobb commented on #1385
Done

[2017-07-10 00:57] mbStavola commented on #1385
Done!

Glad to see JB taking an interest in this wonderful project!

[2017-07-10 08:27] vlad20012 opened #1455 "StackOverflowError"
[code]

[2017-07-10 09:39] matklad commented on #314
![param_hits](https://user-images.githubusercontent.com/1711539/28011920-bce0147a-656c-11e7-8802-a796cffc75e8.png)

[2017-07-10 10:13] matklad commented on #1451
Closing this as it seems like IntelliJ already support this feature :)

[2017-07-10 10:13] #1451 closed

[2017-07-10 10:14] matklad commented on #1446
This should be fixed in the current alpha, which was release a couple of minutes ago!

Full changelog: https://intellij-rust.github.io/2017/07/10/changelog-46.html.

[2017-07-10 10:14] #1446 closed

[2017-07-10 10:16] matklad commented on #1336
We can start with a simple refactoring which only creates a new substruct, without fixing the call sites.

[2017-07-10 11:32] matklad commented on #1385
It is indeed the case that IntelliJ Rust was never an official JetBrains product. We would like to change this and to make the plugin officially supported by JetBrains. This is the reason why we are asking for a **specific** CLA, used for open source JetBrains projects.

It is also true that JetBrains sponsored the development of the plugin and that the plugin itself is build atop of open  source

[2017-07-10 12:33] matklad commented on #1450
Now autopopup correctly works after autocompletion: https://zippy.gfycat.com/CreativeUnawareHarpyeagle.webm

[2017-07-10 12:54] #1450 closed

[2017-07-10 21:06] #1090 closed

[2017-07-11 01:58] netvl commented on #1385
Done.

[2017-07-11 05:09] abonander opened #1458 "Lifetimes can be multiple characters"
The parser implementation seems to assume lifetimes can only be one character:

![crop lifetime multiple chars](https://user-images.githubusercontent.com/3198595/28051843-ef6893f0-65bb-11e7-8e35-6a9818a1b3bb.png)

This is, of course, incorrect, as lifetimes can be any identifier. Unfortunately, the Rust grammar reference is still [highly anemic](https://doc.rust-lang.org/nightly/grammar.html#types

[2017-07-11 05:13] abonander commented on #1458
Nevermind, I just got the most recent plugin update and it seems this was silently fixed. Nice.

[2017-07-11 06:28] mkaput commented on #1458
Do you remember from which version have you updated?

We always have supported multicharacter lifetimes, and this error is result not of our parser but one of our annotators. I think it could be some glitch.

[2017-07-11 07:17] abonander commented on #1458
Sorry, I didn't check. I think I've been keeping it up-to-date, so probably the July 3rd release.

[2017-07-11 07:20] abonander commented on #1458
Actually, it's doing it with the current release now. It seems to happen when a type definition with a valid single-character lifetime is rewritten to `'static`, but I haven't been able to consistently reproduce it on the same line.

[2017-07-11 07:41] mkaput commented on #1458
I did some quick research, and this message comes from `cargo check` not from intellij rust itself

[2017-07-11 09:01] farodin91 commented on #1013
@matklad Fixed?

[2017-07-11 09:02] matklad commented on #1013
Yeah, I'd say the current state is better than the one from the issue creation time, and looks like @vlad20012 is going to refactor things further still!

[2017-07-11 09:02] #1013 closed

[2017-07-11 09:17] farodin91 opened #1459 "Implement function move up or down with step over function"
Would like to implement it?
@matklad Any suggestions to start?

[2017-07-11 09:30] matklad commented on #1459
Is this about moving functions with `Ctrl+Shift+Up/Down`? I would **love** to have that! Not sure what extension points are relevant here, but there's `MethodUpDownUtil` in IntelliJ IDEA, which sounds like it might be an entry point to this stuff.

[2017-07-11 09:31] farodin91 commented on #1459
Yes is about moving functions with Ctrl+Shift+Up/Down.

[2017-07-11 09:35] farodin91 commented on #1459
MethodDownHandler in java could the function

[2017-07-11 11:32] #1455 closed

[2017-07-11 19:38] matklad opened #1465 "Improve Derive attribute compltion"
We have special cased completion for `derive` attribute

[code]

it suggests stuff like `Clone`, `Eq`, etc. I think it can be improved a little:

1) add suggestion to add `Clone, Copy`: this is a very often combo

2) the same for `PartialEq, Eq` combo.

3) remove suggestions for `RustcSerialize`, as it is superseded by serde.

The code is here:

https://github.com/intellij-rust/intellij-rust/blob/

[2017-07-11 20:26] anton-okolelov commented on #1021
I added incorrect proxy to ~/.profile
[code]
then logout and login
(this ip and port are bad, non working proxy)

And when I added dependency to cargo.toml, intellij-rust couldnt download files.
After removing incorrect http_proxy / https_proxy variables and relogin, IDE downloaded dependencies successfully.
So it uses environment variables http_proxy / https_proxy when invokes cargo.

But it does

[2017-07-11 20:41] anton-okolelov commented on #1021
Probably we need to do some fixes here:
1) pass IDE proxy settings to cargo. I mean no just to execute "cargo" command, but execute with variables, like "http_proxy=blabla cargo" (for Linux and similar systems). Not sure about Windows way to pass variables.
2) When something goes wrong with downloading external dependencies, IDE should output error message, not just do nothing.

[2017-07-11 21:08] lilianmoraru commented on #1021
@anton-okolelov At work I use `Automatic proxy configuration URL`, where I give it a file from the internal network and it takes care of setting the proxy.
`http_proxy` would not work for this case.
Shouldn't there be an API in IntelliJ(I've set the proxy inside IntelliJ, it seems to know how to use it correctly and because of that I can update IntelliJ, the plugins, etc...)?

[2017-07-11 21:37] gilescope commented on #535
While things didn't work out of the box for me, by adding a ~/.lldbinit file with the following did the trick:
[code]

(I also had to chmod the lldb_rust_formatters.py file but this could just be that I was picking my copy up from a clone of rust source.)

You can confirm it works by typing "type category enable Rust" into the lldb prompt - if it doesn't error that's a good sign. :-)
Hope this hel

[2017-07-12 05:54] philippkeller commented on #1171
I needed this, so I hacked together a solution which currently works on my machine: [rustup-toolchain-proxy](https://github.com/philippkeller/rustup-toolchain-proxy). I'm curious if anyone else gets this running.

It uses the proxy characteristics of rustup and puts binaries within the rustup toolchain which run `bash.exe -c "cargo ..."`. What currently works:

- proxying to the cargo/rustc/rustdo

[2017-07-12 05:54] #1239 closed

[2017-07-12 07:15] matklad commented on #1021
Yeah, we have an API for getting a proxy info: https://github.com/intellij-rust/intellij-rust/issues/1021#issuecomment-304652762.

I think we need to setup Cargo's env vars here: https://github.com/intellij-rust/intellij-rust/blob/3c948dd52b61a6e537b0465a29e64326e48ec397/src/main/kotlin/org/rust/cargo/toolchain/Cargo.kt#L106-L110

[2017-07-12 08:21] farodin91 commented on #1430
I looked into it this problem, but looks like a huge problem. Erases of references and type parameter.

[2017-07-12 08:49] stephanbuys commented on #535
The note above works well on CLion/MacOS.
I still get regularly get `Blocking waiting for file lock on build directory` errors though.
Looking at the output of `lsof  ./target/debug/.cargo-lock` I can see that occasionally cargo doesn't exit even after the process has excited, not sure why.

Currently killing the cargo processes and manually deleting the lock file allows me to rerun the debug comm

[2017-07-12 15:29] matklad opened #1468 "Reduce code duplication for completing/resolving macros"
There seems to be a bit of code duplication between `RsMacroDefinitionCompletionProvider` and `NameResolution.kt`: functions like `processMacroReferenceVariants` and `walkUp` seems to be duplicated. Would be nice to somehow get rid of this duplication!

[2017-07-12 17:07] torkleyy opened #1470 "Trait with conditional default implementation for method"
I'm implementing `serde::ser::Serializer` for a struct and IntelliJ asks me to implement `collect_str`, even though it has a default implementation. The problem seems to be that the default implementation depends on the activated features. (And if I use the quickfix, the method stub gets inserted twice, so that's probably another bug).

[2017-07-13 06:10] farodin91 opened #1473 "Macro resolve only work in the main.rs/lib.rs basically"
I work on it.

[2017-07-13 06:11] farodin91 commented on #1473
I missed it.

[2017-07-13 06:42] farodin91 opened #1474 "Support lexical order resolve of macros"

[2017-07-13 09:09] #1273 closed

[2017-07-13 10:58] lilianmoraru commented on #1021
I am sorry I have mislead you guys.
I just reinstalled my Linux dev machine and I hit these issues again.
The solution I applied now and the one that I applied back then was that I added a bunch of proxy settings in `/etc/environment`, which `IntelliJ Rust`(or `cargo`?) correctly picked up(it did not pick the IntelliJ Proxy Settings though).

[2017-07-13 11:23] vlad20012 opened #1476 "org.jetbrains.kotlin.psi.KtStringTemplateExpression"
[code]

[2017-07-13 11:44] farodin91 commented on #1476
Could solved by my fix #1475

[2017-07-13 14:14] dsvensson opened #1477 "make cargo command configurable (xargo support)"
make cargo command configurable so that xargo can be used instead when dealing with embedded projects.

https://github.com/japaric/xargo

It might be interesting to perhaps default to this if a Xargo.toml exists.

xargo should be 100% compatible with cargo commands according to its documentation and I haven't found any issues either.

[2017-07-13 15:21] dobkeratops commented on #1451
hi thanks for the info, this helped readability a lot.

I would still make a couple of further requests:
[1] adjust the defaults, just change the hue of the 'parameters' a little (this will help other users)
[2]  add a few more cases:-
- and the name of a declaration : fn function name(..) ,  struct StructName{}   , trait TraitName {}. Call these 'declarations' perhaps;  highlighting 'functions','

[2017-07-13 20:41] matklad commented on #1474
I am not actually sure it is worth tacking at the moment: supporting this correctly should be rather hard in IDE context, and Rust itself steadily moves towards macros 2.0, which use the more common name resolution rules.

[2017-07-13 20:56] #1473 closed

[2017-07-13 21:00] #1476 closed

[2017-07-14 08:37] farodin91 commented on #1476
#1479

[2017-07-14 09:25] anton-okolelov commented on #1021
@lilianmoraru Yes, IntelliJ Rust successfully picks up linux environment variables, but it also must be able to pick up intelliJ Proxy Settings. As @matklad said, we can pass those settings  [here](https://github.com/intellij-rust/intellij-rust/blob/3c948dd52b61a6e537b0465a29e64326e48ec397/src/main/kotlin/org/rust/cargo/toolchain/Cargo.kt#L106-L110)

[2017-07-14 15:46] Undin commented on #1465
compltion -> completion :)

[2017-07-14 21:45] CAD97 opened #1481 "[Exception in plugin] Failed to create identifier: `mod`"
Shift-F6 (Refactor>Rename) rename file to `mod.rs` in root of src/ (I was going to move it thereafter)

<details>
  <summary>Details</summary>
  <p>

[code]

</details>

[2017-07-15 21:22] farodin91 commented on #1275
Fixed by #1467

[2017-07-15 21:23] farodin91 commented on #1272
#1376

[2017-07-15 21:31] vlad20012 commented on #1376
I think my nearest PRs will fix it.

[2017-07-16 17:47] alygin commented on #1385
Done

[2017-07-16 19:28] Techcable commented on #771
More importantly, this allows using generated code like [bindgen ffi bindings](https://github.com/servo/rust-bindgen). Normally I can sacrifice features like macros for the autocomplete productivity gains, but bindgen is so useful I can't go without it. It'd be awesome if this worked for this use case.

[2017-07-16 21:59] perryprog commented on #1087
Maybe a mix would be nice? i.e. have a setting to use `rustfmt` instead of the format engine for a full file reformat, and then use the format engine to know where to put the caret on a newline.

This probably won't work too well though, until the format engine and `rustfmt` match and all of that gets working.

[2017-07-16 23:53] Avi-D commented on #1087
Perhaps the necessities(intentions and what not) could be provided by intellij-rust's formatter, while everything else could be farmed out to `rustfmt`. Everything else meaning the aforementioned full file formats and formatting of subsections. Even things as small as trailing commas could be handled by `rustfmt`. This would make intellij-rust respect `rustfmt.toml` thereby supporting custom `rust

[2017-07-17 18:27] perryprog opened #1484 "Explicit separation of Cargo options and program options in a Cargo run configuration."
It would be nice if you could explicitly separate the program arguments from the arguments to cargo inside of the Cargo Command run configuration. The plugin would then automatically separate the two arguments with `--`.

Gitter conversation:
<img width="782" alt="screen shot 2017-07-17 at 2 24 20 pm" src="https://user-images.githubusercontent.com/12972285/28283515-ee38e864-6afb-11e7-9c4c-a3164398

[2017-07-18 01:25] mfarrugi commented on #1385
done

[2017-07-18 07:33] farodin91 opened #1485 "Integrate Intellij test window into rust"
@matklad I would like to implement this feature. What interface do i need to implement?
![screenshot from 2017-07-18 09-30-25](https://user-images.githubusercontent.com/1159212/28305429-ee56bd94-6b9b-11e7-9c4c-cea50bf2dd65.png)

[2017-07-18 07:53] mkaput commented on #1485
I tried to implement this in #1029 , but unfortunately Rust test doesn't produce parseable output which could be easily consumed by IntelliJ. Ideally, firstly someone should implement different output frontends in libtest.

[2017-07-18 11:03] farodin91 commented on #1485
@mkaput I could use your PR to a start. and build a behind an interface, to support easy replace of the different libtest frontend.

[2017-07-18 11:29] mkaput commented on #1485
👍

But take into account @matklad suggestions :)

[2017-07-19 08:12] #1275 closed

[2017-07-19 18:23] andreycizov commented on #1335
This seems to be triggered by some behaviour that I had not yet found. It works if I consequently restart the IDE.

Things tried:
- Restart the project with compilable code (works), then add a syntax error that should break the build. Still works.

Another part of the functionality that's not available is "jump to declaration" when the declaration is part of the macro definition, but I suppose tha

[2017-07-19 23:55] andreycizov opened #1488 "Is anyone working on automatic use (import) QuickFix?"
I am very much used to the python plugin's "Import this name" functionality, which allows you to add an import to the header of the file with a quick ⌘+Enter when you've mentioned a module or a class name that needs importing.

It saves a good chunk of my time, since I don't need to browse to the top of the file and write the code for it.

It also reduces the overhead of looking through the previo

[2017-07-20 05:50] farodin91 commented on #1488
### Two possible start point:
1. Using the CargoCheckAnnotator
- E0433
- E0599: Sometimes the rust compiler, shows possible imports like use `std::io::Read; `
- unused import
2. Extend the RsUnresolvedReferenceInspection and implement a RsUnusedImportInspection

### Two steps needed to implement:
1. Optimize imports like combining lines and remove unused imports (Reduce
2. Implement Importer using

[2017-07-20 06:26] farodin91 opened #1489 "Support Iterator implement macro for Iter"
https://doc.rust-lang.org/std/slice/struct.Iter.html

[2017-07-20 08:06] vlad20012 commented on #1489
working on it

[2017-07-20 09:19] alygin commented on #1488
Would be great to have it. I just want to mention a couple of related issues:

- this issue is a duplicate of #1366
- a short discussion of the feature with some useful information can be found in #949

[2017-07-20 19:42] farodin91 commented on #1485
@mkaput Do you there is any open issues to implement different frontends for libtest?

[2017-07-20 20:34] vlad20012 commented on #1489
What impls and for what types we should hardcode besides `Iterator` for Iter & IterMut? Only primitive binops and Fn* types comes to mind.

[2017-07-20 20:38] farodin91 commented on #1489
What do you think with what types we should hardcode?

[2017-07-20 20:40] farodin91 commented on #1489
https://doc.rust-lang.org/nightly/src/core/slice/mod.rs.html#1117-1215
https://doc.rust-lang.org/nightly/std/slice/struct.Iter.html

[2017-07-20 20:42] vlad20012 commented on #1489
I just did it, and I try to remember what other types implemented with macros in std.

[2017-07-20 20:43] farodin91 commented on #1489
I understand

[2017-07-20 20:43] farodin91 commented on #1489
grep macro_rules on std and core

[2017-07-20 20:53] farodin91 commented on #1489
libstd
[code]
libcore
[code]

[2017-07-20 20:56] farodin91 commented on #1489
clean up
libstd
[code]
libcore
[code]

[2017-07-20 21:04] Undin opened #1491 "Support rust 1.19"
Rust 1.19 is [released](https://blog.rust-lang.org/2017/07/20/Rust-1.19.html) :tada::tada::tada:.

So I think we should support next features:
- [x] CI builds with rust 1.19
- [x] numeric fields for tuple structs
- [x] unions
- [x] loop expressions
- [x] `eprint!` and `eprintln!` macros

[2017-07-21 06:07] farodin91 commented on #1491
eprint! and eprintln! should work

[2017-07-21 06:32] mkaput commented on #1485
Sincerely I have no idea whether such one exist :(

[2017-07-21 06:34] farodin91 commented on #1485
I will open an issue

[2017-07-21 07:49] Undin commented on #1491
Yes, auto completion and type inference should work at this moment. But we can know a little bit more about structure of these elements that can be useful in some other plugin features, for instance, #1490

[2017-07-21 09:32] farodin91 commented on #1491
https://github.com/rust-lang/rfcs/pull/1506

[2017-07-21 10:00] Undin commented on #1491
Oh, it's the first feature of this release I've known.
I've forgotten about it.
Thanks a lot!

[2017-07-21 11:20] farodin91 opened #1494 "Support shorthand field init"
https://github.com/rust-lang/rust/issues/37340

[2017-07-21 11:22] farodin91 commented on #1494
This feature is stable since 1.17.

[2017-07-22 20:14] Undin opened #1497 "RsCargoCheckAnnotator exception"
<details><summary>stacktrace</summary>
<p>

[code]

</p>
</details>

[2017-07-22 20:25] Undin commented on #1497
I'll try to fix it myself in the near future

[2017-07-23 08:35] la10736 opened #1499 "Test one single function should run just the function's test"
Consider a structure like following

[code]

Run `feature_a`'s `happy_path()` test should run just this test. Now the created configuration use just `happy_path` and then execute both of them.

PR is coming...

[2017-07-23 10:45] zummenix opened #1501 "A way to toggle 'ignore' attribute for a test"
It would be very useful to have ability to toggle `#[ignore]` for tests.

[2017-07-23 14:48] farodin91 commented on #1488
@andreycizov If you need any suggestion or help, i could look into.

[2017-07-23 15:22] la10736 opened #1503 "Gutter test icons for modules that contain tests"
It would be nice if we can provide a gutter icon to start test for modules too. On thinking about that I found that is little bit hard to find a good definition of what modules should have this icon and what not.

If we just say that every module that contains at least one test should have the test icon we will fall often in the cases where all modules have test icon (at least in my projects).

A

[2017-07-23 18:09] gilescope opened #1504 "Console output struggles with volume"
Rust being so fast is able to fill the 1024Kb output buffer pretty quickly.

In the land of println! debugging, I'm relying on the println statements, but when you print a lot to the console (possibly due to wide lines) some of the previous print statements are missing. (This is in a single threaded app). What's odd is that the lines for Finished compiling and Running '...' are still visible, so i

[2017-07-23 19:25] farodin91 commented on #778
I'm on it.

[2017-07-23 21:11] nathanaeljones opened #1506 "Spurious: Workspace member is outside of IDE project, please open the root of the workspace."
This occurs when the root of the workspace is opened, and modules (for each crate) have been loaded in to the workspace root project.

Example: https://github.com/imazen/imageflow/commit/0114fa8319779434736911b31da6f453eb3a9142

[2017-07-23 21:24] nathanaeljones opened #1507 ".iml files constantly shuffled"
intellij-rust shuffles the order of library entries in all .iml files, which is havoc with version control. I.e, this is shuffled:

[code]

Also, `.idea/libraries/*.xml` have psudeorandom ordering of entries, which could be prevented by sorting. Both issues appear to stem from the same page of code:

https://github.com/intellij-rust/intellij-rust/blob/6e996235bd63597afeee1304553d1ef53f3fe1ca/src/m

[2017-07-24 08:20] gilescope commented on #1504
The effect is worse with long lines, but even when I pretty print the lines ({:#?} instead of {:?}), I still get a few lines at the top of the console buffer that should have been overritten with later content.

[2017-07-24 13:12] andreycizov commented on #1488
@farodin91 I had started browsing the code for various approaches on how this could be done, but if you've got any suggestions on how I could start or where I should be paying attention first - that is absolutely welcome.

Is there any specific reason why no one had mentioned `RsErrorAnnotator`, as this class seems to be analysing the code specifically in order to create all of the QuickFix object

[2017-07-24 14:04] romanet opened #1508 "Error when creating new project or module"
rustc 1.5.0 (3d7cd77e4 2015-12-04)
cargo 0.6.0-nightly (e1ed995 2015-10-22)
IntelliJ IDEA 2017.1.4
Build #IC-171.4694.23, built on June 6, 2017
JRE: 1.8.0_112-release-736-b21 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 3.16.0-4-amd64

<pre>
           Cargo execution failed (exit code 127).
           /usr/local/bin/cargo init --bin /home/username/IdeaProjects/ProjectExample

[2017-07-24 14:15] vlad20012 commented on #1508
Hmmm, I think we aren't support this 2-years-old verison

[2017-07-24 14:29] Undin commented on #1508
But I think we can check cargo version to inform users that their version of cargo is not supported and suggest to update it. Also, I consider that we should have the place with information about supported versions of IDEA, rustc, cargo, etc.

[2017-07-24 15:01] farodin91 commented on #1488
Short answer for second part, no one mentioned RsErrorAnnotator, all annotation should work stable. This currently impossible the is incomplete.

I'll answer part one later, take to long on a mobile device.

[2017-07-24 19:03] farodin91 commented on #1488
I look a bit deeper into topic.
- I would start with implementing `org.rust.ide.annotator.fixes.ImportFix` with `LocalQuickFixAndIntentionActionOnPsiElement`.
- ImportFix is called as a fix for annotation holder. For example: https://github.com/intellij-rust/intellij-rust/blob/master/src/main/kotlin/org/rust/ide/annotator/RsErrorAnnotator.kt#L99-L100
- Now you need to find for the reference possib

[2017-07-25 03:23] tarcieri commented on #1243
@matklad is there a tracking issue for supporting macro expansions in general?

[2017-07-25 03:29] tarcieri commented on #964
I've been using RLS with VSCode and I really like it. That said, I still use IntelliJ (and this plugin) as my primary editor.

Macros (and procedural macros) are pretty common in Rust, and RLS is able to "see through" them. I think it'd be great if this plugin supported RLS as an optional backend, as I think it's the nuclear option for addressing issues like #1243

[2017-07-25 08:26] farodin91 opened #1510 "Fix build failure"
https://ci.appveyor.com/project/matklad/intellij-rust/build/1.0.2284
#1505

[2017-07-25 12:02] dobkeratops opened #1511 "'dot-autocompletion'- overestimate if in doubt?"
Could the 'dot-autocomplete' engine be made to show an *over-estimate* of potential completions  if it cannot resolve the type of a symbol, (maybe precede with a ? or display slightly greyed out to indicate the engine was unsure) -

This would still be useful because sometimes you write the function calls *first*, then go back and figure out which traits/namespaces you needed. This especially happ

[2017-07-25 12:12] farodin91 commented on #1488
@alygin Do you have any other suggestions?

[2017-07-25 12:27] andreycizov commented on #1488
Is there any index that would include the visibility information as well?

Example:
[code]

If I look up `HashMap` in `RsNamedElementIndex` - it will return an object residing in `std::collections::map::HashMap`.

The actual path to HashMap is `std::collections::HashMap`, where in `std::collections` it's declared as:
[code]

Basically, is there an index I could use in order to find an importable p

[2017-07-25 13:06] la10736 commented on #1510
[code]

I just dig it a little bit: what is missed in the output are the annotations that comes from syntax highlight but cargo check annotator do its job (produce 4 annotation and filter 3 of them).
Now syntax annotator should add again 3 other entries (slightly different from the _cargo check_ ones) but there are no trace about them.

[2017-07-25 16:45] romanet commented on #1508
Hmm, I haven't noticed Rust version is so old.

[2017-07-25 19:30] e-oz opened #1512 "Bug - removing {} from {self} leads to compilation error"
Please don't remove {} around "self" word.
Also I would be very pleasure to see some setting "Never remove non-space symbols from my code, commas, brackets and so on".

[2017-07-25 19:41] farodin91 commented on #1512
Could you add some code to reproduce this issue?

[2017-07-25 19:45] farodin91 commented on #1488
I have no idea, i need look into the code.
My first guess is to iterate over all parent mods and look to reexports.

[2017-07-26 00:27] e-oz commented on #1512
[code]

[2017-07-26 05:38] alygin commented on #1503
It would be great to have such an icon. But I think in practice, only the point 1 seems reasonable to implement. In other cases, you usually don't have a line to put the icon on. I mean, modules are usually files and I can't recall seeing a nested module that is not fully devoted to tests (and thus having the `#[cfg(test)]` attribute) but containing individual test functions.

In other languages,

[2017-07-26 06:18] alygin commented on #1504
Yep, I can reproduce that.

[code]

My assumption is that's because we don't separate the cargo output from the application output as other language plugins do. We put them into the same tool window, but they presumably use different output buffers and so we have this effect. Ideally, I think, the cargo output should go into a separate "Messages" tool window, as in other languages. But such featur

[2017-07-26 06:26] alygin commented on #1504
Maybe the fact that cargo sends its output to stderr (that uses a separate buffer) adds to the problem.

[2017-07-26 06:46] la10736 commented on #1512
What you want?
[code]
or leave it unchanged?

My taste is for removing it...

2017-07-26 2:27 GMT+02:00 Evgeniy OZ <notifications@github.com>:

[2017-07-26 07:06] la10736 commented on #1503
@alygin 1, 2, 3 describe a recursive algorithm and not some possibility. Even when the module are file you have a line like
[code]
that include it.

Maybe is better to write an example:

`lib.rs`

[code]
`inner_file_test.rs`
[code]

Finally `inner_file_no_test.rs` doesn't contains any test function;

In this case we following gutter test icon on the mod lines:

* `tests`
* `inner_test`
* `inner_fi

[2017-07-26 07:13] alygin commented on #1488
My main suggestion at the moment, actually, repeats what you already said. I just want to amplify a bit.

As far as I know, in mature languages, IntelliJ uses two relatively separate steps to automatically add an import item: it adds an import (`use` in Rust's case) as a separate line and then calls a subroutine that optimizes existing items (collapses them, removes unnecessary, reorders and refor

[2017-07-26 07:16] alygin commented on #1503
Ah, that's what you mean. Yeah, I think it makes sense.

[2017-07-26 09:16] e-oz commented on #1512
@la10736 your taste leads to compilation error as I wrote in title of this issue. It should be left unchanged. And I don't understand why my code should be changed by somebody's else taste.

[2017-07-26 09:37] mkaput commented on #1512
@e-oz , Why do you need
[code]
instead of
[code]
? (is there any semantic difference I don't know about?)

I think @la10736's taste meant removing whole `{self}` which I certainly 👍, while leaving only `self` is of course a bug

[2017-07-26 09:38] e-oz opened #1513 "[feature] Please add an option to turn off errors highlighting"
Looks like every few seconds plugin runs "cargo check" in background to find errors and highlight them in code. When size of the project is not small, it leads to false error messages (code is changed already about a minute ago but error is still highlighted), less responsive navigation and autocomplete, and, maybe not so critical, but still: waste of laptop battery. Most annoying thing is huge am

[2017-07-26 09:40] vlad20012 commented on #1513
There is an option:
![image](https://user-images.githubusercontent.com/3221931/28614752-89a3037a-71ff-11e7-8b11-b708ab94290d.png)

[2017-07-26 09:49] e-oz commented on #1512
@mkaput because I prefer to don't have useless changes in git history. Somebody's taste is nothing for me and I don't want to care about it at all. If `use rustc_serialize::json::{self}` works - it should be just left untouched, despite of what somebody on the planet thinks about beauty of this line. If you will keep enforcing of changing my code to your taste, I will just be forced to not use thi

[2017-07-26 09:52] vlad20012 commented on #1513
Hmm, if you turn off "Use cargo check to analyze code", only internal Intellij-Rust analysis will be used. Currently it is mostly syntax errors. It should be fast. Please check it. It cargo check is still work after "Use cargo check to analyze code" unchecking, it is a bug. But I could not reproduce it.

[2017-07-26 09:58] e-oz commented on #1513
@vlad20012 I'm "checking" it every day and it's a very very slow check. I wasn't sure how plugin is checking it, "cargo check" was just an assumption, because it takes same time to run cargo check and to wait while errors highlights will be removed after changes.

So my ask can be rephrased: please add an option to turn off internal errors check, to leave only autocompletion and navigation.

[2017-07-26 10:02] matklad commented on #1512
Yeah, there are definitely at least two severe bugs here:

* We should never ever break the code by reformatting.

* Our punctuation cleanups should be configurable.

I'll fix it as soon as possible! Unfortunately "as soon as possible" won't be super soon, because there's some stuff that prevents me from fixing it right now :(

Thanks for feedback!

[2017-07-26 10:03] matklad commented on #1512
There's also a checkbox for "reformat code" dialog, which allows to reformat only non-committed code by default.

[2017-07-26 10:10] vlad20012 commented on #1513
Internal analysis should be as fast as autocompletion/navigation. If you see outdated error highlights, it is likely cargo check. To be sure it is cargo, May be you can check your process list for cargo wasting lot of CPU while you typing?

Maybe someone other have the same issue (cargo check still works after it was disabled)

[2017-07-26 10:30] mkaput commented on #1513
More, internal analysis is crucial part of autocompletion/navigation.

@e-oz try to manually turn off any Rust inspections in settings, maybe this helps.

And you can always eventually turn off Hector Inspector (that funny guy on the status bar on right) but this will kill any intelligence.

[2017-07-26 12:00] la10736 commented on #1512
Maybe the formatter should leave unchanged rows like

[code]
Change it into
[code]
is an _Optimize imports_ duty.

Just for the record `rustfmt` remove the `self` part and leave just `use rustc_serialize::json`.

[2017-07-26 12:12] la10736 commented on #1512
I'm on it. First PR that not break code (leave unchanged). After we'll decide if make it configurable or demand to _Optimize Imports_ implementation

[2017-07-26 12:17] e-oz commented on #1513
Well, without navigation it doesn't worth to try. Ok, hope Apple will release more powerful laptops next time :)

[2017-07-26 12:44] matklad commented on #1513
I think we can move some of errors from error annotator into inspections, to avoid some false positives, and it's definitely time to revisit our performance benchmarks: recently, I've found a rather stupid performance leak which hopefully I'll push a fix for soon :)

[2017-07-26 12:51] matklad commented on #1513
And as for Cargo check annotator, I am leaning towards disabling it by default: it definitely makes working with largish projects miserable :(

[2017-07-26 13:37] #1512 closed

[2017-07-27 10:11] gilescope commented on #1504
Maybe but there's definitely console output from the program at the start
and end and missing some in the middle. I think even with cargo output put
in a separate buffer (personally I prefer it all in the same place :-) ) I
think the same problem would still occur. Definitely fun and games with
buffering though.

On Wed, 26 Jul 2017 at 07:26, Andrew Lygin <notifications@github.com> wrote:

[2017-07-27 14:40] #778 closed

[2017-07-27 14:59] #1499 closed

[2017-07-27 17:42] vlad20012 commented on #1489
Fix was merged with #1516

[2017-07-27 17:46] farodin91 commented on #1503
I would start with marking inner mods with a #[cfg(test)], because for me the use case is to run test for i'm working on.

[2017-07-27 18:09] #1489 closed

[2017-07-27 18:30] vlad20012 commented on #1510
Just fixed somewhere (failed to find the particular commit)

[2017-07-27 18:30] #1510 closed

[2017-07-27 18:35] #1430 closed

[2017-07-27 18:40] #1265 closed

[2017-07-27 18:45] vlad20012 commented on #1251
Can we assume that Cargo check annotator fixes it?

[2017-07-27 18:45] #1251 closed

[2017-07-27 18:46] #1141 closed

[2017-07-27 20:55] la10736 commented on #1503
@farodin91 I think we can split it in some PR by starting from the simpler and most important one.
Just a note, take care of both `test` and `tests` attributes. Thank you very much... I've no much time to spend on it.

[2017-07-27 21:09] johnthagen commented on #1325
I think this was closed by #1326

[2017-07-28 06:26] farodin91 opened #1522 "Add type hint for lambda parameter"
This should be configurable.

[2017-07-28 06:30] farodin91 opened #1523 "SOE"
[code]

[2017-07-28 06:45] farodin91 commented on #1523
@vlad20012 I think we need to limit the recursive type interference.

[2017-07-28 07:02] alygin opened #1524 "More intelligent hints"
Having [inlay parameter hints](https://github.com/intellij-rust/intellij-rust/pull/1326) is cool, but sometimes it can bee quite annoying. In mature languages, this feature uses additional rules to hide hints when they are redundant. I don't know all the rules, but here're a few that are obvious:

1. Local variable that is passed as an argument, has the same name as the parameter:

<img width="245

[2017-07-28 07:40] farodin91 commented on #1524
I like the idea of intelligent hints, but I would prefer to be able to switch between all and intelligent hints.

[2017-07-28 08:02] #1325 closed

[2017-07-28 09:15] matklad opened #1526 "Contributor License Agreement"
@d9n @zjhmale: we would like to make this plugin officially supported by JetBrains, and are collecting CLAs from all our awesome contributors! This happens in https://github.com/intellij-rust/intellij-rust/issues/1385, but looks like some notifications were not delivered because of the GitHub notification limit :)

So please see https://github.com/intellij-rust/intellij-rust/issues/1385 :)

[2017-07-28 10:50] #1465 closed

[2017-07-28 13:09] #601 closed

[2017-07-28 14:09] #1129 closed

[2017-07-28 14:19] matklad commented on #1512
Ok, now there's a special checkbox in the settings to disable all "punctuation" changes the formatter can do (removing braces in uses, commans in match arms and adding `;` after returns):

![punct](https://user-images.githubusercontent.com/1711539/28721391-d38cd2a8-73b8-11e7-8092-7396d20c549f.png)

https://github.com/intellij-rust/intellij-rust/pull/1529

[2017-07-28 14:28] e-oz commented on #1512
Thank you!

[2017-07-28 15:34] farodin91 commented on #1523
I'm not sure. Getting the same error on the latest master.
[code]

[2017-07-28 16:23] vlad20012 commented on #1523
Hmm, can't reproduce anywhere. Could you please tell the Rust project in which the error occurs?

[2017-07-28 16:24] farodin91 commented on #1523
ruma/ruma

[2017-07-28 16:46] vlad20012 commented on #1523
Ok, I've reproduced it. Thanks :)

[2017-07-29 00:09] d9n commented on #1385
Done

[2017-07-29 08:11] #1385 closed

[2017-07-29 10:54] bartwojcik commented on #1497
Same here:
[code]

[2017-07-29 13:44] farodin91 commented on #535
@matklad Any progress in supporting debug in Intellij IDEA?

[2017-07-29 13:49] vlad20012 commented on #1523
I've tested it with ruma, and it seems to work now.

[2017-07-29 17:25] alygin opened #1539 "Structure view is not updated"
The Structure tool window doesn't update its content when the source code is changed. It seems that something broke long ago &mdash; I've got a setup with the 0.1.0.1668 (Feb 20) plugin version, the problem was already present.

I've tracked the structure tree update routine down to [this line of code](https://github.com/JetBrains/intellij-community/blob/97ba5bc54ac3657f785c5ba65992435c88937cdb/pl

[2017-07-29 17:32] alygin commented on #1539
I think it might be caused by some of the forced change commits that we do here and there, but commenting them out didn't help either. Though, I'm not sure I found all the places.

[2017-07-29 18:27] alygin commented on #1524
Here's the exact rules that Java uses (they can be found in "Show parameter name hints -> Configure... -> Java") setting:

- White list of name patterns (a couple dozens by default, customizable)
- Do not show if method name contains parameter name
- Show for non-literals in case of multiple params with the same type (off by default)
- Do not show for builder-like methods

[2017-07-30 10:39] zummenix opened #1541 "Cargo check indicator"
It's not clear whether `cargo check` is in progress. I often find myself typing extra space somewhere to force rechecking.

Is it possible to show some kind of indication that the command is running?

[2017-07-31 06:53] farodin91 commented on #1523
Thank you. It seems to work for me to.

[2017-07-31 06:53] #1523 closed

[2017-07-31 08:04] zjhmale commented on #1526
Hi @matklad Sorry for the big delay, I'm quite busy and not get online for months. Yeah, I will do the CLA ASAP, sorry for introducing this trouble 😅

[2017-07-31 08:38] matklad commented on #1526
Thanks @zjhmale !

[2017-07-31 08:39] #1526 closed

[2017-07-31 09:48] #1497 closed

[2017-07-31 11:59] matklad commented on #535
@farodin91 sorry, not a lot of progress on debugger front recently :(

[2017-07-31 13:43] dobkeratops opened #1545 "browsing graph of traits/structs/impls?"
Would there be any place in this IDE that could easily browse the graph of structs/traits/impls,  -perhaps an enhancement of the [structure window](https://www.jetbrains.com/help/idea/structure-tool-window-file-structure-popup.html),

Ideally this should be able to navigate globally, not just 'from the current file', showing the open graph-like relationship between the entities (contrasting with t

[2017-07-31 13:54] matklad commented on #1545
Yeah, something like this would be super useful!

We already have a way to list all the impls of a trait:

![implementations](https://user-images.githubusercontent.com/1711539/28780689-59df42ec-7610-11e7-898e-69f38ebd468c.png)

This is handled by `org.rust.ide.annotator.RsTraitLineMarkerProvider`.

The next step is to add a similar marker to find all impls of a struct.

To implement this, we shoul

[2017-07-31 13:56] matklad commented on #1545
As for the general graph thing, this is handled by "Class hierarchy" infrastructure, but I think that gutter icons and filters in find usages are more high yield things to add right now.

[2017-07-31 14:00] matklad opened #1546 "pd and ppd snippets should use `eprintln!` instead of `println!`"

[2017-07-31 14:16] dobkeratops commented on #1545
thanks, thats quite useful already;

I suppose another 'stopgap' might be to open things in the generated 'rustdoc' pages (which already has this 'graph' built, but it wont have as much context information at hand )

When writing rust in emacs I have a key setup which basically does a recursive grep for ```(struct|trait|impl|fn|enum|type) <thing at point>```  .. is there a way to setup a 'grep com

[2017-07-31 14:23] matklad commented on #1545
Hm, this sounds like **Go to definition**, which is <kbd>Ctrl+B</kbd> by default.

[2017-07-31 14:29] dobkeratops commented on #1545
sure I use the 'goto definition', it's very useful;  sometimes the 'grep' also yields useful information , e.g. a function having multiple implementations, or indeed finding the references to types in the 'impl..for' lines . Obviously it can't filter or use context as well as an IDE. It can't find enum variants or fields

[code]

[2017-07-31 14:32] matklad commented on #1545
Thanks for the clarification! I think you actually want **Find Usages** (<kbd>Alt+F7</kbd>) with filtering by type of the usage, which unfortunately is not implemented yet :(

[2017-07-31 14:43] dobkeratops commented on #1545
ok thats pretty good, and does of course find 'impls' (usages of a trait or type..) so it also does quite a bit of the original request

[2017-07-31 15:40] matklad commented on #765
Works now!

![completion](https://user-images.githubusercontent.com/1711539/28785647-aded5cca-761f-11e7-9488-aa732dfbd55e.png)

Kudos to @vlad20012 !

[2017-07-31 15:40] #765 closed

[2017-07-31 15:41] matklad commented on #861
This was fixed.

[2017-07-31 15:41] #861 closed

[2017-07-31 15:42] matklad commented on #949
This is already implemented

[2017-07-31 15:42] #949 closed

[2017-07-31 15:46] matklad commented on #972
Works now, thanks to @vlad20012 ! (note that `A` should be changed to `Self::A`, otherwise even `rustc` complains).

![comp](https://user-images.githubusercontent.com/1711539/28785956-7bdda144-7620-11e7-98bf-e6ab94157934.png)

[2017-07-31 15:46] #972 closed

[2017-07-31 16:14] zjhmale commented on #1385
Done

[2017-07-31 19:23] vlad20012 opened #1548 "Hide type hint if it is too long"
![image](https://user-images.githubusercontent.com/3221931/28794400-e2687da8-763e-11e7-8b70-66b3d44455b3.png)
I don't completely know what is "too long". May be optional max length?

[2017-07-31 20:36] farodin91 commented on #1548
@matklad Any suggestions?

[2017-07-31 20:59] jrmuizel opened #1549 "functions returning Self confuse intellij"
[code]

intellij doesn't know the type of 'm'. If 'new' and 'version' are changed to return 'SApp' everything works fine.

[2017-07-31 21:02] Undin commented on #1549
I'm just working on this:)

[2017-07-31 21:44] #1549 closed

[2017-08-01 05:28] mkaput commented on #1548
I would place the limit of 10-15 chars and

1. If this is generic, try to replace most nested and then right-most generic arguments with `...

[code]

2. If it's not possible (just Java-esque name) , maybe just cut down whole string

[code]

3. Check out what Java implementation does ;)

[2017-08-01 06:17] farodin91 commented on #1548
I would replace it underscore not ..., because underscore is a bit more rusty.

[2017-08-01 08:28] matklad commented on #1083
The code is in `org.rust.lang.core.psi.ext.RsQualifiedNamedElementKt#getQualifiedName`. This most likely will be surfaced at `org.rust.ide.docs.RsQuickDocumentationTest`. It is possible that the better place to handle this is actually `org.rust.ide.utils.PresentationInfo`

[2017-08-01 08:30] matklad opened #1551 ""Fill match arms" intention."
For an empty `match`, add an intention to prefil match arms with enum variants, like

[code]

->

[code]

[2017-08-01 08:33] matklad opened #1552 "`match` keyword completion"
Add completion for `match` keyword, which automatically adds `{}`. The code is in `org.rust.lang.core.completion.RsKeywordCompletionContributor`

[2017-08-01 08:34] matklad commented on #1084
I think the best way to handle this is to have completion for the `match`, postifx template for match (already there), and an intention to fill out missing arms. Filed #1551 & #1552!

[2017-08-01 08:34] #1084 closed

[2017-08-01 08:38] matklad commented on #1086
Ok, `--nocapture` is default for a long time, and it worked out pretty well!

[2017-08-01 08:38] #1086 closed

[2017-08-01 09:05] matklad commented on #1376
Looks like this stumbles over `.collect` call, which is understandable, because `.collect` uses return-type polymorphism!

[2017-08-01 09:06] matklad commented on #1272
The first example is fixed, and #1376 has a separate issue, so let's close this.

[2017-08-01 09:06] #1272 closed

[2017-08-01 09:07] farodin91 opened #1553 "Extend method function extraction"
Currently, method extraction can only extract the contain code.

### Todo
- [x] Support input parameter
- [x] Support return parameter
- [ ] Edit function header, like kotlin method extraction

[2017-08-01 10:27] DarkEld3r opened #1554 "Doc-tests warnings"
When I run tests inside IDE, then I can see warnings, for example:
[code]
But as far as I know, [some warnings are suppressed](https://doc.rust-lang.org/book/first-edition/documentation.html#documentation-as-tests) for doc-tests:

And when I run tests from the command line, then there are no warnings in the output.

[2017-08-01 10:46] dobkeratops commented on #1552
I was just about to ask about this: basically my observation is that swapping from C++ to Rust, some scenarios where an OOP IDE may offer assist with 'a bunch of virtuals to over-ride', the equivalent situation in Rust is 'a bunch of match arms'..  would it be possible for the IDE to actually query the type of the expression in the match and show it's definition somewhere,  even if not going all t

[2017-08-01 11:00] matklad opened #1555 "Quick Definition (Ctrl+Shift+I) should show the actual definition"
Looks like quick definition shows only the first line of the definition, which is quite odd!

![image](https://user-images.githubusercontent.com/1711539/28822368-b08ce9a8-76c1-11e7-9dc0-cbdda989c340.png)

Here, we should see the full `struct S` text.

[2017-08-01 11:02] matklad commented on #1552
Yeah, filling match arms the neighboring issue #1551 , and code definition windows looks like Quick Definition (<kbd>Ctrl+Shift+I</kbd>), which sadly does not work super great yet #1555  :(

[2017-08-01 11:26] Undin commented on #1555
I can implement it

[2017-08-01 13:19] polachok commented on #1548
![screenshot from 2017-08-01 16-16-39](https://user-images.githubusercontent.com/94035/28827091-1d753026-76d5-11e7-971f-b5d256566687.png)

[2017-08-01 13:23] matklad commented on #1548
Working with visitors...

![image](https://user-images.githubusercontent.com/1711539/28827287-c0180362-76d5-11e7-883b-59d0cbd23a08.png)

[2017-08-01 13:27] matklad commented on #1548
Just to make sure folks are were, you can disable hints for local type parameters in settings:
![image](https://user-images.githubusercontent.com/1711539/28827453-49bb5628-76d6-11e7-8ec8-efc3c409d9c2.png)

[2017-08-01 13:31] farodin91 commented on #1548
You can disable it also in parameter hints settings.

[2017-08-01 14:26] alygin commented on #1548
Zero-cost abstractions they said...

[2017-08-01 14:31] vlad20012 commented on #1548
Awaiting [RFC 1522](https://github.com/rust-lang/rfcs/blob/master/text/1522-conservative-impl-trait.md)

[2017-08-01 23:37] locka99 commented on #1119
This is still happening with latest Intellij 2017.2 and Rust plugin 0.1.0.2063.

I thought that removing potentially recursive use statements might help but despite cleaning up a lot of them I don't notice any difference. CPU is still pegged around 50-60% in a 8-core i7. Stack trace is included.

I also refactored several hundred generated .rs files into a crate of their own, hoping it might help.

[2017-08-02 02:23] biolee opened #1559 "mut check fail"
https://github.com/pingcap/tikv/blob/master/src/coprocessor/endpoint.rs#L1017

func is mut, but it do not get underscore and get an err for call update who need &mut self

![screenshot](https://user-images.githubusercontent.com/7426917/28854905-376dc392-76ff-11e7-9e16-7119c9c6e720.png)

[2017-08-02 05:39] robinst opened #1560 "Type hints should not be shown for tuple structs"
Using version 0.1.0.2133-nightly of the plugin, type hints are shown for tuple structs such as `Ok` or `Some`, see screenshot:

<img width="191" alt="screen shot 2017-08-02 at 15 37 54" src="https://user-images.githubusercontent.com/16778/28859076-92663984-7798-11e7-874c-cf9051335306.png">

They should probably not be shown in these cases as they don't add any value and make the code harder to rea

[2017-08-02 06:16] mkaput opened #1561 "[FMT] Tune formatter settings to par with Rust formatting RFCs"
Our formatter currently defaults to some its own style (mostly based on my personal preferences since times I wrote it) which is reported to not match rustfmt. These style conflicts should be removed and we should format code 1:1 as rustfmt.

Formatter source: https://github.com/intellij-rust/intellij-rust/tree/66fd640a00f23674a777112c0ee50e630059f52f/src/main/kotlin/org/rust/ide/formatter
RFCs: h

[2017-08-02 06:18] mkaput commented on #1561
oh actually it's duplicate of #431

[2017-08-02 06:18] #1561 closed

[2017-08-02 07:50] matklad commented on #1561
Yeah, the problem is that `rustfmt` itself is in the process of changes: they recently switched to rustfmt-nightly, and tuned the default style.

And the set of accepted RFCs does not inspire confidence either :(

https://github.com/rust-lang-nursery/fmt-rfcs/tree/master/text

[2017-08-02 07:52] mkaput commented on #1561
Oh, forgot about the change

[2017-08-02 11:46] johnthagen commented on #1362
@matklad / @gilescope [I asked this question on the user forum](https://users.rust-lang.org/t/what-is-the-idiomatic-way-to-convert-str-to-string/12160).

Summary seems to be:
- Avoid `format!()` for something like this.
- `.to_owned()` seems to be slightly preferred due to what it semantically conveys
- Some preferred `.to_string()` for it's simplicity
- The runtime cost between `String::from()` `

[2017-08-02 12:30] #603 closed

[2017-08-02 12:38] matklad commented on #1453
Files are now renamed correctly, but looks like directories (`foo/mod.rs`) don't work really great yet.

[2017-08-02 12:49] matklad commented on #1299
We won't autoindent the cursor itself (because it's not clear if the expression is complete or not), but typing dot will place it in the proper position:

![autoindent dot](https://thumbs.gfycat.com/MediocreCompassionateBassethound-size_restricted.gif)

[2017-08-02 13:55] farodin91 commented on #1560
This doesn't looks like type, this are parameter name infos

[2017-08-02 18:35] angusholder opened #1565 "Opening a specific file causes IntelliJ to run out of memory and hang"
This file has a fairly complex macro so I figure that probably has something to do with it. I'm providing a zip of the project, just open main.rs and you should find that once the code analysis has kicked in, within a second or two, IntelliJ shoots up to its memory usage limit and hangs.

[intellij-test.zip](https://github.com/intellij-rust/intellij-rust/files/1194933/intellij-test.zip)

[2017-08-02 18:52] vlad20012 commented on #1565
Thanks for report!
I've checked your project and think the issue has already been fixed with #1563. Please check it tomorrow on the latest [nightly](https://intellij-rust.github.io/install.html) Intellij-rust build.

[2017-08-02 19:23] angusholder commented on #1565
Ah wow great, I will do thanks!

[2017-08-02 20:02] Geobert opened #1566 "formatting source remove comma in match statement"
In this code
[code]
when launching code formatting, the comma at the end of `DayStatus::Holiday` case is removed.

I think it shouldn't (as it makes compilation failing but I'm still a Rust newbie)

[2017-08-02 20:09] Others commented on #1560
I think these **are** parameter name info. But they still are totally useless and should be removed.

[2017-08-02 20:19] farodin91 commented on #1560
This will be fixed by smart hints in #1536

[2017-08-02 20:48] matklad commented on #1566
Yep, that's definitely a bug in the plugin! However, the, future versions of Rust will allow to omit this comma

[2017-08-02 21:00] Geobert commented on #1566
Workaround for people encountering this:
`Settings->Editor->Code Style`
check `Enable formatter markers in comments`

and put `// // @formatter:off` and `// @formatter:on` on the problematic section(s)

[2017-08-02 21:06] matklad commented on #1566
There's also "preserve punctuation" checkbooks in code style settings

[2017-08-03 02:03] Xaeroxe opened #1568 "Substitute type keywords with the actual type"
Type hints should not use the keyword Self, hints shown should reflect the name of the structure returned, not any of its possible aliases.  On the bottom two lines the hints show "Self"

![self](https://user-images.githubusercontent.com/6182002/28902619-695a6180-77bd-11e7-8431-9c6a6fbb6169.png)

[2017-08-03 06:24] overminder opened #1569 "Custom environment variables for running cargo"
First I'd like to thank you for creating this! It really improves my productivity when developing large Rust projects.

There's one feature that I'd like to have: allow users to set per-project custom environmental variables. Our use case is that some FFI bindings ([pkg-config](https://github.com/alexcrichton/pkg-config-rs/blob/bd1d464/src/lib.rs#L85) / [openssl](https://github.com/sfackler/rust-o

[2017-08-03 07:59] matklad commented on #1569
Glad that the plugin helps you to be more productive!

Regarding the issue itself, I think it should be solved lower in the stack then in IDE. As you've correctly said, the IDE solution will work only in the IDE.

It is 100% supported :) You can change path to the toolchain per project at `Settings > Languages & Frameworks > Rust`. Or does this not work for your use case for some reason?

I have a

[2017-08-03 08:17] overminder commented on #1569
Ah, there it is. From the plugin source there seems to be a UI for setting the toolchain path but previously I couldn't find it... Yes, this solution is sufficient for my need. Thanks!

On the other hand, [cargo might be planning to support passing environment variables from downstream to upstream](https://github.com/rust-lang/cargo/issues/4121).

[2017-08-03 08:17] #1569 closed

[2017-08-03 08:49] matklad commented on #1548
So I think that limiting this by the line length would be cool, but a bit difficult to implement, because you'll need to decide how to budget line length limit among children. I think a nice first solution would be to use the depth of a type to decide if we should print `_` or a full representation.

That is, I imagine something like this:

[code]

[2017-08-03 09:25] sgift opened #1570 "Always add .idea folder and .iml file to .gitignore"
Currently, the IntelliJ project folder and file are not added to .gitignore. I think it would be a good idea to add them by default, as it's rather untypical to store IDE data in a repository.

[2017-08-03 09:40] matklad commented on #1570
It's a rather complicated question... Editor specific .gitignores usually go to user's [global .gitignore]( https://help.github.com/articles/ignoring-files/#create-a-global-gitignore) or to .git/info/exclude, because different people use different editors. That said, some parts of `.idea` are *indented* to be committed to the repository: stuff that people usually share are code style, run configur

[2017-08-03 09:54] #1299 closed

[2017-08-03 09:55] matklad commented on #1565
@angusholder does the nightly version helped?

FYI, you don't have to wait until the nightly, you can grab the latest build off nightly from https://teamcity.jetbrains.com/repository/download/IntellijIdeaPlugins_Rust_CurrentIdea_TestsRust/.lastSuccessful/intellij-rust-0.1.0.%7Bbuild.number%7D.zip (this can be installed via `Ctrl+Shift+A > Install plugin from disk`).

[2017-08-03 09:58] #1524 closed

[2017-08-03 10:30] angusholder commented on #1565
Yeah all appears to work fine now, thank you!

[2017-08-03 10:30] #1565 closed

[2017-08-03 10:44] #1566 closed

[2017-08-03 11:45] vlad20012 commented on #1568
Thanks for the report!
The issue looks fixed by #1550. Please, check it on the latest [nightly](https://intellij-rust.github.io/install.html) Intellij-rust build.
![image](https://user-images.githubusercontent.com/3221931/28920286-c883b6d8-7859-11e7-9312-6408014df255.png)

[2017-08-03 18:26] RazrFalcon opened #1572 "Poor performance during editing"
I'm trying to use IDEA instead of Sublime Text as a Rust IDE, but I encountering huge lags during code input.

Here is a screenshot: https://itmages.ru/image/view/5984673/ae426f8c

This is the latest IDEA with bundled JVM. On the right side you can see *conky* showing CPU usage per core. Under the IDEA window, there is KDE system monitor showing that it's IDEA eating all the CPU.

The lags appear

[2017-08-03 18:33] vlad20012 commented on #1572
Hi, @RazrFalcon. Thank for the report!
Could you please tell the Rust project and the particular file/function you editing? Or does it not matter which project to edit?

[2017-08-03 18:36] grossws commented on #1570
I usually add `.idea/` and `*.iml` to global gitignore to avoid project's `.gitignore` pollution. Also, `.ignore` plugin for IDEA is often used and it manages gitignore for project.

IMHO, gitignore management is out of scope for this plugin and implementation of such functionality may conflict with dedicated `.ignore` plugin.

[2017-08-03 18:37] RazrFalcon commented on #1572
Project itself doesn't matter. I have the same issues even in a new project that has only 100 LOC.

[2017-08-03 18:45] vlad20012 commented on #1572
Is "Use cargo check to analyze code" disabled?
![image](https://user-images.githubusercontent.com/3221931/28937886-fc374162-7894-11e7-81d2-0d29e906eab5.png)

[2017-08-03 18:47] RazrFalcon commented on #1572
Yes. I have the same setting as in the screenshot. Except I'm using Rust 1.19

[2017-08-03 18:51] vlad20012 commented on #1572
Then only type inference/resolve remains. It is not yet well-optimized, but we are working on it!

[2017-08-03 18:54] RazrFalcon commented on #1572
I see. Thanks.

[2017-08-03 21:55] sgift commented on #1570
Using the global .gitignore instead sounds like a good idea. Would probably be too much work for too little gain to make it an option. Thanks for the quick responses.

[2017-08-04 08:15] #1570 closed

[2017-08-04 08:54] sgift opened #1573 "Expand vec to vec![] instead of vec!()"
The vec! macro autocomplete currently expands to vec!(), not vec![]. This form works but is not really idiomatic (all examples I've seen so far in the book/documentation use vec![]).

[2017-08-04 11:07] Zteve opened #1574 "Structure view unusable"
Currently the structure view lists everything in the module indiscriminately and fully expanded.

The expand and collapse buttons fully expand and/or collapse, and collapse means _everything_ is collapsed (`mod.rs` visible only).  Manually expanding the single root after a collapse shows that all the lower levels (e.g. `impl`s) are expanded as well, making the manoeuvre useless.

There is no way t

[2017-08-04 16:05] farodin91 opened #1575 "Refactor AbstractUpDownMover and support more types"
Todo
- [ ] impl
- [ ] mod
- [ ] trait
- [ ] match pattern
- [ ] macro_definition
- [ ] macro_call
- [ ] more code reuse in test
- [ ] clean up code in `checkAvailable`

[2017-08-04 16:11] farodin91 commented on #1545
I will extend **Find Usages**.

[2017-08-05 18:03] sorenmortensen opened #1577 "Build Project command regression"
Prior to version 47 (0.1.0.2063), the Build Project command in IntelliJ ran `cargo build`. Now, after updating, it does nothing.

[2017-08-05 21:04] osialr opened #1578 "Syntax coloring inconsistent within a file"
I'm on Windows 10, IntelliJ IDEA 2017.2.1  Build #IC-172.3544.35 , Rust 1.19, and Rust plugin 0.1.0.2063.

I have a fairly colorful color scheme set up and it does not always get applied.  See for example this clip from rust-geo where the top and bottom impls are colored but the middle is not.

![Missing coloring](https://user-images.githubusercontent.com/16169732/28998575-c1c4ef0c-79fc-11e7-9629-

[2017-08-06 06:09] farodin91 commented on #1575
And use, type def, ...

[2017-08-06 15:15] ph03 commented on #1361
Having the same problem that clion assumes I have a cmake-based C/C++ project instead of a rust project. This is a little bit sad, as the (preliminary) rust debugger is currently only supported in clion and not in IDEA.

[2017-08-06 16:21] #1068 closed

[2017-08-06 22:04] pabloa commented on #535
Please re evaluate the importance of adding a realistic debugging solution to Rust.

The "big masses" of developers interested in Rust are probably not comfortable/interested on C/C++. Perhaps we are more interested in using Rust on projects that can be done with java, go, Scala or similar.

All these CLion cluttering asking me about C++ binaries, make/cmake drama, refusing to recognize my Rust pr

[2017-08-07 03:05] Redrield commented on #535
That seems to go against all that Rust is trying to do. Rust isn't trying to be another application level language like those that you've listed. It's a system language, and it has been since it was created.

If you don't like fiddling with CLion to get embedded debugging to work, realistically, you can just open a bash/wsl shell session, `cargo build` and use `rust-gdb` or `rust-lldb` to debug th

[2017-08-07 05:59] pabloa commented on #535
Thank you @Redrield for your answer. I will try the command line approach you suggested.

I want to use Rust to write a server app and experiment how this program would perform if it is written in a system language without GC. It seems high level enough to have a similar experience than writting java code, except the debugging part that I feel it is too complicated.

[2017-08-07 06:25] sssilver commented on #535
@Redrield I don't think you fathom the damage this kind of sentiments do to the dissemination of the language. I'm not interested in debating opinions here. Luckily, we have the [2017 Rust Roadmap](https://github.com/aturon/rfcs/blob/roadmap-2017/text/0000-roadmap-2017.md) to guide us:

These are no more no less the first 3 priorities that the core team has established as focus areas for 2017 in o

[2017-08-07 11:12] matklad commented on #1361
I would rather say that the amount of grief caused by this is immeasurable! Sorry about that, we are trying to fix this, but unfortunately it's more complicated then "write some code to make things work" ;(

[2017-08-07 11:15] matklad commented on #1578
Yeah, looks like the stackoverflow is the real culprint here, and it should be fixed in the new version which was released just moments ago! Please reopen if the issue persists after the update :)

Thanks for the report!

[2017-08-07 11:15] matklad commented on #1577
Hm, it should run `cargo check` instead. Could it be that you are using an older version of `cargo`, which does not have `check` command?

[2017-08-07 11:37] #1555 closed

[2017-08-07 15:08] osialr commented on #1578
@matklad Thanks. I updated the plugin, but the same stackoverflow is occurring the latest plugin and in master (0d4be39f4)  I don't have permission to reopen this issue, could you open it?

This is the file I'm looking at
https://github.com/georust/rust-geo/blob/master/src/types.rs

I put a println for `element`, `boundSub`, `trait`, and `subst` before the loop at https://github.com/intellij-rust/

[2017-08-07 15:14] matklad commented on #1578
@vlad20012 take a look please: looks like anoter unify with SO

[2017-08-07 15:43] matklad commented on #1539
Thanks for investigation @alygin !

Looks like this is a platform problem, introduced between 2016.3 and 2017.1. Structure view uses `outOfCodeBlockModificationCount` to check if it should update itself: https://github.com/JetBrains/intellij-community/blob/master/platform/lang-impl/src/com/intellij/ide/structureView/newStructureView/StructureTreeBuilder.java#L186-L189. And looks like this modifica

[2017-08-07 16:00] matklad commented on #1539
https://youtrack.jetbrains.com/issue/IDEA-177231

[2017-08-07 16:00] #1539 closed

[2017-08-07 19:26] johnthagen opened #1583 "Integrate clippy output into UI"
[CLion recently added clang-tidy integration into the UI](https://blog.jetbrains.com/clion/2017/07/clion-2017-2-released-clang-tidy-and-more/#clang-tidy), which brought a lot of helpful lints into the IDE.

It would be nice if something similar could be done with [clippy](https://github.com/rust-lang-nursery/rust-clippy) for Rust, perhaps in a similar way to how `cargo check` integration was added

[2017-08-07 20:14] #1419 closed

[2017-08-07 20:14] jrmuizel commented on #1419
This looks fixed now.

[2017-08-07 20:50] jrmuizel opened #1584 "References to tuples don't propagate types properly"
[code]

'k' and 'j' properly get types u32 but 'i' does not.

[2017-08-08 06:28] pabloa commented on #535
Idea is supporting officially Rust :D
https://blog.jetbrains.com/blog/2017/08/04/official-support-for-open-source-rust-plugin-for-intellij-idea-clion-and-other-jetbrains-ides/

Please comment asking for a working debugging experience :+1:

[2017-08-08 06:45] gilescope commented on #535
I think a lot more work needs to be done lower down the stack than at the intelli-rust level to get something as slick as us non-C++ devs are used to. A great debugging experiance is a joy to behold, and maybe there's an expectations gap - the C++ guys haven't really had as great a debugging experiance as the manage languages have. We come expecting a lot. It will come, but it takes time. For me p

[2017-08-08 06:51] pabloa commented on #535
I finally found a way to make Rust plugin and the debugger work with CLion.

The steps are:

- Make sure your Rust project works with Cargo. Try to compile it and call the executable. Verify your program starts.
- Download CLion. And install it somewhere. Do not insist (as today Aug 7th, 2017) with any other Jetbrains IDE. Debug works only in CLion. I tried with the paid version of the CLion IDE.

[2017-08-08 07:17] matklad opened #1586 "Run configurations should allow to set working directory"

[2017-08-08 07:35] #1584 closed

[2017-08-08 07:36] pabloa opened #1587 "It is not possible to debug applications with command line parameters"
I create a Run configuration using parameters. When I Run it, it correctly executes a command like:
[code]
However, when I launch it with Debug, it executes other cargo line like:
[code]
and Cargo reports an error:
[code]

It works ok if I remove my command lines after --

[2017-08-08 08:17] farodin91 commented on #1568
Closed?

[2017-08-08 08:17] farodin91 commented on #1560
Closed

[2017-08-08 08:17] matklad commented on #1568
Yep, thanks @farodin91 !

[2017-08-08 08:17] #1568 closed

[2017-08-08 08:18] #1522 closed

[2017-08-08 08:19] #1560 closed

[2017-08-08 08:53] #1501 closed

[2017-08-08 09:06] nicity commented on #1385
https://blog.jetbrains.com/blog/2017/08/04/official-support-for-open-source-rust-plugin-for-intellij-idea-clion-and-other-jetbrains-ides/

[2017-08-08 09:14] matklad commented on #1573
Will be closed by https://github.com/intellij-rust/intellij-rust/pull/1588

[2017-08-08 09:14] #1573 closed

[2017-08-08 09:16] matklad commented on #1546
Fixed

[2017-08-08 09:16] #1546 closed

[2017-08-08 10:57] farodin91 commented on #1503
@la10736 What do you think?

[2017-08-08 18:14] jrmuizel opened #1593 "Struct initializer short hand is highlighted as field name instead of variable name"
i.e. given the following code, 'a' and 'b' are highlighted as fields.
struct Foo {
    a: u32,
    b: u32,
    d: u32
}

fn make_foo(a: u32, b: u32, c: u32) -> Foo {
    Foo {a, b, d: c}
}

I did some quick polling of people in my office about whether they thought of 'a' and 'b' as fields or variables and there were mixed results. When asking about what 'goto declaration' should do  people tended

[2017-08-08 18:16] vlad20012 commented on #1593
#1494

[2017-08-09 08:00] vlad20012 commented on #1578
The issue should be fixed by #1592. Please, check it on the latest [nightly](https://intellij-rust.github.io/install.html) Intellij-rust build (or build it from master).

[2017-08-09 14:58] matklad commented on #1507
This should be fixed by https://github.com/intellij-rust/intellij-rust/pull/1596. After it, we won't be recording any libraries into plugin.xml at all.

[2017-08-09 14:59] #1507 closed

[2017-08-09 15:00] matklad commented on #1268
closed by #1596.

[2017-08-09 16:50] jkcclemens opened #1597 "Don't show type hints for ignored variables"
![image](http://i.imgur.com/npktBKp.png)

It doesn't matter that `_` is an `Error`; it's not being used.

[2017-08-09 16:58] jkcclemens opened #1598 "Auto-completion of inappropriate items / editing is difficult"
See [this](http://sendvid.com/ycpbav80) video.

When "Insert selected variant by typing dot, space, etc." is enabled, editing code becomes a real pain due to the plugin suggesting inappropriate completions. This problem is not apparent when working with Kotlin or Java.

![image](http://i.imgur.com/usW7lEG.png)

[2017-08-09 17:32] sorenmortensen commented on #1577
Nope, I'm using `cargo` 0.19.0, which does have the `check` command.

[code]

When I say that the Build command does nothing, I don't just mean that it doesn't build the project. I mean that it doesn't appear to attempt _any_ action whatsoever - nothing appears in the bottom status bar, no UI panels appear, nothing happens.

[2017-08-09 18:42] jrmuizel opened #1599 "Wrong type from match result with return statement"
Intellij thinks the type 'full' is () when it should be u32

[code]

[2017-08-09 19:48] thomas-jeepe opened #1600 "Error with slog macros"
Using the slog `error!` macro causes an error within the IDE for an invalid syntax error. The example is below.

`Cargo.toml`

[code]

`src/main.rs`

[code]

Specifically the error I am getting is on the `error!` macro line, I got:

`'(', '[' or '{' expected, got '('`

Extra:

Using the `slog_error!` macro instead of the `error!` causes the ide to not error.

Using either `slog_error!` or `error!`

[2017-08-09 20:51] matklad opened #1602 "Wrong caret placement in structs"
Test case

[code]

<kbd>Enter</kbd>

[code]

[2017-08-10 07:01] farodin91 opened #1603 "Support type inference for fold, method and array"
example: fold
[code]

example: method
[code]

example: array

[code]

[2017-08-10 09:47] #1602 closed

[2017-08-10 12:53] osialr commented on #1578
That fixed it. Thanks!

[2017-08-10 12:53] #1578 closed

[2017-08-10 13:22] #1548 closed

[2017-08-10 13:51] farodin91 commented on #545
I had the idea to use `libmacro` to expand the macros. This approach would also support new macro by example and proc macros.

[2017-08-10 15:38] Zteve commented on #1574
Furthermore, going to the entry in the structure view from the source doesn't work for me.
Finally, if you actually go and collapse some of the twisties in the structure view and then visit another module and return; all of the twisties are expanded fully again. It's depressing.

[2017-08-11 07:06] farodin91 opened #1612 "control flow analysis"
Combine multiple analysis part into one analysis per function. Prevent recursive analysis.

Possible parts:
- type inference
- type checking
- borrow checker/ mutable
- unsafe
- impossible branches

@matklad and @vlad20012  Any suggestions?

[2017-08-11 08:28] Zteve commented on #1574
@matklad Hi; what does the  label https://github.com/intellij-rust/intellij-rust/labels/E-unknown mean, please?  I see no other issues with this label.

[2017-08-11 08:41] farodin91 opened #1613 "Short hint type"
Ignore ref as level.
For example:
[code]

[2017-08-11 08:49] matklad commented on #1574
In Rust-related projects, `E-` prefix signifies the level of required `E`xperience for fixing the issue. The usual three levels easy, medium, and hard. But sometimes, it's just difficult to access the difficulty of the issue upfront, so I've created an `E-unknown` for this use-case recently. This is the only issue tagged as unknown because this tag was added only recently :)

This particular issue

[2017-08-11 08:55] matklad commented on #1574
Hm, on the second check, looks like I am wrong here!

[2017-08-11 08:59] vlad20012 commented on #1612
I think we should perform type checking (and possibly all of the above) during type inference and save errors into `RsInferenceContext` (as mapping like `expr => error`). Then extract errors from the context by an error annotator. But I do not think that we can do any type checking right now. Currently I'm working on something called `Expectation`, and after implementing it, it should be possible

[2017-08-11 09:01] matklad commented on #1612
@vlad20012 we also need a limited form of control flow analysis in type inference, to deal with `!` type properly: https://github.com/intellij-rust/intellij-rust/issues/1599

[2017-08-11 09:03] Zteve commented on #1574
@matklad Thank you; now I understand.

Well, I just looked and I'm not sure Java Intellij _does_ persist structure expansion state....  :-)  Guess it depends on when you look??

Changing the default expansion when opening the top-level structure would be a good idea; in fact I would suggest you should open the top level, and collapse everything below that.  This simple change would make the struct

[2017-08-11 09:26] matklad commented on #1506
Question: why do you need to create a separate IDEA module for each of the crates? My understanding is that they are a member of a single workspace, so it should be sufficient to import only the root of the workspace in the IDE.

Modules were required a while back, when Cargo didn't support workspaces, but now they should be unnecessary, and we are trying to get rid of them slowly, because they ar

[2017-08-11 11:10] matklad commented on #1506
The single layout will look like this: https://github.com/matklad/imageflow/commit/c6d38969f9104fe590f12897ec057a723495176. If it'll work for you, I'll send a PR after the next plugin release.

Thanks for sharing the link to the repo! It's nice to see IntelliJ being used for cool projects, and it helped to track down one nasty bug which would have slipped into production otherwise!

[2017-08-11 17:34] nathanaeljones commented on #1506
I usually run tests on one crate at a time when developing - and run configurations seem to require a crate module. Maybe not? I'd also assumed that refactoring needed them.

[2017-08-11 20:21] montrivo opened #1618 "How to point to local rust standard sources?"
Hello,

Since the rust devs stopped distributing rust internal libraries through rustup (see https://github.com/rust-lang/rust/issues/42667), I use a clone of the official repo to navigate those libraries with crates that need it (clippy).

In the IntelliJ settings, I try to point to my local clone of the standard sources without success. When I close the settings windows and reopen it, it points

[2017-08-11 20:57] matklad commented on #1618
Hm, that's interesting... Curently we provide a way to set up library manually only if rustup is not present. If there is rustup, we unconditionally use it.

We could implement merging of rustup and custom sources, but unfortunately it's not trivial and hard to test, and is also relatively low priority.

I think the cleanest workaround would be to copy additional sources to the place where rustup

[2017-08-11 23:06] montrivo commented on #1618
The workaround doesn't work. Maybe related to #946?

[2017-08-12 14:32] vlad20012 commented on #1603
Hmm, fold currently works for me:
[code]

[2017-08-12 15:04] farodin91 commented on #1603
@vlad20012 Work hint to ?

[2017-08-12 15:34] vlad20012 commented on #1603
@farodin91 Type hinths? Heh, I don't see any type hints on the latest nightly at all:
![image](https://user-images.githubusercontent.com/3221931/29241914-e62b121a-7f8b-11e7-966b-1860c569fcb4.png)

Previously I've disabled hints due to #1548 and did not enable them until now. IDE restart did not help. Nice.

Anyway, `fold` type inference works fine.

[2017-08-12 15:35] farodin91 commented on #1603
Inner type inference in lambda didn't work for me acc is B not i32.

[2017-08-12 15:38] vlad20012 commented on #1603
@farodin91 Uh, now understand. Your example was too ambigous =)
Yes, `acc` inference faild. Ok

[2017-08-13 13:47] kumbayo opened #1622 "Can not resolve items from the libc crate"
Items from the libc crate are not resolved properly when using the crate from crates.io.

This is likely related to the libc crate being available twice:
* From crates.io via Cargo.toml
* From rust itself, which can be activated by `#![feature(libc)]` rust-lang/rust#27783

[code]
Cargo.toml:
[code]

![intellij_libc](https://user-images.githubusercontent.com/1041267/29250047-c37b5d8c-803b-11e7-86c1

[2017-08-13 19:38] johnthagen opened #1623 "Separate parameter hints from type hints"
It's not currently possible to show just parameter hints (the names of function parameter variables) or just type hints (the types of local variables). Sometimes it's helpful for me to see one or the other, but not both so this flexibility would be great.

[2017-08-13 19:41] kumbayo opened #1624 "Wrong E0428 is shown when a macros has the same name as a type/module"
When a macro and a module or a macro and a struct have the same name, a wrong error is shown
`A type named xxx has already been defined in this module [E0428]`

[code]
![intellij_e0428](https://user-images.githubusercontent.com/1041267/29252880-b41d41f0-806f-11e7-9b7f-5bc174890638.png)

[2017-08-13 21:17] farodin91 commented on #1623
You can decide in rust settings or in inlay hint settings.

[2017-08-14 02:30] doxxx opened #1626 "Incorrect newline indentation in struct literals"
When typing a struct literal, pressing Enter at the end of the last field line does not indent the new empty line correctly.

For example:

[code]

Pressing Enter at `<cursor>` results in the following:

[code]

Whereas I would expect this instead:

[code]

I believe this was working in an earlier version of the plugin. I'm currently using v0.1.0.2064.

[2017-08-14 09:59] #1613 closed

[2017-08-14 11:14] #1183 closed

[2017-08-14 11:15] #1459 closed

[2017-08-14 12:35] DarkEld3r commented on #1554
Anyone?..

[2017-08-14 22:46] johnthagen commented on #1623
Thanks @farodin91 Maybe ideally I'd prefer a shortcut toggle between them, but this is totally fine.

[2017-08-14 22:46] #1623 closed

[2017-08-15 11:13] farodin91 commented on #545
@matklad What do you think from my approach?

[2017-08-15 12:05] stianeklund opened #1630 "Differentiate between compiler warnings & errors"
Currently when building it will group the error & warnings together and there's separation between them.
Ideally there would be a Errors and Warnings button?

Say I compile a project and it fails with an error, that error is listed on the top of the output from `cargo check --all` but then text window will scroll to the bottom.

Now I don't know if this is something that could or should be improve

[2017-08-15 12:10] vlad20012 commented on #1626
Hmm, can't reproduce on nightly.

[2017-08-15 12:47] matklad commented on #1626
Yeah, I think this was fixed in https://github.com/intellij-rust/intellij-rust/commit/9e91420da18de2fe547c02cce6c21748fc7256b0

[2017-08-15 12:47] #1626 closed

[2017-08-15 14:26] matklad commented on #1506
@nathanaeljones yeah, there's `--package` argument on Cargo's side to select which workspace member to use. I've send the PR!

So I am closing this issue because the warning is not actually spurious: in the current implementation, IDEA modules should correspond to Cargo workspaces. We probably will support several workspaces in a single module some time in the future, but I don't think it's import

[2017-08-15 14:26] #1506 closed

[2017-08-15 15:10] PoiScript opened #1631 "Long type inference is annoying"
This is an example from [tokio](https://tokio.rs/docs/getting-started/tls/), and you can see the type inference is so long that I barely see nothing.

![screenshot_20170815_230148](https://user-images.githubusercontent.com/17513314/29321656-b95bf810-820d-11e7-9a16-474fb41d1571.png)

Adding a trailing ellipsis (...) in type longer than 50 characters will make it seem better.

[2017-08-15 15:21] matklad commented on #1631
This should be fixed in the latest release: we use `_` to shorten long types.

[2017-08-15 15:59] matklad opened #1632 "Overhaul Run Configurations for Cargo"
Our current run configurations basically work, but looks like there's a big room for improvement.

To me as a user of IntelliJ Rust the biggest problem UI-wise is a mismatch between IDEA's GUI and Cargo's usual command line. In particular, I always mess up `Command` and `Additional arguments` fields and write args in the first field.

So the biggest change is to merge `Command` and `Additional arg

[2017-08-15 16:00] matklad commented on #1506
@nathanaeljones looks like you use run configurations a lot, so if you have any feedback about them, please add them to this issue: https://github.com/intellij-rust/intellij-rust/issues/1632.

[2017-08-16 15:55] Geobert commented on #1261
:'(
https://github.com/Stebalien/term/issues/58#issuecomment-322571742

[2017-08-16 16:08] matklad commented on #1261
Nightly Cargo now emits ANSI escapes on windows, so we need to reconsider the situation.

[2017-08-17 11:04] #1552 closed

[2017-08-17 11:21] #1598 closed

[2017-08-17 14:15] Zteve commented on #1574
@matklad It looks like the 'autoscroll' from source (setting Structure View) is now working with the latest update (Version 0.1.0.2065). Thank you!

[2017-08-17 15:59] alygin commented on #1554
It looks like the `--nocapture` is the culprit here. The plugin uses `cargo test -- --nocapture` when running tests, and it somehow makes `rustdoc` emit those warnings, i. e. run with the `--display-warnings` option.

I would say it's a cargo (passes wrong options to rustdoc) or rustdoc (handles options incorrectly) issue. @matklad?

[2017-08-18 07:43] #1376 closed

[2017-08-18 19:41] Songbird0 opened #1638 "False positive: Cannot declare a new module at this location"
Hi!

I've put my `pub mod generator;` statement in `lib.rs` file but, unlike cargo, Intellij has displayed an error which isn't one.

I tried this code:

[code]

Here's my `tree`:

[code]

I expected to see this happen: `pub mod generator;` statement isn't underlined.

Instead, this happened: `pub mod generator;` statement is underlined. See below:

![image](https://user-images.githubusercontent.c

[2017-08-18 22:54] miedzinski opened #1639 "self:: autocompletion in function signatures"
[Imgur](http://i.imgur.com/w0AJFIE.png)

Notice the colons.

This happens even outside impl blocks. I don't think any other paths trigger it; only `self::`.

edit:
PyCharm Pro 2017.2.1
intellij-rust 0.1.0.2065
rustc 1.19.0 (0ade33941 2017-07-17)

[2017-08-19 12:18] vmaks commented on #535
I am looking for debugger support!

[2017-08-20 07:32] lilianmoraru commented on #535
@pabloa I use the debugger without any `CMakeLists.txt` files(in my own projects).
I know you can't open your first Rust project without a `CMakeLists.txt` file - I open another C++ project and after that you can open any Rust project through `File -> Open`.

[2017-08-20 13:03] farodin91 commented on #1639
I will try fix it

[2017-08-20 16:57] doxxx commented on #1626
Confirmed in latest plugin version.

[2017-08-20 16:59] matklad commented on #1626
@doxxx confirmed that it works, or that it does not work?

[2017-08-20 16:59] doxxx commented on #1626
Sorry, confirmed that it works.

[2017-08-20 17:00] matklad commented on #1626
Glad to hear that!

[2017-08-21 08:26] MaikKlein opened #1641 "Rustfmt doesn't work in workspaces"
https://github.com/intellij-rust/intellij-rust/blob/7637ecd5643ddca202c7fff337f1600aefcecbb3/src/main/kotlin/org/rust/cargo/toolchain/Cargo.kt#L78
It currently outputs:
[code]
It should output:
[code]
I think as a temporary workaround you could just look at the filepath, move up until you find the `src` folder and the next folder will be the workspace name. This also works for non workspace projec

[2017-08-21 21:33] vmaks commented on #535
@pabloa Thank you very much! It really works!

[2017-08-22 13:24] stiv-yakovenko opened #1643 "Debugger doesn't stop at breakpoints"
rust plugin version: Version: 0.1.0.2065
CLion 2017.2.1
Build #CL-172.3544.40, built on August 2, 2017

Also there is no way to create rust project in clion, the only option that worked -- is to open project created in IDEA. But debugger doesn't stop at the breakpoint in a simple helloworld application. Application starts, but debugger doesn't work.

[2017-08-22 13:52] minecrawler commented on #1643
see #535 and #557

[2017-08-22 14:26] stiv-yakovenko commented on #1643
@minecrawler, i've seen it, but i don't know how it may help me.

[2017-08-22 14:33] minecrawler commented on #1643
@stiv-yakovenko In the first issue, there is a guide on how to get the debugger working (workaround) further down, and the second issue is already a work-item for project-creation.

[2017-08-22 14:44] stiv-yakovenko commented on #1643
@minecrawler, would you be so kind to point out the instruction? I Tried to follow
https://github.com/intellij-rust/intellij-rust/issues/535#issuecomment-320866757
but I don't understand where to get LLDB. I tried to download it here: https://lldb.llvm.org/download.html but these links are dead.

[2017-08-22 15:34] minecrawler commented on #1643
You usually can get it using your package manager on Linux (using Gentoo Linux, I got it via `sudo emerge -a lldb` from the [Gentoo Package Repo](https://packages.gentoo.org/packages/dev-util/lldb)), on macOS you can get it with XCode and on Windows you will have to build it yourself using the [code from git](https://lldb.llvm.org/source.html) and [these instructions](https://lldb.llvm.org/build.h

[2017-08-22 17:30] stiv-yakovenko commented on #1643
I've found the solution for windows, you have change toolchain from msvc to gnu:

rustup install stable-gnu
rustup default stable-gnu

now debugging works.

[2017-08-22 17:30] stiv-yakovenko commented on #1643
I'd propose for clion to diagnose if gdb has read all debug symbols correctly.

[2017-08-22 18:35] matklad commented on #1641
Hm, does `rustfmt` support `--all` argument?

[2017-08-22 18:59] MaikKlein commented on #1641
@matklad Yes it does.

[2017-08-22 20:08] stiv-yakovenko opened #1644 "Blocking waiting for file lock on build directory"
I use CLion 2017.2.1 (Build #CL-172.3544.40, built on August 2, 2017) and rust plugin 0.1.0.2065. If I edit source and click build too quick, I regularly get into a deadlock like this:

<img width="577" alt="deadlock" src="https://user-images.githubusercontent.com/4163254/29585096-1abe2090-87b0-11e7-9f95-9f08b6df0e02.png">

As far as I understand, first cargo is trying to build code to highligh sy

[2017-08-23 07:47] matklad commented on #1644
Hm, interesting! Is this a real deadlock in the sense that Cargo is blocked indefinitely, even if you are waiting for a long time?

[2017-08-23 08:31] matklad commented on #1641
Thanks for the report @MaikKlein! I've added the `--all` argument which hopefully should fix the issue. I wonder however if rustfmt should just work in this case? We are specifying the file explicitly, so in theory it should not care about workspaces at all...

[2017-08-23 08:59] stiv-yakovenko commented on #1644
@matklad , yes it is.

[2017-08-23 09:10] #1641 closed

[2017-08-23 09:10] matklad commented on #1644
Curious! This is definitely a bug in Cargo then: it should not deadlock under any circumstances ideally!

I see on the screenshoot the `cargo build --message-format=json` command line (this is what we execute before debugging the binary). Am I correct that another one is `cargo check`?

[2017-08-23 09:29] stiv-yakovenko commented on #1644
Another one is build, as far as I remember.

[2017-08-23 09:29] stiv-yakovenko commented on #1644
But this another one doesnt have json flag, thats for sure.

[2017-08-23 09:35] matklad commented on #1644
Huh, two `cargo build` deadlocking each other seems pretty bad to me!

@stiv-yakovenko could you provide an example project where this happens?

[2017-08-23 10:45] #1551 closed

[2017-08-23 12:38] stiv-yakovenko commented on #1644
This is the project: https://github.com/stiv-yakovenko/fileshare

Nothing special about the project, just few files. I use windows 7, may be this is special?

[2017-08-23 13:15] matklad commented on #1644
Hm, indeed, nothing special about the project. Executing a bunch of Cargos locally with

[code]

did not reproduce the issue (on the linux machine). Can you try executing several Cargos from the command line and see if that deadlocks Cargo as well for you?

[2017-08-23 14:11] stiv-yakovenko commented on #1644
@matklad , I believe this is windows specifics. Most probably you develop on Linux and noone ever used CLION with rust on Windows, because I had to solve my installation troubles myself. Problem doesn't happen with the same project on IDEA. If you give me instruction how to launch these commands simultaneously in Windows 7, I'll do this. I am not command line guru :)

[2017-08-23 14:26] stiv-yakovenko opened #1647 "CLION build button sometimes doesn't work"
I use CLion 2017.2.1 (Build #CL-172.3544.40, built on August 2, 2017) and rust plugin 0.1.0.2065.
Build button and ctrl-f9 is grey
<img width="469" alt="build_dont_work" src="https://user-images.githubusercontent.com/4163254/29620940-8e07fe38-8849-11e7-97cc-c62e8f4ecd92.png">

for this project: https://github.com/stiv-yakovenko/fileshare

[2017-08-23 14:48] stiv-yakovenko commented on #1644
Thanx dear @matklad for digging into details.

[2017-08-23 17:31] farodin91 opened #1649 "Complex resolve fails"
I will try to look into.
[code]
@matklad Any idea?

[2017-08-23 20:41] farodin91 commented on #1649
It looks like a lot of work. And i'm on vacation next week.

[2017-08-23 22:24] nathanaeljones opened #1650 "Long delays when typing, Goto Definition, etc."
I'm using the latest build of intellij-rust and rust nightly 2017-06-11 on https://github.com/imazen/imageflow

Since switching to a workspace-wide module (#1506), I've seen significantly reduced performance with delays of up to 8 seconds when typing (before characters appear), up to 15 seconds for Goto definition (but can be as low as 200ms). Slow performance for certain operations on certain sym

[2017-08-24 06:09] farodin91 commented on #1488
@andreycizov Do you need any help?

[2017-08-24 09:06] matklad commented on #1650
A thread dump or a CPU snapshot would be useful:

https://intellij-support.jetbrains.com/hc/en-us/articles/206544899-Getting-a-thread-dump-when-IDE-hangs-and-doesn-t-respond

https://intellij-support.jetbrains.com/hc/en-us/articles/207241235-Reporting-performance-problems

What version of IntelliJ Rust are you using? Am I correct that together with switching to a single module layout, you've updat

[2017-08-24 12:51] vlad20012 opened #1652 "Ctrl+shift+F with method name selection performs resolve from EDT and blocks UI"
EDT dupm
[code]

[2017-08-24 15:24] matklad commented on #1650
I've looked a bit at it today, but I fail to reproduce the performance degradation unfortunately. I've used the build from the master branch of the plugin on Linux.

[2017-08-24 16:07] Alex-PK commented on #1650
I am having very slow responses (5-10 seconds) on auto-complete (ctrl-space) and on syntax checking, on OSX with the latest plugin release.

I don't know if the thread dump would be useful in this case, as editing doesn't slow down, but I can try to get one if needed.

Should I open a separate issue?

[2017-08-24 16:24] mkaput commented on #1650
I think this may be related to some dependencies, like win crate. I forgot to post issue, but recently I was playing with gtk-rs and had similar problems. Probably even hello world example was causing the issue

[2017-08-25 15:53] matklad commented on #1650
The CPU snapshot would certainly help though! Could you point to the repository where it happens?

So far, I was unable to reproduce this problem locally (with imageflow), but I am optimistic that eventually I'll hit something reproducible :)

I've pushed some perf improvements today, they'll be in the nightly and [master](https://teamcity.jetbrains.com/repository/download/IntellijIdeaPlugins_Rust

[2017-08-25 19:48] nathanaeljones commented on #1650
I discovered that these issues occur far more frequently if IntelliJ has been running for hours. Should we customize the maximum heap size?

[2017-08-25 19:57] nathanaeljones commented on #1650
Also, for those on Linux, using the Toolbox: ` find ~/ -name "idea.sh" 2>/dev/null -exec sed -i 's/IS_EAP="false"/IS_EAP="true"/g' {} +` enables EAP mode for all IntelliJ IDEA instances so you can enable CPU profiling and capture memory snapshots.

[2017-08-25 23:57] lilith opened #1658 "Aliased crates hidden."
I have a prelude that includes `pub extern crate imageflow_types as s;`. While everything compiles, s:: does not autocomplete or allow go-to-definition. ::imageflow_types:: does.

I'm pretty sure this used to work at one point.

imageflow_types is a crate within my opened workspace.

[2017-08-26 03:50] jrmuizel opened #1659 "Intellij sometimes starts doing a huge amount of work spinning the cpu at 400% for ~30seconds"
This perhaps a sample of the work that's being done:
<details>
	at java.util.AbstractList$Itr.next(AbstractList.java:358)
	at com.intellij.psi.util.PsiTreeUtil.getStubChildOfType(PsiTreeUtil.java:420)
	at org.rust.lang.core.psi.impl.RsUseItemImpl.getUseGlobList(RsUseItemImpl.java:56)
	at org.rust.lang.core.resolve.NameResolutionKt.processItemDeclarations(NameResolution.kt:582)
	at org.rust.lang.co

[2017-08-26 09:41] MaikKlein opened #1660 "Tooling only partially works with the Rust compiler"
I opened the Rust compiler and I was surprised that it even partially worked at all.
![](https://i.imgur.com/oL7uIEC.png)

You can see on the left side that pub `use self::..` seems to work fine, but it fails to resolve `use util::node_map::NodeMap`. But I am able to find `NodeMap` with "Find class".

![](https://i.imgur.com/FCfHHHQ.png)

[2017-08-26 09:50] matklad commented on #1660
Please note that Cargo.toml must be in the root of the project. So, to work with compiler, one should open the src subdirectory in IDEA, and not the root of the repository.

[2017-08-26 09:57] MaikKlein commented on #1660
@matklad That was actually the first thing that I tried

![](https://i.imgur.com/H8xJ8nY.png)

Does it work for you?

[2017-08-26 10:15] MaikKlein commented on #1660
Sorry it works now, I had to run  `x.py` first, I thought I already did because it worked fine with the emacs plugin.

[2017-08-26 10:15] #1660 closed

[2017-08-26 10:17] matklad commented on #1660
It does work for me. Looks like you have zero external libraries, which means that we were unable to get the necessary information from Cargo. In similar cases, you can run **Refresh Cargo Project** action to request an update explicitly.

Gosh, I really need to write a Cargo toolbar because it would be a nice place to say if everything is working properly, or if something is wrong. A lot people s

[2017-08-27 13:45] andreisilviudragnea opened #1661 "[E0308] Mismatched types error not detected"
There should be an [E0308](https://doc.rust-lang.org/error-index.html#E0308) detected at line `3` in the following snippet, but there is not. The plugin version tested is `0.1.0.2065`

[code]

[2017-08-27 14:29] matklad commented on #1618
@MaikKlein devised a interesting workaround which seems to work: https://maikklein.github.io/post/rust-compiler/

[2017-08-27 21:05] montrivo commented on #1618
Works great. Thank you!

[2017-08-28 13:06] matklad commented on #1659
Yep, a CPU snapshot (Tools menu > Start CPU Usage Profiling) will be useful!

[2017-08-28 13:45] matklad commented on #1622
Thanks for the report!

[2017-08-28 15:01] matklad opened #1663 ""Use field init shorthand" intentaion"
Add an inspection to convert `MyStruct { foo: foo }` into `MyStruct { foo }`.

[2017-08-28 15:38] mkaput commented on #1663
*field

[2017-08-28 15:39] mkaput commented on #1622
not closed

[2017-08-28 15:51] matklad commented on #1622
Ah, I always forget that closes xxx should go into the PR description =/

[2017-08-28 15:51] #1622 closed

[2017-08-28 23:49] nathanaeljones opened #1665 "Refactor -> Rename takes 15 seconds or so"
[IU-172.3757.52_n_28.08.2017_16.23.49.zip](https://github.com/intellij-rust/intellij-rust/files/1258569/IU-172.3757.52_n_28.08.2017_16.23.49.zip)

[2017-08-29 12:35] Veykril opened #1666 "Syntax error in editor even though there shouldn't be one"
I found a small bug in the syntax check. The code works fine so I guess it has problems with the "< <" part in the while condition.
[code]

[2017-08-29 14:54] knsd opened #1667 "False positive: Cannot borrow immutable local variable as mutable"
[code]

[2017-08-30 12:59] josephDunne opened #1669 "StackOverflow in name resolution"
Hi, is there a way to get logs from the rust plugin? I am trying to debug an issue where plugin seems to only half analyse some files - syntax highlighting only part of a file, no code completion in file, not clearing any error highlights that have been fixed, and jump to declaration doesn't work if the target function is in one of this half analysed files. What is the typical debug flow? I know y

[2017-08-30 13:22] brauliobz opened #1671 "Where clauses can be empty"
The code below shouldn't generate syntax errors. That's only for consistency with the language, though. In my opinion it doesn't make sense to allow this.

[code]

[2017-08-30 13:59] sp-1234 opened #1673 "Plugin doesn't seem to do anything at all on IDEA 2017.2.1"
I've installed the plugin and restarted IDEA.
Then I've imported a hello-world rust project. There was no mention of Rust anywhere in the process.

Then I opened the .rs file. This is all I got:
<img width="1184" alt="1" src="https://user-images.githubusercontent.com/19407943/29876047-6322cb52-8da4-11e7-90b9-42f1adc68740.png">

Also, there's no mention of rust anywhere in settings.

Plugins window

[2017-08-30 14:07] matklad commented on #1673
It is, yes. I haven't tested 2017.2.1 specifically, but it does work with plain 2017.2 and with 2017.2.2.

It seems like the plugin is disabled for some reason, although it clearly is enabled in the settings. Is there anything strange in the logs perhaps (`~/IdeaIC2017.2/system/log/`).

I am really puzzled with what might be the issue here, so the only advice I can give is to try do reinstall plug

[2017-08-30 14:10] sp-1234 commented on #1673
There's no such directory `~/IdeaIC2017.2` and even none similar.
I'll try updating IDEA to ….2.2 and try again.

[2017-08-30 14:12] mkaput commented on #1673
it should be `~/.IdeaIC2017.2` (it's hidden folder), or it's located elsewhere on macOS

[2017-08-30 14:13] matklad commented on #1673
Hm, yeah, looks like it's not in `~` on macs. Here are proper documentation for getting logs: https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files.

[2017-08-30 14:20] sp-1234 commented on #1673
Thank you for replies. It seems to work fine now after updating IDEA.

I also checked the log for the time period of the problem, and I think there's nothing related to the problem but I can send it to you privately if you want.

[2017-08-30 14:20] #1673 closed

[2017-08-30 14:26] matklad commented on #1669
Hi!

There's an action called "Show Log in File Manager" to get IDE logs (more docs here https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files). But we log only our interaction with external stuff like Cargo and rustup, and "partially highlighed" file does not seem like a Cargo problem...

Usually it's better just to create a reproducible example and share it, b

[2017-08-30 14:40] #1671 closed

[2017-08-30 14:49] Alex-PK opened #1675 "Code analysis not working when file is not referenced"
When editing a file in a project, if the file is not referenced from main (or lib), syntax highlighting works, but code analysis does not.

For example, having

src/mymod/mod.rs:
[code]

src/mymod/two.rs
[code]

When you are in {cursor_here} and press ctrl-space, nothing gets suggested as auto-complete; Pressing ctrl-b over `read_dir` returns "declaration not found"; Type hints are not shown for f

[2017-08-30 14:55] matklad commented on #1675
That sort of expected, because `use std::fs;` says "go to the crate root and fetch `std` name from there", but if the file is unlinked to the rest of the project, then we can't find a crate root!

Seems like a useful thing to add!

[2017-08-30 15:11] josephDunne commented on #1669
thanks will take a look.

Nope

foudn this in the logs:

[code]

[2017-08-30 15:12] josephDunne commented on #1669
Yip thats the error. It occurs whenever I interact with the broken file

[2017-08-30 15:13] josephDunne commented on #1669
I'll try make some reproducible but the file in question is very very basic so not expecting to have much luck.

[2017-08-30 15:16] josephDunne commented on #1669
ah ok...quick scan of `NameResolutionKt$processItemDeclarations` suggested it could be this line in my module:

[code]

I dont think `NameResolutionKt$processItemDeclarations` can handle recursion (I call `use super::*` in a `mod a` and `use self::a::*` in super module

[2017-08-30 15:17] josephDunne commented on #1669
should i create new issue or rename this one?

[2017-08-30 15:29] #1666 closed

[2017-08-30 15:40] matklad commented on #1669
@josephDunne could you create an example rust file where the problem happens? We do intend to handle recursion, and there are some existing tests for it, but looks like they are not sufficient :)

[2017-08-30 15:54] josephDunne commented on #1669
I will. I just tried no to create one but the simple case works. Seems its more complicated than just using `use super::*` . My project is quiet big so its going to take time to recreate

[2017-08-30 15:55] josephDunne commented on #1669
Any chance you can explain `processNestedScopesUpwards` to me? That might give me some clues

[2017-08-30 17:27] matklad commented on #1669
Sure! The general idea is that code completion and name resolution share the same code, which just collects the set of visible name at a certain point of code. Instead of literally creating a list of visible elements, they are fed one by one into a `processor` sink: this allows to bail early from the search.

`processNestedScopesUpwards` task in particular is to walk the code upwards, visiting lar

[2017-08-31 01:04] johnthagen opened #1676 "Unresolved Reference for std::f64::from"
[code]

Rust plugin version: 0.1.0.2066

[2017-08-31 08:29] gilescope opened #1677 "Improving readability"
Things like brackets and semi-colons are essential for robust source code maintainence. They make a Rust program safer than Python with all its whitespace rules. However you have to hand it to Python on the readability front - it can be quite pretty.

Could we de-emphasise in our rust ide the ; and { } by making them less bright / less bold - maybe some boring gray that almost merges in with the b

[2017-08-31 08:46] mkaput commented on #1677
I think we should strictly stick with IntelliJ default when it comes to syntax highlighting default. If anyone want to change them, then one can just customize colour themes. Personally I very wouldn't like if we take the path of intellij-elixir here where each token type has different colour

[2017-08-31 11:13] alygin commented on #1667
Looks like the same problem as in #1559

[2017-08-31 16:11] konstin opened #1678 "[Request] Put macros last in autocompletion"
Currently, the autocompletion treats all names in scopes equally. When using a crate with many macros such as diesel, autocompletion becomes effectively useless for the first few characters. It would therefore be good to decrease the priority of macros so they get listed behind the other names. A similar functionality seems to be already implemented in idea for java classes, which does an extremel

[2017-08-31 21:27] jonas-schievink commented on #1477
:+1: This would make intellij-rust extremely useful for embedded development since it's surprisingly difficult to add arbitrary commands to IntelliJ.

[2017-08-31 21:33] jonas-schievink commented on #1477
Turns out it's pretty easy when you shamelessly abuse the Bash configuration:

![screenshot-31 08 2017-30 07](https://user-images.githubusercontent.com/1786438/29946147-758647dc-8ea4-11e7-8e49-3c3776080b84.png)

(yes, it works despite the error)

[2017-09-01 10:00] MaikKlein opened #1681 "pd expands to `eprintln` and not `println`"
![](http://i.imgur.com/D2Gpz1O.gif)

pd expands to `eprintln` and not `println`

[2017-09-01 10:10] matklad commented on #1681
Yeah, that was an intentional change: `pd` stands for debug print, and usually for debugging it either does not matter if stdout or stderr is used, or stderr is preferable.

[2017-09-01 10:49] #1681 closed

[2017-09-01 10:53] matklad commented on #1681
Yeah, and if you find `println!` more useful, you can totally change the snippet via settings!

[2017-09-01 15:14] kumbayo opened #1685 "Running "Change try! to ?" causes an exception"
When running "Change try! to ?" on the following code an exception happens.

[code]

[code]

In the Psi the above code is represented the following way:
RsMacroExpr
-RsMacroCall
--identifier
--!
--RsTryMacroArgument

RsTryMacroInspection registers the fix on the RsMacroCall.
When the fix is applied, it replaces the RsMacroCall node with a RsTryExpr, leaving back a corrupt RsMacroExpr missing a req

[2017-09-01 15:15] kumbayo commented on #1685
I am working on a fix for this.

[2017-09-01 18:39] #1685 closed

[2017-09-01 19:22] kumbayo commented on #1676
This seems to depend on macros.
As far as i can see `impl From<i32> for f64 {` is done via macros.

See libcore/num/mod.rs
[code]

[2017-09-02 12:19] kumbayo opened #1688 "IndexNotReadyException when starting with the Structure viewer open"
When IntelliJ IDEA is restarted while the "Structure" viewer is open, an IndexNotReadyException is triggered.

Bisecting shows this was introduced with 2df2b35885fcbc4aff40b1c4aaf10a62da09dfdc
CC @matklad

**How to reproduce:**

- Crate a new project
- Paste the following code into main.rs
[code]
- Open the Structure view using Alt-7
- Exit IntelliJ IDEA
- Start IntelliJ IDEA
-> An exception happe

[2017-09-02 14:39] kumbayo commented on #1688
This is possibly also related to a different exception: PsiInvalidElementAccessException.
But this error only happens with some enhancements applied so the Structure tree is properly updated when a file changes.
(This exception also does not happen before 2df2b35885fcbc4aff40b1c4aaf10a62da09dfdc even with my patches applied)

**Reproduction:**
- Apply my patch series from https://github.com/kumbay

[2017-09-02 15:00] kumbayo opened #1689 "Public/Private visibility icons missing in Structure view"
It seems commit 2df2b35885fcbc4aff40b1c4aaf10a62da09dfdc removed the private/public visibility icons from the Structure view.

Was this an intentional change?
The commit message is not clear if this is part of the simplification or not.
CC @matklad

before:
![before_visibility_icons_available](https://user-images.githubusercontent.com/1041267/29996478-7b204452-8fff-11e7-8842-2eb3a54791aa.png)

aft

[2017-09-03 13:26] anton-okolelov commented on #1663
Could I grab it?

[2017-09-03 13:37] matklad commented on #1663
Ah, unfortunately it is already handled by https://github.com/intellij-rust/intellij-rust/pull/1684 :)

But, if you want to implement some intention, you can look into "invert if condition" (it is available in Java and Kotlin, for example), which we don't have yet. It should be possible to share some logic with DeMorgan law intention as well!

[2017-09-03 13:45] matklad commented on #1644
https://youtrack.jetbrains.com/issue/CPP-10601

[2017-09-03 13:57] #1021 closed

[2017-09-03 19:20] anton-okolelov commented on #1663
Yeah, it would be great. It seems interesting to me. I'm gonna implement it

[2017-09-04 00:18] robinst commented on #738
(Still a problem with 0.1.0.2153-nightly.)

[2017-09-04 09:05] farodin91 commented on #1649
@vlad20012 Any suggestions? Or do you like to fix it?

[2017-09-04 09:49] vlad20012 commented on #1649
Oh, i've missed it.
Currently I'm working on a really LARGE type inference changes. And I think it intersects with the issue, so I suggest to postpone.
Furthermore, if now it is a really `lot of work` (mostly for injecting hacks :)), in future it will become trivial =)

[2017-09-04 09:53] farodin91 commented on #1649
Okay. Do you need any help for the type inference changes?

[2017-09-04 10:09] #1663 closed

[2017-09-04 10:38] vlad20012 commented on #1649
Hmm, you're looking for something to help? Can suggest this:
1. Simply [up for grab](https://github.com/intellij-rust/intellij-rust/issues?q=is%3Aopen+is%3Aissue+label%3A%22up+for+grab%22)
2. Mostly #1667
3. `impl<T> Trait for T`. As for me, it is a really major task, and it is not too difficult to implement. In `RsImplIndex.index` we should check if type is a type parameter of this impl (go to pa

[2017-09-04 12:54] farodin91 commented on #1667
@vlad20012 The main problem is type inference fails.
[code]

[2017-09-04 12:59] vlad20012 commented on #1667
Okaaay, everything closes on the type inference.

[2017-09-04 13:06] farodin91 commented on #1667
I will open a PR with a bit clean up code

[2017-09-04 15:47] vlad20012 opened #1692 "Type inference of `impl Trait` RFC 1522"
[RFC 1522](https://github.com/rust-lang/rfcs/pull/1522)
[code]
I know that `impl Trait` is an unstable feature, but is used increasingly in rustc itself, and I tired of stumbling over type inference failures caused by this =D

It is pretty easy to implement - just create new type `TyAnon` in package `org.rust.lang.core.types.ty` with single field of type `List<BoundElement<RsTraitItem>>`, instanti

[2017-09-05 01:47] jcbritobr commented on #1577
For me it runs check command, but Im assuming that the correct command to run is the build. The button is labelled "build".

[2017-09-05 08:53] #1689 closed

[2017-09-05 14:54] Zteve opened #1695 "When Cmd-Shift-B (or click) on a var type is too generic"
When revealing the type of a variable (usage not declaration), or a method, generics, though known, are not filled in, so one gets type descriptions using (non-local) `type` clauses or generic parameters, e.g.

HashMap methods like get are reported as returning Option<T> or some such.

I would like IntelliJ-Rust to fill in the generics when they are known in context (as Java does, I believe).

[2017-09-05 14:57] Zteve opened #1696 "Type information on declaration of var"
Getting type information on the use of a variable is fine and dandy (although too generic sometimes) but often the type is implied in the declaration, and so it is not clear what this is. This most often happens when `|x| expression` closures are used. It is often hard to deduce what type `x` is, even though the IDE knows it (it can tell you if you refer to `x` in the body of the closure).

Just s

[2017-09-06 13:00] vlad20012 opened #1698 "How we can make Intellij-Rust open source process better?"
Dear contributors!
You probably know that Intellij-Rust was started as truly open source/community driven project. And we want this project to continue to develop in the same manner. So we decided to request your feedback and discuss here about how we can improve our open source processes. Please write here, what do you dislike about the current development process, and your suggestions, how it ca

[2017-09-06 13:00] vlad20012 commented on #1698
Personally I have the following claim:
It's hard to know who work on what. It may be a problem if 2 guys do the same work, or if someone looking to work and want to ask "does not someone already work on this?". Currently I'm trying to ship the [Worklist](https://github.com/intellij-rust/intellij-rust/wiki/Worklist) - a wiki page open for editing for everyone, but I don't sure it will really work.

[2017-09-06 13:45] farodin91 commented on #1698
I would like to have short term goals and long term goals.  For me, I'm looking the most time into features like to work on, or I miss from the IDE. I think clear goals could push the development speed.
- Short term goals could be a monthly sprint.
- Long term goals could be the next version.

Getting the changelog into this week in rust would be cool.

Add a label for mentor issues. I would like

[2017-09-06 14:19] vlad20012 commented on #1698
@farodin91, thanks for the feedback!
1. Sounds reasonable...
2. We have a [weakly changelog](https://intellij-rust.github.io/thisweek/). What's wrong with it?)
3. Сould you reveal the idea of label? You're about something like [this](https://github.com/nodejs/node-v0.x-archive/issues/25618)?

[2017-09-06 14:30] farodin91 commented on #1698
@vlad20012
2. This week in rust has a part of blog entries, it would be cool to link the changelog into this section. To get more visibility.
3. I known from servo, but looks like the same as node is doing.

[2017-09-06 15:01] vlad20012 commented on #1698
Ok, I get it.

[2017-09-06 20:25] kumbayo commented on #1698
When I work on something and it it not ready for inclusion yet I still try to push it as a "wip-xxx" branch in my fork of intellij-rust. Not sure if this helps others to see what i am playing around with.
But personally i have added all your forks to see what is currently being developed.

I now also listed my ideas for future/currently in progress work in the wiki page.

I also like the idea of s

[2017-09-06 20:33] farodin91 commented on #1698
@kumbayo Personally if i start working on a new feature, I'm trying to open a PR as early as possible to show development.

[2017-09-07 18:56] alygin commented on #1698
I agree that having some kind of a plan would be cool. But I think, it should be comprised of relatively short-term, _achievable_ goals that can be broken into several issues. I mean, it’s nice to come up with a plan with “Tests support”, “Type inference” and “Debugger” in it. But as practice [shows](https://github.com/intellij-rust/intellij-rust/issues/424), such plans tend to be too opaque to fo

[2017-09-07 22:18] #1468 closed

[2017-09-08 02:29] Redrield opened #1708 "Don't show "implemented" gutter icon on structs and enums, unless an impl block is present."
Not really sure how to describe this one, but it simply involves only showing the implemented gutter icon next to the definitions of enums and structs, if there is an impl block present in the project.

For example, the following definition

![image](https://i.imgur.com/N1TrbxZ.png)

has a gutter icon next to the enum declaration, that in normal usage, once clicked would jump to the impl block of

[2017-09-08 06:04] matklad commented on #1708
Currently we show icon always as a performance optimization, because finding all impls might be costly. We sure can speed up the search though!

[2017-09-08 06:56] farodin91 opened #1709 "Private annotate implementation doesn't work correctly"
Should not annotate super mods.
[code]

[2017-09-08 09:20] #1709 closed

[2017-09-08 11:53] vlad20012 commented on #1650
Is it fixed now?

[2017-09-08 11:54] vlad20012 commented on #1659
Is it fixed now?

[2017-09-08 12:00] vlad20012 commented on #1661
Currently we do not do type checking inspections. You can enable `use cargo check to analyze code` in settings to see lints from cargo check.
![image](https://user-images.githubusercontent.com/3221931/30210746-6945d994-94a6-11e7-86bc-342557b13323.png)

[2017-09-08 12:04] Alex-PK commented on #1650
My side of the problem seems fixed with the latest release. Auto-complete suggestions come up in 1-2 seconds max, now.

Thanks!

I'm not using workspaces, currently, so I can't comment on the original request.

[2017-09-08 17:03] jrmuizel commented on #1659
I haven't noticed it recently but haven't been using intellij as much recently.

[2017-09-08 17:21] vlad20012 commented on #1659
Ok, really I think it's foxed, so I close the issue for now. Reopen it if it will happen again.

[2017-09-08 17:21] #1659 closed

[2017-09-08 17:43] vlad20012 commented on #1698
Thanks @alygin for such a detailed feedback!

I see you all suggest a better planning, so I think we definitely should introduce it somehow =)

About FAQ, we can create a wiki page and gradually fill it together. Ok, I even [created it](https://github.com/intellij-rust/intellij-rust/wiki/FAQ) :)

[2017-09-09 07:45] matklad opened #1712 "Highlight `!`-typed expressions as exit points of a function"
The relevant code is `RsHighlightExitPointsHandlerFactory`

CC, @kumbayo you've recently added proper types for unimplemented and unreachable macros :)

[2017-09-10 17:57] MaikKlein commented on #1641
@matklad Not sure if I should open another issue. I just realized that `reformat file with rustfmt` now reformats the whole project.

[2017-09-10 18:57] kumbayo commented on #1559
This error is not visible anymore since 61eeac6d6b99ae0bb37b43530f49afac960eae64.
In this commit the inferred type of `func` changed from
`&Box<AggrFunc>` to `<B as Iterator>::Item` which does not allow to resolve `.update(...)` and thus hides the error.

Minimized example:
[code]

[2017-09-10 19:08] vlad20012 commented on #1559
I think I'll fix it on the next iteration of type inference system.

[2017-09-10 23:40] jkcclemens opened #1715 "Don't warn about conventions when implementing traits"
If `SomeTrait` is in a crate I don't control, I can't fix its bad conventions, so don't warn me about them when I implement it.

[code]

[2017-09-10 23:45] HighCommander4 opened #1716 "Indicate all source locations associated with a compiler error"
Sometimes, a compiler error is associated with multiple source locations. Example:

[code]

This error is associated with three source locations:

  1) The location of the second borrow
  2) The location of the first borrow
  3) The end of the first borrow

The plugin currently only underlines #1. As a result, I need to switch to command-line to fully understand the error, since the other location

[2017-09-11 01:45] UninterestinAcc opened #1717 "Lazy statics don't show up in code suggestion"
A static variable initialized via [lazy static](https://github.com/rust-lang-nursery/lazy-static.rs) will not show up in IntelliJ's suggestions.

Example:
[code]

[2017-09-11 05:52] farodin91 commented on #1715
I think it would be better to annotate only traits or impl without a traitref

[2017-09-11 08:48] farodin91 commented on #1717
macro expansion aren't supported in intellij-rust

[2017-09-11 09:04] vlad20012 commented on #1362
@mkaput should we use `B::from` or just `a.into()` ?

(I think this feature will be E-easy very soon)

[2017-09-11 09:19] mkaput commented on #1362
Well I think it is quite context dependent :) Though

In places where `B` can be easily determined, i.e. when destination type is explicitly provided in context, ideally we should use `.into()`. Otherwise - `B::from`.

So I think that as starting point we should use `B::from`

[2017-09-11 14:14] MaikKlein commented on #1641
Update: It seems to work now. I think I ran into a different issue.

[2017-09-12 02:33] UninterestinAcc commented on #1717
Is support for that planned in the future?

[2017-09-12 05:50] farodin91 commented on #1717
Is planned but this could take some time.

[2017-09-12 08:56] farodin91 commented on #968
@matklad I would like to work on something like this have you any idea?

[2017-09-12 11:33] matklad commented on #968
I don't think we have the necessary infrastructure in place to implement this reliably at the moment unfortunately.

[2017-09-12 14:54] Techcable commented on #964
I just want to say that while I used to think that @matklad was stubborn for insisting on reimplementing the autocomplete functionality instead of using racer, I now realize it's the proper choice and will allow her to bring the full power of a proper JetBrains IDE to Rust. Already I prefer intellij to Atom and racer, not just because of farmilliarity, but because of a much faster and more robust

[2017-09-12 15:59] vlad20012 commented on #964
@Techcable what the major difference between `cargo check` and RLS error reporting?

[2017-09-13 11:29] vlad20012 commented on #1698
Ok, I think we can discuss here about _The Plan_. Rust community currently promotes the "impl period" for the rest of 2017, so I think we can formulate out goals for that "impl period" too.

I am not good in any planning (=D), so I can just describe my own goals (what I want to see in Intellij-Rust _right_now_ and what I'm working/planning to work on)
* Totally ultimate type inference
* Totally ul

[2017-09-13 11:30] sorenmortensen commented on #1577
I can no longer reproduce this.

[2017-09-13 11:30] #1577 closed

[2017-09-13 11:34] mkaput commented on #1698
To me they seem totally reasonable. Godspeed!

[2017-09-13 11:37] vlad20012 commented on #968
The main infrastructure for anything related to borrower is the type inference. But not the type inference we currently working on. It will seem like a child's toy in comparison with the real rustc's type inference (with it's subtyping, variances, relations and so on) that infer lifetime parameters.

[2017-09-13 11:39] #1667 closed

[2017-09-13 12:26] farodin91 commented on #1698
I like to use the _impl period_ to get intellij rust in solid state:

[2017-09-13 13:52] vlad20012 opened #1730 "Quick fixes on type mismatch"
A very basic type checking just merged #1727
Now it's possible to attach quick fixes to a `type mismatch` annotations (on [this line](https://github.com/intellij-rust/intellij-rust/blob/b42286d6b582bffa3b103cf05a9d0ad35d70b101/src/main/kotlin/org/rust/lang/core/types/RsDiagnostic.kt#L25)). I can imagine the following quick fixes (we assume that `A` is actual type, `B` is expected and so `a` is a v

[2017-09-13 13:53] vlad20012 commented on #1362
I've migrated it to a new issue #1730

[2017-09-13 13:53] #1362 closed

[2017-09-13 14:14] vlad20012 opened #1732 "Unify error annotation messages style"
Compare this two:
![image](https://user-images.githubusercontent.com/3221931/30381680-c4666d40-98a5-11e7-984e-1ae94bca7e6d.png)

![image](https://user-images.githubusercontent.com/3221931/30381613-904ace20-98a5-11e7-8484-5bf8d2183bf2.png)

First is from cargo check, second - our own inspection.

Now we have a [good utils](https://github.com/intellij-rust/intellij-rust/blob/b42286d6b582bffa3b103cf0

[2017-09-13 14:17] #1650 closed

[2017-09-13 14:20] matklad commented on #1677
Yeah, this is definitively something that should be implemented on the platform level and not on the language level. That said, I think that this suggestion can be rather controversial, and perhaps is better left for the user-defined color schemes :)

[2017-09-13 14:20] #1677 closed

[2017-09-13 14:22] farodin91 commented on #1698
A next step could be create a milestone impl period and add all correlated issues.

[2017-09-13 14:35] #1639 closed

[2017-09-14 08:21] farodin91 commented on #1698
We could also announce some issues in this week in rust.

[2017-09-14 08:22] vlad20012 commented on #1698
@farodin91 :+1:, working on it

[2017-09-14 08:27] vlad20012 commented on #1698
@farodin91 Hmm, there is preparing something new intead of "Call for Participation", much more useful. We will there =)

[2017-09-16 14:19] vlad20012 opened #1735 "Support impl for type parameter `impl<T> Trait for T`"
Currently we don't look for impls like `impl<T> Trait for T`, so this test fails
[code]
It is pretty easy to implement. [Here](https://github.com/intellij-rust/intellij-rust/blob/9603f049d96b1ec515830b1db03737db14e3af1a/src/main/kotlin/org/rust/lang/core/resolve/indexes/RsImplIndex.kt#L48) we indexing the `impl` by the type. We should check if type is a type parameter of this impl (go to parent ps

[2017-09-16 14:48] Undin commented on #1735
I've previously thought about it
I want to grab it:)

[2017-09-16 15:17] Undin commented on #1698
Sorry for the very slow response.
My wishes are already expressed by @alygin - it will be great to have a hierarchy in issue list where root issues are some meta-issues about some part of plugin and children are quite small tasks to implement/fix something related with the corresponding meta-issue. I think it can be easily implemented with labels.

[2017-09-16 16:31] farodin91 commented on #1735
@Undin This could also fix #1649.

[2017-09-16 23:09] vlad20012 opened #1737 "Experimental auto-import intention"
The "real" auto-import should be a specific quick fix attached to an "unresolved reference" error annotation. The problem with this approach is that "unresolved reference" inspections produces a lot of false positives because of unsupported macros, so macros blocks this feature.

I have another idea. We can temporary implement auto-import as a regular intention. You don't see any error annotations

[2017-09-16 23:09] vlad20012 commented on #1488
Moved to #1737

[2017-09-16 23:09] #1488 closed

[2017-09-16 23:10] vlad20012 commented on #789
Moved to #1737

[2017-09-17 00:29] #1266 closed

[2017-09-17 00:41] vlad20012 commented on #1095
The issue seems still up for grab =)
As sample, "Introduce a variable" refactoring located [here](https://github.com/intellij-rust/intellij-rust/blob/fd96ed4524a6365ea89bfad3e761954a1361edbc/src/main/kotlin/org/rust/lang/refactoring/RsLocalVariableHandler.kt) and tests for it - [here](https://github.com/intellij-rust/intellij-rust/blob/fd96ed4524a6365ea89bfad3e761954a1361edbc/src/test/kotlin/org/r

[2017-09-17 01:31] andy-hanson opened #1739 "Error for byte literal"
[code]

This code isn't an error when using the command line compiler, but does cause an error inside the editor:
[code]

There is no error for byte string literals: `let _: &[u8] = b"abc";` works.

[2017-09-18 07:21] gilescope commented on #535
If there was one thing that would make Rust debugging more effective, it would be having the debugger pause on panics / unwinds. They _shouldn't happen_ in normal control flow, so it would be great if we could hint to lldb that there should always be a breakpoint when an unwind starts.

[2017-09-18 14:30] #1696 closed

[2017-09-18 15:03] #1739 closed

[2017-09-19 07:10] matklad opened #1743 "Wrong type infered for match arm with diverging arms"
![image](https://user-images.githubusercontent.com/1711539/30579779-bf7f4ed8-9d22-11e7-8793-ab3c24d34b10.png)

This should not be `: !`. cc @vlad20012

[2017-09-19 11:02] vlad20012 commented on #1743
As I see, `table.val` just not resolved here?

[2017-09-19 16:06] EelcoHoogendoorn opened #1745 "Support for conda/virtual environments"
Im coming from python to rust, and as such I am used to working with virtual environments to manage my dependencies. Ive found conda very useful for rust as well, to create a recreatable environment of rust/gcc/cmake and whatever else I need that is outside of the scope of cargo.

However, I cant figure out how to make the rust plugin play nicely with my conda environment. I can point the plugin t

[2017-09-19 18:26] jrmuizel opened #1746 "Unable to infer type from ::parse()"
In the following example 's' has an unknown type

[code]

[2017-09-19 20:02] jrmuizel opened #1748 "type inference doesn't work through array indexes on references to Vecs."
'm' has an unknown type in the following example:
[code]

[2017-09-19 20:18] Undin commented on #1735
@vlad20012 Is this issue supposed to implement bounded free trait impls like following one?
[code]
I'm asking because free trait impls support is really simple but the support of bounded free trait impls is much more difficult because of necessity to build closure of the bounds graph and check cycles in it.
[code]
But if I'm wrong and there is easy way to do it, I'll be glad to know about it:)

[2017-09-19 20:24] Undin commented on #1735
@farodin91 Are you sure? Your example doesn't contain any free trait impls so I don't know how fix of this issue can fix #1649

[2017-09-19 20:38] farodin91 commented on #1735
@Undin I'm not sure

[2017-09-20 08:24] vlad20012 commented on #1735
@Undin I don't see a much difference between `impl<T: Foo> for T` and `impl<T: Foo> for S<T>` in terms of trait boud matching. We do not support both =) So it's another issue. (see `RsPreciseTraitMatchingTest`)

@farodin91 no-no-no, #1649 is another problem

[2017-09-20 08:26] vlad20012 commented on #1748
Hmm, we do not do auto deref on index expression. It's an issue.

[2017-09-20 08:28] vlad20012 commented on #1746
The actual problem macros support. Try this:
[code]

[2017-09-20 08:31] vlad20012 commented on #1746
But currently we can hardcode that `assert_eq!` equate it's parameters.

[2017-09-20 09:42] #1575 closed

[2017-09-20 09:55] matklad commented on #1748
`org.rust.lang.core.types.infer.RsFnInferenceContext#inferIndexExprType` looks like the place to look into!

[2017-09-20 09:57] matklad commented on #1746
The relevant code is in `org.rust.lang.core.types.infer.RsFnInferenceContext#inferMacroExprType`

[2017-09-20 10:08] matklad commented on #1745
Hi @EelcoHoogendoorn! Actually I have a similar problem in that I use [nix](https://nixos.org/nix/) to manage my environment and it also works by setting certain environmental variables. For the time being, I think the best approach is to launch IDE from the shell where the environment is activated.

You don't have to add those export to bashrc though. I think you can open a new shell, execute com

[2017-09-20 10:08] #1745 closed

[2017-09-20 10:12] matklad commented on #1743
Hm, yeah, this explains this issue. `table.val` is not resovled because `get_table` returns an error-chain macro-generated result.

Nevertheless, I think that for a match expression with only `TyUnknown` and `TyNever` types, we should pick the `TyUnknown`. The relevant code is in `org.rust.lang.core.types.infer.RsFnInferenceContext#inferMatchExprType`, in particular, `getMoreCompleteType` might ne

[2017-09-20 11:42] matklad commented on #1717
Closing as a subset of https://github.com/intellij-rust/intellij-rust/issues/229

Handing lazy_static first is a nice idea though!

[2017-09-20 11:42] #1717 closed

[2017-09-20 11:43] matklad commented on #1716
The relevant code is in org.rust.ide.annotator.RsCargoCheckAnnotator

[2017-09-20 11:44] matklad commented on #1715
The relevant code is `src/main/kotlin/org/rust/ide/inspections/RsNamingInspection.kt`

[2017-09-20 11:46] matklad commented on #1695
The relevant code is `org.rust.ide.presentation.TyKt#tyToString`. It should make use of `typeParameterValues`

[2017-09-20 11:49] vlad20012 commented on #1695
It's the same as Ctrl+shift+P on PC?

[2017-09-20 11:54] matklad commented on #1695
yep

[2017-09-20 12:05] #1735 closed

[2017-09-20 13:07] vlad20012 opened #1751 "Support Sized, Send & Sync traits auto-derive"
When we [looking up for implemented traits](https://github.com/intellij-rust/intellij-rust/blob/master/src/main/kotlin/org/rust/lang/core/resolve/ImplLookup.kt#L65) we should provide auto-derived traits.

- [ ] Sized
- [ ] Send
- [ ] Sync

`Sized` is the simplest one. The type is sized if it is not a DST. The type is DST if it is a trait object, slice or a struct/enum/tuple which **last** field is

[2017-09-20 13:41] #1678 closed

[2017-09-20 14:44] supercurio opened #1753 "Mismatched types error E0308 when there is no error"
With the new plugin 52, Version: 0.1.0.2069 and using the [jni-rs crate](https://crates.io/crates/jni), this error is reported at many places in a Rust / JNI codebase.

[code]

[code]

JObject and JString can be converted to each other using ::from.
source: https://github.com/prevoty/jni-rs/blob/master/src/wrapper/objects/jstring.rs#L25

In the meantime, would there be an way to disable this check

[2017-09-20 15:34] jrmuizel commented on #1746
That makes sense. However the example you gave doesn't still has unknown as the type for 's'

[2017-09-20 15:42] vlad20012 commented on #1746
![image](https://user-images.githubusercontent.com/3221931/30653318-732988b6-9e33-11e7-87a5-03cbf4e191ba.png)
M? Maybe you're using outdated plugin?

[2017-09-20 15:51] jrmuizel commented on #1746
Weird. I'm using 0.1.0.2069. It was able to do other type unification tasks.

[2017-09-20 15:56] vlad20012 commented on #1746
Hmm, 2069 is a yesterday's release. It should works =D

[2017-09-20 20:12] Undin opened #1757 "Labels meaning"
I've noticed that some issues have a new label **E-mentor**.
So now we have at least 6 labels: **up for grab**, **E-easy**, **E-medium**, **E-hard**, **E-unknown** and **E-mentor**.
Although **up for grab** label is obvious other labels are not so easy to understand.
Personally, I know that **E**-prefixed labels mean level of **experience** necessary to fix the issue, but I've read corresponding p

[2017-09-20 21:40] Undin commented on #1748
I'll fix it

[2017-09-21 07:42] vlad20012 commented on #1757
Yes, I'm going to write a few lines about it =)

E-mentor is something [widely known](https://github.com/rust-lang/rust/issues?q=is%3Aopen+is%3Aissue+label%3AE-mentor) in rust community. It means that someone know exactly how to fix the issue and most likely wrote some instructions. It is **E** label because it shows that contributor shouldn't have a large experience in this matter (and shouldn't

[2017-09-21 08:52] matklad opened #1758 "Use 13x13 icon for Cargo toolwindow"

[2017-09-21 09:10] matklad opened #1759 "Indexing an impl tries to launch resolve"
For indexing, we can only touch the current file (otherwise there'll be invalid data in the index), but looks like this is not the case:

[code]

[2017-09-21 09:11] matklad commented on #1759
I think this might have been introduced in https://github.com/intellij-rust/intellij-rust/pull/1749 so cc @Undin  :-)

[2017-09-21 09:13] vlad20012 commented on #1759
Oh, using of `RsTypeParameter.bounds` was a bad idea. We should manually check check that there are no bound and where clauses

[2017-09-21 09:14] Undin commented on #1759
Ok, yes
I'll fix it:)

[2017-09-21 09:21] #1108 closed

[2017-09-21 09:24] matklad commented on #1759
The main problem is that the invariant of "no touchy other files!" is not checked in any way :(

Unfortunately, I don't really know how to improve the situation here, other than carefully think when writing indexing stuff :( Luckly, indexing itself is usually pretty simple and changes rarely!

[2017-09-21 10:33] #1759 closed

[2017-09-21 10:38] Zteve commented on #1753
I'm seeing this, too, in my code and in the std libraries when browsing them in IntelliJ-Rust. Latest version of everything (Plugin: 0.1.0.2069; IntelliJ: 2017.2.4; Rustc: 1.20.0).

Simple example:
[code]
Complains about this line:
[code]
with message: _mismatched types E0308 expected Box\<Path\>, found String_.

Compiles (from shell command `cargo build`) with no warnings or errors.

[2017-09-21 20:45] matklad opened #1762 "Intentions to change `assert(a == b)` to `assert_eq(a, b)`"
There are handy `assert_eq`, `assert_ne` macros in Rust. It would be nice to have inspections which would highlight`assert!(a == b)` and `assert!(a != b)` and suggest to change them into `assert_eq(a, b)` and `assert_ne!(a, b)`.

A similar inspection is implemented here: https://github.com/intellij-rust/intellij-rust/blob/master/src/main/kotlin/org/rust/ide/inspections/RsSimplifyPrintInspection.kt

[2017-09-22 00:00] fengcen opened #1763 "Hidden macros should be able to complete within the crate"
Version: 0.1.0.2172-nightly
Related commit: https://github.com/intellij-rust/intellij-rust/commit/7af5ca371c957d04f69f6f10ee9431a14c435fa5

[2017-09-22 00:02] andy-hanson commented on #1753
I too have an error related to a conversion not happening:
[code]

In the command-line compiler there is no error. In IntelliJ, I get an error at `RefWrapper(w)`:
[code]

(Aside: I ran into https://youtrack.jetbrains.com/issue/IDEA-65636 and had to copy the error message from memory.)

[2017-09-22 09:22] Zteve commented on #1753
@andy-hanson Re your aside: this "bug"/"omission" in IntelliJ IDEA has a long history (including tooltip copying) and seems to have stabilised on a single (non-closed) issue [IDEA-168283](https://youtrack.jetbrains.com/issue/IDEA-168283) which talks about error messages.  There seems to be reluctance to offer copy functionality (easily) to these dynamic message boxes—though I cannot see why they s

[2017-09-22 11:28] #1748 closed

[2017-09-22 11:47] matklad opened #1765 "ClassCastException in CLion debugger with Swift plugin enabled"
Originally reported at https://youtrack.jetbrains.com/issue/CPP-10593#comment=27-2434646

[code]

[2017-09-23 01:14] vlad20012 commented on #1603
"array" issue was fixed by #1664
"method" will be fixed by #1767
"fold" seems to work now, but I don't completely now what commit fixed it

[2017-09-23 09:42] theduke opened #1769 "Severe Performance Degression (Unification?)"
The recent release caused a very painful performance degression for me.

Tiny code changes will drive up CPU usage to 100% all the time, and much worse on waiting for autocomple or just during typing, the entire UI completely freezes for several seconds on a regular basis (like every few minutes).

This is pretty much unacceptable for me and enough to drop the plugin.

Since this is probably due t

[2017-09-23 09:55] matklad commented on #1769
No, there's no way to disable new type inference, but you can always find previous releases of the plugin at http://plugins.jetbrains.com/plugin/8182-rust.

Could you share a project where you observe performance degradation? We would love to fix it! :)

[2017-09-23 09:57] theduke commented on #1769
I've tried with multiple projects and it's an issue with every crate I've tried, even small ones of only a few hundred lines.

The problems get worse the bigger the crate is.

[2017-09-23 15:12] andy-hanson commented on #1753
Found another one:
[code]

At the second `Res(None)`, it gives me:
[code]

@Zteve thanks for the help.

[2017-09-24 01:49] coder543 opened #1770 "Line comments should not be generated at the first column"
The standard way that `rustfmt` formats code places the `//` of a comment at the same indentation level as the surrounding code. Intellij fights this behavior by placing the `//` at the beginning of the line, causing weird formatting issues.

For Java, this is configurable under Settings -> Code Style -> Java -> Code Generation -> `Line comment at first column`. It would be nice if Rust could be c

[2017-09-24 09:31] pocket7878 commented on #1762
@matklad

I'd like to work on this!

[2017-09-24 09:42] matklad commented on #1762
Awesome @pocket7878 !

[2017-09-24 16:08] alexander-irbis commented on #1770
#825 #1534

[2017-09-24 16:17] ramvalleru opened #1772 "Missing Inferring of the return type of function and warning the user"
The plugin doesn't infer the return type of the function and lint possible missing of the return type of function definition.

I created a function that returns an u32 but haven't declared the return type. This is a compile time error but is there any way the plugin can lint a warning or error for missing return type of the function.

[code]
When I miss providing the return type in the function de

[2017-09-25 01:40] jrmuizel opened #1774 "Extracting a function should create the necessary parameters."
It would be nice if when extracting a function from code all the variables used by that range of code became parameters to the new function.

For example:

[code]
became
[code]

[2017-09-25 02:54] #1603 closed

[2017-09-25 04:21] Techcable commented on #1753
There seems to be some strange combination with the issue causing the inference algorithm to misunderstand of return types. With the method signature `pub fn alloc<T: HirContextAllocated>(&self, value: T) -> &T::Allocated`. It infers a ridiculous return type incorrectly after I invoke `HirInstructionVarargs::from`.
![](https://i.gyazo.com/383371db287d8d999e0fdf12e7ab7f18.png)
The `fn(SmallVec<[Hir

[2017-09-25 06:22] farodin91 commented on #1774
I current work on this support.

[2017-09-25 06:26] farodin91 opened #1775 "TY: perform path parameters unification"
[code]
@vlad20012 ?

[2017-09-25 06:55] matklad commented on #1772
A somewhat similar check in the spirit is `org.rust.ide.inspections.RsExtraSemicolonInspection`, which checks for the opposite situation: there's a return type, but the tail expression ends with a semicolon.

[2017-09-25 07:30] farodin91 opened #1776 "Add docs gutter in cargo.toml for dep."
Similar is already implement for extern crate, see https://github.com/intellij-rust/intellij-rust/blob/master/src/main/kotlin/org/rust/ide/annotator/RsCrateDocLineMarkerProvider.kt

[2017-09-25 07:34] farodin91 opened #1777 "Add keyword support for cargo.toml"
http://doc.crates.io/manifest.html
Todo
* auto complete
* error annotate (unknown keyword, unknown crate or wrong type)
* typing

[2017-09-25 07:35] farodin91 opened #1778 "Version check in cargo.toml"
Todo
* Autocomplete version
* Show new version on hover

[2017-09-25 10:10] farodin91 opened #1779 "Go to lib.rs from crago.toml deps"

[2017-09-25 11:59] alexander-irbis opened #1780 "Autocompletion does not insert parentheses"
If the function is inserted without consuming the remainder of the identifier, the cursor moves forward, but the parentheses are not inserted

[![image.png](https://files.gitter.im/intellij-rust/intellij-rust/j9Va/thumb/image.png)](https://files.gitter.im/intellij-rust/intellij-rust/j9Va/image.png)
[![image.png](https://files.gitter.im/intellij-rust/intellij-rust/vX0z/thumb/image.png)](https://fil

[2017-09-25 15:13] vlad20012 commented on #1753
@matklad, take a look to @andy-hanson's case. There is a name resolution failure: here `None => Res(None),` this `None` resolves locally to the `None` in pattern.

[2017-09-25 15:21] vlad20012 commented on #1753
@Techcable the real wizard is @matklad, who patiently created the infrastructure for 2 years, using which I did it in 1-2 lines of code =)
You can become a "wizard" like me, just start contributing here!

[2017-09-25 15:41] vlad20012 commented on #1772
I think it's E-hard. Function may have multiple return points in a different branches, so some kind of control flow analysis needed.

[2017-09-25 16:14] matklad commented on #1772
Hm, we don't need control flow, we need to determine the return points of the function which is already done because we can highlight them :)

[2017-09-25 16:25] vlad20012 commented on #1772
Oh, this issue description looks really ambiguous... The actual example, as I understand, is:
[code]

[2017-09-25 16:29] ramvalleru commented on #1772
**vlad20012** I made a change to my original question with example.

[2017-09-25 16:31] vlad20012 commented on #1772
@ramvalleru There are no errors in your example =D (and start code with ```rust, so highlighting will be provided)

[2017-09-25 16:41] vlad20012 commented on #1772
Anyway, it should be a part of typecheck to emit E0308 here (I'm working on it), and then it's yet another special case of #1730

[2017-09-25 17:22] chabapok opened #1781 "Unsafe reassigning static mut variables reported as error"
This code is ok, but rust plugin say, that it is code with error
[code]

[2017-09-25 18:36] chabapok commented on #1781
Last plugin version works ok

[2017-09-25 18:36] #1781 closed

[2017-09-26 09:20] matklad commented on #1762
Was fixed by #1771

[2017-09-26 09:20] #1762 closed

[2017-09-26 10:30] ramvalleru opened #1784 "Automatic recommendation to bring a library to program scope"
When using intellij plugins for Java or Scala, they give automatic recommendation for a class package import when I write Map in a function or class.

Is this feature being implemented in intellij-rust. It would be useful if this feature is implemented to recommend standard Rust libraries as well as imported external libraries.

**For Example:**

[code]
should recommend

[2017-09-26 10:32] matklad commented on #1784
Yep, it's a duplicate of https://github.com/intellij-rust/intellij-rust/issues/1366, which is not implemented yet, but is on the horizon :)

[2017-09-26 10:32] #1784 closed

[2017-09-26 11:04] FauxFaux opened #1785 "Extract variable mangles code for tuple arguments"
Given code like:
[code]

...attempting to run the "extract local variable" action on the call to `bar()` in `main()` gives:

[code]

It's deleted the call to `bar()`, and resulted in invalid syntax. Other options in the dropdown are for naming `b` are `b)` and `a, b)`. I expect the problem is to do with parsing an unpacking expression in a method signature. The "type hinting" shows the parameter n

[2017-09-26 11:43] shssoichiro opened #1786 "Support items generated by proc macros"
For example, let's say I am using the crate `derive_builder` with the following code snippet:

[code]

`derive_builder` generates a new struct named `MyStructBuilder`. I'd like to have this generated `MyStructBuilder` struct available as an autocomplete option to make its usage easier.

[2017-09-26 12:27] shssoichiro commented on #1732
I'll give this one a try.

[2017-09-26 12:46] farodin91 commented on #1732
@shssoichiro I could help if you need some?

[2017-09-26 15:33] shssoichiro commented on #1732
@farodin91 Thanks. I might need help just figuring out how to use the RsDiagnostic class, I couldn't find any locations where it's being used right now based on IntelliJ's go-to usage, although I haven't had a lot of time to look quite yet.

[2017-09-26 16:13] farodin91 commented on #1732
1. I would move `RsDiagnostic` into `org.rust.core.utils` to split from type inference.
2. Make `expectedFound` part `TypeError` until we need in a different location.
3. Switch the link to error description by using the channel.
4. Now start converting errors like https://github.com/intellij-rust/intellij-rust/blob/master/src/main/kotlin/org/rust/ide/annotator/RsErrorAnnotator.kt#L87-L89 into mor