[2017-09-26 21:26] shssoichiro commented on #1732
Thanks! I think I've got the idea now. I was having trouble grokking Kotlin's syntax at first, but now that I've figured out what the code is doing I should have a PR up in a day or two.

[2017-09-27 08:30] farodin91 commented on #1786
Intellij-rust support `proc_macro_derive` only partial.

[2017-09-27 20:27] idubrov commented on #1477
What I did, I created `xbin` directiory inside `~/.cargo` and linked all binaries from `~/.cargo/bin` into `~/.cargo/xbin` except `cargo` itself, which I linked to `xargo`. Then, I set `~/.cargo/xbin` as a toolchain location and here we go!

[2017-09-28 00:39] maraisr commented on #1131
@matklad @BatmanAoD Is this issue still relevant? If so, are you able to point me in the right direction in fixing this?

[2017-09-28 00:42] maraisr commented on #943
@matklad  this issue still up for grabs, and if so, are you able to point me in the right direction?

[2017-09-28 00:58] vlad20012 commented on #943
The issue is still actual and up for grab. If you try to run a single test name `test` in this setup:
[code]
both test are runned instead.

I think it's located somewhere [here](https://github.com/intellij-rust/intellij-rust/blob/7cd84c892bb48021b9d5157cdbb8dc54c269b026/src/main/kotlin/org/rust/cargo/runconfig/test/CargoTestRunConfigurationProducer.kt#L91).

[2017-09-28 06:14] mkaput commented on #1131
Yeah, anything was done with this.

The main source of the action is [here](https://github.com/intellij-rust/intellij-rust/blob/7cd84c892bb48021b9d5157cdbb8dc54c269b026/src/main/kotlin/org/rust/ide/actions/RsFmtFileAction.kt), which generally just saves file and calls [this](https://github.com/intellij-rust/intellij-rust/blob/7cd84c892bb48021b9d5157cdbb8dc54c269b026/src/main/kotlin/org/rust/cargo/

[2017-09-28 07:58] #1477 closed

[2017-09-28 08:18] farodin91 commented on #1775
@vlad20012 Sorry for my bad title.

[2017-09-28 08:39] chabapok opened #1790 "TY: Introduce array of unknown size"
This code is ok, but syntax checker marks array as wrong

[code]

[Mentoring instructions can be found in this comment](https://github.com/intellij-rust/intellij-rust/issues/1790#issuecomment-333066164)

[2017-09-28 17:40] johnthagen commented on #618
It would be great if it not only highlighted it, but also linted it like normal code as well.

Many times these fenced code blocks are used as doc tests, so having these feature would improve writing doc tests **immensely** in IntelliJ. I believe language injection (recommended above) would allow this as I've seen other IntelliJ based products provide this can of injected linting before.

[2017-09-28 19:06] kumbayo commented on #1790
RsArrayType.calculateArraySize() is currently only dealing with literal expressions resulting in an unknown size.
Since we currently have no concept of unknown/unresolved array sizes
TypeInference.inferArrayType() falls back to TySlice instead which is more wrong :-(

[2017-09-28 19:52] vlad20012 commented on #1790
As we can write `let a: [u8; 5+5];` it is a very hard task. We really should think about unknown array size, I guess.

[2017-09-28 20:02] alexander-irbis commented on #1790
Perhaps here you need to temporarily enter a new entity - an ignored size.

[2017-09-28 20:05] vlad20012 commented on #1790
Mm, really it's even not temporary. I.e. some path (to constant) may be not resolved, so our array size is unknown too.

[2017-09-28 20:09] vlad20012 commented on #1790
Ok, we can just turn `size` into `Int?` and allow null-sized array to be unified with array of any size. And it become a simple task.

[2017-09-28 20:54] mkaput opened #1794 "Fill struct & fill struct recursively intention"
Shortly, implement this for Rust: https://twitter.com/dlsniper/status/913458055039373312

[2017-09-29 01:31] maraisr commented on #943
@vlad20012  do you think you can assign this job to me - happy to take it on!

Few questions though. What is the development workflow for this? Or is it pretty standard dev workflow for Intellij plugins?

[2017-09-29 07:49] vlad20012 commented on #943
I'm sorry, I could not understand the question. Could you please clarify it? However, perhaps you can find the answer in the [CONTRIBUTING.md](https://github.com/intellij-rust/intellij-rust/blob/master/CONTRIBUTING.md)

[2017-09-29 08:33] vlad20012 commented on #1790
How to achieve it:
1. make turn type of [TyArray](https://github.com/intellij-rust/intellij-rust/blob/d4a54c17c1dfffe7c7d2cbb8424b0eb126306a20/src/main/kotlin/org/rust/lang/core/types/ty/TyArray.kt#L13).size into `Int?`.
2. Fix [this line](https://github.com/intellij-rust/intellij-rust/blob/d4a54c17c1dfffe7c7d2cbb8424b0eb126306a20/src/main/kotlin/org/rust/lang/core/types/infer/TypeInference.kt#L87

[2017-09-29 08:38] Undin commented on #1790
If @kumbayo doesn't mind I'll grab it

[2017-09-29 08:41] vlad20012 commented on #1790
@Undin Looking at your skills, you could work on auto-import or a something like it =D

[2017-09-29 08:50] Undin commented on #1790
:blush:
Unfortunately, now I don't have a lot of time to grab large task, but I want to help too.
Btw, I implemented previous version of array size determination, so I can extend my own code:)

[2017-09-29 08:52] mkaput commented on #1790
I know that feel bro

[2017-09-29 15:24] kumbayo commented on #1790
@Undin yeah you can grab it.

[2017-09-29 16:04] Wolvereness opened #1795 "E0424 False Positives"
These are two false positive cases for the E0424 inspection. The cases are arbitrary and not rustic; they're just for minimal reproduction. `rustc` does not share this false-positive. In particular, the usage of `{}` triggers the false positive, while omitting them and having single imports per line will not trigger the false positive.

[code]

Related: #990 #886.

[2017-09-29 16:06] vlad20012 commented on #1795
@matklad there is one more path resolution problem.

[2017-09-29 16:12] vlad20012 commented on #1795
The relevant code located [here](https://github.com/intellij-rust/intellij-rust/blob/d4a54c17c1dfffe7c7d2cbb8424b0eb126306a20/src/main/kotlin/org/rust/ide/annotator/RsErrorAnnotator.kt#L177)

We should check that `path.parent` is not `RsPath` and also not `RsUseItem`

[2017-09-29 19:48] vlad20012 commented on #1790
Btw, we should probably use `Long` instead of `Int` for array size. Just because if `usize` is even 32-bit it's still more than java's `int` and our type inference will fail on 3Gb arrays =D

[2017-09-30 09:50] vlad20012 commented on #1794
We already have [AddStructFieldsFix](https://github.com/intellij-rust/intellij-rust/blob/master/src/main/kotlin/org/rust/ide/annotator/fixes/AddStructFieldsFix.kt). It can be slightly improved: init fields with default values instead of `()` and fill structs recursively.

[2017-09-30 15:48] andy-hanson opened #1797 ""Remove braces from single expression" false positive for "unsafe" block"
[code]
Put your cursor on the `unsafe` keyword -- there is a suggestion to "Remove braces from single expression". But I apply the quickfix, I will get a compile error `error[E0133]: call to unsafe function requires unsafe function or block`.

[2017-09-30 16:08] andy-hanson opened #1798 "Can't find crate with relative path in workspace"
**Cargo.toml**:

[code]

**crates/main/Cargo.toml**:

[code]

**crates/main/src/main.rs**:

[code]

**crates/util/Cargo.toml**:

[code]

**crates/util/lib.rs**:

[code]

Go to `main.rs`. You will see an IDE error at `extern crate util;`: "Can't find crate for `util` [E0463]". But it works with the command-line (`cargo run -p main`).

This *was* working until recently, maybe about a week ago.

[2017-09-30 18:37] vlad20012 commented on #1715
To be more precise, the actual code is located [here](https://github.com/intellij-rust/intellij-rust/blob/d4a54c17c1dfffe7c7d2cbb8424b0eb126306a20/src/main/kotlin/org/rust/ide/inspections/RsNamingInspection.kt#L205) (and the tests [here](https://github.com/intellij-rust/intellij-rust/blob/d4a54c17c1dfffe7c7d2cbb8424b0eb126306a20/src/test/kotlin/org/rust/ide/inspections/RsNamingInspectionTest.kt#L3

[2017-09-30 18:43] #1795 closed

[2017-09-30 19:40] vlad20012 commented on #1780
The actual code is located [here](https://github.com/intellij-rust/intellij-rust/blob/fcb26cbdbd7ae7a654597413b52862f3e115f58b/src/main/kotlin/org/rust/lang/core/completion/LookupElements.kt#L127) (and the tests [here](https://github.com/intellij-rust/intellij-rust/blob/master/src/test/kotlin/org/rust/lang/core/completion/RsCompletionTest.kt#L31)).

We should make the condition more complex to che

[2017-09-30 19:47] vlad20012 commented on #1797
The actual code is located [here](https://github.com/intellij-rust/intellij-rust/blob/fcb26cbdbd7ae7a654597413b52862f3e115f58b/src/main/kotlin/org/rust/ide/intentions/UnwrapSingleExprIntention.kt#L21) (and the tests [here](https://github.com/intellij-rust/intellij-rust/blob/fcb26cbdbd7ae7a654597413b52862f3e115f58b/src/test/kotlin/org/rust/ide/intentions/UnwrapSingleExprIntentionTest.kt))

We shoul

[2017-09-30 19:48] vlad20012 commented on #1798
cc @matklad

[2017-09-30 19:56] vlad20012 commented on #1785
The actual code is located [here](https://github.com/intellij-rust/intellij-rust/blob/fcb26cbdbd7ae7a654597413b52862f3e115f58b/src/main/kotlin/org/rust/lang/refactoring/RsLocalVariableHandler.kt#L80) (and the tests [here](https://github.com/intellij-rust/intellij-rust/blob/fcb26cbdbd7ae7a654597413b52862f3e115f58b/src/test/kotlin/org/rust/lang/refactoring/RsLocalVariableHandlerTest.kt))

There is n

[2017-09-30 20:22] vlad20012 commented on #943
@maraisr And yes, you can grab the issue anytime :)

[2017-09-30 22:52] nick70 commented on #1798
Even if you don't have a workspace and you put the absolute path of the crate you want to use it won't work.

[2017-10-01 00:54] kryptan commented on #817
Just hit this bug today:

[code]

Attempting to insert # after r will balance it incorrectly.

I think IDE should never try to autobalance hashes in raw string literals. The only reason for me to add more hashes is if the parser could not correctly parse the string and more hashes are required. But if parser cannot correctly parse it how would IDE correctly insert more hashes? And if IDE can corre

[2017-10-01 02:08] Redrield opened #1800 "Can't find crates [latest nightly]"
On the latest nightly from rustup, a valid project that compiles just fine shows errors in the IDE for resolving the crate. This also breaks autocomplete for any crates used by a project. Setting the default toolchain to 'stable', and reloading the project in the IDE results in the errors disappearing.

Environment
Operating system: Manjaro Linux
Linux kernel version: 4.12
Rust nightly version: 1.

[2017-10-01 11:01] alexander-irbis commented on #1800
I noticed a couple of exceptions
(A)
![default](https://user-images.githubusercontent.com/1448323/31053817-240713ce-a695-11e7-99db-f8010ad6b7db.png)
(B)
![default](https://user-images.githubusercontent.com/1448323/31053812-02373256-a695-11e7-8fd4-ae354d8e72ac.png)
(C)
![default](https://user-images.githubusercontent.com/1448323/31053848-8380635a-a695-11e7-8feb-f8a35cd97913.png)
The last two are pr

[2017-10-01 11:29] alexander-irbis commented on #1800
Playing with Cargo.toml and versions of rustc, changes the picture in a slightly random fashion. Once serde became available.

`rustup override set nightly-2017-09-28` - fixes problem.
`rustc 1.22.0-nightly (0e6f4cf51 2017-09-27)`

[2017-10-01 13:44] #1800 closed

[2017-10-01 15:42] kumbayo commented on #1638
I could reproduce the error the following way:
git clone https://github.com/Songbird0/Curator
git checkout d8087dc6ee75edd5def5a16329932a26b57b0710
Open the project in IntelliJ
git checkout 939ee548e8084c83e28ee19c0e317daf7a5db8bb
-> The error appears at src/lib.rs

[2017-10-01 18:35] matklad opened #1803 "Display `Iterator<Item=T>` for parameter hints for iterators"
Parameter hints are not really useful for iterators right now:

![image](https://user-images.githubusercontent.com/1711539/31057723-2e4f47ce-a6f0-11e7-9584-7955f7807eaf.png)

I think we can invent some heuristics to decide when we should hide the real type and show something like `Iterator<Item=T>` instead.

[2017-10-01 18:49] #1790 closed

[2017-10-02 00:13] maraisr commented on #943
Doesn't look like `--exact` is a flag anymore?

Using the [above](https://github.com/intellij-rust/intellij-rust/issues/943#issuecomment-332696870) code block and running:

[code]

Only executes the one test anyway?

[2017-10-02 00:14] vlad20012 commented on #943
@maraisr try to run test named `test` instead of `test123`

[2017-10-02 01:29] maraisr commented on #943
@vlad20012 I see!

[code]

but then why does this fail?
[code]

My cargo version: **cargo 0.22.0-nightly**

[2017-10-02 01:48] vlad20012 commented on #943
@maraisr,
`test --package example_project --bin example_project test::test -- --exact` ?

[2017-10-02 02:05] doxxx opened #1806 "No type inference for elements of arrays"
In the following code:

[code]

The type of `b` is not inferred -- it's shown as `<unknown>` -- and `powi` is not resolvable and thus not highlighted as a method of `f64`.

Plugin Version: 0.1.0.2069

[2017-10-02 10:33] #1131 closed

[2017-10-02 11:06] matklad commented on #1798
Thanks for an awesome bug report @andy-hanson !

I can't reproduce this using the latest master, `util` resolve just fine for me. Perhaps this is the duplicate of https://github.com/intellij-rust/intellij-rust/issues/1800, which was fixed yesterday?

Could you try the latest nightly and see if it works for you?
https://plugins.jetbrains.com/plugin/download?updateId=39250

[2017-10-02 11:18] pocket7878 commented on #1794
@vlad20012 I want to try to work on this!

[2017-10-02 12:15] #1508 closed

[2017-10-02 12:17] matklad commented on #1390
This was implemented in the latest release: https://intellij-rust.github.io/2017/10/02/changelog-53.html

[2017-10-02 12:17] #1390 closed

[2017-10-02 16:46] aoprisan commented on #1753
I guess I am experiencing the same issue  with ``` to_string```  being called on ```&str```, like in the following example:
[code]
The error is: ```mismatched types E0380: expecting String, found String```
![screenshot](https://user-images.githubusercontent.com/99908/31088732-6591d8c2-a7aa-11e7-95ae-b33bd530b3f0.png)

Rust plugin version: Version: 0.1.0.2070
IDEA Community Edition EAP 2017.3 : IC-

[2017-10-02 18:52] BatmanAoD commented on #1131
Thanks @maraisr!

[2017-10-02 21:13] maraisr commented on #1797
Can I grab this one @vlad20012

[2017-10-02 21:13] maraisr commented on #1780
Can I grab this one @vlad20012 ?

[2017-10-02 22:04] vlad20012 commented on #1780
@maraisr don't ask, just grab it! :)

[2017-10-02 23:25] andy-hanson commented on #1798
Yep, looks like this works with the new update. Thanks!

[2017-10-02 23:25] #1798 closed

[2017-10-03 02:35] cmaher commented on #1753
I'm seeing this with

[code]

As a workaround for now, I've set highlighting level to "None" and invalidated caches + restarted.

[2017-10-03 08:47] Gedweb opened #1812 "Type recognize was broken"
After last update IDE cannot find type declaration of `stdlib`.
Plugin version: 0.1.0.2069
IDEA 2017.2.5

[2017-10-03 08:54] matklad commented on #1812
Could you share a project where stdlib is not detected properly?

Could you check that the project is displayed properly in Cargo toolbar?

![image](https://user-images.githubusercontent.com/1711539/31117174-95e23c9c-a831-11e7-9089-c216308e7e25.png)

Are there any errors if you use the refresh button on the toolbar?

[2017-10-03 10:51] maraisr commented on #1780
What do you mean `tailOffset`?

Are you thinking something like:

[code]
and there fore you want to check to see if the "tailOffset" of the `parent`is... something? [Here](https://github.com/intellij-rust/intellij-rust/blob/fcb26cbdbd7ae7a654597413b52862f3e115f58b/src/main/kotlin/org/rust/lang/core/completion/LookupElements.kt#L127) ??

[2017-10-03 11:30] sanmai-NL opened #1814 "With Non-[Default] channel, `cargo test` is broken when ‘Show stdout/stderr in tests.’"
[code]
Fails with:
[code]
This also happens in the situation in the issue title.

Either this is a bug in Cargo or `intellij-rust` should not generate a broken command line.

[2017-10-03 11:40] Gedweb commented on #1812
My project have more then one module. One of modules based on Angular (TypeScript)
Have no any errors on toolbar.  "Invalidate cache and restart" has same result.
Yes, i can share my project, but not here )

![screenshot from 2017-10-03 14-26-14](https://user-images.githubusercontent.com/6544152/31123079-17022c0a-a847-11e7-9d66-0c96a0e3338c.png)

[2017-10-03 11:54] matklad commented on #1812
Ah, you actually use the previous version, the current one is `0.1.0.2070`. Could you try updating the plugin? I have a feeling that this is #1800.

[2017-10-03 11:55] matklad commented on #1812
Please note that we've reworked our project model, so instead of adding IDEA modules, you need to link additional Cargo projects via the Cargo toolwindows (the green :heavy_plus_sign: sign).

[2017-10-03 12:05] matklad commented on #1814
What is the output of `rustup run nightly cargo version`? This seems like Cargo issue...

[2017-10-03 12:08] sanmai-NL commented on #1814
`cargo 0.23.0-nightly (e447ac7e9 2017-09-27)`

[2017-10-03 12:26] matklad commented on #1814
Hm, does `rustup run nightly cargo test -- --nocapture` command work from command line for your project?

For me, `cargo 0.23.0-nightly` seems to work from both command line and IDE, so this looks pretty mysterious!

[2017-10-03 12:28] vlad20012 commented on #1780
@maraisr
In your example the resulting code should be
[code]

[2017-10-03 12:33] sanmai-NL commented on #1814
[code]
works for me.

[code]
fails:
[code]
## Meta
[code]
[code]

[2017-10-03 12:35] matklad commented on #1814
Aha! Looks like version of rustup is important, it works with 1.5.0 and fails with 1.6.0!

[2017-10-03 12:41] matklad commented on #1814
Filed https://github.com/rust-lang-nursery/rustup.rs/issues/1262

[2017-10-03 12:43] matklad commented on #1814
That said, we probably should switch to `+nightly` syntax anyway, as it's more readable.

[2017-10-03 20:33] Gedweb commented on #1812
So, plugin update and recreate project structure (sad) solve this problem.

[2017-10-03 21:55] #1812 closed

[2017-10-04 07:03] matklad commented on #1688
Yeah, project structure should not depend on indexes ideally. IIRC, Kotlin has some explicit "is dumb mode" checks in project structure.

[2017-10-04 10:04] vlad20012 opened #1815 "Implicit coercions visualization"
In Kotlin we have specifically highlighting for smart casts and tooltips about it
![image](https://user-images.githubusercontent.com/3221931/31169995-29d41ee4-a903-11e7-8e0e-203b01d6ef53.png)

I want the same for non-trivial deref coercions and reference coertions.

I.e. in [this case](https://github.com/intellij-rust/intellij-rust/issues/1753#issuecomment-331313940) at the line
[code]
`w` implici

[2017-10-04 12:13] #1797 closed

[2017-10-04 18:08] Redrield commented on #1638
Getting this same issue with the latest version of the plugin.

[2017-10-04 19:31] robinst commented on #1762
Note that recently an RFC was accepted that makes `assert!(a == b)` the preferred form in the future: [RFC 2011 Nicer assert messages ](https://github.com/rust-lang/rfcs/pull/2011)

So I would consider undoing the warning about using `assert!`, to not make people switch to `assert_eq!` and then back when the better `assert!` is implemented.

[2017-10-05 06:56] matklad commented on #1762
At the moment, `assert_eq!` gives a better error message, so I think we should flip the direction of the intention once the RFC is implemented and is stable. If one does not want better messages, now, one can disable the inspection :)

[2017-10-05 06:58] mkaput commented on #1762
Note that our plugin is often used by beginner rustaceans, and so this intention might encourage them to use pattern which soon will be deprecated.

[2017-10-05 07:04] matklad commented on #1762
Yeah, I think for beginners it is especially important to use what is considered idiomatic now, and not bother with future great improvements :)

I bet `assert_eq` won't be deprecated for real in the near future anyway, because the amount of warnings will be massive, and it's break `#[deny(warnings)]` crates :)

[2017-10-05 07:27] #1638 closed

[2017-10-05 10:49] sanmai-NL commented on #1814
@matklad: shall I open another issue for the `+nightly` syntax?

[2017-10-05 10:51] sanmai-NL commented on #1757
For me the labels are clear, but I support the idea that anything arbitrary within a project such as labels should be documented somewhere within the project (even by means of referring to a label standard).

[2017-10-05 10:53] matklad commented on #1814
Yeah, and let's close this one in favor of it!

[2017-10-05 10:53] #1814 closed

[2017-10-05 10:58] sanmai-NL opened #1822 "Cargo invocations: switch from `rustup run (channel)` to `cargo +(channel)`"
See: https://github.com/intellij-rust/intellij-rust/issues/1814#issuecomment-333829680
It's more readable and apparently prevents issues such as #1814.

[2017-10-05 11:14] matklad commented on #1822
The relevant code is `org.rust.cargo.toolchain.Cargo#generalCommandLine`

[2017-10-05 11:52] sanmai-NL opened #1824 "No colored output with custom Cargo subcommand alias"
Running `cargo clippy` with `intellij-rust` produces colored terminal output for me under the current nightly of Cargo and `intellij-rust`.

With a custom Cargo subcommand alias, however, ‘Terminal’ output is colored tab within IntelliJ IDEA, but not when invoked as a ‘Run configuration’.

`.cargo/config`:
[code]

This results in the command line:
`/usr/bin/rustup run nightly /usr/bin/cargo stress

[2017-10-05 12:04] sanmai-NL commented on #1824
[This](https://github.com/intellij-rust/intellij-rust/blob/94edb46737f4472057a827e70edf14f460391dd6/src/main/kotlin/org/rust/cargo/toolchain/Cargo.kt#L211) is probably the offending code. Is there really need for such a whitelist?

[2017-10-05 12:11] matklad commented on #1824
The white list is required because not all commands support `--color` argument. But I think we can

[code]

unconditionally for all commands

[2017-10-05 12:14] sanmai-NL commented on #1824
Where to fix it?

[2017-10-05 12:16] matklad commented on #1824
At the end of `org.rust.cargo.toolchain.Cargo#generalCommandLine` method.

[2017-10-05 12:27] sanmai-NL commented on #1824
@matklad: For some reason I cannot open this project in IntelliJ Community Edition, latest stable. Some of the errors I get are "Argument for @NotNull parameter 'module' of com/intellij/psi/search/GlobalSearchScope.moduleRuntimeScope must not be null" and "Missing junit.jar". I've re-enabled Kotlin, Gradle, JUnit plugins.

[2017-10-05 12:32] matklad commented on #1824
There's also Plugin DevKit plugin. Does building with gradle work for you? (./gradlew buildPlugin from the command line)?

[2017-10-05 12:35] sanmai-NL commented on #1824
I've enabled the DevKit plugin, Invalidated Caches and restarted. I still cannot access any files in the project explorer.
[code]
works from within the Terminal window.

[2017-10-05 12:38] matklad commented on #1824
How exactly are you opening the project? You need to use "import project" action to link Gradle's and IDEA's project models.

[2017-10-05 12:52] sanmai-NL commented on #1824
See also: https://blog.jetbrains.com/idea/2017/07/intellij-idea-2017-2-is-here-smart-sleek-and-snappy/#comment-411103

I used ‘Import project from existing sources’ and accepted that `.idea` was to be overwritten. That did not work. Then I chose ‘Import project ...’ and then selecting Kotlin initially, and it did work, in the sense that I could browse the project. Finally I read up your `CONTRIBUT

[2017-10-05 12:59] kellerkindt commented on #535
Having no debugger in IntelliJ IDEA is quite a shame. I am sitting here on a multi module project, that cannot be opened with CLion because they are multiple modules (and nobody wants CMakeFiles in a rust module), but cannot be debugged with IntelliJ IDEA **Ultimate** because... well.. nobody knows.

I really like IntelliJ and i'ts a pleasure to work with, but this is just sad.
Looking forward to

[2017-10-05 13:02] matklad commented on #535
Hey, starting with https://github.com/intellij-rust/intellij-rust/pull/1791 (Monday's release) you can open may projects in CLion at once :)

Ultimate does not have the necessary debugging infrastructure unfortunately (like, CLion bundles a specific LLDB).

[2017-10-05 13:03] stephanbuys commented on #535
Similar concern this side, when doing frontent/rocket development I would like to use Webstorm and still have all the rust capabilities available...
@matklad Would it be possible to do proper web debugging in CLion with the capabilities you mentioned above?

[2017-10-05 13:05] matklad commented on #1824
Hm, the latter mistake looks like something's wrong with gradle caches? `rm -fr /home/sanmai/.gradle/caches/modules-2/files-2.1/com.jetbrains.intellij.idea/ideaIC/` might help.

[2017-10-05 13:05] sanmai-NL commented on #1824
With some messing around it now magically works.

[2017-10-05 13:05] matklad commented on #1824
Glad to hear that!

[2017-10-05 13:13] #1757 closed

[2017-10-05 13:55] sanmai-NL commented on #773
@matklad: ctrl+alt+down does not work for me, since it is a keyboard shortcut in Gnome already. Moreover, that fails to jump between non-error locations, such as warning locations. Does anyone know a stopgap solution with or without IntelliJ IDEA? It annoys me quite a bit to have to look for and scroll through various source code files to find all issues reported by Clippy.

[2017-10-05 13:58] sanmai-NL commented on #829
@juszczakn: have you come around to adding a test, or should it be picked up by someone else?

[2017-10-05 14:52] #1824 closed

[2017-10-05 22:09] #1822 closed

[2017-10-06 08:13] sanmai-NL opened #1827 "Commands don't run `error: toolchain 'Nightly' is not installed`"
This bug is due to #1826. Lack of testing as warned for in the PR ...

[2017-10-06 08:14] matklad commented on #1827
Hm, I think `rustup run nightly` and `cargo +nightly` are equivalent? That is, the former one should complain about `toolchain nightly is not installed` as well?

[2017-10-06 08:20] sanmai-NL commented on #1827
The problem is that the `toString` method on `RustChannel`s has a caption with a capital that does not match the actual name. See https://github.com/intellij-rust/intellij-rust/blob/6e996235bd63597afeee1304553d1ef53f3fe1ca/src/main/kotlin/org/rust/cargo/toolchain/RustChannel.kt#L9-L12

I propose to do away with the initial capital in the channel titles. They do not add value IMHO and [channels are

[2017-10-06 08:25] sanmai-NL commented on #1827
Of course regardless of the `toString()` implementation, it would be proper to use the `rustupArgument`, the third field in the triple. But that field can be `null`. Wouldn't it be better to refactor the code and drop the distinction between the second and third fields. `toString()` for `DEFAULT` can return `""`. That syntax would work with `cargo +channel` and would be obvious in the UI as well.

[2017-10-06 08:30] sanmai-NL commented on #1827
I’m working a slightly better solution now.

[2017-10-06 08:32] matklad commented on #1827
Yeah, and I think we need a test for it :)

I don't think it's worth the hassle to launch a real rustup though, but a Unit test that creates a Cargo command line, turns it into a GeneralCommandLine, renders it to sting and checks that it looks reasonable is worth adding.

[2017-10-06 08:42] matklad commented on #1827
Here's an example of a similar in spirit test: https://github.com/intellij-rust/intellij-rust/pull/1668/files#diff-c1d7d0db62d5fcf36f5890eb4fcfe7bb

[2017-10-06 09:47] sanmai-NL commented on #1827
I did a live test with the fix in #1828. How to write a unit test in the way you describe isn’t obvious to me and I have some pressing other work to do ... I hope you can add the test this time, in case I contribute in the future I will ensure a unit test is added.

[2017-10-06 10:20] Undin commented on #1827
@matklad I think you wanted to write this in PR :smile:

[2017-10-06 10:40] #1827 closed

[2017-10-08 06:43] #1794 closed

[2017-10-08 08:50] denis-golubev opened #1831 "Intention "Fill match arms" deletes comments inside `match`-expression"
# Expected Behaviour
The intention "Fill match arms" should keep the comments inside the `match`-expression, either below or above the generated content. Running it on the following code snippet...
[code]
...should produce something like the following:
[code]
# Actual Behaviour
Using the intention results in the comments being deleted:
[code]

# Steps to Reproduce the Problem
1. Create a new Rust

[2017-10-08 12:56] sanmai-NL opened #1832 "Deprecated items are suggested as completion to `crate_name::mod_name::`"
E.g., `use hyper::mime::` suggests `TEXT_JAVSCRIPT` even though it's [deprecated](https://github.com/hyperium/mime/blob/f8e7bd3d35db21cd8e16b40d2d5aafc43f840d89/src/lib.rs#L718-L720). Using latest nightly of `intellij-rust`.

[2017-10-09 12:39] e-oz opened #1835 "Plugin can't parse relative paths anymore in "use""
Couple updates ago all "use" statements with leading "::" stopped working, so currently I'm not sure why I still use this plugin because refactoring doesn't work, cmd+click doesn't work and I see a lot of false error warnings (half of the code is red in IDE when it compiles without a single warning).

Example:
[code]

[2017-10-09 12:55] e-oz commented on #1835
Just discovered simple paths like "use services::ItemUpdateError;" don't work also.

[2017-10-09 12:58] matklad commented on #1835
Most likely this is caused by switch to the new project model. Can you check the Cargo toolbar? Here are some more details about the toolbar: https://github.com/intellij-rust/intellij-rust/issues/1812#issuecomment-333780717

[2017-10-09 13:12] e-oz commented on #1835
@matklad yes, you were right.

For future readers: in Cargo toolbar (IDEA toolbar with Rust logo) click "+" and give it path to the Cargo.toml of your project. Not sure why it was so difficult for this toolbar to find existing Cargo.toml when this toolbar was introduced.

[2017-10-09 13:12] #1835 closed

[2017-10-09 15:28] vlad20012 commented on #1753
We've disabled typechecking by default in the latest release #1836 due to these issues :(

[2017-10-09 15:54] supercurio commented on #1753
Thanks, the false positive were making this feature counter-productive.
In the meantime, the cargo check option does the job.

Looking forward to the typechecking capability return once it's reliable enough!

[2017-10-09 15:59] vlad20012 commented on #1753
The issue is still actual for disabled-by-default inspection =)

[2017-10-09 16:45] farodin91 commented on #1831
I will fix it

[2017-10-09 17:04] jrmuizel opened #1839 "Add a way to locate the implementation of a trait for a particular type"
There's no easy way to know where a trait implementation is defined. (i.e. it could be defined near the trait or near the struct). Being able to jump to the correct location would be very valuable.

[2017-10-09 23:52] mmlinford opened #1842 "console output (stderr?) is no longer displaying in red"
I recently updated to the latest version and the colorful console output seems to have stopped working (it's only showing white text and blue links). It seems to be happening across all of my run configurations.

[2017-10-10 08:14] LooMaclin commented on #1842
Same behavior.

[2017-10-10 08:39] vlad20012 commented on #1839
Hmm, ctrl+alt+B or click to the green icon little to the left of a trait/struct? Or I did not understood the problem.

[2017-10-10 08:41] vlad20012 commented on #1839
![image](https://user-images.githubusercontent.com/3221931/31377219-03cbefe0-adb0-11e7-8a50-d7cb6268c1c5.png)

[2017-10-10 09:16] FauxFaux opened #1843 "Debugging just one test actually runs all tests"
The UI implies that you can debug just a single test, but will actually run all tests. This is annoying if you want to use breakpoints, or if you have hundreds of tests.

Example code, with "run" buttons next to each test case, as well as the whole module:
![image](https://user-images.githubusercontent.com/328180/31378417-1a437ce6-ada3-11e7-8a02-86e2bb859d24.png)

Configuration for a generated run

[2017-10-10 09:18] #1831 closed

[2017-10-10 11:45] amentis opened #1844 "No Environment variables in Debug"
When you create a cargo run configuration and set environment variables for it it runs when you "Run", but does not for "Debug" - simply the environment variables configuration is ignored.

[2017-10-10 13:22] matklad commented on #1842
For what commands does it happen?

[2017-10-10 13:46] sanmai-NL opened #1845 "Collapse module dirs with a single `mod.rs` file"
In the project overview, each directory has to be expanded even if it has only a single entry (e.g., a single `mod.rs` file). This adds UI friction and also uses up more horizontal screen space.

Using the latest nightly of the plugin.

[2017-10-10 17:17] mmlinford commented on #1842
@matklad for me it was happening for both `run` and `test`

[2017-10-10 18:31] jrmuizel commented on #1839
Yes. That's exactly what I was looking for. I did notice that it doesn't seem work for types in the standard library like String or Vec. Is it possible to make it work there too?

[2017-10-10 18:32] vlad20012 commented on #1839
Hmm, it works for me
![image](https://user-images.githubusercontent.com/3221931/31403687-87283e32-ae02-11e7-9c17-9b5f00569de0.png)

[2017-10-10 18:35] jrmuizel commented on #1839
Ah it looks like it does for me too. It just takes a little while to show up.

[2017-10-10 18:35] #1839 closed

[2017-10-10 18:37] vlad20012 commented on #1839
=)
Just use ctrl+alt+B. It works immediately

[2017-10-11 02:00] kitsuneninetails opened #1847 ""extern crate" declarations not resolved by indexer/code completion"
They show up as errors (with red underlines), but don't affect actual compilation.  Furthermore, they are not included in indexing, making it impossible to do code completion, parameter analysis, function analysis, etc. for anything in an imported crate.

Screenshot showing the issue:
![screenshot from 2017-10-11 10-55-22](https://user-images.githubusercontent.com/9975355/31418790-1427b1d0-ae73-11

[2017-10-11 07:54] LooMaclin commented on #1842
@matklad
![image](https://user-images.githubusercontent.com/10957765/31428130-68970276-ae72-11e7-8255-c7cf9fe916b5.png)

[2017-10-11 20:01] kumbayo commented on #1847
Sadly I cannot reproduce this problem with with your exact code and the latest version of the plugin (downloaded or self compiled).
Could you tell us what exact error is reported at `extern crate hyper;`?

Which version of Rust/cargo/rustup do you have installed?

I assume the problem still persists after restarting IntelliJ?
Thanks

[2017-10-11 21:07] #1386 closed

[2017-10-12 03:46] HighCommander4 opened #1850 "Local variable type hint is sometimes redundant"
Local variable type hints are generally useful, but sometimes they are reundant, for example:

[code]

Here, showing a local variable hint for `x` is redundant, because the type name is right there as the first token of the initializer expression. I think in a case like this, the editor could be smarter and not show the hint.

[2017-10-12 04:02] HighCommander4 opened #1851 "Feature request: explore macro expansion"
It would be great to have a feature where the IDE let you "preview" the expansion of a macro invocation by e.g. showing it in a hover window in response to a command / keyboard shortcut.

Eclipse CDT has a similar features for C/C++ macros.

[2017-10-12 06:08] kitsuneninetails commented on #1847
Thank you for your prompt reply.  Here is the error I get when I hover:

![ss2](https://user-images.githubusercontent.com/9975355/31481203-1464b374-af5d-11e7-8b0d-2fa9ff794974.png)

[code]

The problem does persist after restarting IntelliJ (and after "invalidating indexes and restart"ing).

However, it did work when I just tried it now, but stopped working again after Invalidate/Restart (which I

[2017-10-12 07:07] matklad commented on #1847
@kitsuneninetails could you check the Cargo toolbar: https://github.com/intellij-rust/intellij-rust/issues/1812#issuecomment-333780717?

We've recently changed our project model implementation, so you might need to refresh/reattach Cargo projects.

[2017-10-12 08:48] twistedfall opened #1852 "False positive for closures: The type placeholder `_` is not allowed within types on item signatures"
Hi,

The [following valid code](https://play.rust-lang.org/?gist=40ee6c059b12e1c7f1ee10cb7981751e&version=stable) triggers this false positive:

[code]

![screenshot_20171012_104259](https://user-images.githubusercontent.com/406037/31487187-31a2d132-af3a-11e7-80b4-231d79e89365.png)

[2017-10-12 08:57] matklad commented on #1850
@farodin91 wanna take a look? :)

[2017-10-12 08:58] matklad commented on #1852
`org.rust.ide.annotator.RsErrorAnnotator#checkBaseType` should be fixed. The relevant tests are in `org.rust.ide.annotator.RsErrorAnnotatorTest`.

[2017-10-12 09:10] farodin91 commented on #1850
jo

[2017-10-12 16:05] #1850 closed

[2017-10-12 20:29] HighCommander4 opened #1856 "Completion of function in "use" declaration could insert semicolon"
When performing completion of a function in a "use" declaration, we know we'll want a semicolon afterwards, so the completion might as well insert it.

[2017-10-12 23:29] vlad20012 opened #1857 "COMP: No completion in this case"
[code]

It's relevant only for completion. If write there `self.t.foo()` it will be resolved.

[2017-10-13 02:41] kitsuneninetails commented on #1847
Hmm, this looks like the same issue, and I don't have the +/- buttons so I think I have the outdated plugin for the Cargo toolbar, but I don't know how to update it, as "cargo" isn't listed in my installed (or available) plugins.  How do I go about updating?

[2017-10-13 02:48] kitsuneninetails commented on #1847
Okay, I see.  I didn't have the latest because IntelliJ doesn't automatically keep my plugins updated to the latest stable versions, unfortunately.  I pulled the latest nightly from the download page and manually installed, and I think the problem has gone away.

Thanks!!

[2017-10-13 02:48] #1847 closed

[2017-10-13 07:56] matklad commented on #1857
The most common cause for similar completion bugs is `originalFile` lost somewhere.

[2017-10-13 07:57] matklad commented on #1856
The relevant code is here: https://github.com/intellij-rust/intellij-rust/blob/4e3e2baae57330f47c7bda1aa41c378caa4dea12/src/main/kotlin/org/rust/lang/core/completion/LookupElements.kt#L46

[2017-10-13 14:05] twistedfall opened #1858 "False positive with global functions: Cannot borrow immutable local variable as mutable"
Hi,

The [following valid code](https://play.rust-lang.org/?gist=e9210d63cca54810f65785aed56cc58b&version=stable) triggers this false positive:

[code]

![screenshot_20171013_160308](https://user-images.githubusercontent.com/406037/31549989-2648f130-b030-11e7-89ec-e633cf11318f.png)

[2017-10-14 07:15] torkleyy opened #1859 "Renaming directory module renames the `mod.rs`"
Given a module `foo`, renaming foo in the `mod foo;` declaration will rename the `mod.rs` instead of the directory.

[2017-10-15 11:11] MaikKlein opened #1860 "Completions for unimported traits"
I get many `.foo`completions for all types in the compiler.

![](https://i.imgur.com/V1D7mjk.png)

This is because the compiler as a few test cases, that looks like this.
[code]

Subjectively, I think it would generally be better to only complete trait items for traits that are in scope.

If you want a [test case](https://github.com/MaikKlein/rlsl/blob/6707a204452bc6733984a2ef5da8d663d75b58b5/src/

[2017-10-15 21:28] mhaessig commented on #1856
I'd like to give this a try.

[2017-10-16 00:02] bgard6977 commented on #1587
@matklad please [see the PR](https://github.com/intellij-rust/intellij-rust/pull/1862) I just submitted for a fix.

[2017-10-16 12:37] #1715 closed

[2017-10-16 13:47] pasa commented on #943
Hi! I've created pull request #1868 for this issue. Please, have a look.

[2017-10-16 14:06] ambaxter opened #1870 "Toolchain settings forgotten on project load"
After the latest update (0.2.0.2073), no matter what I do I get the following error when opening a project:

[code]

Clicking "Setup toolchain", then "Ok" fixes the problem, but on the next reload the plugin loses the toolchain information again.

[2017-10-16 14:14] matklad opened #1871 "Highlight `&mut` variables"
Consider this snippet:

[code]

In it, we highlight `bar`, but not `baz`. But `baz` should be highlighted as well!

[2017-10-16 14:47] matklad commented on #1870
Ouch, that was a bad bug, thanks for the report!

[2017-10-16 15:52] #1870 closed

[2017-10-16 16:24] #1871 closed

[2017-10-16 21:54] matklad opened #1874 "Don't render `<unknown>` types in hints"
![image](https://user-images.githubusercontent.com/1711539/31637076-b9ae1430-b2d5-11e7-8031-98b9ece9879a.png)

These `<unknowns>` do not add much value...

cc @farodin91

[2017-10-17 02:12] notriddle commented on #1081
If the first token on the line is any of the following, then don't insert a closing bracket: for, loop, while, if, fn, struct, impl, trait, enum, mod. Otherwise, insert it.

[2017-10-17 07:16] la10736 commented on #1081
@notriddle ... you have listed exactly all cases where I *would like to have* the closing bracket. Just `mod` make me though ...

I don't think that make a correct rule for closing bracket is so trivial in Rust.

[2017-10-17 07:49] matklad opened #1875 "Quick documentaion should contain link to the on-line docs"
PyCharm has a useful feature where it adds an "View external documentaion" link to the quick-doc popup (<kbd>Ctrl+Q</kbd>):

![image](https://user-images.githubusercontent.com/1711539/31652665-864f3a4e-b328-11e7-8ee4-bca7e4051252.png)

I think we should do the same for Rust, using `docs.rs` and `https://doc.rust-lang.org/std/`.

The entry point for the relevant feature is `org.rust.ide.docs.RsDocu

[2017-10-17 08:11] matklad commented on #1875
Wow, turns out we have a dedicated shortcut for viewing external docs: https://www.jetbrains.com/help/idea/viewing-external-documentation.html, which is used by PyCharm, for example.

We need to do this as well, though it's E-less-easy, because I don't know off hand which API we should use.

[2017-10-17 08:13] matklad commented on #1875
Looks like we need to implement `ExternalDocumentationHandler`.

[2017-10-17 10:56] alexander-irbis commented on #1874
Maybe `?` or `<?>` as compact replacement for `<unknown>`?
Sometimes it would be useful to distinguish whether IDE failed to determine a type or work is still in progress.

[2017-10-17 10:58] mkaput commented on #1874
`_`

[2017-10-17 16:01] xinghun92 opened #1876 "Fail to auto complete or go to declaration for multiple crates in one project"
It works well util I upgrade the plugin, unfortunately I forget the previous version of the plugin. But my colleague's MAC works well with same rust version, plugin version and PyCharm version. I find my PyCharm works well if  the project only contains one crate, but for project with multiple crates like diesel it does not work even to auto complete std lib. So I think there may be some errors in

[2017-10-17 17:10] matklad commented on #1876
Could you check Cargo toolwondow as well https://github.com/intellij-rust/intellij-rust/issues/1812#issuecomment-333780717?

[2017-10-17 18:21] renatoathaydes opened #1877 "Auto-completes non-re-exported modules from other crates"
I have a crate that depends on `difference`.

In the integration tests for this crate, when I type `use my_crate::` the IDE suggests `difference` even though `difference` is not re-exported.

Using that won't compile. The IDE should not suggest that.

The fact that using that does not cause an error to be shown in the IDE is probably a separate bug?!

In my crate, I do this at the root-level:

[co

[2017-10-17 18:25] bgard6977 commented on #1587
I think this issue is resolved now.

[2017-10-17 19:05] #1587 closed

[2017-10-17 21:16] Hoeze opened #1878 "Go to definition / autocompletion fails, although IntelliJ can access the source code"
I just cloned "python-librespot" and opened it with IntelliJ.
Then I tried to open the source code of "player", but IntelliJ does not find its definition.
I also tried adding the librespot source code directly, but this does not help either.
![bug_crop](https://user-images.githubusercontent.com/1200058/31689925-60bd5194-b391-11e7-8412-0957f746cf7e.png)
Opening "player.rs" directly over external li

[2017-10-17 21:19] matklad commented on #1878
We don't support macros yet unfortunately :(

[2017-10-17 22:43] Hoeze commented on #1878
OK, but this isn't a macro, is it?

The problem is that opening code definitions works inside a project but not with library dependencies:
Opening definitions works, if the code is available as a cargo sub-project in the workspace.

[2017-10-18 04:50] xinghun92 commented on #1876
The cargo toolwindow show only rusqlite while diesel is not in it. Add diesel to cargo toolwindow fix it, thanks!

<img width="1166" alt="dingtalk20171018124411" src="https://user-images.githubusercontent.com/17715355/31701406-ce82bee0-b395-11e7-9ac1-84f2dad8299b.png">

[2017-10-18 04:50] #1876 closed

[2017-10-18 06:11] mkaput commented on #1878
This is code snippet inside `py_class!` macro invocation. Whenever we encounter anything macro-related we stop parsing it at this moment, that's why nothing works (excluding elementary token highlighting)

[2017-10-18 07:27] Hoeze commented on #1878
Ah, thank you for clarifying :)

[2017-10-18 07:45] farodin91 commented on #1874
I do not like `_` much because there can be a difference between rust is unable to infer, and IntelliJ-rust is unable to infer. Besides, we can start with this.

[2017-10-18 07:48] farodin91 commented on #1874
Also, we currently add `_`, when don't want to show the complete type, for example, to large.

[2017-10-18 07:51] matklad commented on #1876
Yeah, we really should add some warning for this case ....

[2017-10-18 08:10] matklad commented on #1878
Yeah, at the moment, we don't understand that the thing after `data` is a path at all, and so we don't know that we should show completion.

Closing as a part of a larger https://github.com/intellij-rust/intellij-rust/issues/229

[2017-10-18 08:10] #1878 closed

[2017-10-18 14:49] alekratz opened #1879 "Procedural macro libraries: extern crate proc_macro not found"
Procedural macros (aka custom `derive`s) [require some special set-up in the Cargo.toml file](https://doc.rust-lang.org/book/first-edition/procedural-macros.html), with a `proc-macro = true` line under the `[lib]` section to allow usage of the `proc_macro` crate. The plugin doesn't seem to be aware of this and shows the crate as missing.

NB: I was using this on my personal [`enum-methods` crate](

[2017-10-18 21:04] mhaessig commented on #1856
I have trouble detecting if there is already a semicolon.
When calling `val parent = element.parent!!` within the if at  https://github.com/intellij-rust/intellij-rust/blob/4e3e2baae57330f47c7bda1aa41c378caa4dea12/src/main/kotlin/org/rust/lang/core/completion/LookupElements.kt#L51 I get a PSIElement of type `PSIElement(mod)` and I don't understand why, because from my (limited) understanding `pare

[2017-10-18 21:15] matklad commented on #1856
In this function, `element` is the element you are trying to complete (for example, a struct from another file), and not the element at caret.

See this snippet for an example of how to get context at the completion point:

https://github.com/intellij-rust/intellij-rust/blob/4e3e2baae57330f47c7bda1aa41c378caa4dea12/src/main/kotlin/org/rust/lang/core/completion/LookupElements.kt#L32-L37

[2017-10-18 21:25] mhaessig commented on #1856
Oh, I see. Thanks for your help.

[2017-10-18 23:46] Dragonrun1 commented on #1812
So it's very confusing what it wants here since every path to the stdlib it rejects.
![bad_lib_paths](https://user-images.githubusercontent.com/1431541/31747807-cfa314a8-b423-11e7-8547-2cfc01618e50.PNG)

[2017-10-18 23:47] Dragonrun1 commented on #1812
So it's very confusing what it wants here since every path to the stdlib it rejects.
![Uploading Bad_lib_paths.PNG…]()

[2017-10-19 11:50] #1856 closed

[2017-10-19 17:20] mhaessig opened #1888 "Add semicolon on completion of use item"
When completing a use item with a struct, traits const or static add the semicolon at the end if needed (like #1881).

[2017-10-19 21:49] HighCommander4 opened #1889 "Cannot edit right margin location"
Under Settings -> Code Style -> Rust -> Wrapping and Braces, the "Right margin (columns)" setting is set to 100 and cannot be edited. It would be good to be able to edit this.

[2017-10-20 17:54] adiba opened #1890 "Highlight overloaded operators"
In CLion, overloaded operators in C++ are highlighted in (a different) color:
![image](https://user-images.githubusercontent.com/23532559/31835011-4aa033f4-b5d0-11e7-907a-84893d0eb265.png)

Could we have this in intellij-rust?

related: https://github.com/intellij-rust/intellij-rust/issues/1892

[2017-10-20 18:01] vlad20012 commented on #1890
Hmm, I think yes, but is it really useful feature?

[2017-10-20 18:01] Undin commented on #1890
I personally don't know about operators in CLion, but I think we can implement goto definition for operators like kotlin plugin does
At least I thought about it:)

[2017-10-20 18:04] danieldulaney opened #1891 "Support for portable Rust toolchains"
My installations of IntelliJ and Rust live on a portable USB drive. When I jump to another (Windows) machine, the USB drive is often assigned a different drive letter. I currently have to change the `toolchainHomeDirectory` and `explicitPathToStdlib` to have the correct drive letter. Would it be possible to support another syntax that doesn't require an explicit drive letter, such as the `file://`

[2017-10-20 18:57] mkaput commented on #1890
Yes it is, not only it visually tells that this operator might have non-typical behaviour, but also it is navigation point. R# also does this for both C# and C++

[2017-10-20 20:18] adiba opened #1892 "Treat overloaded operators as methods (QuickRef, Ctrl-Hover)"
`Ctrl+Q`, hovering with `Ctrl` and `Ctrl+B` (go to definition/uses) should work on overloaded operators as well. (CLion does this quite good)
(I'm not sure what `Refactor/Extract type parameter` does, if anything)
And finally show the operators themselves (not only the corresponding method) as suggestion:
![image](https://user-images.githubusercontent.com/23532559/31839990-b44e6be6-b5e3-11e7-90c5-

[2017-10-21 10:20] matklad commented on #1891
Hm, the thing that is special about `file://` syntax is it allows to specify paths relative to the project dir. The same will happen automatically with toolchain paths as well.

The problem is, paths to toolchain are not relative to projects, so IDE don't really have any way to determine where the toolchain lives unfortunately. In theory, we *could* probe all existing drives, but I don't think thi

[2017-10-21 11:13] torkleyy opened #1893 "Parser does not allow cfg attribs in const slices"
## Example

[code]

[2017-10-22 22:11] kryptan opened #1895 "`unsafe` is not added for "Implement methods""
I have code like this:

[code]

I click Alt+Enter on `impl Trait for ()` and select "Implement methods". IDE then adds stub `fn f() ` instead of `unsafe fn f()`.

[2017-10-22 22:14] kryptan opened #1896 "IDE should not attempt to balance hashes in raw string literals"
I think IDE should never try to autobalance hashes in raw string literals. The only reason for me to add more hashes is if the parser could not correctly parse the string and more hashes are required. But if parser cannot correctly parse it how would IDE correctly insert more hashes? And if IDE can correctly autobalance hashes it would mean they weren't needed in the first place.

[2017-10-22 22:15] jrmuizel opened #1897 "Self not properly resolved"
In the following example Self is not properly resolved to Foo

[code]

[2017-10-22 22:39] kryptan opened #1898 "Macro arguments are highlighted incorrectly if they are keywords"
In the following screenshot `var`, `let` and `type` are semantically the same thing - a macro argument, yet they are highlighted differently.

![image](https://user-images.githubusercontent.com/11528855/31867149-b80eab14-b792-11e7-92b7-c0a4b1fde145.png)

[2017-10-23 02:28] jbayardo commented on #1897
This impacts refactorings: if you renamed new(), the occurence in x() would not be updated.

[2017-10-23 02:32] jbayardo opened #1899 "Structure view does not show template constraints"
As of 0.2.0.2074, impls of templated types with different trait constraints on the template will display the same, though being different. For example

[code]

Will show in the Structure view as `A<K>` (although in separate items). I think they should be displayed separately, perhaps something like

[code]

[2017-10-23 07:29] matklad opened #1900 "Issues from the forum"
A ton of issues is logged over here: https://users.rust-lang.org/t/intellij-rust-0-2-0-released/13419/15?

[2017-10-23 08:08] matklad commented on #1895
The entry point here is `org.rust.ide.annotator.fixes.ImplementMembersFix`.

[2017-10-23 08:10] matklad commented on #1899
The relevant function is `org.rust.ide.presentation.UtilsKt#getPresentationForStructure`.

[2017-10-23 08:44] #1892 closed

[2017-10-23 10:48] mhaessig commented on #1888
@matklad Could we also insert a semicolon after a glob list?

[2017-10-23 10:55] matklad commented on #1888
Yeah, I think we can make typing `{` after `use foo::` to auto-insert `};`, but this is handled by completely separate machinery.

[2017-10-23 11:11] mhaessig commented on #1888
So a separate issue?

[2017-10-23 11:15] matklad commented on #1888
Yep!

[2017-10-23 13:42] pasa commented on #943
I guess this issue can be closed since the pull request #1868 has been merged.

[2017-10-23 13:59] #943 closed

[2017-10-23 14:20] #1586 closed

[2017-10-23 14:21] matklad commented on #1586
It's possible to set working directory now.

[2017-10-23 14:21] #1632 closed

[2017-10-23 14:46] tdyas opened #1906 "Plugin cannot find stdlib"
The IntelliJ rust plugin displays the following error in the IntelliJ "Event Log" pane:

[code]

My machine runs macOS High Sierra. I am using Rust 1.21.0 (installed via brew), IntelliJ 2017.2.5, and version  0.2.0.2075 of the IntelliJ Rust plugin.

The "Standard library" setting on the Settings > Languages & Frameworks > Rust pane is empty. Should that be set to something or should I be using rus

[2017-10-23 14:49] matklad commented on #1906
Yeah, `rustup` is usually the most convenient way to use Rust, and the most convenient for IDEs as well. You can get rustup over here: https://www.rust-lang.org/en-US/install.html.

If you do want to use non-rustup based toolchain, you need to download rust source code from https://github.com/rust-lang/rust and add it via settings.

[2017-10-23 15:28] jrmuizel opened #1908 "Handle include!(concat!(env!("OUT_DIR"), "/bindings.rs"));"
The bindgen user manual suggests using:
`include!(concat!(env!("OUT_DIR"), "/bindings.rs"));`
as the way to use the generated code. IntelliJ seems to not follow this and thus gives no information/completion for the generated rust code.

Although `include` can take arbitrary compile-time args (or almost), the vast majority of real usages of `include` macro contains only:
* [x] string literals #3935

[2017-10-23 19:10] alexander-irbis commented on #1896
I usually insert hashes beforehand, when I know I need them.
But sometimes it happens as a reaction to an error.
Perhaps a more flexible approach is needed here, a sort of "do not balance hashes when string literal is broken".

[2017-10-23 19:12] matklad commented on #1896
This is what is actually implemented now, the problem with it is that figuring out if the literal is broken is quite hard....

[2017-10-23 20:44] norru opened #1919 "Rust toolchain setup requiring absolute paths?"
I'm developing across Windows and Linux. Checking in the project in Windows and checking out in Linux causes a "Toolchain not found error" as the following toolchain

C:\Users\niguo\.rustup\toolchains\stable-x86_64-pc-windows-msvc\lib\rustlib\src\rust\src

1) c:\Users does not exist in Linux
2) it refers to the msvc toolchain
3) the rust toolchain configuration does not seem to be handling env var

[2017-10-23 21:00] matklad commented on #1919
Yep, it's safe (and I would say advisable) to ignore `misc.xml`. Toolchain paths are by their nature machine specific, so you can share them in meaningful way.

If you are using rustup, then toolchain is discovered automatically, so no additional setup per project is required. Rustup's channels are stored separately, per run configuration, and run configurations are shareable (they are stored in `

[2017-10-23 21:10] norru commented on #1919
I've tried to remove misc.xml altogether and didn't work as it contains a reference to "CargoProjects". However, the following macro seems to work. I only have to be careful to check misc.xml in once (with the correct path) and then perhaps ignore it:

 <option name="toolchainHomeDirectory" value="$USER_HOME$/.cargo/bin" />

Thanks for your suggestions!

[2017-10-24 09:49] matklad commented on #1774
Hm, I think this should not be closed yet, because we handled return values, but not the input parameters.

[2017-10-24 09:56] matklad opened #1923 "Support CLion 2017.3"
from #1937:

When opening with CLion on OSX (CLion 2017.3 EAP, Build #CL-173.3415.24) and trying to debug, I get:

Error running 'Run HelloWorldRust': com/jetbrains/cidr/cpp/CPPToolchains

Unfortunately, there is no stacktrace that I can see, nor is there anything in the IDEA log files, that's the extent of the error I get.

I've tried changing the debugger to GDB but that doesn't seem to help. I

[2017-10-24 22:01] jbayardo opened #1924 "Type inference renaming"
If you have two templated functions with the same return type template name:

[code]

And then have something that looks like `(a(), b())`, the plugin will type it as `(Q, Q)`. It should actually be something like `(Q1, Q2)`.

[2017-10-25 00:46] newtack opened #1926 "Compile & run inside docker"
I want to use Intellij-Rust on my Mac but have my Rust dependencies (including emscripten) inside of docker. Can I use docker to build and run the code from Intellij-Rust, if so how?

[2017-10-25 04:40] #1906 closed

[2017-10-25 07:37] AurevoirXavier opened #1927 "Crash"
If I type these code, the plugin will crash.

[code]

I think maybe 'type deduce' cause this problem. In `triplets = triplets`.

If I comment all the code, everything goes right.

Env:
Clion 2017.3 EAP
lastest rust & rust plugin
OSX high sierra

[2017-10-25 07:43] AurevoirXavier commented on #1927
Seem when deduce a collection of char which I assign to [char](triplets) (actually the right type should be Vec<char>), the plugin crash.

[2017-10-25 09:32] farodin91 opened #1928 "Extract method use return parameter again"
[code]
=>
[code]

[2017-10-25 18:28] #1928 closed

[2017-10-25 20:01] farodin91 commented on #1859
@matklad Try to solve this, but some architecture need to changed because you can not rename PsiDirectory with an rename processor. Therefore, files should not implement directly RsMod. Think we need to add an layer, correct?

[2017-10-25 20:23] matklad commented on #1859
Hm, I am almost sure that you can implement custom logic for renaming a directory...

[2017-10-25 20:36] farodin91 commented on #1859
I have currently no idea, tried different workaround with changing file function setName.

[2017-10-25 20:49] matklad commented on #1859
RenameHandler should be able to anything with renamings I think: http://www.jetbrains.org/intellij/sdk/docs/reference_guide/custom_language_support/rename_refactoring.html

However, my gut feeling (without digging into the code, so I might be wrong), that PsiRenameProcessor should be enough here.

[2017-10-26 07:19] matklad opened #1930 "Suggest users to install rustup when no toolchain found"
We have a settings pannel with a field with a toolchain path: https://github.com/intellij-rust/intellij-rust/blob/75dfb261664bb33f9d5712d1fca696f6b7883e42/src/main/kotlin/org/rust/cargo/project/settings/ui/RustProjectSettingsPanel.kt#L34

Usually, this is filled automatically from rustup. It would be nice to show a hint "you can download Rust here: rustup.rs".

[2017-10-26 08:05] matklad opened #1933 "Extract function refactoring creates syntatically invalid code"
Before

[code]

After ->

[code]

cc @farodin91

[2017-10-26 08:06] matklad opened #1934 "Extract function refactoring throws exception for an invalid name"
If I use an invalid name for the extraced function (for example, an empty string), the exception is thrown:

[code]

cc @farodin91

[2017-10-26 08:19] farodin91 commented on #1933
What is incorrect? Beside function extract do not support call arguments.

[2017-10-26 08:23] farodin91 commented on #1933
I see

[2017-10-26 08:38] farodin91 commented on #1933
I found the problem

[2017-10-26 10:20] #1852 closed

[2017-10-26 11:15] #1933 closed

[2017-10-27 01:07] Arcnor opened #1937 "Error when debugging"
I've created a new project with IDEA (because CLion doesn't show Rust projects on the wizard) and I get a "Hello world" application running.

When opening with CLion on OSX (CLion 2017.3 EAP, Build #CL-173.3415.24) and trying to debug, I get:

[code]

Unfortunately, there is no stacktrace that I can see, nor is there anything in the IDEA log files, that's the extent of the error I get.

I've tried

[2017-10-27 07:57] #1895 closed

[2017-10-27 09:35] itmuckel opened #1939 "Collapse use statements"
Some of my rust files have a lot of use statements.

As a programmer
I'd like to collapse the use statements
to reduce noise, when working on my code.

Please add a possibility to collapse use statements like you can collpase functions.

PS: Maybe a different issue, but collapsing crates would be nice, too.

[2017-10-27 09:40] matklad commented on #1939
If anyone wants to look into this, the code is in https://github.com/intellij-rust/intellij-rust/blob/master/src/main/kotlin/org/rust/ide/folding/RsFoldingBuilder.kt.

[2017-10-27 17:44] adiba opened #1940 "Highlight & inspect inline asm"
OMG how low priority.
But that would make it safer ;)
[Inline Assembly Docs](https://doc.rust-lang.org/1.1.0/book/inline-assembly.html)

[2017-10-27 19:43] vasily-kirichenko opened #1941 "Run Clippy command fails"
Latest EAP IDEA, latest Rust nightly, latest intellij-rust.
Create a exe project, build it.
Execute "Run Clippy" command:

![image](https://user-images.githubusercontent.com/873919/32122209-47172e16-bb68-11e7-9631-6510111e8c37.png)

Result:

[code]

[2017-10-28 15:04] jrmuizel opened #1944 "Add a way to get the type of a selected sub expression"
Sometimes the type of a particular sub expression is unclear. It would be great to be able to see what the type of a selected sub expression is.

[2017-10-28 15:22] matklad commented on #1944
Isn't this handled by selecting a subexpression and pressing ctrl + shift + p?

[2017-10-28 16:15] jrmuizel commented on #1944
Indeed. That seems to work perfectly. Is there a good guide to discovering these kinds of things?

[2017-10-28 16:15] #1944 closed

[2017-10-28 16:35] matklad commented on #1944
Curious, looks like this particular shortcut is not really documented anywhere =\

In general, most features come from platform and are not Rust specific, including this one. They are usually documented here: https://www.jetbrains.com/idea/documentation/

It also helps to take a look at the default shortcuts: https://resources.jetbrains.com/storage/products/intellij-idea/docs/IntelliJIDEA_Referenc

[2017-10-28 18:14] Undin opened #1945 "Exception in CargoTestRunLineMarkerContributor"
After first opening file with test function(s) (looks like file must be outside of our project, in my case, it was `src/libstd/collections/hash/map.rs`), we get exception.

<details><summary>stacktrace</summary>
<p>

[code]

</p>
</details>

[2017-10-28 19:07] stiv-yakovenko commented on #1644
any plans to fix this?

[2017-10-28 19:59] matklad commented on #1644
I've implemented a stop-gap fix for CLion a couple of weeks ago (just non running two Cargo's together at all), but I still haven't debugged the underling cause, though I was able to reproduce the issue.

[2017-10-28 22:54] matklad commented on #1945
Wow, this is **spectacularly** broken at the moment. I think this is my favorite bug in IntelliJ Rust so far.

[2017-10-28 23:47] matklad commented on #1945
Oh welll, this is even more broken then I've thought initially...

[2017-10-29 12:45] #1945 closed

[2017-10-29 14:46] sanmai-NL commented on #1941
I have the same issue. It also fails with custom Cargo commands. Clippy and custom Cargo commands do work properly from the terminal in IntelliJ IDEA.

[2017-10-29 23:36] norru opened #1949 "Compact error representation in CLion after `cargo check`?"
Hello, I am using IntelliJ-Rust on CLion 2017.x, recently switched from the no longer maintained Eclipse RustDT. In RustDT build errors and warnings would show up tidily in the Problems view after compilation. The closest I could find in CLion is the following, which is very unwieldy, as every error takes 7 lines and I can't see more than one or two errors at a time.

[code]

I've tried using CLio

[2017-10-30 06:27] farodin91 commented on #1949
Do you activate cargo check?

[2017-10-30 08:03] norru commented on #1949
Oh, there is a setting, is there? I'll try later, perhaps it's what I am after. Thanks!

Any reason why it's not enables by default?

[2017-10-30 08:18] farodin91 commented on #1949
Settings > Languages > Rust> Use cargo check to analyze code

Cargo check doesn't well perform on large projects. I think this was the problem. @matklad Is this right?

[2017-10-30 08:36] gilescope opened #1950 "Add underline to &mut self?"
Add underline under &mut self to be consistent with display of other mut variables?

[2017-10-30 11:03] matklad commented on #1937
@Arcnor Yeah, currently we don't support CLinon EAPs: 2017.2 and 2017.3 are backwards incompatible, so you can't support both without resorting to reflection.

The issue to track is https://github.com/intellij-rust/intellij-rust/issues/1923

[2017-10-30 11:03] #1937 closed

[2017-10-30 11:04] Arcnor commented on #1937
Thanks @matklad , will do that

[2017-10-30 11:04] matklad commented on #1923
Okey, so turns out 2017.2 and 2017.3 are not API compatible, so we can't support both at the same time. The plan is to switch to 2017.3 only as soon as it is released.

[2017-10-30 11:07] matklad commented on #1923
There's a branch with 2017.3 support here: https://github.com/intellij-rust/intellij-rust/tree/clion-2017.3. It's possible to build plugin off it locally and install it into CLion EAP.

[2017-10-30 17:06] kryptan opened #1952 "Autocompletion for include_bytes & include_str macros"
`include_bytes!` and `include_str!` macros accept path as an argument. When you type the path IDE can show autocompletion with the list of files available on the filesystem.

[2017-10-30 21:23] Arcnor commented on #1937
Great! I also like that you have a full Gradle build for this (instead of the old IntelliJ path of forcing you to use IntelliJ itself, which doesn't really scale :D)

I'm having errors on the tests, though, is that expected? One of them is the inability to parse `mod.rs` from the Rust sources, but I'm on nightly, so that might be expected.

Besides that, I've installed the plugin, but when trying

[2017-10-30 21:32] matklad commented on #1937
Yeah, I've *temporary* disabled nightly tests a while ago and forgot to turn them back =/ It's on my working list though.

[2017-10-30 22:10] matklad commented on #1937
Hm, that should not happen I think. Will try to reproduce and debug this! (locally, debugging works fine for me).

[2017-10-30 22:17] orium commented on #1433
rust-lang/cargo#4592 was merged.

[2017-10-30 22:55] norru commented on #1949
Hi, I have enabled cargo check. Cargo problems do appear in the Validation bar, but not in the Event log or in the Inspection view. Is there a way to display all the Validation messages in a window without going through all the source files and hovering (or browsing via next/prev problem)?

[2017-10-30 23:06] norru commented on #1923
Thanks, there is another regression I just found on 2017.3:

Here's how Cargo toolchain dir is saved in `misc.xml` in 2017.2. Correctly, it's using `$USER_HOME$`
[code]

In 2017.3, editing the `Settings -> Languages & Frameworks` tab causes the setting to switch to absolute path, which breaks the project for anyone else.

[code]

I've tried to remove the `misc.xml` file altogether from the repo bu

[2017-10-31 09:45] matklad commented on #1949
So, I think here are all the possible ways to get error information:

1) Our build-in inspections and annotations, which are at the moment do a small subset of rustc checks
2) Cargo check external annotator, which shows errors inline (but may get slow for larger projects)
3) Executing a `cargo build` command and navigating through errors via `Cltr+Alt+Up/Down`.

The long term plan is to make 1) wo

[2017-10-31 15:41] norru commented on #1949
Hi there, I'm using 3) and finding it annoyingly clunky, hoping 1) gets
done soon and can't get 2) working correctly.

I guess that for the time being there is no solution :(. Wonder if it's
worth going back to RustDT until this is sorted out...

On 31 October 2017 at 09:45, Aleksey Kladov <notifications@github.com>
wrote:

--
Cheers,
Nico

[2017-10-31 15:55] norru commented on #1949
If it helps, RustDT does this by running `cargo build` or `cargo check` with the `--message-format=Json` flag set and then populating the problem list with the parsed, filtered results. Works for me.

[2017-10-31 16:49] norru commented on #1949
This is promising: https://github.com/rust-lang/rust/issues/42653

[2017-10-31 22:42] matklad opened #1954 "E0121 false positive"
[code]

[2017-10-31 23:15] matklad opened #1955 "If let Some leaks bindings into the else branch"
![image](https://user-images.githubusercontent.com/1711539/32253153-788c0814-beaa-11e7-8f6e-5ce34ec5a633.png)

[2017-11-01 16:49] Undin commented on #1955
I'll fix it

[2017-11-01 18:59] #1955 closed

[2017-11-02 09:09] la10736 opened #1964 "Gutter icon doesn't create test command"
Start by a new bin project and click on run gutter icon. Now create a new test function like

[code]
and click on gutter icon to run the test but it will run just `cargo run` old command a don't create a new one.

This scenario also occurs for test modules and test function in test modules.

[2017-11-02 09:22] la10736 opened #1966 "Partial test coloring"
On ubuntu cargo test command coloring always behave like to use `--nocapture` flag also when I don't set _Show stdout/stderr in test_ and the colors of single test are not rendered.

![schermata del 2017-11-02 10-20-03](https://user-images.githubusercontent.com/3902961/32318430-8dcaab96-bfb7-11e7-96ee-f362a9edb965.png)

[2017-11-02 11:35] #1954 closed

[2017-11-02 13:08] matklad commented on #1923
Fixed in https://github.com/intellij-rust/intellij-rust/commit/08d020d25d97a734e337ca51840d2d965942078e

[2017-11-03 07:43] la10736 commented on #1966
Maybe that is a duplicate of #1842 or something that is close to it

[2017-11-03 07:48] la10736 commented on #1503
@farodin91 Sorry I lost the ping... That solution is ok.

[2017-11-03 11:26] Myvar opened #1973 "External Console"
Hello,
Im developing an text based text editor using rust box, there for i need a proper tty,
I was hoping you guys would add a check box, in the cargo Command options, to use the external console instead of the internal ide's console that would help out a lot.

[2017-11-03 15:06] mkaput opened #1977 "Don't show parameter hints for "into'ed" struct fields"
[code]

![obraz](https://user-images.githubusercontent.com/3450050/32380564-a35da9a0-c0b0-11e7-82a4-6f84b3da5c62.png)

Don't show parameter hints in such situation. Without `.into()` it already works.

Hint: very same code should be used in live templates for suggesting variable names.

[2017-11-03 19:37] matklad commented on #1028
Working on TOML plugin right now. And of course grammar differs from speck!

[2017-11-03 21:18] matklad commented on #1028
closed by #1978

[2017-11-03 21:18] #1028 closed

[2017-11-03 21:36] matklad commented on #1113
closed by https://github.com/intellij-rust/intellij-rust/pull/1978

[2017-11-03 21:36] matklad commented on #1107
closed by https://github.com/intellij-rust/intellij-rust/pull/1978

[2017-11-03 21:36] #1107 closed

[2017-11-03 21:36] #1113 closed

[2017-11-03 23:01] adiba commented on #1973
This is what I waited for in CLion too!

[2017-11-04 00:07] norru commented on #1949
An acceptable workaround is to add the following setting to  `.cargo/config`. Requires rust 1.23.0+

[code]

As a result, the error messages in the Run window are much more compact:

[code]

[2017-11-04 02:19] ttaomae opened #1983 "E0106 not detected for const in trait or impl block"
Examples:
[code]
[code]
In both examples there should be an error on the `&`.

[2017-11-04 11:24] matklad commented on #1008
Should be closed by https://github.com/intellij-rust/intellij-rust/pull/1985

[2017-11-04 11:24] #1008 closed

[2017-11-04 14:17] eviltak opened #1986 "Disabling "Show argument name hints" does not work"
The "Show argument name hints" option under Configure Parameter Hints cannot be disabled without disabling parameter hints entirely. The option re-enables itself every time I disable it. The other options do not show the same behaviour.

[2017-11-04 17:31] MattsGitCode opened #1987 "Non-clickable source code locations for altered cargo working directories"
With a multi-package workspace open, if the working directory of a cargo configuration is that of one of the packages, rather than the workspace, then paths in the compiler output are not turned into clickable links to the source code.

This situation is easy to get into inadvertently by clicking the green test button next to any unit test. This creates a new cargo configuration with the working d

[2017-11-04 19:29] ttaomae opened #1989 "Implement members fix lists members that are already implemented"
Compare the behavior for Rust:
![rust-implement-members](https://user-images.githubusercontent.com/1213865/32408717-8f4b55b6-c141-11e7-9435-547cbc1a8fa6.png)

versus Kotlin:
![kotlin-implement-members](https://user-images.githubusercontent.com/1213865/32408745-4ed6b132-c142-11e7-82ec-9e4808768c43.png)

[2017-11-04 20:09] mkaput opened #1990 "Statement mover moves only first member in selection"
![peek 2017-11-04 21-07](https://user-images.githubusercontent.com/3450050/32409049-5019379c-c1a4-11e7-8f2f-5bf96540e2a0.gif)

cc @farodin91

[2017-11-04 20:38] Undin commented on #1751
I'll implement it

[2017-11-04 20:56] mkaput opened #1991 "Add unsafe { ... } surrounder"
[code]
->
[code]

A quick fix for E0133 inspection will be also nice.

[2017-11-04 21:03] prasannavl commented on #1851
There's quite a lot of auto-completion missing due to this. Ranges from crates like winapi and the whole set like kernel32-sys, user32-sys all the way to even simpler standard libraries that use macros for ops like `wrapping_add`, `wrapping_sub`, `saturating_xxx`, `checked_xxx`.

All of these depend on macro, and I'd expect more and more like these to be used, which will have no auto-completion un

[2017-11-05 03:04] HighCommander4 opened #1992 "Fields are not highlighted inside Self { ... }"
In the following code:

[code]

the use of `member` inside `new()` is highlighted as a field, but if I change the `Foo` to `Self`, like so:

[code]
then `member` is no longer highlighted.

[2017-11-05 11:07] kumbayo commented on #1992
This is likely the same problem as #1897
In this case `Self` is not resolved to the `struct Foo` but instead to the `impl Foo` block.
(Can be seen by Ctrl-Clicking `Self`)

[2017-11-05 12:52] kryptan opened #1993 "Extracting inline module removes meta attributes"
I have code like this:

[code]

I then press Alt+Enter and select "Extract inline module", IDE then removes `#[cfg(whatever)]` while it shouldn't.

[2017-11-05 13:55] kumbayo commented on #1991
As far as i can see E0133 already has a quick fix.
![E0133 quick fix](https://user-images.githubusercontent.com/1041267/32415351-0a637754-c239-11e7-8eac-22c4c5228c0c.png)

Is this problem about only surrounding a single method/line with a `unsafe{ }` block instead multiple lines?

[2017-11-05 15:57] mkaput commented on #1991
Hm somehow didn't encounter it, funny. Nevertheless, it would be still nicer to wrap multiple statements at once.

[2017-11-06 12:26] sanmai-NL opened #1995 "Incorrect error: ‘Private item used outside scope’ for public `lazy_static!` value"
The last nightly and presumably earlier versions exhibit a bug.

crate A:
[code]

crate B:
[code]

The compiler does not complain, however.

[2017-11-06 18:10] matklad commented on #1950
The relevant code is here: https://github.com/intellij-rust/intellij-rust/blob/master/src/main/kotlin/org/rust/ide/annotator/RsHighlightingAnnotator.kt#L101

[2017-11-06 18:10] #1919 closed

[2017-11-07 06:32] eviltak commented on #644
The same goes for private submodules.

[code]

When typing `foo::`, `intellij-rust` prompts both `config` and `Config`, when it should prompt only the latter.

[2017-11-07 10:44] LooMaclin opened #1999 "Sometime have error when committing changes"
Sometime have error when committing changes:
![image](https://user-images.githubusercontent.com/10957765/32489497-450341ee-c3c1-11e7-958a-153c9307e4f9.png)

System info:

[loomaclin@loomaclin ~]$ archey3

               +                OS: Arch Linux x86_64
               #                Hostname: loomaclin
              ###               Kernel Release: 4.13.11-1-ARCH
             #####

[2017-11-07 22:06] jrmuizel commented on #1908
@matklad is this easy to fix? If it is I'd like to give it shot if I get some guidance on how to do it.

[2017-11-07 22:52] Arcnor commented on #1937
Have you been able to try this? I've updated CLion again to the latest, but I'm getting the same error. I've also tried with a separate project, but the same happens.

Also, just to confirm, what I'm doing is generating the project using IntelliJ IDEA, then opening it with CLion and trying to debug the existing `Run` configuration of type `Cargo Command` with it.

[2017-11-08 03:39] Deedasmi commented on #1600
Still happens on 0.2.0.2076.

Additionally, errors inside the macro (on variable handling) with
![image](https://user-images.githubusercontent.com/5093293/32530416-b3adfaac-c403-11e7-9dc9-55e6bc143e39.png)

For some example code it happens on a line like:
[code]
in 3 places, the semi-colon between string literal and connection, the space before the equals sign, and the final closing parenthesis.

[2017-11-08 05:49] matklad commented on #1908
That partial fix here should be more or less straightforward. Here's the place where we handle macros: https://github.com/intellij-rust/intellij-rust/blob/631a4e3a81b6fd5780a5cf0687605ce9c1319ed9/src/main/kotlin/org/rust/lang/core/resolve/NameResolution.kt#L581. I think we need to hard code include here:

1) calculate the path, assuming that OUTPUT_DIR is just target
2) find the RsFile using findF

[2017-11-08 12:48] #1777 closed

[2017-11-08 13:04] vlad20012 commented on #1775
Fixed by #1997

[2017-11-08 13:04] #1775 closed

[2017-11-08 13:19] matklad commented on #1775
@vlad20012 let's add an stdlib aware test case for `Vec` specifically just in case?

[2017-11-08 13:20] vlad20012 commented on #1775
@matklad Ok

[2017-11-09 07:48] Cyberax commented on #535
I'm getting an error popup:
[code]
Interestingly enough, I don't see any exceptions in the IDEA log.

[2017-11-09 07:51] farodin91 commented on #1990
source: `https://github.com/intellij-rust/intellij-rust/blob/master/src/main/kotlin/org/rust/ide/actions/mover/RsStatementUpDownMover.kt`

[2017-11-09 07:51] matklad commented on #535
@Cyberax see https://github.com/intellij-rust/intellij-rust/issues/1923

[2017-11-09 09:00] la10736 opened #2005 "Regression: Lost Implement Member Quick Fix"
From last update 0.2.0.2076 is not longer possible apply _Implement Members_ quick fix by ALT-ENTER key stroke.

[code]
Rollback to 0.2.0.2075 fix that issue.

I took a look to the tests code but I don't fond any test about it...

[2017-11-09 09:10] vlad20012 commented on #2005
Oh, it was broken by #1789 and we don't have availability tests for this intention. I'll fix it

[2017-11-09 09:27] kryptan opened #2006 "Plugin incorrectly thinks that function returns ()"
[code]

While this code is bad style it is still valid, but plugin highlights this code as invalid: Function returns () instead of i32.

[2017-11-09 12:44] #2006 closed

[2017-11-09 12:50] #2005 closed

[2017-11-09 12:51] vlad20012 commented on #1599
Closed with #2010

[2017-11-09 12:51] #1599 closed

[2017-11-09 13:43] #1649 closed

[2017-11-09 13:57] #1743 closed

[2017-11-09 21:49] avkonst opened #2012 "Make information dialog box on Ctrl+Q more informative for generic traits."
I have taken the example of simple HTTP server code written with hyper.

The following is great, I can see inferred type of the server variable.
![image](https://user-images.githubusercontent.com/3971413/32630977-80d2c84a-c603-11e7-920b-8c352cf2fbfc.png)

However, generic parameters E and Bd are still cryptic. This is probably OK, because adding more information to the "hint" after the server vari

[2017-11-10 03:53] avkonst commented on #535
Is current suggestion to use CLion, which is paid product, long term solution? or the Rust plugin will get native support?

[2017-11-10 09:37] minecrawler commented on #535
@avkonst afaik, the plugin is compatible with all JetBrains products. However, the debugger only seems to work with selected products, for example CLion, which already provides the necessary infrastructure.

[2017-11-10 11:41] alexander-irbis opened #2013 "Scroll to the end on test"
When I run tests that are allowed to fail, the scrolling breaks down. And then, even if I try to enable scrolling, the button is highlighted as "pressed", but in fact scrolling is off. Highlight is reset after moving the mouse.

Perhaps there is needed checkbox in run configuration to choose, whether to stop scroll (when it definitely useful as in #1008) or don't stop (when it totally useless), -

[2017-11-10 19:06] alexander-irbis opened #2015 "Fix the project selector in the Run/Debug Configuration dialog"
If you create a configuration and assign a project to it, the configuration is successfully saved and running.
[![image.png](https://files.gitter.im/alexander-irbis/yMVo/thumb/image.png)](https://files.gitter.im/alexander-irbis/yMVo/image.png)

Then, when the dialog is reopened, a random project is assigned to the displayed configuration.
[![image.png](https://files.gitter.im/alexander-irbis/yNaU/

[2017-11-11 16:03] glyn opened #2018 "Find Usages of trait methods"
In the following code, for example:
[code]
Find Usages of `f` within `impl T for S` correctly identifies the one usage of `f`. However Find Usages of `f` within `trait T` does not find any usages.

Note that Find Usages of `T` in `Trait T` correctly find `impl T for S`, so a workaround for finding the usages of `f` within `trait T` is to Find Usages of `T` and then Find Usages of `f` in each imple

[2017-11-12 17:26] la10736 commented on #1966
@matklad Any hints where I should look to fix it?

[2017-11-12 17:30] matklad commented on #1966
I think the cause is either in the `Cargo` class (we produce the actual command line there), or in the `getState` method of `CargoCommandConfiguration` (we produce an abstract representation of Cargo command there).

[2017-11-12 19:27] la10736 commented on #1966
What I cannot understand is that `Cargo` class produce a correct command line `cargo test --color=always` but the this command behave different in *Run*'s window than how to behave in console one.

It seams to me that is not an issue about how `Cargo` class build the command line but how the *Run* canvas show the execution output because the cargo output like compilation data is correctly colored

[2017-11-12 20:50] avkonst commented on #535
@minecrawler Does it mean that the full benefit of the plugin can be leveraged only with CLion ? Are there plans to have the same for Intellij Idea?

[2017-11-13 09:23] minecrawler commented on #535
@avkonst Maybe @matklad can help

[2017-11-13 13:42] #1927 closed

[2017-11-13 13:43] lilianmoraru commented on #535
@avkonst The plugin is fully usable, it's just that the CLion debugger is not available with IntelliJ.

[2017-11-13 14:32] la10736 commented on #1966
Ok, I don't find a simple way to solve it.

A little debug session shows that stderr, where `cargo test` print test results, is always redirected to stdout and maybe without color info.

[2017-11-14 10:45] GuillaumeEveillard commented on #1785
Hello,

I made a first commit which corrects the issue described in the first message. I also added a unit test.

However, I found another issue when doing more tests:

[code]

In this case, my fix does not work. The problem is that the type of the extracted expression is unknown (I don't know why it does not find the type) instead of tuple, so I'm not able to detect that we are in the "tuple spec

[2017-11-14 11:13] matklad commented on #1785
I think it makes sense to send a PR with this fix and tests right now, and handle additional issues separately.

[2017-11-14 19:32] gilescope opened #2029 "Highlight bindings implementing Copy"
Would it be possible to colour or highlight differently literals and things that implement the Copy trait versus non-copyable things? It would be great to try this out as a proof of concept to see if it helped people. Is it possible / easy to try it?

[2017-11-14 19:35] matklad commented on #2029
Yeah, I think it should be not very hard to do: there'll be false positives, but they don't matter for highlighting a lot.

[2017-11-14 20:05] avkonst opened #2031 "Exception in 'unknown plugin'"
Every time I click 'run debug' of the main function in the Intelij Idea with Rust plugin, IDE complains about fatal error. Interestingly it does not have a callstack and no other information is provided and I can not submit the report as the corresponding button is disabled. See screenshot. Please let me know what information should I look for in order to enable easier troubleshooting.

![image](h

[2017-11-14 20:07] matklad commented on #2031
Wow, that's bewildering. Could tell the version of CLion (Help > About), Rust plugin (Settings > Plugins) and check if there are some potentially interfering third-partly plugins installed?

[2017-11-14 20:08] avkonst commented on #2031
Just updated the ticket with this information.

[2017-11-14 20:14] matklad commented on #2031
Oups, this IntelliJ IDEA and not CLion, I've missed that! There's no Rust debugger in IDEA :(

[2017-11-14 20:15] avkonst commented on #2031
Yes, but I do not run the debugger :) I run this:

![image](https://user-images.githubusercontent.com/3971413/32802643-9102e00c-c9e5-11e7-8624-66569faa1b21.png)

[2017-11-14 20:16] avkonst commented on #2031
Also, it seems the exception happens only once on the first run after restart of the IDE.

[2017-11-14 20:22] matklad commented on #2031
@avkonst could you consider updating IDEA version? `2017.1` is the first release in `17.1` series, the latest patch release for that is `2017.1.5`, and there's already `2017.2.6` out :) Keep in mind that the latest releases of Rust plugin are compatible with `2017.2` and `2017.3 EAP` only, and there's a chance that the issue will be fixed with upgrade, because there were some compatibility trouble

[2017-11-14 20:24] avkonst commented on #2031
Thanks. I will try this later.

[2017-11-14 20:36] avkonst commented on #2031
The error does not appear anymore with newer Intelij Idea version 2017.2.5. Thank you. I should have tried upgrading before reporting :)

[2017-11-14 20:39] matklad commented on #2031
Glad that it works for you now, and that you can use the freshest Rust plugin :)

[2017-11-14 20:39] #2031 closed

[2017-11-14 21:03] avkonst opened #2032 "Type of a local variable is not recognized"
I have taken code sample from Hyper crate. Notice the client variable is of unknown type for the IDE, because call to Client::new(...) is not recognized by the plugin. As a result, further intellisense on this variable and method calls is not available.

![image](https://user-images.githubusercontent.com/3971413/32804440-ec0367aa-c9eb-11e7-8d39-88d924c2e98b.png)

IDE version:
[code]

Plugin versio

[2017-11-14 21:03] avkonst commented on #2032
Cache invalidation, restart and reindexing do not help.

[2017-11-14 21:34] avkonst opened #2033 "Parameter type information is not complete to be helpful"
I would like to see complete type information of a parameter of a function, when I press Ctrl+P. Here is what I see now (code snippet uses Hyper::request::Request object):

![image](https://user-images.githubusercontent.com/3971413/32805879-9eec6e90-c9ef-11e7-842b-a2e553a9cd68.png)

The helping tip suggest the first parameter is of the type Method, but typing Method::new (or Method + Ctrl+Space  t

[2017-11-14 22:20] avkonst opened #2034 "Highlight unknown identifiers and suggest quick-fix tips with relevant and applicable imports"
I am coming from java/scala world, where IDE does this: if an identifier is unknown, it highlights it and suggest which definition one to import (if any).

Rust plugin shows this (notice `HttpConnector` variable is not known in the scope):

![image](https://user-images.githubusercontent.com/3971413/32808018-ae82ffe8-c9f6-11e7-8f1c-a23ce4805278.png)

I would expect the plugin to highlight this vari

[2017-11-14 22:25] avkonst commented on #2032
Workaround so far is to declare the type of the variable explicitly:
![image](https://user-images.githubusercontent.com/3971413/32808362-a6b3bcc0-c9f7-11e7-9663-daec709e35aa.png)

[2017-11-15 07:23] matklad commented on #2034
We have not yet implemented Rust language fully (the big missing piece is support for macros), so we can't 100% reliably detect unresolved names. There's an experimental intentions available for name resolution and type errors, but they are disabled by default because they can have false positives.

[2017-11-15 21:52] avkonst commented on #2034
May I enable this experimental feature? Also, are you planning to connect the plugin with RLS? It is quite useful as it does in-flight compilation and warning/error marking in real-time...

[2017-11-15 22:16] avkonst opened #2036 "Type identification should not "jump over" 'pub use' implicitly"
The following screenshot suggest that the variable Request is from hyper::proto module, although it is imported via use from hyper::server.

![image](https://user-images.githubusercontent.com/3971413/32862614-847d5d5c-cabd-11e7-8cf4-696b7f63a8d5.png)

I understand it is because of the `pub use proto::request::Request;` declaration on the hyper::server module.

This type information provided by IDE

[2017-11-15 22:40] avkonst opened #2037 "The plugin could highlight 'implicitly' applied converters"
The question here https://users.rust-lang.org/t/what-does-mean/13864 was caused by lack of knowledge and 'implicit type conversion' happening. The perfect answer explains that all the magic is in the definition of the `conversion` function defined for `Fn`:

[code]

Well, great power of rust language, but I hope IDE could be a bit more helpful in locating, high-lighting, referring to and showing '

[2017-11-15 23:08] avkonst commented on #2037
Here is one more example of the same https://users.rust-lang.org/t/why-box-future-is-type-equivalent-to-just-future/13881 The forum answer suggests that using the "documentation side by side" (or remembering it) is vital and IDE for interpreting / navigating complete rust "call-tree" is not enough. I think this could be improved.

[2017-11-15 23:16] avkonst commented on #2037
One more argument. Now I am looking into this code sample from https://doc.rust-lang.org/std/convert/trait.From.html:

[code]

Imagine that `impl From` definitions are in various different files and not very close to the place where they are 'implicitly' used. It is hard enough to interpret the source code of `open_and_parse_file` without finding these definitions. Finding these `impl From` defini

[2017-11-16 02:17] avkonst commented on #773
Integration with RLS would also enable in-flight compilation and syntax validation. This is super useful.

[2017-11-16 04:52] prasannavl commented on #1851
@matklad - I wonder how much mileage using `cargo expand` (internally using `cargo rustc -- --pretty=expanded`) get you. It does expand macros. Could this be used to add info to the intellij ast parser?

[2017-11-16 07:35] matklad commented on #2034
Yeap, here's the checkbox:

![image](https://user-images.githubusercontent.com/1711539/32879104-b1ab93e2-cab9-11e7-97a9-877af20cb8e1.png)

No, we don't have plans to integrate with RLS yet: it's not quite stable (especially in workspaces), and we would like to implement our own error checking.

[2017-11-16 10:13] matklad commented on #1937
@Arcnor I am not able to reproduce it unfortunately :( Could you share a project where you hit this issue?

[2017-11-17 17:46] kumbayo commented on #2032
I just tried this code with a nightly build (version 0.2.0.2211-nightly) and this seems to be fixed already.
The binding client is inferred to be `Client<HttpConnector, Body>`

![screenshot_20171117_184121](https://user-images.githubusercontent.com/1041267/32960918-f5870610-cbc6-11e7-86e3-5181aea6cd5c.png)

[2017-11-18 03:02] FatalCatharsis opened #2042 "[Minor] Refactoring suggestion from assert! to assert_eq removes explicit error"
The refactor suggestion to change a general assert statement from assert! to assert_eq! removes the specific error message.

Before:
![image](https://user-images.githubusercontent.com/2822917/32976382-655870d8-cbda-11e7-87e4-cf7b17fb92c0.png)

After applying refactor:
![image](https://user-images.githubusercontent.com/2822917/32976388-7732a90e-cbda-11e7-8c8a-200350a9e12d.png)

[2017-11-18 07:35] framlog commented on #1939
I'm going to do this.

[2017-11-18 08:56] vasily-kirichenko opened #2045 "Wrong completion"
### 1 `process` is in the completion list, but it's not a member of `Sha256`

![image](https://user-images.githubusercontent.com/873919/32978615-d194ce50-cc56-11e7-8777-aeea6084958a.png)

![image](https://user-images.githubusercontent.com/873919/32978621-e3b72e02-cc56-11e7-91e1-86246b3df4af.png)

### 2 `input` is _not_ in the completion list, but it's a member of `Sha256`

![image](https://user-im

[2017-11-18 09:23] avkonst commented on #2032
Great. Are there any instructions where I can download lightly version and
how I can install nightly version of the plugin? Thanks

On 18 Nov 2017 6:46 a.m., "Peter Oberndorfer" <notifications@github.com>
wrote:

[2017-11-18 10:13] mkaput commented on #2032
https://intellij-rust.github.io/install.html

[2017-11-18 20:29] kumbayo commented on #2045
Thanks for the report
### Point 1
This seems to be related to #1860
We also autocomplete for traits that are not imported.
Adding `use crypto_hashes::digest::Input;` makes the code compile.

### Point 2
As far as i can see `fn input(&mut self, input: &[u8])` is a method on the `Digest` trait.
It seems this trait is implemented via
`impl<D: Input + FixedOutput + BlockInput + Default> Digest for D {

[2017-11-18 22:17] kumbayo commented on #2045
We do not pick up the impl because of https://github.com/intellij-rust/intellij-rust/blob/49ed9479a6f40d17d23f1ae2188bfa28c328936d/src/main/kotlin/org/rust/lang/core/resolve/indexes/RsImplIndex.kt#L61-L68

#1735 is limited to unbounded impls like `impl<T> MyTrait for T`

[2017-11-19 02:03] guanqun commented on #1950
Should we create a new color `SELF_MUT_PARAMETER`?

[2017-11-19 03:21] vadixidav commented on #1941
Same issue for me as well. It runs from the command line just fine (including cmd.exe).

[2017-11-19 08:53] matklad commented on #1950
Hm, no, I think `self` should always use keyword. I think it should be possible to add decoration to existing keyword color?

[2017-11-19 09:09] vasily-kirichenko opened #2047 "Too subtle error highlighting"
I find error highlighting with red underlining is too hard to spot:

![image](https://user-images.githubusercontent.com/873919/32989156-291e2556-cd22-11e7-8e53-5f2de1580f20.png)

Compare this to the approach Kotlin uses:

![image](https://user-images.githubusercontent.com/873919/32989162-4c0f12fa-cd22-11e7-8df6-b648f6fedfcd.png)

Is there a way to make it work as in Kotlin plugin (optionally, mayb

[2017-11-19 17:38] kumbayo commented on #1441
@Joshua-F Is this problem still happening for you?

I cannot reproduce this problem with a current version of intellij-rust when pasting your code in a *.toml file.

[2017-11-19 18:50] matklad commented on #1441
Yeah, I believe this was fixed during the grand TOML rewrite!

Thanks @kumbayo !

[2017-11-19 18:50] #1441 closed

[2017-11-19 20:49] Joshua-F commented on #1441
It indeed was. 👍

[2017-11-19 20:59] avkonst commented on #2032
I have tried nightly. It is definitely resolved.

On Sat, Nov 18, 2017 at 11:13 PM, Marek Kaput <notifications@github.com>
wrote:

[2017-11-19 23:34] oleg-semenov commented on #1692
Hi @vlad20012, i decided to try to do this.

[2017-11-20 13:53] #2042 closed

[2017-11-20 14:03] matklad commented on #2037
It's an interesting idea! I am not sure how to surface this in the UI though: it should be both unobtrusive, but at the same time it should be something you can click for navigation

[2017-11-20 21:53] avkonst commented on #2037
If done, it will be one more killer feature of the ide, like variable type hint is now. Real differentiation from VS Code.

[2017-11-21 01:12] avkonst opened #2050 "Variable type resolution is incorrect"
Have a look into type hint for `r` variable within `caller_func`. It's correct type is String, but Intelij shows `<Box<Future> as Iterator>::Item`. The result is that all further intellisense and code assistance is broken.

![image](https://user-images.githubusercontent.com/3971413/33049542-824bc986-cec5-11e7-9213-fbfba65b6675.png)

The plugin proposes the navigation for `map` function to 2 places

[2017-11-21 01:54] avkonst opened #2051 "Infinite cursor and error message blinking"
How to reproduce:

- enable `cargo check` for the plugin
- use the following code snippet (see below)
- notice the error highlighted by red for the `panic::catch_unwind` term
- move your mouse cursor over this term
- observe continues cursor blinking and frequent error dialog splashing until the cursor is moved out of the term

Plugin version: 0.0.0.2215-nightly

Code sample used:
[code]

[2017-11-22 23:56] lenovouser commented on #1638
This issue still exists for my friend @phenomax who isn't able to comment at this time 😏

[code]

[2017-11-23 07:48] #1692 closed

[2017-11-23 09:21] slavam2605 opened #2063 "Closure type inference seems incorrect"
Here is a piece of code:
[code]
Plugin infers a type `f: fn() -> !`, since I think it is `fn() -> i32`.

[2017-11-23 11:24] #1785 closed

[2017-11-23 16:47] #1993 closed

[2017-11-23 16:57] #825 closed

[2017-11-24 15:09] MrBuddyCasino opened #2067 "File size limit not configurable"
I work with large auto-generated Rust files and run into this issue:
`The file size (9.66MB) exceeds configured limit (2.56M). Code insight features are not available.`

I would like to increase the limit, but there is no entry in the settings dialog, so its not actually configurable.

[2017-11-24 15:13] matklad commented on #2067
This is controlled via a properties file: https://stackoverflow.com/questions/23057988/file-size-exceeds-configured-limit-2560000-code-insight-features-not-availabl

[2017-11-24 15:31] MrBuddyCasino commented on #2067
Thanks! Wasn't aware this is unrelated to the plugin.

[2017-11-24 15:31] #2067 closed

[2017-11-24 23:27] jendrikw opened #2068 "Can't run cargo beacause of $RUSTUP_HOME"
I have an environment variable $RUSTUP_HOME set in my .bashrc. It points to "$HOME/.appdata/rustup". Mt default toolchain is specified in ~/.appdata/rustup/settings.toml. From the command line, I can execute `cargo build` fine, while `RUSTUP_HOME=x cargo build` fails with `error: no default toolchain`.

When I click 'Refresh cargo project', I get the following error:
[code]

Trying to run a defaul

[2017-11-25 05:37] vlad20012 commented on #2045
Point 2 should be fixed with #2061
Point 1 is not really a problem: we currenly complete everything and don't looking to imported traits/trait bounds and I think it's right logic: we can complete a method first and then use some quick fix (which will be added in future, I guess) to import trait/satisfy trait bound

[2017-11-25 05:37] #2045 closed

[2017-11-25 05:42] vlad20012 commented on #2047
Kotlin uses such style for unresolved references only, and we will use it too, I guess. But errors like type mismatch kotlin plugin shows with same underlined style:
![image](https://user-images.githubusercontent.com/3221931/33227791-8232e94e-d1bc-11e7-8345-41c8397d7db7.png)

[2017-11-25 05:43] #2047 closed

[2017-11-25 05:47] #2032 closed

[2017-11-25 06:56] vasily-kirichenko commented on #2045
It's a bug until autoimport is implemented.

[2017-11-25 07:02] Undin commented on #1259
It works with the latest plugin version (0.2.0.2219-nightly)

[2017-11-25 07:03] matklad commented on #1259
🎉

[2017-11-25 07:03] #1259 closed

[2017-11-26 16:37] Undin commented on #1481
Looks like it's fixed now

[2017-11-26 16:41] Undin commented on #1268
I think it can be closed :)

[2017-11-26 17:25] TimNN opened #2073 "assert!(a == b) to assert_eq!(...) intention looses message"
If the "Convert to assert_eq!" intention is applied to code like `assert!(1 == 1, "msg");` the result is `assert_eq!(1, 1);`, with the message being lost.

[code]

[2017-11-26 17:48] Undin commented on #2073
Looks like that it was fixed in #2044

[2017-11-26 17:49] TimNN commented on #2073
Apparently I'm selectively blind. I totally didn't see the existing issue when searching for the problem >.<.

[2017-11-26 17:49] #2073 closed

[2017-11-27 09:06] matklad commented on #1481
Yep, for posterity, the test is here: https://github.com/intellij-rust/intellij-rust/blob/master/src/test/kotlin/org/rust/ide/refactoring/RenameTest.kt#L152

[2017-11-27 09:06] #1481 closed

[2017-11-27 09:06] #1268 closed

[2017-11-27 09:52] #557 closed

[2017-11-27 12:54] #1941 closed

[2017-11-27 13:19] makslevental commented on #535
@matklad

not sure what i'm doing wrong but i'm getting this error in CLion when trying to debug

![image](https://user-images.githubusercontent.com/5657668/33268344-ff8bdf42-d34a-11e7-9c87-f54005de8249.png)

and yet

![image](https://user-images.githubusercontent.com/5657668/33268565-b39adf60-d34b-11e7-90f4-a9d052ba8248.png)

here is my folder structure

![image](https://user-images.githubusercon

[2017-11-27 18:17] mkaput opened #2080 "Add ability to pass arguments to cargo check for check run config/annotator"
Use case:

1. I have cross-compiled project using Xargo, which I compile to custom target `x86_64-foo`.
2. I have per-target dependencies set up in `Xargo.toml`.
3. I need to pass `--target x86_64-foo` to arguments of `xargo check` for the command to pass.
  *Invoking just `project/$ xargo check` won't execute as code doesn't compile on my host arch.*

IMHO the best way to solve this is to add tex

[2017-11-27 19:49] kumbayo opened #2081 "Wrong internal text instead of item name for E0603 (accessing private items)"
Example code:
[code]

Current error message:
![unification_after](https://user-images.githubusercontent.com/1041267/33285797-a2604c18-d3b3-11e7-9c48-43c8e9cda70e.png)

Before #1789 (where we did not print the item name)
![unification_before](https://user-images.githubusercontent.com/1041267/33285788-9e8ad220-d3b3-11e7-9406-94400dcb196f.png)

Rustc error message:
[code]

[2017-11-27 20:08] kumbayo opened #2082 "Wrong HTML escaping in E0308 tooltips causes problems around < and >"
Example code:
[code]

![html_escaping_e0308](https://user-images.githubusercontent.com/1041267/33286338-646e0a06-d3b5-11e7-8daa-05faed216aeb.png)
It wants to output `expected 'Example<u32>', found 'Example<Example<u8>>'`
but `LocalInspectionPass.createHighlightInfo()` calls `@NonNls String message = ProblemDescriptorUtil.renderDescriptionMessage(descriptor, element);`
which replaces '&lt;' by '<'

[2017-11-27 22:26] matklad commented on #2080
Hm, I wonder if we should tie this into run confgurations framework somehow...

[2017-11-28 08:25] vlad20012 commented on #2082
2 days ago I ran into the same problem from the same https://github.com/intellij-rust/intellij-rust/issues/1753#issuecomment-331313940 issue =)
I'll try to fix both of them soon

[2017-11-29 10:49] matklad commented on #2068
We pass through environment variables to processes spawned from IDE, like Cargo and rustup. So this probably means that `RUSTUP_HOME` is not set for the IDE process, because it is launched by DE and not from the shell.

To verify my hypothesis, could you launch IDE from bash shell as well and check if it works?

If it does work, it probably means that `RUSTUP_HOME` should be set earlier then in `.

[2017-11-29 10:52] matklad commented on #1990
I think this is fixed in https://github.com/intellij-rust/intellij-rust/pull/2062/files#diff-9be3dda6ce48348eea6a39e63080125aR67

[2017-11-29 10:52] #1990 closed

[2017-11-29 21:37] matklad opened #2083 "Impl T for T gives false positives"
![image](https://user-images.githubusercontent.com/1711539/33400271-8fc58474-d566-11e7-9a8e-82054e81e375.png)

Here, plugin erroneously resolves `YouCantCloneMe::foo`.

[2017-11-30 10:44] ghost opened #2084 "RustProjectSettings containing user specific data stored in .idea/misc.xml which can be shared"
The JetBrains documentation on [how to manage projects under Version Control Systems](https://intellij-support.jetbrains.com/hc/en-us/articles/206544839) suggests:

`RustProjectSettings` are stored in the file `.idea/misc.xml`, which according to the recommendation quoted above, should be shared among developers. However, at least on my system, it contains system / user specific data:
[code]

Diff

[2017-11-30 13:55] IvankoB opened #2086 "CLion: can't get how to set INCLUDE & LIBRARY environment for MINGW64 GCC to build C-dependencies of Rust programs"
//// Cargo.toml ////////////
[dependencies]
rusqlite = "*"
or
[dependencies.rusqlite]
version =  "*"
features = ["bundled"]

//// main.rs ////////////
extern crate rusqlite;

//// The error /////////////////
error: linking with `gcc` failed: exit code: 1
  |
  = note: "gcc" "-Wl,--enable-long-section-names" "-fno-use-linker-plugin" "-Wl,--nxcompat" "-nostdlib" "-m64" "C:\\Users\\Vano\\.rustup\\too

[2017-12-02 07:54] macdevign opened #2093 "Ability to run any rust file with main function beside main.rs"
Currently Intellij rust can only recognize and run main function in main.rs file in UI (eg menu, context menu), and not other rust file with main function. It should be able to run any rust file with main function just as rustc can do likewise

Eg, the following should have Run in its context menu.
<img width="821" alt="image" src="https://user-images.githubusercontent.com/6662383/33513202-dc8f210

[2017-12-02 10:36] matklad commented on #2093
@macdevign we run rust code via Cargo, so Cargo must recognize this file as a binary. For example, you can place your file inside `src/bin` subdirectory, or you could add  `[[bin]]` section to the Cargo.toml (the first option is preferable).

[2017-12-02 22:53] itmuckel opened #2094 "False positive: Re-assignment of immutable variable."
This code compiles perfectly as the immutable variables haven't been assigned yet:
![image](https://user-images.githubusercontent.com/18561536/33520473-cbae2340-d7bb-11e7-8661-c0bd70db9a96.png)

[2017-12-03 04:04] AurevoirXavier commented on #535
I have the same problem with @makslevental .
`cargo --version
cargo 0.24.0-nightly (5bb478a51 2017-11-29)`
Clion: 2017.2.3
System: High Sierra
Although there is only a `main.rs` file in `src/`, I specify `run --package plasma --bin plasma` .
But it still show me this error.

[2017-12-03 09:44] vasily-kirichenko opened #2095 "Support error-chain"
Code compiles, but there are errors in the editor:

![image](https://user-images.githubusercontent.com/873919/33524120-a84d5fa8-d827-11e7-97f6-b9644a7581e2.png)

[2017-12-03 16:07] kumbayo commented on #1688
This disappeared by updating IDEA to 2017.3 (#2090)
No more exceptions when the structure viewer is open during startup.
Also the structure viewer immediately reacts to changes in the file.
(Even when https://youtrack.jetbrains.com/issue/IDEA-177231 is not marked as fixed...)

[2017-12-03 16:07] #1688 closed

[2017-12-03 20:03] theduke opened #2096 "Support nested import groups"
A PR for nested import groups (https://github.com/rust-lang/rust/issues/44494) was merged and already is in the latest nightly.

Support for this would be amazing.

[2017-12-03 20:37] kumbayo commented on #1624
I am working on this one.

[2017-12-04 04:05] IntrepidPig commented on #2095
This is because in the plugins current state it's not capable of macro expansion. Right now it only handles the ones included in the standard library as special cases. It seems to be in progress though, as there are files in the source tree that seem to work with macros.

[2017-12-04 15:24] matklad commented on #2096
Closed by https://github.com/intellij-rust/intellij-rust/pull/2100

[2017-12-04 15:24] #2096 closed

[2017-12-05 10:30] Undin commented on #2081
Fixed in #2097

[2017-12-05 10:32] #2081 closed

[2017-12-05 11:25] dvtomas opened #2102 "Implement *Go to type declaration* (Ctrl-Shift-B)"
I'm used to it from the Scala plugin and I think it is quite useful.

My guess is it shouldn't be too difficult to implement, as both of the sub-actions (find the type of symbol, go to declaration) are already implemented.

[2017-12-06 02:16] UYEONG commented on #535
I have the same problem too.

![2017-12-06 11 12 29](https://user-images.githubusercontent.com/1321707/33640945-d338f7ee-da76-11e7-8491-9b5e7104150d.png)

---

![2017-12-06 11 13 28](https://user-images.githubusercontent.com/1321707/33640961-e1c5cca6-da76-11e7-9360-bf9a2b6d106c.png)

---

![2017-12-06 11 13 40](https://user-images.githubusercontent.com/1321707/33640969-e6c6ad1a-da76-11e7-994f-1602

[2017-12-06 02:19] RobinRheem commented on #535
@UYEONG Why not help the project! We're counting on you 👍

[2017-12-06 05:57] chrisballinger commented on #535
@AurevoirXavier @UYEONG  I have this same error message "Debugging is not possible. More than one binary produced". Here's a sample project: https://github.com/chrisballinger/sds011-rs

It seemed to work okay for a simple binary project but once I remade it as a lib+binary it stopped working. I can still use the CLion Run command, just not Debug.

* cargo 0.23.0
* clion 2017.2
* rust plugin: 0.2.0

[2017-12-06 09:33] AurevoirXavier commented on #535
@chrisballinger Hello, what your *simple binary project* mean? Even just `cargo new xxx --bin`, I still get that error...

[2017-12-06 13:53] loothood opened #2105 "error: linking with `link.exe` failed: exit code: 1120"
Hi,
I'm not sure that this is a plugin bug. But:
`fn _nb_month(old: i32, new: i32, saving: i32, perc: f64) -> (i32, i32) {
    let mut mount_count :i32 = 0;
    let mut old_price : f32 = old as f32;
    let mut new_price : f32 = new as f32;
    let mut perc_value : f32 = perc as f32;
    while old_price+((saving*mount_count) as f32) < new_price {
        if mount_count > 0 && (mount_count+1) % 2 =

[2017-12-06 18:04] chrisballinger commented on #535
@AurevoirXavier It was a `cargo new xxx --bin` at first and it worked, then I did `cargo new xxx` and moved the source into there and manually created a new main file in `src/bin/sds011.rs`. Perhaps there was a regression in one of the last two updates of the rust plugin?

[2017-12-06 18:57] jendrikw commented on #2068
When I start Intellij from bash I could run cargo commands, but there are still unresolved references for `std::process` and alike.

[2017-12-06 21:06] kumbayo commented on #1893
I am working on this.

[2017-12-07 09:00] #1776 closed

[2017-12-07 15:05] limira opened #2107 "Cargo project update failed:download failed: Failed to find stdlib in sysroot"
My system info:
- Fedora 27
- IntelliJ IDEA Community 2017.3
- Rust plugin Version: 0.2.0.2081
- Default Rust channel: beta

After logging into Fedora. I open IDEA, it complains:

    `Cargo project update failed:download failed: Failed to find stdlib in sysroot`.

**But if I close IDEA and open it again, there is no error any more!!!**

More info:
I found this [issue](https://github.com/intellij-

[2017-12-07 18:48] DGolubets commented on #1897
I was playing with Actix and also faced this problem.

[code]

[2017-12-08 13:57] theduke commented on #2096
@matklad that was fast!

Cheers.

[2017-12-08 20:47] chrisballinger opened #2109 "Debug broken on macOS"
I can no longer do a Debug on macOS with the latest Version: 0.2.0.2081 and CLion 2017.3.

Running as debug gives this output:
[code]

![screen shot 2017-12-08 at 12 44 52 pm](https://user-images.githubusercontent.com/518687/33784398-9ab28aca-dc15-11e7-8d55-bd92c188037b.png)

A regular run gives this output:
[code]

It used to work with the plugin 2 versions back, so I think there was a regression

[2017-12-08 20:52] chrisballinger commented on #2109
Ah I guess this is already fixed in 5c05b6bfbc8a4e735a35cda7b5e23396de0cb19c

Is there a way to easily run the HEAD version of this plugin?

[2017-12-08 20:56] #2109 closed

[2017-12-08 20:57] Undin commented on #2109
I think the easiest way to get the latest version of the plugin is to use its nightly version.
See https://intellij-rust.github.io/install.html for details.

[2017-12-08 21:10] chrisballinger opened #2110 "Environmental variables are not passed to debugger session on macOS"
They are properly passed to "run" sessions but not "debug" sessuins. This is with the Version: 0.2.0.3002

[2017-12-09 01:24] matklad commented on #2109
@chrisballinger you can also grab the build off the master branch from https://teamcity.jetbrains.com/guestAuth/repository/download/IntellijIdeaPlugins_Rust_CurrentIdea_TestsRust/.lastSuccessful/intellij-rust-0.2.0.%7Bbuild.number%7D.zip

Could you check that the fresh plugin build indeed works as expected?

[2017-12-09 18:17] Pzixel commented on #535
So it's not possible to debug Rust project in interlij community edition? Because the only way to make it work is pay for CLion? Damn, it's quite not good for non-Java developers who's trying to learn some Rust, but it only has VSCode plugin that eventually stops to work and IntelliJ plugin that doesn't support debugging...

[2017-12-09 20:11] chrisballinger commented on #2109
@matklad  Yep that build (3002) works as expected, except now there is this issue with env vars: https://github.com/intellij-rust/intellij-rust/issues/2110

[2017-12-10 05:33] natepisarski commented on #1786
I'm seconding this one. This would be a real life saver with diesel.

Correct me if I'm wrong, but it seems like full `proc_macro` support would be impossible. In diesel's case, an AST isn't enough to autcomplete table names. It seems like the case here is custom completions based on up-front knowlege about what the given macro will generate.

I could be totally off-base. It just seems like this w

[2017-12-10 06:00] oleg-semenov commented on #1730
@vlad20012 I think i can try this. For the Trait bullet points, I think I can use org.rust.lang.core.resolve.ImplLookup and also for check the deref. Does that sound about right?

For the Refactorings  those are not implemented somewhere, or are they?

Is it ok to have a couple of pull requests for this issue?

[2017-12-10 13:42] zolkko opened #2112 "Type highlighting logic deduces the wrong type of the variable"
In the following snippet, `res` variable's type is deduced to be `Vec<&Foo>`. While it is actually `Vec<usize>`.

[code]

[2017-12-10 14:29] shssoichiro commented on #1786
I feel like implementing this for any proc macros would give us the same support for `diesel`. If there is a limitation, it is likely with diesel's `infer_schema`, since it requires connecting to the database to determine available table names. Users who use `diesel print-schema` from the CLI to generate their `schema.rs` file should benefit from this feature, or at least that would be my initial

[2017-12-10 18:30] kumbayo commented on #1638
@lenovouser If this issue still exists in the current version can you please provide more details on how to reproduce the issue? Thanks

[2017-12-10 19:21] lenovouser commented on #1638
Ping @phenomax

[2017-12-11 00:52] jkcclemens opened #2115 "Don't insert double parentheses"
When `Editor > General > Code Completion > Insert selected variant by typing dot, space, etc.` is enabled, typing `Ok(` expands to `Ok()(<caret>)`. I would expect it to expand to `Ok(<caret>)`.

[2017-12-11 11:25] IvankoB commented on #2086
Setting via env:
set LIBRARY_PATH=c:\msys64\mingw64\lib;
set CPATH=c:\msys64\mingw64\include\;C:\msys64\mingw64\x86_64-w64-mingw32\include\;

doesn't solve the problem, a new error occurs while compiling:
...
C:\msys64\mingw64\x86_64-w64-mingw32\include\psdk_inc\intrin-impl.h:1772: parse error
C:\msys64\mingw64\x86_64-w64-mingw32\include\psdk_inc\intrin-impl.h:1781: `defined' without an identifier

[2017-12-11 12:12] #1893 closed

[2017-12-11 12:26] IvankoB commented on #2086
Found  a temporary solution:

- tried to build "libsqlite" as Cargo.toml:[dependencies.rusqlite]/features = ["bundled"]
- copied from from the build log the command line producing the error

- fixed this line to match BASH format:

#!/bin/sh
gcc \
	-O0 -ffunction-sections -fdata-sections -g -m64 -Wall -Wextra -DSQLITE_CORE -DSQLITE_DEFAULT_FOREIGN_KEYS=1 -DSQLITE_ENABLE_API_ARMOR \
	-DSQLITE_ENABL

[2017-12-11 21:56] Undin commented on #2102
I'll implement it

[2017-12-12 03:14] lerugray opened #2120 "Cargo project update failed:Project directory does not exist"
Hello! I keep getting this notification and have no idea how to fix it, checked my file paths and everything looks right, any ideas? thank you!

[2017-12-12 08:47] matklad commented on #2120
Either this is a bug, or you indeed have a project, which does not exist on the file system. Could you open Cargo toolbar (`ctrl+E, cargo`), delete all imported projects from the toolbar and add them again?

[2017-12-12 10:11] dbrgn opened #2122 "Find trait method implementations"
I hope this wasn't reported before, I didn't find an issue for it.

On a trait, it's possible to list all impls:

![img](https://tmp.dbrgn.ch/screenshots/20171212111004-n_fbog0l.png)

But this isn't available on a trait method:

![img](https://tmp.dbrgn.ch/screenshots/20171212111032-ygychlkd.png)

If I'm not mistaken, IntelliJ supports this for abstract methods in Java. Would be awesome to have th

[2017-12-12 10:13] dbrgn commented on #2122
Interesting: The Rust plugin correctly detects that the implementing method implements this trait:

![img](https://tmp.dbrgn.ch/screenshots/20171212111232-vsdca_61.png)

So it's possible to navigate up in the hierarchy, but not back down.

[2017-12-12 20:29] #1858 closed

[2017-12-13 09:50] Undin commented on #1939
Implemented in #2101

[2017-12-13 09:50] #1939 closed

[2017-12-13 18:24] RazrFalcon opened #2124 "Inline parameter hint should use monospace font"
Currently, it uses system font, which breaks alignment.

[2017-12-14 14:00] vlad20012 commented on #1730
1. Yep, `ImplLookup` is what you need. `ImplLookup.select()` allows you to check that some trait is implemented for some type, e.g.
[code]
2. No :)
3. Yes, definitely yes. I even suggest to implement each item as a separate PR.

[2017-12-15 14:08] mati865 commented on #2107
The same on Ubuntu 17.10, `$(rustc --print sysroot)/lib/rustlib/src/rust/src` exists and is readable/writable.
Looks like timeout issue:
* cold start `rustc --print sysroot`: `0,08s user 0,04s system 2% cpu 4,190 total`
* warm start `rustc --print sysroot`: `0,07s user 0,01s system 97% cpu 0,084 total`
Use [this](https://wiki.openoffice.org/wiki/Cold-start-simulator#Flushing_Linux_Caches) to repro

[2017-12-15 17:38] tarcieri commented on #2095
This is a duplicate of #1243

[2017-12-15 21:19] RikardLegge commented on #2063
I have done som investigation on the latest master whilst trying to get familiar with the codebase.
My initial hypotesis was that the type inference prioritised the diverging function over the i32 which is true but it's not the only factor at play.

The following two examples, even though they might not be idiomatic rust, they compile and run. `rustc` infers the type `(i32) -> i32` to the closure

[2017-12-16 03:02] oleg-semenov commented on #1730
Thanks @vlad20012, no prob, hope you feel better now. Cool, I'll add the simple cases first.

[2017-12-16 19:52] Quix0tic opened #2128 "Macros' types aren't inferred"
I declared a macro but, when I use it, types aren't inferred and it doesn't give any suggestion
![Macro Declaration](https://preview.ibb.co/gABLVR/Macro_declaration.png)
![Macro Usage](https://image.ibb.co/i59UPm/No_suggestion.png)

[2017-12-16 23:00] Undin commented on #2128
@Quix0tic yeah, current version of plugin has rather restricted macros support, so lack of type inference/completion is expected behavior at this moment
But we are working on it :)

[2017-12-17 08:01] DiceMaster opened #2129 "Types of variables from a tuple are not recognized after unwrap()"
Create an Optional or Result with a tuple. After unwrapping it into variables with unwrap(), their types will be displayed as `<unknown>`.

Example:
[code]
`b` and `c` will be displayed as `<unknown>` instead of `i32`.

IDE and plugin:
intellij-rust 0.2.0.2234-nightly
IntelliJ IDEA 2017.3.1 (Community Edition)
Build #IC-173.3942.27, built on December 11, 2017

[2017-12-17 09:25] Quix0tic commented on #2128
Good to know! Thank you!

[2017-12-18 00:04] oleg-semenov commented on #1730
@vlad20012  submitted the quick-fix for numbers: https://github.com/intellij-rust/intellij-rust/pull/2130

Not sure my unit tests are in the right place/inherit the right base tests class.

Also, i think, i was not able to make the type checker fail on arithmetic expressions like:
`fn main () { let _: f32 = <error>6*7<caret></error>;}`
while this was failing as expected:
`fn main () { let _: f32 =

[2017-12-18 21:46] andoriyu opened #2132 "Can't import project on FreeBSD"
Problem:
Can't open plugin settings and import rust project. Tried with a brand new project created with cargo, so it's not project related.

Plugin settings: endless loading loop
Import project: nothing happens when folder with Cargo.toml is being selected
Existing project: Not sure if this is the same issue, but when I tried to open previously setup project all rust files vanished from project v

[2017-12-19 08:08] sackery opened #2134 "Auto-Indentation in macro blocks"
There is no auto indentation in macro blocks, how?

[2017-12-19 22:34] Gedweb opened #2135 "Asterisk in use construction"
After import with asterisk, IDE can't define imported items in some other module (module as file).

Example (that code compile successfully):

`main.rs`
[code]

`app.rs`
[code]

Intellij cannot detect `::Bar` and `::Bark` definition, autocomplete not avalible too.
If mod `app` defined in same file where asterisk called, it works correctly.

Live example a `hyper::header`. Asterisk used inside to f

[2017-12-20 14:00] maksl opened #2136 "Wrong TOML url in README.md"
Readme's part [TOML](https://github.com/intellij-rust/intellij-rust#toml) has link to https://github.com/intellij-rust/intellij-rust/blob/master/toml that returns 404 not found.

[2017-12-20 14:04] maksl opened #2137 "TOML plugin installation returns invalid filename error"
TOML plugin instalation as it is described in plugin's readme returns an error:
`Plugin Toml was not installed: Invalid filename returned by a server`

[2017-12-20 18:43] Undin commented on #2137
Please, check again
It should work now

[2017-12-20 21:05] #2136 closed

[2017-12-20 21:56] vlovich opened #2139 "auto-completion broken on xi-editor project"
Can't seem to get auto completion working for https://github.com/google/xi-editor/.

Steps to reproduce:
1. Import "rust" folder from xi-editor as project
2. Open editor.rs
3. Try to cmd-click on various files.

Expected:
Should be able to cmd-click on things outside the current module & get taken there.  Should be able to hit ctrl-space after period to auto-complete the available functions.  Shou

[2017-12-20 22:42] Undin commented on #2139
@vlovich Did you attach cargo project?
If no, you can do it via notification (if there aren't attached projects yet) or via cargo tool window
<img width="1094" alt="screen shot 2017-12-21 at 01 38 47" src="https://user-images.githubusercontent.com/2539310/34232097-d1b3f778-e5ef-11e7-932d-797dc245f0c9.png">
After that all intellisense features should work as expected

[2017-12-20 22:50] Undin commented on #2136
Thanks!

[2017-12-20 23:01] Undin commented on #2139
Note that this project contains several cargo projects.
Unfortunately, we don't support auto import yet and you should add each cargo project manually.

[2017-12-20 23:02] vlovich commented on #2139
I've tried doing each cargo project manually but perhaps I'm not doing it right.  Do I create 1 project & have 1 module per cargo project or 1 top-level project per cargo project?

[2017-12-20 23:05] vlovich commented on #2139
Basically I'm trying to modify stuff in the core-lib cargo project.  Even if I import that as a standalone project I still don't get code completion.

[2017-12-20 23:26] vlovich commented on #2139
When I open lib.rs, it has highlighted some errors (erroneously I think).
[code]
Gets reported as ``Can't find crate for `magenta` `` which seems wrong since the target OS is macos not fuchsia.

Perhaps cfg selection is causing problems for the indexer?

[2017-12-20 23:29] vlovich commented on #2139
If I remove those, IntelliJ still complains about the body of `pub mod internal` in lib.rs (says everything is an unresolved module, even though they're in the same directory...).

[2017-12-20 23:35] vlovich commented on #2139
I think I tracked it down.
[code]

causes it to look for everything in the internal/ directory for modules even though the `#[path=""]` directive alters the path for the module.  If I create the internal folder as a symlink to "." it kind of works better as long as I open the files through internal/ rather than the real path.

[2017-12-21 09:01] Undin commented on #2139
The best way is to open whole project (I mean IDE project) in IDEA and attach each cargo project via cargo tool window. In fact, each cargo project won't be a separate IDEA module because we use own project structure but logically yes, each cargo project will be separate "module"

#[path=""]
pub mod internal

Yeah, looks like we incorrectly process empty path. It's definitely bug

[2017-12-21 19:58] maksl commented on #2137
Yes, it works now.

Thank you! :)

[2017-12-21 19:58] #2137 closed

[2017-12-21 23:43] vlovich commented on #2139
Yeah, that's what I did but the completion still doesn't work within core-lib.  I think the path="" is 1 bug and I suspect the platform-specific #cfg directives also cause issues for the parser (e.g. missing modules that are hidden for the current platform).

[2017-12-22 11:38] Pzixel commented on #1643
I hade same behaviour with installed `rust-mvsc` toolchain. Switch to `rust-gnu` fixes the problm

[2017-12-22 11:43] Pzixel opened #2140 "Make debugger to show string values"
It's very important to see what strings values are. But today the only way to see them is just log it somewhere. It's not really convinient and sometimes require large code rewrite to satisfy all rust rules to just borrow some value and print it, especially for nested values.

In a nutshell: currently debugger shows strings as `Vec<u8>`, but we need more human-readable representation.

[2017-12-22 14:22] petertiedemann opened #2141 "Completion broken when project is located within a directory symlink on Windows"
Repro:

Create a folder like C:\foo\mygit and use `mklink /D` (or /J) to create a directory symlink  `C:\mygit` =>` C:\foo\mygit`.

`cargo new` a project in say C:\foo\mygit\my_proj

Open C:\foo\mygit\my_proj and verify that completion work.

Now open it via C:\mygit\my_proj (rooted in the symlink), and observe that completion (and type hints are) no longer working.

Version info etc:

Rust plugin

[2017-12-22 22:01] kumbayo commented on #2112
@zolkko Can you check if this problem still exists for you?
For me with 0.2.0.2238-nightly the type of `res` is `Vec<usize>` as you expected.
![intellij_2112](https://user-images.githubusercontent.com/1041267/34313505-e5a127ba-e76b-11e7-96d3-4a0c55986ff6.png)

[2017-12-22 22:21] Pzixel commented on #2129
I have similar situation in my codebase:
![image](https://user-images.githubusercontent.com/11201122/34313800-0296f198-e77f-11e7-98f0-7ec8aa9824a5.png)

Minimal example:
[code]

[2017-12-22 22:29] HighCommander4 opened #2144 "Local variable initialized after declaration does not get a type annotation"
In the following code:

[code]

the variable `answer` does not get a type annotation, the way it would if it were initialized on the same line as its declaration.

[2017-12-22 23:13] zolkko commented on #2112
@kumbayo Affirmative. It is no longer reproducible, even in the 2017.3.1 + plugin 0.2.0.2082.

[2017-12-22 23:15] #2112 closed

[2017-12-22 23:36] Undin opened #2145 "Improve support of path attribute in module system"
Rust module system allows mapping module system to a filesystem.
Without `path` attribute it is quite straightforward - module name directly matches on directory or file with the same name.
But `path` attribute allows mapping module to directory or file with different name.

We already support simple cases like this
[code]
But we don't support more complex cases when path attribute is added to roo

[2017-12-22 23:45] Undin commented on #2139
About `path` attribute - I've created the separate issue (#2145) about it because it is not a bug with an empty value of `path` attribute. At this moment we don't support such cases at all regardless of path value

[2017-12-22 23:59] Undin opened #2146 "Auto import cargo projects"
Now if some project contains cargo project not in the root directory (for example multi-language projects) or several separate cargo projects, we don't import it and force a user to add it via cargo tool window manually.

It would be great to automatically find all cargo projects and add them to current projects list.

[2017-12-23 08:31] Pzixel opened #2147 "Odd behavior when build.rs present"
I want to copy some resource files to output directory during the build. So I configured `build.rs` as shown in `docs.crates.io`. So my toml file:
[code]

now I add `build.rs`:

[code]

Current behaviour: when you open this file in editor it starts instant reloads. As you can see, when I open this file project reloads (left window with project files is flashing), when I open something else it ends

[2017-12-23 11:02] #1624 closed

[2017-12-23 11:28] AurevoirXavier commented on #535
@makslevental  @UYEONG  @chrisballinger Try Clion 3.1 EAP and set toolchains to LLDB. It work for me now!

[2017-12-23 23:52] kumbayo commented on #2122
I am looking into this (already have a prototype)

[2017-12-24 01:58] ivandardi opened #2148 "Keyboard shortcut to toggle all type hints and parameter names"
It would be great if there was a keyboard shortcut to toggle showing the type hints and parameter names.

My motivation behind it is that while type hints are great, they sometimes do add clutter to the code and make it harder to read and reason about. So I'd love to be able to temporarily turn them off to be able to take a good look at the code, and then enable them back on when I'm actually codi

[2017-12-24 12:48] matklad opened #2149 "Automatically insert a semicolon after typing `let `"
In Rust, every let statement is terminated by the semicolon eventually. However, let's are not too joyful to type, because you'll have a broken syntax until you type `;` at the end.

Currently there are some hacks in `if`, `match` and similar completions which adds semicolons in some cases:

[code]

But if we add `;` automatically, when the user types ` ` after typing `let`?

[2017-12-24 13:56] makslevental commented on #535
@AurevoirXavier thanks will do

[2017-12-24 19:29] stepancheg opened #2151 "Import all cargo workspace member crates when importing a project"
When "Import Project" dialog invoked, intellij-rust creates a project with only with root cargo crate, but not with imported crates.

For example, with [futures-rs](https://github.com/alexcrichton/futures-rs/):

0. Clone https://github.com/alexcrichton/futures-rs/
1. Lauch "Import Project" dialog.
2. Select root folder of cloned futures-rs
3. Click next, next
4. Intellij-rust sees only root projec

[2017-12-25 10:41] #2102 closed

[2017-12-25 11:40] Undin opened #2152 "Icon for type alias items"
At this moment we use the same icon (icon for class) for type aliases and structs (you can see it in structure view, "find class" dialog, etc.). This icon doesn't fit well for these items (at least for type alias) and, moreover, type alias and struct should have different icons because type alias can create a new name for any type not only for structs.

So it would be great to have two different i

[2017-12-25 19:24] Undin commented on #2152
Implemented in #2153

[2017-12-25 19:24] #2152 closed

[2017-12-25 20:07] oleg-semenov commented on #1730
@vlad20012 the second item -- "...str.to_string()/String.as_str()" doesn't seem to be that useful right now, or at least untestable the same way as the other ones, since type checker seem to skip errors involving `&str`, and other errors involving &. Is my understanding correct?

[2017-12-26 06:12] UYEONG commented on #535
@AurevoirXavier t's working for me too! thanks.

[2017-12-27 10:20] torkleyy opened #2157 "Auto import doesn't work"
I just updated this plugin to version `0.2.0.2083` and saw in the changelog

and that sounded super awesome! But after updating and restarting IntelliJ IDEA (see below for meta stuff), I could not see any intention for the following code (simple, single-crate project) even though the "Import" intention is enabled:

[code]

My Rust version is

[code]

and IDEA -> Help -> About gives me

[code]

[2017-12-27 10:42] Undin commented on #2157
@torkleyy the main restriction of current implementation - it doest's support reexports yet.
It leads to two different unpleasant cases:
* If item is in private module and available only via some reexport, auto import doesn't work for this item at all
* If item is in public module but it is supposed to be used via some reexport, you can import it but from some weird place

Your case belongs to the

[2017-12-27 10:46] torkleyy commented on #2157
Ah okay thanks for the explanation! Feel free to close it either now or when this gets fixed.

[2017-12-27 21:28] bltnkl opened #2158 "Automatic sort of "use"s and clean-up of unused."
Hi.
Could you please add the ability to clean-up unused "use"s? (By pressing Alt-Enter, for example).
Also automatic sorting of "use"'s would be really nice too.
Thanks.

[2017-12-27 22:07] Undin commented on #2158
I think you mean something like `Optimize imports` action. Yeah, it would be great to support it)

[2017-12-27 22:26] Undin opened #2159 "Automatic import importing wrong things"
_From @Jiehong on December 27, 2017 21:51_

Hi,

With the new semi-auto import feature being there (amazing! thanks!), I tried a quick piece of code, and here are my results:

[code]
In this code, you'll be able to try to import `thread` from line `thread::sleep`. If you do so, the following line will be added:
[code]

While it should be:
[code]

Once you've fixed this import, it seems that you ca

[2017-12-27 22:26] Undin commented on #2159
Hi, @Jiehong
Could you move your issue to [intellij-rust](https://github.com/intellij-rust/intellij-rust) repo?
This repo is only about `intellij-rust.github.io` website

[2017-12-27 22:27] Undin opened #2160 "primitive types in function arguments always underlined"
_From @Jiehong on December 27, 2017 21:57_

Hi,

The following correct programme is weirdly highlighted:

[code]

Indeed, `number` (only on the `fn` line) and `i64` are highlighted in red, and underlined with a little squiggly.
On mouse-over, no information is shown.

When trying to go to the declaration of  `i64`, a `Cannot find declaration to go to` is shown. Perhaps this is the reason of the hi

[2017-12-27 22:35] Undin commented on #2159
Hi, @Jiehong

Looks like it is a bug

It is because of we don't support reexports yet. You can read more detailed explanation [here](https://github.com/intellij-rust/intellij-rust/issues/2157#issuecomment-354094314)

[2017-12-28 12:22] ralfbiedert opened #2161 "0.2.0.2083 indexes forever."
I just updated to `0.2.0.2083`.

After re-starting Clion (2017.03) and re-opening my project there is an "Updating Indices" going on forever (20+ minutes) for a small project. It always seems to re-run the very same dependency (`.../checkout/stdsimd/...`).

Here is how it looks like in the IDE:

https://imgur.com/rf6Qsgt

The problem persists even after restarting Clion.

[2017-12-28 14:00] Pzixel commented on #2147
Clearing cache and reboot helps with this. However, I don't know what is causing it and it comes back sometimes. I refresh the cache again then, but it's not really convinient.

[2017-12-28 15:17] bmusin opened #2162 "Ability to complete associated constants in Impl block."
Hi.
Say, I have
structure: `struct A;`
I implement methods on it: `impl { const MAX: usize = 512 }; ... }`
When I implement methods themselves,
I type `Self::`
Then I press simultaneously _Ctrl-Space_, but plugin doesn't suggest me `MAX`(associated constant).

Could you please implement it?
Thanks.

[2017-12-29 09:14] sanmai-NL opened #2165 "Run configuration allows only to run on channels, not on all toolchains"
E.g. it is not possible to specify `cargo run +nightly-2017-12-11` only `cargo run +nightly`.

[2017-12-29 17:44] nonsensecreativity commented on #2107
I also got this issue on:
* Windows 10 Pro x64
* Intellij 2017.3.1
* Intellij-Rust v0.2.0.2083

This issue only happening to me when meet one of these two conditions:
- When opening Intellij project the last file is not part of **src** eq: other file from library
OR
- When opening Intellij project the last file is part of **src** but not a **.rs** file eq: the last opened file is .sql, .js, etc

W

[2017-12-29 18:06] U007D commented on #535
I'm getting this same error as well (I am on Ubuntu):
![](https://user-images.githubusercontent.com/1321707/33640969-e6c6ad1a-da76-11e7-994f-1602d9699338.png)

My project is not the simplest (multiple sub-crates using workspaces) with the main crate being lib + bin, but seeing as so many others are having this same issue, I'm hoping the project's layout is not the issue (at least it's not the only

[2017-12-29 23:15] kumbayo commented on #2162
This is possibly related to #1897

[2018-01-02 16:41] #1758 closed

[2018-01-02 19:23] dobkeratops opened #2171 "dot-autocomplete - option to over-estimate if in doubt"
Accepting that it's going to take time to refine contextually accurate dot-autocomplete suggestions (with all the type inference going on , *macros*, possibilities of generic impls, etc), _and_ to get that performant..

Could we add an option to _over-estimate_: basically populate the menu with *all* methods (functions with a self parameter) in the sourcebase (and similarly when typing a free func

[2018-01-02 20:47] Undin commented on #1995
Fixed in a0d2386

[2018-01-02 20:47] #1995 closed

[2018-01-02 21:02] farodin91 commented on #2158
Would like start working on it.

[2018-01-03 19:52] #2159 closed

[2018-01-04 17:09] #2107 closed

[2018-01-04 22:02] Gedweb commented on #2135
Hey there, still have not autocomplete hint.

[2018-01-04 22:03] Gedweb commented on #2135
Hey there, still have not autocomplete hint.

[2018-01-05 09:47] Undin opened #2174 "Auto import"
Meta issue to support auto import:
- [x] Naive support (without reexports) as intention
- [x] Support reexports
- [x] Convert intention to inspection with quick fix
- [x] Unimported methods from impls
- [x] Suggest import while typing ~~#789~~ ~~#2721~~
- [x] Import trait while trait method completion

Related issues:
* ~~#789~~
* ~~#1366~~
* ~~#1488~~
* ~~#1737~~
* ~~#2034~~
* ~~#2157~~
* ~~#2159

[2018-01-05 13:42] dobkeratops commented on #2157
Understanding that accurate autocompletion is difficult (macros, crates, implied traits..).. it is very hit and miss in my experience:
#2171

I would like a stopgap option to *over-estimate* the dot-autocomplete menu: imagine doing ```grep fn.*(.*self``` and populating the "." autocomplete menu with *everything* this finds (i.e. *all* methods): it will still jog your memory, and in generic code mi

[2018-01-05 13:54] dobkeratops commented on #1860
see also #2171, actually I would like an option for over-estimating auto-completions until it's rock solid. I think we need stopgap solutions because getting this perfect is going to take time. In my own projects i'm finding the opposite problems i.e. giving *no* completion suggestions on types with everything in scope

I appreciate in different situations the preferred tradeoff would vary, so it

[2018-01-05 13:56] torkleyy commented on #2157
Actually, this issue should be called "auto import doesn't work".

[2018-01-06 06:59] tchalamarla commented on #2122
while at it, is it possible to generate code for all functions if
we type
impl From<u8> for X {
}

can it place dummy functions like
impl From<u8> for X {
    fn from<u8>(d: u8) -> Self {
          unreachable!() /unimplemented!()
    }
}

sorry if this is not the right place for this

[2018-01-06 18:29] kumbayo commented on #2122
@tchalamarla This feature sort of already exists.
Just write
[code]
The first line will be underlined with a red squiggly line to mark missing items.
Just press Alt-Enter and choose `implement members`

[2018-01-07 11:54] UninterestinAcc opened #2176 ""Remove braces from single expression" doesn't insert a comma"
* [Recorded demonstration of bug](https://imgur.com/a/bTvBi)

Expected result:
[code]

(Note the comma after `Ok(inner) => inner`)

[2018-01-07 12:07] Undin commented on #2176
Related code `org.rust.ide.intentions.UnwrapSingleExprIntention`

[2018-01-07 22:36] albel727 opened #2178 "Building/error checking doesn't compile/check examples and such"
When developing, I want to be immediately sure that "examples" continue building. But currently the plugin simply ignores any and all code in "examples" subdirectory. No errors are highlighted there and `Ctrl-F9` doesn't build it.

I assume the same goes for "tests" and "benches", because having looked at the plugin source it seems to me that mere `cargo check --all` is called for building, wherea

[2018-01-10 02:17] rostidev opened #2182 "Ctrl+N shows also Java classes in the search results"
When editing a Rust code searching for other Rust traits, structs, etc. by pressing Ctrl+N shows also Java classes and interfaces in the search results. In many cases the search results are flooded by the Java classes and interfaces with similar names.

I guess this is hard to be fixed when Intellij-Rust is a plugin of a Java IDE. I think the best solution for such issues would be making a new Int

[2018-01-10 04:08] jrmuizel commented on #1897
Here's an even simpler case that doesn't work:
[code]

[2018-01-10 04:34] alygin commented on #2182
I guess, IDEA shows you Java classes because you configured Java SDK for your project. Could you, please, check Project Settings -> Project -> Project SDK setting? Try to set it to "No SDK" and see if Java classes disappear from search results.

[2018-01-10 20:30] Undin commented on #1774
We don't handle function parameters so I think it should be opened yet

[2018-01-10 20:41] Undin opened #2183 "Extract function/method"
Meta-issue about "extract function/method" feature

[2018-01-10 20:45] Undin opened #2184 "Handle function arguments in extract function"
The current implementation doesn't take into account reference to function arguments.
And it would be great to support it.

[code]

**Expected**:
[code]

**Actual**:
[code]

[2018-01-10 20:58] Undin opened #2185 "Correctly extract associated function in trait item"
We can extract associated function in `impl Ty { ... }` block but not for trait item.

[code]

**Expected**:
[code]

**Actual**:
[code]

Also, looks like we can use `Self` type for all associated function extraction not only in trait item to unify implementation of these cases

[2018-01-10 21:16] Undin opened #2186 "Improve "extract function" dialog"
Current "extract function" dialog is not ideal and can be improved:

* Don't allow press "OK" button if function name is empty it leads to exception
* Show simple text field if we can't suggest function name instead of empty drop down list
* Allow to manually select arguments
* Reformat code in "Signature" field (and maybe drop function body at all)

Good example is kotlin "Extract function" dialo

[2018-01-10 21:32] Undin opened #2187 "Support generic parameters in "extract function" refactoring"
Current "extract function" implementation doesn't add type parameters and their bounds for generic arguments into function signature.
It would be great to support it.

[code]

**Expected:**
[code]

**Actual:**
[code]

[2018-01-10 21:48] Undin opened #2188 "Properly pass variables into extracted function"
We always pass variables by value and it can lead to incorrect code.
We should correctly determine how to pass variable: by value or by reference.

[code]

**Expected:**
[code]

**Actual:**
[code]

[2018-01-10 21:55] Undin opened #2189 "Variable mutability in extracted function"
Now we don't care about variable mutability in "extract function" refactoring and we can generate incorrect code in some cases

[code]

**Expected:**
[code]

or even

[code]

**Actual:**
[code]

[2018-01-11 06:44] rostidev commented on #2182
Yes you're right. Changing this setting to "No SDK" eliminates Java classes from search result. However I didn't configure it for my particular IntelliJ project. It's just a default IntelliJ behavior of creating a new and even an empty project.

I still think that making a dedicated for Rust IDE is much better than just a plugin for IDE of other language.

[2018-01-11 08:25] mkaput commented on #2182
This behaviour seems strange for me. I never get Java SDK auto assigned to non-java projects on IntelliJ (not only Rust, but also Python). Are you using our project creator/importer for Cargo, or do you just attach Cargo to existing IntelliJ projects?

[2018-01-11 10:31] bmusin opened #2190 "autocompletion in [dependencies] in Cargo.toml"
Hi.
Currently, if one wants to specify dependency in Cargo.toml
he ought to go to crates.io, find crate, look at version information
and only after that he can specify dependency by specifying version.

Could you please add autocompletion of crate's version?
For instance, I type toml = "
then I press Ctrl-Space and it shows 0.4, 0.4.5 and few minor versions too.

[2018-01-11 20:29] KingOfThePirates opened #2191 "MPS IDE Fatal Errors (RsExtractFunction): group with id "IntroduceActionsGroup" isn't registered"
[code]
![intellij-rust plugin extract function not registered](https://user-images.githubusercontent.com/11344322/34845599-513db0f0-f70d-11e7-9abf-e8af9e660c95.png)
[exception in plugin rust.txt](https://github.com/intellij-rust/intellij-rust/files/1624011/exception.in.plugin.rust.txt)

I don't know if this is a problem or if it's expect or what, but this just popped up. First time trying to use M

[2018-01-11 20:35] KingOfThePirates commented on #2191
[MPS-27275](https://youtrack.jetbrains.com/issue/MPS-27275) - didn't expect to have an issue with JetBrains MPS Tracker automatically opened but cool

[2018-01-11 21:37] KingOfThePirates commented on #2191
Note: IDEA Ultimate and WebStorm work. Seems to be limited to MPS

[2018-01-11 22:07] #2191 closed

[2018-01-13 08:33] dobkeratops commented on #2190
higher priority for me would be making it better at autocompleting *from* cargo imports - currently I find 'dot-autocomplete' works much better for project local stuff.

[2018-01-13 11:14] t-kameyama commented on #2185
I will work on this issue.

[2018-01-13 16:37] farodin91 commented on #1494
@Undin Isn't this already fixed?

[2018-01-13 17:25] Undin commented on #1494
Hm, we support this feature syntactically and have the inspection to use field init shorthand when it's possible. Although we still resolve shorthand to field instead of variable (#1593), I think this issue can be closed

[2018-01-13 17:25] Undin commented on #1494
@farodin91 Thanks!

[2018-01-13 17:25] #1494 closed

[2018-01-14 06:05] dvtomas commented on #2037
This is how the Scala plugin does it: https://confluence.jetbrains.com/pages/viewpage.action?pageId=51941285

Basically it underlines all expressions where an implicit conversion is taking place. When pressing Ctrl-Shift-Q, it opens a pop-up list with all conversions relevant for current cursor position. When an item from the list is selected, the user is navigated to the conversion implementation

[2018-01-14 10:21] Undin commented on #2185
Fixed in #2194

[2018-01-14 10:21] #2185 closed

[2018-01-14 21:36] avkonst commented on #2037
Excellent proposal!

On 14 Jan 2018 7:05 p.m., "Tomas Dvorak" <notifications@github.com> wrote:

[2018-01-14 23:23] norru commented on #535
@pabloa's approach above has been working for me for many months now, with Linux/gcc toolchain at least. Variable inspections are very rough on the edges though.

CLion + Rust plugin is getting there but a LONG way from mainstream-ready.

[2018-01-15 00:40] oleg-semenov commented on #1730
Added the conversion with ToOwned trait, but not sure how useful it will be in practice until the type-checker will be checking references.

[2018-01-15 01:31] t-kameyama commented on #2187
I will work on this issue.

[2018-01-15 12:34] mkaput commented on #2037
https://github.com/JetBrains/intellij-scala/blob/idea173.x/scala/scala-impl/src/org/jetbrains/plugins/scala/actions/GoToImplicitConversionAction.scala

[2018-01-15 16:53] #2176 closed

[2018-01-16 17:10] Undin opened #2200 "Can't find a binary to debug"
![2018-01-16 20 09 12](https://user-images.githubusercontent.com/2539310/35001956-2ce8916c-faf9-11e7-8cb8-11bf8a7811ed.jpg)
<img width="409" alt="screen shot 2018-01-16 at 20 08 41" src="https://user-images.githubusercontent.com/2539310/35001965-315cbdb8-faf9-11e7-8fb0-883c0f441d68.png">
repo: https://github.com/exonum/exonum-configuration

[2018-01-17 00:24] albel727 opened #2203 "[Feature request] Support yield keyword and generators"
The title says it all. Currently `yield` is marked like an error.

https://doc.rust-lang.org/1.22.0/unstable-book/language-features/generators.html

[2018-01-17 01:20] perlindgren commented on #535
I'm experimenting with debugging Rust on embedded (Nucleo STM32F401re) using openocd and arm-none-eabi-gdb. I have it somewhat working. Here is the current status.

1. The program is not loaded. (I had to use the pause and in the gdb console load it, the `file` has the right path, so it loads correctly)
2. Breakpoints do not work, setting them in the IDE has no effect, stepping works and even (sur

[2018-01-17 07:55] matklad opened #2204 "Presetation for `&self` and `&mut self` methods should be different"
Currently, we elide `&self` argument when displaying methods in, for example, **Structure View**. I think this is a wrong thing to do, because we must distinguish between `&mut` and `&` methods (and we can add a filter for them to structure view :) ). This *could* be done with a separate icon, but there's also potentially stuff like `self: Box<Self>`, so perhaps it's better just to add `&self` bac

[2018-01-17 09:39] #2157 closed

[2018-01-17 12:35] matklad opened #2205 "Intention/inspection to sort method in impl acroding to the order in the trait"
In Rust, traits are usually small, so it makes sense to sort methods in the impl in the same oreder as in the trait. Would love to have this! :-)

[2018-01-18 01:58] sackery opened #2207 "Macro2.0 grammar not support."

[2018-01-18 03:41] t-kameyama commented on #2205
I will work on this.

[2018-01-19 02:09] avkonst commented on #1243
I type errors::Result<> everywhere instead of Result<, but it is useless as the caller function does not know the return type anyway (it is reported as '<unknown>') and further intellisense is broken..

[2018-01-19 02:58] avkonst commented on #1243
I wonder if there are any plans on progressing this issue and when?

[2018-01-19 08:39] FauxFaux commented on #1243
I've been using this as a workaround, if anyone else is interested:

https://github.com/FauxFaux/error-chain-for-dumb-ides#error-chain-for-dumb-ides

[2018-01-19 09:01] avkonst commented on #1243
Excellent. It is like headers for closed source in c++ or typescript. It is
useful also for humans. Viewing source of macros or declaration does not
tell as much than these sort of stubs! Maybe it should be a good practice
for rust developers to supply stubs for macros?

On 19 Jan 2018 9:39 p.m., "Chris West" <notifications@github.com> wrote:

[2018-01-19 20:58] vorot93 commented on #2161
I seem to have the same problem, in my case with `futures` package.

[2018-01-19 21:54] LinAGKar opened #2211 ""Invalid standard library" when setting standard library path"
I'm trying to set the standard library path, but no matter what I set it to, it says "Invalid standard library". I'm on OpenSUSE, and I have rust-std installed from the main repo. I've tried setting the path to `/usr/lib/rustlib/x86_64-unknown-linux-gnu/lib`, and the paths above that up to `/usr/lib`. I've also tried downloading the rust tarball and setting the path to `rust-1.23.0-x86_64-unknown-

[2018-01-20 06:28] xftroxgpx commented on #2211
You're lucky you get an error message :)
For me, no matter what dir I select, not even the Apply button gets re-enabled.
There's a "Download via rustup" link which doesn't download it even if I click it (it just spends 30 sec pretending to, then it closes the download window)
Toolchain location is: /home/xftroxgpx/.cargo/bin  which is why that link appears.

I'm starting to wonder if using jdk8 is

[2018-01-20 06:54] xftroxgpx commented on #2211
hey I fixed mine,
all I had to do is select a non `.cargo/bin` toolchain, and it let me select the `Standard library` dir. I think the `...` button should also be disabled when `Download via rustup` is shown! (my guess is the path field is already, since it's not white - see screenshot in my prev. comment)

For OP, the `Standard library` path must be to the rustc sources(ie. the `src` dir of rustc

[2018-01-20 09:39] xftroxgpx opened #2212 "a note on intellij-toml installation"
Following the instructions from https://github.com/intellij-rust/intellij-rust/tree/master/intellij-toml#installation

For those that don't use a DNS server(so, just me then?), in order to be able to see a non-empty list of plugins (and thus the Toml plugin entry too) in `Settings > Plugins > Browse repositories` you need hostname `plugins.jetbrains.com` (currently resolves to 52.208.50.140)

And

[2018-01-20 09:39] #2212 closed

[2018-01-20 12:21] LinAGKar commented on #2211
Thanks, installing the rust-src package and pointing it to the contents of that works.

[2018-01-20 12:21] #2211 closed

[2018-01-20 16:19] xftroxgpx opened #2214 "please also disable the "..." (browse for path) when disabling pathToStdlibField.text"
pathToStdlibField.text is disabled here: https://github.com/intellij-rust/intellij-rust/blob/1f50edae1567897b7aba1a99da68094f865c8500/src/main/kotlin/org/rust/cargo/project/settings/ui/RustProjectSettingsPanel.kt#L108

but the ability to browse&select a dir is still enabled, as I experienced here https://github.com/intellij-rust/intellij-rust/issues/2211#issuecomment-359149664 (has screenshot)

[2018-01-20 16:55] xftroxgpx opened #2215 "typo? "is" -> "this" ?"
https://github.com/intellij-rust/intellij-rust/blob/17b2d6084efbb0ca552d9b90a49251c2b0512c2a/src/main/kotlin/org/rust/ide/intentions/AddElseIntention.kt#L16

(not submitting a PR due to `Note that we need an electronic CLA for contributions` and i don't wanna deal with that sh :) )

[2018-01-20 20:01] Horki commented on #736
I have problem running Debug in Clion for Rust, please help
<img width="1440" alt="screen shot 2018-01-20 at 20 59 57" src="https://user-images.githubusercontent.com/1398263/35187501-04dbb936-fe25-11e7-91fa-17de871f3f51.png">

[2018-01-20 20:04] ForsakenHarmony commented on #736
@Horki #535

[2018-01-21 18:20] ForsakenHarmony opened #2216 "Not compatible with 2018.1 EAP"

[2018-01-21 18:46] Undin commented on #2216
2018.1 EAPs was supported in #2213 and current nightly version is already supported them
Stable plugin version with these changes will be released soon

[2018-01-22 11:14] Undin commented on #2216
Stable version with 2018.1 support is released

[2018-01-22 11:14] #2216 closed

[2018-01-22 14:17] recombinant opened #2220 "Cargo project update failed: Project directory does not exist"
Renamed some top level folders (which themselves contained Rust projects). This resulted in

with no hint as to where the problem was. Removing all projects from Cargo Tool window fixed the issue - though the existing toml files had to be reattached.

[2018-01-22 15:23] jannik17 commented on #1311
![image](https://user-images.githubusercontent.com/24388304/35228125-3abd912a-ff90-11e7-8b10-c6dd8d29be45.png)

proc_macro crate is not recognized in editor. I am using the newest build. This problem seems only to occur if the crate is in a workspace.

[2018-01-22 20:15] khionu commented on #1361
Would it be possible to provide a default CMakeLists file that basically forwards the build work to cargo? Not the best solution, but it would at least prevent errors on setup of a new project.

[2018-01-22 21:47] matklad commented on #1361
I believe this would be fixed properly in one of the following releases of CLion.

cc @Undin

[2018-01-22 22:34] przygienda opened #2222 "Completion on parentheses can take forever ..."
Please provide a knob to switch off the smart behavior on typing ( or ). This can take even in 1000 lines files seconds and makes editing impossible ...

[2018-01-23 00:05] #2200 closed

[2018-01-23 01:10] vlad20012 commented on #1361
CLion EAP 2018.1 with correct Intellij-Rust support will be released very soon, expected this week!
You can track it here https://blog.jetbrains.com/clion/tag/eap/

[2018-01-23 05:54] albel727 opened #2225 "Lifetime bounds are wrongly marked as erroneous in initial positions for trait objects"
All of the following is valid in Rust, but presently the variants with lifetime in front are highlighted like invalid, red-underlining the lifetime in question.

[code]

It appears that there is conflict with normal parameter parsing, since errors are like

`Wrong number of lifetime parameters: expected 0, found 1 [E0107]`
`Wrong number of type parameters: expected 1, found 0 [E0243]`

[2018-01-23 08:24] Undin commented on #2222
If you mean inserting pair brackets, there is platform setting to switch off this behavior
<img width="1024" alt="screen shot 2018-01-23 at 11 19 05" src="https://user-images.githubusercontent.com/2539310/35265038-01fe9d84-0030-11e8-9321-da2884e480b9.png">

[2018-01-23 13:09] Dushistov opened #2226 "ClassNotFoundException BreadcrumbsProvider android studio 3.0.1"
Every start of android studio 3.0.1 I got such error report:

[code]

[2018-01-23 13:10] Dushistov commented on #2226
I suspect rust plugin because of `Caused by: java.lang.ClassNotFoundException: com.intellij.ui.breadcrumbs.BreadcrumbsProvider PluginClassLoader[org.rust.lang, 0.2.0.2077]`

[2018-01-23 13:26] przygienda commented on #2222
ok, I look for taht, same happens when I have large match statements and e.g. put commas behind each case. Blocks for seconds on larg'ish projects/files ...

[2018-01-23 13:48] Undin commented on #2215
Fixed in #2224

[2018-01-23 13:48] #2215 closed

[2018-01-23 13:49] przygienda commented on #2222
flipped the knob, seems to fix the issue so far ...

[2018-01-23 14:12] Undin commented on #2226
Yeah, we really have some plugin versions which shouldn't work with Android Studio because of compatibility issues but they can be installed in Studio.
Unfortunately, Android Studio is based on IDEA 2017.1 but currently we support 2017.2 version and above so all newer plugin versions also can't fix it.
If you want to avoid this exception, there are at least two options: to install some older versi

[2018-01-23 15:32] Dushistov commented on #2226
Thank you for answer, @Undin

But in this case,
instead of IDEA 2017.1 and one rust plugin not compatible with 2017.1, won't I get 2017.2 (for example) and 20 android plugins from google which are not compatitable
with 2017.2?

Any hint in which version of rust plugin was the compability with 2017.1 broken?

[2018-01-23 15:48] Undin commented on #2226
instead of IDEA 2017.1 and one rust plugin not compatible with 2017.1, won't I get 2017.2 (for example) and 20 android plugins from google which are not compatitable
with 2017.2?

Yeah, it's possible, unfortunately(

Looks like that 0.2.0.2075 is the last one

[2018-01-23 20:54] Dushistov commented on #2226
I downloaded beta version of Android Studio 3.1:
[code]
and looks like there is no such issue anymore.

[2018-01-23 20:54] #2226 closed

[2018-01-23 21:28] #1753 closed

[2018-01-23 21:29] Undin commented on #2226
@Dushistov Oh, it's great! 🎉

[2018-01-24 08:18] lostmsu commented on #308
@matklad where's the UI for that for existing projects?

[2018-01-24 12:53] khionu commented on #1361
I'm sorry, what exactly is coming with that release?

[2018-01-24 12:58] vlad20012 commented on #1361
@khionu
1. You will be free from CMake in Rust projects
2. You will be able to create Rust projects with CLion's "New Project" dialog (just like in IDEA)

[2018-01-24 13:04] Undin commented on #1361
I think "just like C++ project" or "just like in other small IDEs" is more correct :)

[2018-01-24 13:22] khionu commented on #1361
Ahh, thanks for the clarity!

[2018-01-24 16:05] vlad20012 commented on #1361
CLion EAP 2018.1 just released. You can download it for free with JetBrains Toolbox app or from https://blog.jetbrains.com/clion/2018/01/clion-starts-2018-1-eap-wsl-cpp17-cmake/

[2018-01-24 18:34] kumbayo opened #2228 "Modules can shadow builtin types like str"
At places where a type is expected, we can erroneously also resolve to non type items (e.g. mod).

This was originally reported at https://users.rust-lang.org/t/rust-beginner-notes-questions/14928/6
as `use nom::*;` breaking the str primitive type.

From what i can see Rust actually knows if the resolved target should be a type, function, trait, module, .... and ignores unexpected targets with the

[2018-01-24 19:43] kumbayo opened #2229 "Wrong return type inferred for write!() and writeln!()"
Currently both `write!()` and `writeln!()` macros are inferred to return `()`.
In most cases the macros should actually return a different type.

The implementation of the `write!()` and `writeln!()` macros calls write_fmt() on their first argument and return the result of that call.

When called on a expression implementing the `io::Write` trait it should return `io::Result<()>`
When called on a

[2018-01-26 19:48] adiba commented on #1890
Now some operators are being highlighted for some reason. Has there been work on this?
Operators on primitives are highlighted as well though.

[2018-01-26 20:07] vlad20012 commented on #1890
Yep, it's done by #1894

[2018-01-26 20:08] #1890 closed

[2018-01-27 07:21] adiba commented on #1890
Great!
I'd like to point out that it's not consistent, at least not for me:

![image](https://user-images.githubusercontent.com/23532559/35469665-2898622e-033a-11e8-9284-0f52be092c3a.png)

Additionally, the point of this is to differentiate between primitive operations/simple hardware instructions and more complex ops, so again, primitive ops shouldn't be highlighted @Undin .

[2018-01-27 12:53] adiba opened #2231 "Highlight other languages in macros and strings"
There are many possibilities to write inline scripts like dyno or ASM in Rust.
Example of JavaScript using stdweb:
[code]
Highlighting and inspection of code in strings or macro bodies would really be helpful. This already exists for Java:
https://intellij-support.jetbrains.com/hc/en-us/community/posts/206899855-mixing-two-languages-in-one-file-

Related: https://github.com/intellij-rust/intellij-

[2018-01-27 16:00] matklad commented on #2151
Hm, one needs to add only the root of the workspace to the IDEA project. All workspace members are treated as parts of the workspace and in fact an error message should be shown if one tries to import a member of an already existing workspace.

[2018-01-27 21:28] matklad opened #2234 "Bring where formatting inline with rusfmt"
Currently, rustfmt formats where clauses a bit differently that intellij rust:

[code]

- `where` is not indented
- `where` is on its own line
- each where clause is on a newline as well

The relevant code is over here: https://github.com/intellij-rust/intellij-rust/tree/master/src/main/kotlin/org/rust/ide/formatter

It's important to add a setting (disabled by default) to preserve the old behavio

[2018-01-27 22:45] LaRueGT commented on #1361
I'm very pleased with 2018.1 EAP so far. It felt really good to choose 'rust project', have it find the tool chain, and just run.

[2018-01-28 03:20] jkcclemens opened #2236 "In certain closures, parameter type is displayed as if it's inferred"
![image](https://i.imgur.com/sd3nJGX.png)

Notice on the third line `|e: CreateEmbed: CreateEmbed|`. It's clear that `e` is `CreateEmbed`.

[2018-01-28 05:21] khionu commented on #1361
Agreed. I think this has been addressed to the point where it can be closed

[2018-01-28 10:04] Undin commented on #2236
CC @farodin91

[2018-01-29 00:39] #2145 closed

[2018-01-29 12:52] amanjeev opened #2238 "Question: Cannot find declaration to go to error for external libs"
Thank you for taking time to look at this. This is **not** urgent.

# Brief description
When I try to "jump-to-declaration" command in IntelliJ IDEA, I get an error `cannot find declaration to go to` for core lib (see screenshot below). This works when I try to go to a local source/mod like `test`.

# Result
## For core lib
Error: Cannot find declaration to go to
![screen shot 2018-01-29 at 7 39 0

[2018-01-29 21:03] farodin91 commented on #2236
I can fix this, this should be a oneliner.

[2018-01-30 20:47] recombinant opened #2240 "Cargo pane has no scrollbar"
Ctrl-Shift-A Cargo - there is no scrollbar on the resulting pane. This would be helpful - I have 25 cargo.toml files in one of my projects [https://github.com/recombinant/PetzoldPW5e-rs](https://github.com/recombinant/PetzoldPW5e-rs)

[2018-01-31 09:24] Undin commented on #2205
Implemented in #2208

[2018-01-31 09:24] #2205 closed

[2018-02-01 13:21] vlad20012 commented on #2238
I've reproduced it on Linux. I don't completely understand what's went wrong, but everything was fixed by re-opening the project.

[2018-02-01 16:40] vlad20012 commented on #2083
Hmm, we've decided that it's better to resolve as much as possible and filter only if resolved multiple methods with the same name.

When there will come a bright future, we will show an error here with suggestion to implement the `Clone` trait for type `YouCantCloneME` :)

[2018-02-01 16:40] #2083 closed

[2018-02-01 18:17] kellerkindt commented on #2124
Maybe adding a few labels will help this ticket to be looked into?

[2018-02-01 19:08] amanjeev commented on #2238
@vlad20012 oddly it did start working after reopening project or restarting the IDE. This issue is pretty sporadic and shows up occasionally. I guess we can close this for now.

[2018-02-01 19:08] #2238 closed

[2018-02-01 19:24] mkaput commented on #2124
Inline parameter hints are platform feature, and we only feed it with data. We don't have any control over their appearance, at least as I know.

[2018-02-03 09:35] matklad opened #2245 "Enable TOML file type for `.cargo/config` files"
The relevant docs here: https://doc.rust-lang.org/cargo/reference/config.html

`.cargo/config` are TOMLs, despite the missing extension.

[2018-02-03 10:21] #2129 closed

[2018-02-03 13:53] mkaput opened #2248 "Formatter changes order of items and breaks code"
[code]

gets formatted to

[code]

version 0.2.0-2275-nightly

[2018-02-03 14:13] matklad opened #2249 "Formatter should add `;` after `break and continute"
[code]

->

[code]

We already have this logic for return: https://github.com/intellij-rust/intellij-rust/blob/70c9135dbcdc2347f8b85a8d4a542320b4503c97/src/main/kotlin/org/rust/ide/formatter/processors/RsReturnStatementFormatProcessor.kt.

It should be generalized to `break` and  `continue` as well.

[2018-02-03 14:29] pcholakov opened #2250 ""Join lines" action on unsafe expression block removes the unsafe keyword"
Sample code:

[code]

When the "Join lines" command is invoked with the caret placed as indicated, the code is transformed as follows:

[code]

Expected would be something more like:

[code]

[2018-02-03 19:10] #2240 closed

[2018-02-03 21:37] #2245 closed

[2018-02-04 00:32] Undin commented on #2248
CC @farodin91
We shouldn't move use items above parent inner attributes

[2018-02-04 10:27] Undin opened #2256 "Format macros support"
A lot of languages have possibility to create/print strings with some formatting. For example [Formatter](https://docs.oracle.com/javase/7/docs/api/java/util/Formatter.html) class in java or [printf](http://www.cplusplus.com/reference/cstdio/printf/) function in C/C++.
Rust has [formatting macros](https://doc.rust-lang.org/std/fmt/) for it.

It would be great to have the support of format macros i

[2018-02-04 10:30] mkaput commented on #2248
Also note that `#![allow(non_snake_case)]` had been transformed to `# ![allow(non_snake_case)]` (added comments to snippets)

[2018-02-04 10:37] Undin commented on #2248
@mkaput Hm, it's interesting
I can't reproduce modification of `#![allow(non_snake_case)]` into `# ![allow(non_snake_case)]`, only incorrect order change
Do you use `Optimize Import` action or something else?

[2018-02-04 11:27] mkaput commented on #2248
![obraz](https://user-images.githubusercontent.com/3450050/35777010-c163686a-09a6-11e8-833f-2a2b9df50ae4.png)

[2018-02-04 11:33] mkaput commented on #2248
![fmtbug](https://user-images.githubusercontent.com/3450050/35777054-8bc01dec-09a7-11e8-94ff-5031b82c2f98.gif)

[2018-02-04 11:35] Undin commented on #2248
Yeah, I've reproduced it in this way.
Thanks)

[2018-02-04 11:37] Undin opened #2257 ""Implement Member" doesn't take into account trait member items order"
`Implement Member` quick fix creates default member implementation in the following order: assoc types, assoc consts and methods, - even original order differs.
In combination with RsSortImplTraitMembersInspection it leads to situation when our feature generates code with warning.

Need to generate member items in the same order as in trait.

Related code can be found [here](https://github.com/int

[2018-02-04 11:50] Undin opened #2258 "'Not all trait items implemented' checks items only by their names"
[code]

**Expected**: there is error highlighting with `Not all trait items implemented` error
**Actual**: there isn't any highlighting

Related code can be found [here](https://github.com/intellij-rust/intellij-rust/blob/master/src/main/kotlin/org/rust/ide/annotator/RsErrorAnnotator.kt#L266-L272)

[2018-02-04 13:03] Undin opened #2259 "Import Optimizer"
Meta issue to support import optimizer:

* [x] Sort use speck in use item
* [x] Sort different import items
* [x] Sort `extren crate` items
* [ ] Collapse imports when possible
* [ ] Remove unused imports
* [x] Group imports by semantics (std, crates, inner mods, etc.)

Related issues:
#2158
~~#2248~~
~~#2276~~
~~#2519~~
~~#2577~~
~~#2929~~

[2018-02-04 17:41] farodin91 commented on #2259
Possible other tasks?
* grouping into semantic imports (std, crates, inner mods) (no trivial)
* sort _mod_ and _extern crate_

[2018-02-04 17:54] Undin commented on #2259
I'm not sure about mod sorting because it's not about items import
Other suggestions sound good)

[2018-02-04 17:59] farodin91 commented on #2259
For extern crate: https://github.com/rust-lang-nursery/rustfmt/blob/master/Configurations.md#reorder_extern_crates (possible also in groups)
For grouping of imports: https://github.com/rust-lang-nursery/rustfmt/blob/master/Configurations.md#reorder_imports_in_group
I thought of
[code]

[2018-02-04 18:06] Undin commented on #2259
Yeah, I've understood your idea
I think mod reordering is not very good idea for `Optimize Import` action because it's quite unexpected thing for user while import optimizing
It can be part of other action (for example, formatting) or separate action or something else

[2018-02-04 18:07] farodin91 commented on #2259
Okay

[2018-02-04 19:26] #2236 closed

[2018-02-04 20:44] #2248 closed

[2018-02-04 23:15] devurandom opened #2261 "Go To > Implementation has no effect if no Cargo.toml is selected for project"
I am looking at the Rust source code itself. There, Cargo.toml is in src/, so no automatically found by IntelliJ Rust. When I do not point IntelliJ Rust to the location of this file, and try to Go To > Implementation of `debug!`, nothing will happen. There is no even an error message.

By contrast, Find Usages responds with a red error box in the source code window, containing:
[code]

Similarly,

[2018-02-05 14:58] Undin opened #2265 "Quick doc for files"
Currently, we can't get quick documentation for file in 2018.1 EAP

Looks like that `com.intellij.codeInsight.documentation.DocumentationManager.findTargetElement` returns `null` instead of psi file as before. Need to investigate how we can fix it

[2018-02-05 19:33] devurandom commented on #2261
I found another instance of the "no error message" problem: In src/librustc/ty/context.rs, in `validate_hir_id_for_typeck_tables()`, `find_node_for_hir_id()` is being called. When I search for implementations of that, I get no answer at all (not even an error message). When I search for usages, I get the same "Cannot search for usages" message I described above.

[2018-02-05 19:41] devurandom opened #2267 "Cargo project update failed: no explicit stdlib or rustup found"
When working on the Rust source code itself, IntelliJ Rust complains "Cargo project update failed: no explicit stdlib or rustup found". I am not sure what this means, exactly.

Further, IntelliJ Rust says at the top of any file that it "Can not attach stdlib sources automatically without rustup", but when I try to "Attach manually", it tells me that "Invalid Rust standard library source path: <...

[2018-02-05 20:05] devurandom commented on #2267
Is it possible, that what IntelliJ Rust actually wants, is the path to the Rust source code containing a "libstd" directory?

In which case it might get a little bit more automatism by looking at src/Cargo.toml and seeing that this is a copy of the Rust source code, and ask me whether I want to use that one.

[2018-02-05 22:32] devurandom commented on #2267
I'd like to assign this to myself, if possible, and see whether I can come up with some wording that's more detailed and easier to understand.

[2018-02-07 00:31] searing commented on #1986
I used to have this bug, but now with the latest Rust plugin version (0.2.0.2086), it seems to be fixed. (It may have been fixed before, I'm not sure.)

[2018-02-07 15:24] tdbgamer commented on #535
Is debugging support even planned for IntelliJ IDEA? If everyone has to buy CLion to use Rust, they're just going to switch to VSCode or other alternatives.

[2018-02-07 17:44] michaeleiselsc opened #2273 "Ability to add breakpoints in .rs files"
I work in AppCode and have installed the rust plugin for it. The syntax highlighting and checking seem to be working, but I can't set breakpoints in .rs files without editing the .xml file manually. Could we add this as a feature?

[2018-02-07 18:24] steveklabnik commented on #738
Slog user checking in; this is the first thing I hit when trying out intellij-rust

[2018-02-07 19:10] devurandom commented on #2267
Please note that #2275 does NOT yet detect that the currently open project is a copy of the Rust source code and hence it does not yet offer the user to just use this source.

[2018-02-07 23:19] gilescope commented on #535
Well they have to make money some how. I'd be happy to pay for a debugger
that works well :-)

On Wed, Feb 7, 2018 at 3:24 PM, Timothy Bess <notifications@github.com>
wrote:

[2018-02-08 16:23] Zteve opened #2276 "Optimize Imports checkbox set on formatter breaks code"
Although I see an issue switching this feature on (and presumably optionally for the formatter), this is the bug that the formatter actually _breaks_ code when this flag is checked.  The flag _should_ be ignored if the function is not yet working properly.  Reformatting should _never_ break working code.

For example, imports in inline, embedded modules (for tests, for example) are moved to the to

[2018-02-08 16:35] Zteve opened #2277 "Formatter breaks singleton list imports"
The code:
[code]
is perfectly valid (given the appropriate modules), but the formatter (_without_ optimize imports being set) converts this to:
[code]
which is _not_ valid (note the invalid comma).

Rust plugin: 0.2.0.2086; IntelliJ: (Ultimate) 2017.3.4

[2018-02-10 03:57] tdbgamer commented on #535
@gilescope
Don't get me wrong, I'm not whining or expecting them to do anything for me for free. But...

They don't make money from developers buying their IDEs. They make money when developers _use_ their IDE and force their company to buy licenses. That's why there are so many community editions (also so they can let contributers maintain their code for them).

I would never pay $ 199.00/year fo

[2018-02-10 07:25] matklad opened #2279 "Intention to move type parameter bouds from the where clause to parameter list"
Intention to convert this

[code]

into this:

[code]

In a sense, this is an opposite of this intention: https://github.com/intellij-rust/intellij-rust/blob/de894ebafb978825fcab95e455c0a89785a25c73/src/main/kotlin/org/rust/ide/intentions/MoveTypeConstraintToWhereClauseIntention.kt

It was introduced in this https://github.com/intellij-rust/intellij-rust/pull/762, take a look at it to learn about

[2018-02-10 13:59] RazrFalcon opened #2281 "Expandable 'Command' line in project configuration"
Currently, in *Cargo Command* configuration the *Command* field is just a line and it hard to use it when you need to pass a lot of arguments:
![1518270943](https://user-images.githubusercontent.com/725494/36062749-4cb78292-0e7b-11e8-8253-7331e42b4a0d.png)

But it looks like IDEA support such input widget (screenshot of the Bash plugin):
![1518270975](https://user-images.githubusercontent.com/7254

[2018-02-10 16:26] sorenmortensen opened #2283 "Value for "standard library" in settings resets to nightly"
When settings is opened, the value of "standard library" is reset to the nightly toolchain's standard library path, as shown, even after setting it to the stable toolchain path and clicking "OK".

<img width="860" alt="screen shot 2018-02-10 at 16 23 05" src="https://user-images.githubusercontent.com/13041332/36064185-f3b1a048-0e7e-11e8-993d-2cc3058e43c4.png">

Simply closing and reopening setting

[2018-02-10 16:32] sorenmortensen commented on #2283
I just managed to fix this by changing the value of "toolchain location" from `/Users/soren/.cargo/bin` to `/Users/soren/.rustup/toolchains/stable-x86_64-apple-darwin/bin`. However, `/Users/soren/.cargo/bin` seems to be the default value, and when this is selected, I'm not able to manually change the value of "standard library" because it resets.

[2018-02-10 16:35] sorenmortensen commented on #2283
Additionally, regardless of the fact that I just managed to fix this in settings, every time I open the new project dialog the value of both fields ("toolchain location" and "standard library") are reset to the defaults, seemingly ignoring the values in settings. This includes the value of "standard library" being set to the nightly toolchain path again, which seems to imply the values in settings

[2018-02-10 22:23] mfarrugi commented on #1950
Right now `self` is configurable separately from keyword anyway.

Glancing through the TextAttributeKey api it doesn't look like it's easy to have orthogonal styling (eg. mut + self = underline + keyword), so I don't see any problem with adding a new color for this special case.

(Would also propose renaming `RsColor` to `RsStyle` or something more like TextAttributeKey, since that kind of obviate

[2018-02-10 22:24] mfarrugi commented on #1950
Would also like to clarify the issue title should be something more like 'make &mut self highlighting configurable' since not everyone wants underlines :)

[2018-02-11 08:19] Pzixel commented on #535
@tdbgamer I think plugin guys have never to deal with pricing 😄 And it seems that IntelliJ just doesn't provide infrastructure required to make debugger work. It's sad, but it's a mistake of IDE guys, not plugin ones.

[2018-02-11 08:32] tdbgamer commented on #535
@Pzixel
Sure I understand that. But I didn't know if they planned on implementing a workaround in the plug-in or not. Probably the answer is no based on the responses. Hopefully the IDE people will see this then.

[2018-02-11 11:12] MSxDOS commented on #2128
@Undin I'm glad to hear that, as currently the plugin does pretty much nothing for anything heavily macro-oriented like `winapi`, which is a huge bummer considering almost everything there being implemented using macros.

[2018-02-11 20:54] farodin91 commented on #2276
Do you like to add a code?

[2018-02-11 21:06] farodin91 commented on #2273
Debugging is currently only support in CLion.

[2018-02-11 21:07] farodin91 commented on #2259
#2277

[2018-02-11 21:10] Undin commented on #2259
@farodin91 looks like that it's formatter bug - import optimizer works correctly in this case

[2018-02-11 21:12] farodin91 commented on #2259
I wanted to link #2276.

[2018-02-11 22:47] Undin commented on #1368
Fixed in https://github.com/intellij-rust/intellij-rust.github.io/pull/59

[2018-02-11 22:47] #1368 closed

[2018-02-12 11:40] Undin commented on #2144
CC @farodin91

[2018-02-12 16:37] bgourlie commented on #2080
This would also be nice for WASM, being able to specify `--target=wasm32-unknown-unknown`.  See https://github.com/koute/stdweb/issues/106.

[2018-02-12 18:14] michaeleiselsc commented on #2273
OK, but since AppCode supports LLDB, and Rust works with LLDB, this should actually be a very small change. LLDB is language-agnostic, it just receives instructions saying "when you hit an instruction pointer matching this line of this file, break". There must be some code in AppEngine that only allows breakpoints to be set in a file if it's one of the usual extensions (.m, .mm, etc.). All that wo

[2018-02-12 20:13] sssilver commented on #535
Can we escalate this and get some sort of an official response?

[2018-02-12 20:19] farodin91 commented on #535
@Undin Is there any progress on the debugger side?

[2018-02-12 21:10] farodin91 commented on #2144
@vlad20012 Any idea why the type is unknown at `let answer;`? Is there a possibility to get the type.

[2018-02-13 00:27] t-kameyama commented on #2279
I will work on this

[2018-02-13 09:21] Undin commented on #535
Currently, the debugger is supported only in CLion because it has all the necessary infrastructure for working with LLDB, GDB and native code. We don't have immediate plans to move it to IDEA

[2018-02-13 09:40] vlad20012 commented on #2144
Oh, I forget about `let answer;` [Here](https://github.com/intellij-rust/intellij-rust/blob/4236c2ba37a7c56add8b5596accb83d1c15c33ca/src/main/kotlin/org/rust/lang/core/types/infer/TypeInference.kt#L458) should be created the new type variable `TyInfer.TyVar` instead on TyUnknown

[2018-02-13 10:37] sanmai-NL commented on #535
@Undin: I think you response is clear and your statement is nothing new really, thanks. But could you or @matklad perhaps change the issue title to add ‘... in CLion’ to prevent any confusion?

[2018-02-13 10:46] Pzixel commented on #535
@sanmai-NL Clion already have implemented debugger? What do you mean then?

[2018-02-13 10:53] sanmai-NL commented on #535
Apparently that implementation isn’t completely done yet. https://github.com/intellij-rust/intellij-rust/issues/535#issuecomment-347179169 . If @matklad: now thinks otherwise, the whole issue can be closed instead.

[2018-02-13 10:54] vlad20012 commented on #535
@sanmai-NL Note that matklad leaved JetBrains and now don't work on IntelliJ-Rust

[2018-02-13 11:02] sanmai-NL commented on #535
@vlad20012: okay, mentioned him since he is the issue reporter. 🙂

[2018-02-13 14:26] t-kameyama commented on #2249
I will work on this

[2018-02-13 15:19] Undin commented on #2187
Implemented in #2197

[2018-02-13 15:19] #2187 closed

[2018-02-13 15:19] Undin commented on #2258
Fixed in #2262

[2018-02-13 15:19] #2258 closed

[2018-02-13 20:39] hueneburg opened #2292 "Cannot run configuration"
I get an error when I try running a `Cargo Command` and I started IntelliJ from the toolbox.
The error is

    could not execute process `rustc -vV` (never executed)

But, when I start IntelliJ from the command line, I have no problem running the configuration.

My system:
- IntelliJ Ultimate 2017.3.4
    - Build #IU-173.4548.28
- Cargo 0.24.0 (45043115c 2017-12-05)
- rustc -vV

        rustc 1.23

[2018-02-14 17:12] steveklabnik commented on #1361
I am still having issues with the 2018.1 EAP. If I import a project, it still assumes CMake, and while I can set up a "cargo run", it still doesn't seem to think it's a rust project, there's no option to set a rust toolchain.

[2018-02-15 01:07] Undin commented on #1361
@steveklabnik you used `Import project from Sources` option at welcome screen, didn't you?
If yes then it's expected (but very confusing, sorry =( ) behavior - this option really assumes that importing project is CMake project.
To import rust project just open it via `Open` option at welcome screen

[2018-02-15 07:52] Undin commented on #1361
@steveklabnik you can also find answers to some basic questions about IDE [here](https://intellij-rust.github.io/docs/quick-start.html) (including import in CLion)

[2018-02-15 13:47] steveklabnik commented on #1361
Yes, using "Import from project sources", this happens.

It's all good! :)

Yeah, I read the quick start, but the screenshots aren't the same. If I "Import project from sources"

![clion1](https://user-images.githubusercontent.com/27786/36259589-a392a07e-122c-11e8-8704-e7e481a6e004.png)

then i get a Cmake project, no matter what

![clion2](https://user-images.githubusercontent.com/27786/36259595-

[2018-02-15 14:35] matklad commented on #1361
@steveklabnik I believe the first step is wrong :-) "Import from source" will **not** work: "import" in this context mean "try to figure out project structure using heuristics and create a CMake for it".

What you need is **Open project**

![](https://intellij-rust.github.io/assets/quick-start/clion-import-project.png)

[2018-02-15 16:42] steveklabnik commented on #1361
ah ha! that works great!

sorry for being a noob :)

[2018-02-15 16:43] johnthagen commented on #1361
@matklad Curious what you're up to now that you've moved on from Jetbrains. Still going up be involved with Rust? Thanks for all of your work on Intellij Rust!

[2018-02-15 16:49] matklad commented on #1361
@johnthagen replied via DM on gitter for reasons 😆

[2018-02-15 18:27] jameslkey opened #2296 "Project not initialized upon creation if File..New Project.. Current window is used."
After attempting twice to create a new project from within PyCharm Pro 2017.3 on Windows 10, I was forced to close PyCharm and create the project via the select project/new project wizard. It seems that if "New Project" is used from the File menu Cargo does not create the src folder, Cargo.toml, .gitignore, or ./src/main.rs

[2018-02-15 21:32] kellerkindt opened #2297 "Getting E0463 for stm32f103xx"
I am currently experimenting with embedded arm and intellij cannot resolve the crate stm32f103xx / https://crates.io/crates/stm32f103xx while other crates like cortex_m, cortex_m_rt and cortex_m_semihosting work fine.

For stm32f103xx I get: https://doc.rust-lang.org/error-index.html#E0463

I am using the cortex quickstart project (https://github.com/japaric/cortex-m-quickstart) and
added the depe

[2018-02-15 21:37] kellerkindt commented on #2297
![bildschirmfoto vom 2018-02-15 22-35-38](https://user-images.githubusercontent.com/1133787/36282211-c2c78c6a-12a0-11e8-9071-93dfbb1ae78e.png)
![bildschirmfoto vom 2018-02-15 22-36-51](https://user-images.githubusercontent.com/1133787/36282212-c2fd50fc-12a0-11e8-950a-ca9ea2b3ad8a.png)

[2018-02-15 22:24] kellerkindt commented on #2297
As a side note, the lib.rs https://raw.githubusercontent.com/japaric/stm32f103xx/master/src/lib.rs has about 188k lines of code, maybe that reaches limits in the parser?

[2018-02-16 08:30] vlad20012 opened #2299 "Auto import inserts use item before global attributes"
Before:
![image](https://user-images.githubusercontent.com/3221931/36299144-bbfef62c-130c-11e8-95b6-25927f9c08de.png)

After:
![image](https://user-images.githubusercontent.com/3221931/36299157-ccfe581e-130c-11e8-846c-428d4a1fcf26.png)

#2174

[2018-02-16 10:49] #2144 closed

[2018-02-16 15:35] vlad20012 commented on #2277
Fixed with #2300

[2018-02-16 15:40] #2277 closed

[2018-02-16 18:57] kellerkindt commented on #2297
For debugging purposes, I downloaded the lib.rs and put it in a new crate next to the crate I am working with, and linked them via path in the Cargo.toml - which compiled fine, but did not provide auto-completion.
Next I opened the lib.rs (which loads for a while..) and then a warning appeared

![bildschirmfoto vom 2018-02-16 19-45-33](https://user-images.githubusercontent.com/1133787/36324017-5ed

[2018-02-17 00:05] russelltg opened #2302 "Attach to process"
Currently, the debugger only supports creating a new process (afaik).

Is attach support possible?

[2018-02-18 00:01] swiftcoder commented on #2161
I'm seeing the same infinite indexing loop on IntelliJ IDEA 2017.3.4, but only on Windows (not on Mac).

[2018-02-18 12:30] vlad20012 commented on #1772
![image](https://user-images.githubusercontent.com/3221931/36351855-80791492-14c0-11e8-89e9-250d97ed8624.png)

I think it's fixed now. For the quick fix there is another issue #1730

[2018-02-18 12:30] #1772 closed

[2018-02-19 13:00] #2225 closed

[2018-02-19 13:36] #2299 closed

[2018-02-20 00:39] CAD97 opened #2308 "Suppress for item should insert #![allow]"
Currently <kbd>ALT</kbd>-<kbd>ENTER</kbd> -> Suppress Inspection for Item does the following:

[code]

And the inspection is still highlighted. Manually typing the Rust-correct allow:

[code]

correctly suppresses the inspection.

[2018-02-20 08:34] sticnarf opened #2310 "Operators on references of primitives cannot be resolved"
[code]

If the left operand is a reference to a primitive, the operator cannot be properly resolved.

I find something else weird. If I omit the explicit type of `x`:

[code]

Although the type of `x` is properly resolved, the type of `z` cannot be resolved. (However it works in the previous example with the type of `x` explicit)

[2018-02-20 13:56] vlad20012 opened #2311 "Improve AddStructFieldsFix"
Recent improvements were done by #1811 PR.

How `AddStructFieldsFix` can be improved further:
1. Better support &ref types; i.e. in struct like `struct S { f: &i32 }` insert `&` op before literal: `S { f: &0 }`
2. Support more container types: `Box`, `Rc`, `Arc`, `Cell`, `RefCell`, `UnsafeCell`, `Cow`, `Mutex` (etc?)
3. When filling struct recursively we may want to check that all the fields are v

[2018-02-20 16:42] #2249 closed

[2018-02-20 18:43] ForsakenHarmony commented on #2161
I'm having problems as well, it just doesn't update the syntax highlighting / auto complete for what feels like 5 minutes after I write something

[2018-02-20 23:30] vlad20012 commented on #2161
@swiftcoder or @ForsakenHarmony, can you please spcify the rust project in which this bug is reproduced (if it is open-source, of course)? Or the project does not matter?

@ralfbiedert is the bug reproduceable for you on the latest versions of the plugin?

[2018-02-20 23:45] ForsakenHarmony commented on #2161
https://github.com/ForsakenHarmony/graphql-server

Seems to be the worst here

[2018-02-20 23:58] vlad20012 commented on #2161
@ForsakenHarmony can't reproduce it. I use IntellJ IDEA 2017.3.4, the lates nigtly rust (2018-02-18), and the latest nightly IntelliJ-Rust plugin (0.2.0.2288-nightly)

[2018-02-21 00:03] vlad20012 commented on #2161
@ForsakenHarmony try [the nightly IntelliJ-Rust channel](https://intellij-rust.github.io/install.html)

[2018-02-21 06:33] t-kameyama commented on #2188
I will work on this

[2018-02-21 15:11] vlad20012 commented on #2161
Everyone who have this issue, please try `ctrl+shift+A -> "invalidate caches"` action

[2018-02-21 18:17] vlad20012 commented on #2082
It's IntelliJ platform bug, Related issue: https://youtrack.jetbrains.com/issue/IDEA-186991

[2018-02-22 00:39] adrianperreault opened #2316 "Region folding not supported"
![regionfoldinggif](https://www.dropbox.com/s/7szksf2zbygqodw/RegionFolding.gif?raw=1)

#### Region Folding
Region folding is a wonderful code-organization feature standard in Intellij/Webstorm/Intellij-Scala etc. where blocks of code enclosed by region tags may be folded.
[code]
Creating regions can be done manually or by making use of the standard 'Surround With' -> Region functionality.

#### P

[2018-02-22 07:24] matklad commented on #2316
Thanks for an awesome bug report @adrianperreault !

The code for folding is in `org.rust.ide.folding.RsFoldingBuilder`. I don't think you need to mess up with lexer/parser for it. Taking a look at Kotlin's folding builder, which does support this feature, it looks like the only difference between Kotlin and Rust is that Kotlin inherits from CustomFoldingBuilder class, and Rust from FoldingBuilder

[2018-02-22 17:02] RazrFalcon opened #2320 "Endless indexing on crates with typenum crate since 0.2.0.2088"
I waited for 15 min - it still indexing it.

I can't reproduce it on a new crate, but it freezes on `/target/release/build/typenum-7b1213e3ff752b96/out/`. I presume because of `consts.rs`. IDEA freezes completely when I'm trying to open this file.

[consts.zip](https://github.com/intellij-rust/intellij-rust/files/1748781/consts.zip)

[2018-02-22 17:03] vlad20012 commented on #2320
Please try ctrl+shift+A -> "invalidate caches" action

[2018-02-22 17:03] vlad20012 commented on #2320
Duplicate #2161

[2018-02-22 17:03] #2320 closed

[2018-02-22 17:06] RazrFalcon commented on #2320
Didn't help.

[2018-02-22 17:11] vlad20012 commented on #2320
It's IntelliJ platform bug. Related issue: https://youtrack.jetbrains.com/issue/IDEA-181227

Try to delete all caches manually. They're located in your user directory, e.g. `~/.IdeaIC2017.3`. Your IDEA settings stored in the same directory, so be careful

[2018-02-23 08:02] matthewkmayer commented on #2161
I ran into this problem with the `intellij-rust` plugin on https://github.com/rusoto/rusoto , commit `79fc167cb` (`master` branch as of time of writing this).

Invalidating caches and updating nightly via `rustup update nightly` lets indexing make progress. However, it's taking a very long time because it's indexing every `target` directory and there are a *lot* of crates in Rusoto. 😄

It's been s

[2018-02-23 16:11] vlad20012 commented on #2082
I think we can use another UTF arrows `❮ ❯` until the platform bug is fixed.

[2018-02-23 16:48] mkaput commented on #2082
Purely smart

[2018-02-23 20:26] itmuckel opened #2323 "IntelliJ index operation won't stop"
I just updated to intellij-rust 0.2.0.2088 and now the indexing operation won't ever finish.

IntelliJ stops indexing, when I remove the `target` folder, but this is no solution as I need to recompile all libs from scratch. As soon es everything is compiled again, the indexing operation kicks in and never stops. Anyone else experiencing this?

I use Windows 10, but I think I witnessed the same pro

[2018-02-23 21:08] vlad20012 commented on #2161
@jrconlin can you please spcify the rust project in which this bug is reproduced (if it is open-source, of course)? Or the project does not matter?

[2018-02-23 21:09] vlad20012 commented on #2323
itmuckel can you please spcify the rust project in which this bug is reproduced (if it is open-source, of course)? Or the project does not matter?

[2018-02-23 22:22] itmuckel commented on #2323
You're right, I tried a different project and there it worked fine.

The problematic project is a game I write, but I cannot release the source right now, because I don't own the rights for all the assets I use. Here are the contents of my cargo.toml (without the package section):
[code]

[2018-02-24 01:28] vlad20012 commented on #2323
And try to just remove `target` folder from indexing. It should be performed automatically, but maybe something went wrong
![image](https://user-images.githubusercontent.com/3221931/36623973-0603f97a-191b-11e8-981d-b5548dc889c5.png)

[2018-02-24 03:41] mhogrefe commented on #2323
I had the same issue after upgrading to the latest version of the plugin on Mac OS - in several of my projects, but not all, the target directory was un-excluded, causing indexing to take forever. Once I found this thread and realized what the problem was, it was easy to fix.

Could this be a bug in the upgrade process?

[2018-02-24 08:41] itmuckel commented on #2323
Oh man, that did it! 😄
Thanks a lot!

[2018-02-24 09:08] vlad20012 commented on #2161
Hmm, also ake a look as, maybe it will help #2161

[2018-02-24 09:51] ttaomae commented on #1989
It looks like this has been resolved. Closing.

[2018-02-24 09:51] #1989 closed

[2018-02-24 15:10] JonathanxD opened #2327 "Could't resolve URL error in quick doc"
Plugin does not resolve relative documentation links, example, in `println!`documentation there is a relative link to `format!` (`../std/macro.format.html`):

![println!](https://cdn.pbrd.co/images/H98x5Mu.png)

But when I click in the `format!`:

![format!](https://cdn.pbrd.co/images/H98xEOC.png)

Plugin Configuration:

![rust](https://cdn.pbrd.co/images/H98yan3.png)

The path to documentation (i

[2018-02-24 16:12] JakubOnderka commented on #2323
I have the same problem on Windows 10 and macOS with latest plugin (0.2.0.2088) and latest PyCharm (2017.3.3)